Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: enable minimap
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

wip custom nodes
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/AutoFilterPlugin.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/FilterNode.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/InputField.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/SearchNode.ts
Due: eslint --fix, prettier --write

wip: filter node
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/AutoFilterPlugin.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/FilterNode.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/InputField.tsx
Due: eslint --fix, prettier --write

Fix: tabRef for contextMenu on tab
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

fix: custom types depending on hook/cronjob/command + fix error with top level async
  packages/web-main/src/components/modules/Editor/customTypes.ts
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

chore: remove console log
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

Fix: incorrect rendering
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

fix: add some guardrails around player role assignments
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/lib-db/src/migrations/sql/20230724062109-roles-constraints.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/test/src/__snapshots__/PlayerController/Assigning the same role for different gameservers should work.json
  packages/test/src/__snapshots__/PlayerController/Assigning the same role for same gameserver should fail.json
  packages/test/src/__snapshots__/PlayerController/Assigning the same role twice should fail.json
Due: eslint --fix, prettier --write

Chore: remove everything from filter/search field implementation
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/AutoFilterPlugin.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/FilterNode.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/InputField.stories.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/InputField.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/SearchNode.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/tokenizer.spec.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/tokenizer.ts
Due: eslint --fix, prettier --write

feat: return roleAssignments when fetching player instead of plain roles
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

wip: parking some more frontend stuff
  packages/web-main/src/Router.tsx
  packages/web-main/src/pages/player/profile.tsx
  packages/web-main/src/pages/roles/assignRole.tsx
Due: eslint --fix, prettier --write

fix: some issues with module creation
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
  packages/lib-components/src/errors/errors.ts
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
Due: eslint --fix, prettier --write

chore: display errors when editing module
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
Due: eslint --fix, prettier --write

debug: try applying a kernel filter to Docker workflow
  .github/workflows/docker.yml
Due: none

ci: also apply kernel change to vmm docker build job
  .github/workflows/docker.yml
Due: none

Fix: issue with incorrect width
  packages/lib-components/src/components/inputs/Select/Controlled.tsx
  packages/lib-components/src/components/inputs/Select/Generic/Option.tsx
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-components/src/components/inputs/Select/style.ts
Due: eslint --fix, prettier --write

Feat: add support for multiline + add story
  packages/lib-components/src/components/inputs/layout/ErrorMessage/ErrorMessage.stories.tsx
  packages/lib-components/src/components/inputs/layout/ErrorMessage/index.tsx
Due: eslint --fix, prettier --write

Fix: remove deprecated table context
  packages/lib-components/src/components/data/Table/Context.tsx
  packages/lib-components/src/components/data/Table/useTable.tsx
Due: eslint --fix, prettier --write

chore: remove option to filter and search from column
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/ColumnSettings.tsx
Due: eslint --fix, prettier --write

Feat: new filter and search
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearch.tsx
Due: eslint --fix, prettier --write

docs: capitals for 7D2D
  packages/web-docs/pages/FAQ.md
Due: none

docs: underline module names for more clarity
  packages/web-docs/pages/built-in-modules.mdx
Due: none

docs: fix filter example of API
  packages/web-docs/pages/advanced/api.md
Due: none

chore: clean up
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/ColumnFilters.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnVisibility/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/index.ts
Due: eslint --fix, prettier --write

chore: improve comment and ignore any
  packages/lib-components/src/components/data/Table/index.tsx
Due: eslint --fix, prettier --write

feat: add helper to easily send messages to player
  packages/lib-function-helpers/src/getTakaro.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/lib-modules/src/modules/utils/commands/help.js
  packages/lib-modules/src/modules/utils/commands/ping.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: double click to reset to original size
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
Due: eslint --fix, prettier --write

Fix: improve style of table
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
Due: eslint --fix, prettier --write

replace icon
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write

chore: remove minWidth on select sorry brunkel
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
Due: eslint --fix, prettier --write

feat: implement gameserver-scoped settings page
  packages/e2e/src/web-main/pages/settings.spec.ts
  packages/web-main/src/pages/gameserver/GameServerSettings.tsx
Due: eslint --fix, prettier --write

Fix: incorrect destruct
  packages/lib-components/src/components/actions/Dropdown/DropdownMenu.tsx
Due: eslint --fix, prettier --write

fix: accidentally a test
  packages/e2e/src/web-main/pages/modules.spec.ts
Due: eslint --fix, prettier --write

chore: fix package structure in package.json
  packages/lib-components/package.json
Due: none

chore: update lock file
  package-lock.json
Due: none

Small docs improvements (#473)
  packages/web-docs/pages/FAQ.md
  packages/web-docs/pages/advanced/api.md
  packages/web-docs/pages/built-in-modules.mdx
Due: none

fix: some issues with module creation (#472)
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
  packages/lib-components/src/errors/errors.ts
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
Due: eslint --fix, prettier --write

Fix: incorrect background color because of different body default color
  packages/web-main/src/pages/LogIn.tsx
Due: eslint --fix, prettier --write

Fix: incorrect sizing <Select />
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
Due: eslint --fix, prettier --write

Chore: add react query devtools back
  packages/web-main/src/App.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
