Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: url should not match with ( )
  packages/lib-components/src/components/inputs/layout/Description.tsx
Due: eslint --fix, prettier --write

fix: url requires pattern to match with https://
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormManual/index.tsx
Due: eslint --fix, prettier --write

chore: change position (align with bottom-end) to avoid cutoff
  packages/web-main/src/routes/_auth/_global/modules.tsx
Due: eslint --fix, prettier --write

fix: button test
  packages/lib-components/src/components/actions/Button/Button.test.tsx
Due: eslint --fix, prettier --write

fix: change module resolution in web packages to bundler
  packages/web-main/tsconfig.json
  tsconfig.json
  tsconfig.react.json
Due: none

fix: better message validation
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/websocket.ts
  packages/lib-gameserver/src/gameservers/generic/connectorClient.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
  scripts/dev-data.mjs
Due: eslint --fix, prettier --write

fix: command lock stuck forever
  packages/app-api/src/service/CommandService.ts
Due: eslint --fix, prettier --write

fix: some issues with map API
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: censor link code and create event for link command
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/service/User/index.ts
Due: eslint --fix, prettier --write

fix: some more tests needed new secret code fetching
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

fix: more tests
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/test/src/main.ts
  packages/test/src/setups/createUserForPlayer.ts
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

docs: add info on adding support for more game servers
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
  packages/web-docs/src/components/columns.tsx
Due: eslint --fix, prettier --write

chore: build docs container
  .github/workflows/docker.yml
  packages/web-docs/package.json
Due: none

fix: uiSchema not properly exported
  packages/lib-modules/src/BuiltinModule.ts
Due: eslint --fix, prettier --write

fix: chat message event when sending message wrong channel
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: uiSchema should still have a default value in several cases
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

fix: catch unhandled error when syncing gameservers
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

docs: fix some discrepancies in docs vs dto definitions
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
Due: none

docs: better info around events
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
Due: none

chore: bump gimme and playeronboarding modules so they get new version with uiSchema
  packages/lib-modules/src/modules/gimme/index.ts
  packages/lib-modules/src/modules/playerOnboarding/index.ts
Due: eslint --fix, prettier --write

chore: better devex working with mockserver
  package-lock.json
  packages/app-mock-gameserver/package.json
  packages/app-mock-gameserver/src/bin.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write

0.0.25
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: prevent connector crashing in more scenarios
  packages/app-connector/src/main.ts
Due: eslint --fix, prettier --write

fix: server cache not getting invalidated properly
  packages/app-api/src/lib/socketServer.ts
Due: eslint --fix, prettier --write

0.0.26
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add placeholder for listEntities and listLocations
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
Due: eslint --fix, prettier --write

fix: gameserver delete very slow
  packages/lib-db/src/migrations/sql/20250519185149-add-item-indexes.ts
Due: eslint --fix, prettier --write

0.0.27
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: ignore disabled gameservers
  packages/app-api/src/workers/systemWorker.ts
Due: eslint --fix, prettier --write

fix: do not crash out if one module fails to seed
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

fix: context tracking losing data if 'undefined' is in store
  packages/lib-util/src/context.ts
Due: eslint --fix, prettier --write

fix: increase performance of cronjob deletes
  packages/app-api/src/service/CronJobService.ts
Due: eslint --fix, prettier --write

fix: linking player profile while logged in to other domain
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/User/index.ts
Due: eslint --fix, prettier --write

fix: frontend not redirecting properly after linking
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write

0.0.28
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add registration token to frontend
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
Due: eslint --fix, prettier --write

fix: missing validations
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
