Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

chore: clean up
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write

feat: add refresh button
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write

User role assign stuff (#617)
  packages/app-api/src/controllers/UserController.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/users.spec.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/player/profile.tsx
  packages/web-main/src/pages/roles/assignPlayerRole.tsx
  packages/web-main/src/pages/roles/assignUserRole.tsx
  packages/web-main/src/pages/roles/validationSchema.tsx
  packages/web-main/src/pages/users/profile.tsx
  packages/web-main/src/paths.ts
  packages/web-main/src/queries/roles/queries.tsx
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add some logic to keep 7d2d SSE connection open
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

fix: add some logic to keep 7d2d SSE connection open (#618)
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

Update sweep.yaml
  sweep.yaml
Due: none

feat: run code formatting checks and unit tests on sweep changes
  sweep.yaml
Due: none

feat: frontend for module permissions
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/RoleService.ts
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/moduleValidationSchema.ts
  packages/web-main/src/pages/ModuleDefinitions/style.ts
Due: eslint --fix, prettier --write

fix: docs deploy CI
  package-lock.json
  packages/lib-auth/src/lib/ory.ts
Due: eslint --fix, prettier --write

fix: ts build error
  tsconfig.esm.json
Due: none

feat: frontend for module permissions (#622)
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/RoleService.ts
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/moduleValidationSchema.ts
  packages/web-main/src/pages/ModuleDefinitions/style.ts
Due: eslint --fix, prettier --write

fix: a brittle test
  packages/lib-db/src/__tests__/queryBuilder.integration.test.ts
Due: eslint --fix, prettier --write

fix: api client
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove a console.log
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write

feat: report if function times out
  packages/lib-aws/src/executeLambda.ts
Due: eslint --fix, prettier --write

chore: include lambda requestId in event
  packages/app-api/src/executors/executeFunction.ts
Due: eslint --fix, prettier --write

Feat: events page filtering (#611)
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-components/src/components/data/InfiniteScroll/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/Context.tsx
  packages/lib-components/src/components/inputs/DatePicker/QuickSelect/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
  packages/lib-components/src/components/inputs/TextField/Generic.tsx
  packages/lib-components/src/components/inputs/index.ts
  packages/lib-db/src/__tests__/queryBuilder.integration.test.ts
  packages/lib-db/src/queryBuilder.ts
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/events/EventFeed/EventDetail.tsx
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/events/EventFeed/index.tsx
  packages/web-main/src/components/events/EventFilter/Tag.tsx
  packages/web-main/src/components/events/EventFilter/TagList.tsx
  packages/web-main/src/components/events/EventFilter/index.tsx
  packages/web-main/src/components/events/EventFilter/style.ts
  packages/web-main/src/components/events/EventSearch/Item.tsx
  packages/web-main/src/components/events/EventSearch/index.tsx
  packages/web-main/src/components/events/EventSearch/style.tsx
  packages/web-main/src/components/events/TreeFilter/Branch.tsx
  packages/web-main/src/components/events/TreeFilter/Node.tsx
  packages/web-main/src/components/events/TreeFilter/index.tsx
  packages/web-main/src/components/events/TreeFilter/style.tsx
  packages/web-main/src/components/events/types.ts
  packages/web-main/src/pages/Events.tsx
  packages/web-main/src/pages/events/index.tsx
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Better error reporting from lambdas (#624)
  packages/app-api/src/executors/executeFunction.ts
  packages/lib-aws/src/executeLambda.ts
Due: eslint --fix, prettier --write

wip
  packages/lib-components/src/components/inputs/SearchField/Generic.tsx
  packages/lib-components/src/components/inputs/SearchField/SearchField.stories.tsx
Due: eslint --fix, prettier --write

feat(events): server side filter event types
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write

wip: try to fix server side filtering
  packages/app-api/src/controllers/EventController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix(events): suggestions
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write

feat(events): infinite scroll
  packages/web-main/src/pages/events/index.tsx
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write

refactor(events): remove client side filters
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write

fix(events): persist quick select values
  packages/lib-components/src/components/inputs/DatePicker/Context.tsx
  packages/lib-components/src/components/inputs/DatePicker/QuickSelect/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write

feat: basic server side filtering (#625)
  packages/app-api/src/controllers/EventController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-components/src/components/inputs/DatePicker/Context.tsx
  packages/lib-components/src/components/inputs/DatePicker/QuickSelect/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/web-main/src/pages/events/index.tsx
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor(console): move up messages state
  packages/lib-components/src/components/data/Console/Console.stories.tsx
  packages/lib-components/src/components/data/Console/Console.tsx
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
Due: eslint --fix, prettier --write

chore: remove console logs
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

fix(nav): selecting a gameserver from global nav
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/components/Navbar/GameServerSelectNav.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/Navbar/style.ts
  packages/web-main/src/context/selectedGameServerContext.ts
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
Due: eslint --fix, prettier --write

style(modules): split up installed / availabe modules
  packages/web-main/src/components/modules/Cards/style.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
Due: eslint --fix, prettier --write

fix(navBar): add back events link
  packages/web-main/src/components/Navbar/index.tsx
Due: eslint --fix, prettier --write

feat: backend changes to allow permissions to have an optional count
  packages/app-api/src/controllers/__tests__/Auth.integration.test.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/db/role.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20230921123717-count-for-permissions.ts
  packages/test/src/__snapshots__/Auth/Can access resource with permissions.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/RoleController/Filter by name.json
  packages/test/src/__snapshots__/RoleController/Get by ID.json
  packages/test/src/__snapshots__/RoleController/Update by ID.json
  packages/web-main/src/pages/roles/RolesUpdate.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix(e2e): modules test
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
Due: eslint --fix, prettier --write

fix(e2e): selecting settings page
  packages/e2e/src/web-main/pages/settings.spec.ts
Due: eslint --fix, prettier --write

fix(e2e): use more precise selector
  packages/e2e/src/web-main/pages/settings.spec.ts
Due: eslint --fix, prettier --write

test(e2e): c2a if there are no gameservers
  packages/e2e/src/web-main/pages/gameservers.spec.ts
Due: eslint --fix, prettier --write

Feat: rework nav (#553)
  packages/e2e/src/web-main/pages/gameservers.spec.ts
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/e2e/src/web-main/pages/settings.spec.ts
  packages/lib-components/src/components/data/Console/Console.stories.tsx
  packages/lib-components/src/components/data/Console/Console.tsx
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-components/src/components/inputs/Select/style.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/AuthenticatedRoute.tsx
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/GameServerSelectNav.tsx
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/components/Navbar/GameServerSelectNav.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/Navbar/style.ts
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/components/modules/Cards/style.tsx
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/studio/CopyModulePopOver.tsx
  packages/web-main/src/context/selectedGameServerContext.ts
  packages/web-main/src/frames/GameServerFrame.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/hooks/useSelectedGameServerContext.ts
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

update lockfile
  package-lock.json
Due: none

feat: <PermissionsGuard/>
  packages/lib-components/src/components/other/PermissionsGuard/PermissionsGuard.stories.tsx
  packages/lib-components/src/components/other/PermissionsGuard/index.tsx
  packages/lib-components/src/components/other/index.ts
Due: eslint --fix, prettier --write

Feat: <PermissionsGuard/> wrapper for web-main
  packages/web-main/src/components/PermissionsGuard/index.tsx
  packages/web-main/src/context/userContext.ts
Due: eslint --fix, prettier --write
