Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat(web-main): edit role buttons from player and user role assignment
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.tsx
Due: eslint --fix, prettier --write

fix(lib-components): primaryShade is removed
  packages/lib-components/src/components/charts/EmptyChart.tsx
Due: eslint --fix, prettier --write

refactor(lib-components): make icontooltip icon white by default
  packages/lib-components/src/components/feedback/IconTooltip/index.tsx
Due: eslint --fix, prettier --write

refactor(web-main): clean up ai slop charts with lib-components charts
  packages/web-main/src/routes/_auth/_global/analytics/shop.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/CustomerSegmentChart.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/InsightsBar.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/OrderStatusDistribution.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/RecentOrdersList.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/RevenueCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/RevenueDistributionChart.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/RevenueOverTimeChart.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/SalesActivityChart.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/TopSellingItemsChart.tsx
Due: eslint --fix, prettier --write

fix(web-main): handle case where deadstock count = 0
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/TopSellingItemsChart.tsx
Due: eslint --fix, prettier --write

feat(lib-components): Add support for day/time to heatmap
  packages/lib-components/src/components/charts/Heatmap/Heatmap.stories.tsx
  packages/lib-components/src/components/charts/Heatmap/index.tsx
Due: eslint --fix, prettier --write

feat(web-main): provide constraint error messages for role assignment of user and player
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/queries/user.tsx
Due: eslint --fix, prettier --write

feat(lib-components): add currency formatting helper
  packages/lib-components/src/helpers/formatCurrency.ts
  packages/lib-components/src/helpers/index.ts
Due: eslint --fix, prettier --write

fix(e2e): broken tests
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/views/modules.spec.ts
Due: eslint --fix, prettier --write

fix(lib-components): calendar grid width off-by-one in heatmap
  packages/lib-components/src/components/charts/Heatmap/index.tsx
Due: eslint --fix, prettier --write

fix(lib-components): do not allow progressbar value to go below 0
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
Due: eslint --fix, prettier --write

chore(infra): bump github actions to latest + migrate deprecated action
  .github/workflows/builds.yml
  .github/workflows/claude_code.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dev-to-main-pr.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
  .github/workflows/release-drafter.yml
  package.json
Due: none

Fix TypeScript error: use gameId instead of id for IPlayerReferenceDTO
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

wip: map
  package-lock.json
  package.json
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/PlayerDeathLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/PlayerLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/TeleportLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/TileLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.map.tsx
  packages/web-main/tsconfig.json
Due: eslint --fix, prettier --write

chore(lib-components): a few leaflet styles?
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

fix: ensure default system config is applied properly when installing modules
  packages/app-api/src/service/Module/index.ts
  packages/lib-modules/src/__tests__/defaultSystemConfigAliases.integration.test.ts
Due: eslint --fix, prettier --write

chore: regenerate lockfile
  package-lock.json
Due: none

chore: get rid of unused map tile query
  packages/web-main/src/queries/gameserver.tsx
Due: eslint --fix, prettier --write

refactor: match coordinate order with leaflet
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

fix: cronjobs firing when they are disabled
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/app-api/src/workers/cronjobWorker.ts
Due: eslint --fix, prettier --write

fix: issue claiming shop items when orders are unclaimed in multiple servers
  packages/app-api/src/db/shopOrder.ts
  packages/lib-modules/src/__tests__/economy/claim.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/commands/claim.js
  packages/lib-modules/src/modules/economyUtils/index.ts
Due: eslint --fix, prettier --write

fix: refactor domain state and soft deletes
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-db/src/migrations/sql/20251115071948-remove-deleted-domain-state.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

more info how to connect to 7dtd
  packages/web-docs/docs/players.md
  packages/web-docs/docs/supported-games/7d2d.md
Due: none

fix: remove unnecessary returning clause from cleanup queries
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

0.4.10
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add more specific filter to update query, this will make it so the query needs less locks -> less waits -> better latency!
  packages/app-api/src/db/playerOnGameserver.ts
Due: eslint --fix, prettier --write

Add mock gameserver to npm publishing
  .github/workflows/publish-libs.yml
Due: none

Add next tag publishing on main branch push
  .github/workflows/publish-libs.yml
Due: none

fix: restore defaultSystemConfig validation and fix Chip test
  packages/app-api/src/service/Module/index.ts
  packages/lib-components/src/components/data/Chip/Chip.test.tsx
Due: eslint --fix, prettier --write

revert: undo Chip test change
  packages/lib-components/src/components/data/Chip/Chip.test.tsx
Due: eslint --fix, prettier --write

fix: declare missing dependencies for standalone npm package usage
  .github/workflows/codestyle.yml
  .syncpackrc.json
  CLAUDE.md
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: reorder test operations to fix defaultSystemConfig validation
  CLAUDE.md
  packages/lib-modules/src/__tests__/defaultSystemConfigAliases.integration.test.ts
Due: eslint --fix, prettier --write

fix: ignore overrides in syncpack config
  .syncpackrc.json
  package.json
  packages/app-mock-gameserver/package.json
  packages/lib-auth/package.json
  packages/lib-db/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
Due: none

Add JUnit test reporting with GitHub CI integration
  .github/workflows/docker.yml
  packages/e2e/playwright.config.ts
  packages/lib-components/vite.config.mts
  packages/web-main/vite.config.mts
  scripts/test-runner.sh
Due: eslint --fix, prettier --write

Mount reports directory in takaro test container
  docker-compose.test.yml
Due: none

fix: use exact versions instead of caret ranges
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
Due: none

chore: update package-lock.json for exact version deps
  package-lock.json
Due: none

Create reports/junit directory on host before Docker tests
  scripts/integration-tests.mjs
Due: none

Update packages/app-api/package.json
  packages/app-api/package.json
Due: none

fix: address PR review feedback for package declarations
  package-lock.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
