Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix(lib-components): do not wrap current action
  packages/lib-components/src/components/actions/DropdownButton/index.tsx
Due: eslint --fix, prettier --write

Fix(web-main): improve view for people with a lot of domains
  packages/web-main/src/routes/_auth/domain.select.tsx
Due: eslint --fix, prettier --write

chore(web-main,lib-components): remove console logs + add missing key
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.$moduleVersionTag.tsx
Due: eslint --fix, prettier --write

Fix(web-main,lib-components): eslint errors
  packages/lib-components/src/components/other/ActionMenu/index.tsx
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/dialogs/GameServerDeleteDialog.tsx
  packages/web-main/src/components/dialogs/ModuleDeleteDialog.tsx
  packages/web-main/src/components/dialogs/ModuleExportDialog.tsx
  packages/web-main/src/components/dialogs/ModuleUninstallDialog.tsx
  packages/web-main/src/components/dialogs/RoleDeleteDialog.tsx
  packages/web-main/src/queries/module.tsx
Due: eslint --fix, prettier --write

fix(web-main): add missing key
  packages/web-main/src/components/Navbar/index.tsx
Due: eslint --fix, prettier --write

Chore(web-main): reenable strict mode
  packages/web-main/src/index.tsx
Due: eslint --fix, prettier --write

fix: pass proper ID
  packages/app-api/src/service/RoleService.ts
Due: eslint --fix, prettier --write

fix(web-main): module ids are now correct
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Fix(web-main): gameserver settings update correctly when different gameserver is selected
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

Refactor(web-main): change color of question tooltip
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

fix: issue with stale server connection info
  packages/app-api/src/lib/socketServer.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Refactor(web-main): move dialogs to dialog folder
  packages/web-main/src/components/dialogs/ModuleUninstallDialog.tsx
  packages/web-main/src/components/dialogs/UserDeleteDialog.tsx
  packages/web-main/src/components/dialogs/UserInviteDialog.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
Due: eslint --fix, prettier --write

Feat(web-main): do not ask close confirmation when in readonly
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariablesForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Fix(web-main): incorrect cache key
  packages/web-main/src/queries/gameserver.tsx
Due: eslint --fix, prettier --write

Fix(web-main): only show shop actions when correct permission
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

refactor(lib-components): do not capitalize labels and select content
  packages/lib-components/src/components/inputs/layout/Label/style.ts
  packages/lib-components/src/components/inputs/selects/sharedStyle.ts
Due: eslint --fix, prettier --write

fix(web-main): update module should not be readonly
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$versionId.update.tsx
Due: eslint --fix, prettier --write

fix: do not allow passing commands hooks or cron when creating module
  packages/app-api/src/service/Module/dto.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: docs build
  packages/lib-modules/scripts/buildBuiltinJson.ts
  packages/web-docs/docs/modules/chatBridge.mdx
  packages/web-docs/docs/modules/dailyRewards.mdx
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/geoBlock.mdx
  packages/web-docs/docs/modules/gimme.mdx
  packages/web-docs/docs/modules/helpers.js
  packages/web-docs/docs/modules/highPingKicker.mdx
  packages/web-docs/docs/modules/lottery.mdx
  packages/web-docs/docs/modules/playerOnboarding.mdx
  packages/web-docs/docs/modules/serverMessages.mdx
  packages/web-docs/docs/modules/teleports.mdx
  packages/web-docs/docs/modules/timedShutdown.mdx
  packages/web-docs/docs/modules/utils.mdx
Due: eslint --fix, prettier --write

fix: some more tests
  packages/app-api/src/lib/__tests__/commandParser.unit.test.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
Due: eslint --fix, prettier --write

fix: prune API docs to only expose useful pkgs
  package.json
  typedoc.json
Due: none

docs: add docs about module versions
  packages/web-docs/docs/advanced/modules.md
Due: none

fix: server offline colour
  packages/web-main/src/routes/_auth/_global/-gameservers/GameServersTableView.tsx
Due: eslint --fix, prettier --write

feat: add players table to server dashboard
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
Due: eslint --fix, prettier --write

debug: add logging to select to try and debug
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
Due: eslint --fix, prettier --write

fix: gameserver select failing when domain does not have a gameserver of each type
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
Due: eslint --fix, prettier --write

feat: more details about requests happening inside a module
  packages/lib-apiclient/src/lib/baseClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

players docs changed with images
  packages/web-docs/docs/img/ingamelink.png
  packages/web-docs/docs/img/takarolink.png
  packages/web-docs/docs/players.md
Due: none

feat: add operationId to api docs
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

chore(web-main) add missing events + moduleId
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/events/EventFilter.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write

chore(web-main): get rid of all auto capitalization styling
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ConfigField/style.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
Due: eslint --fix, prettier --write

chore(e2e): add some tests for module versions
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/ModuleInstallationsPage.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
Due: eslint --fix, prettier --write

fix(web-main): show correct header
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
Due: eslint --fix, prettier --write

chore(lib-components): improve styles + add ref
  packages/lib-components/src/components/actions/DropdownButton/index.tsx
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

fix: bad merge
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

chore: regen api client
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix type issue
  package-lock.json
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
