Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add a clarifying note about temporal value being default in module builder
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/cronjobConfig.tsx
Due: eslint --fix, prettier --write

feat: add total playtime seconds for easier querying
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-db/src/migrations/sql/20240929090313-global-playtime.ts
Due: eslint --fix, prettier --write

Chore: add <Card.Title/> + Improvements to country stats visualization
  packages/lib-components/package.json
  packages/lib-components/src/components/charts/AreaChart/AreaChart.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/GeoMercator.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/charts/ZoomControls.tsx
  packages/lib-components/src/components/charts/index.tsx
  packages/lib-components/src/components/dialogs/Dialog/DialogContent.tsx
  packages/lib-components/src/components/visual/Card/Card.stories.tsx
  packages/lib-components/src/components/visual/Card/CardBody.tsx
  packages/lib-components/src/components/visual/Card/CardTitle.tsx
  packages/lib-components/src/components/visual/Card/index.tsx
  packages/web-main/src/components/cards/AddCard.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/components/cards/style.tsx
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/_auth/_global/settings/discord.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

Fix: styling of alert
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
Due: eslint --fix, prettier --write

Fix: styling of player stat
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

fix: lockfile
  package-lock.json
Due: none

fix: ensure visx/zoom is installed
  package-lock.json
  packages/lib-components/package.json
Due: none

fix: issue with _data file permissions
  .dockerignore
Due: none

fix: player tests for playtimeSeconds
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a shop test
  packages/lib-modules/src/__tests__/economy/shop.integration.test.ts
Due: eslint --fix, prettier --write

chore: fix text for JSON import
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
Due: eslint --fix, prettier --write

fix: allow 25MB file uploads for imports
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-http/src/middleware/errorHandler.ts
Due: eslint --fix, prettier --write

Fix: styling alert when only icon
  packages/lib-components/src/components/feedback/Alert/Alert.stories.tsx
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

styles: decrease padding of page
  packages/web-main/src/components/BaseLayout/index.tsx
Due: eslint --fix, prettier --write

Chore: fix grid position on dashboard
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/ChatInput.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
Due: eslint --fix, prettier --write

Chore: add titles to 2 pages
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

Update players.md
  packages/web-docs/docs/players.md
Due: none

chore: add a section for docs changes to changelog
  .github/release-drafter.yml
Due: none

Update economy.md
  packages/web-docs/docs/economy.md
Due: none

Update packages/web-docs/docs/economy.md
  packages/web-docs/docs/economy.md
Due: none

fix: refactor script to mjs for ESM compatibility
  scripts/dev-init.sh
  scripts/getMonacoCustomTypes.mjs
Due: none

Fix: alpha2 aplha3 conversion + wip: draggable/zoomable
  packages/lib-components/src/components/charts/GeoMercator/GeoMercator.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/charts/GeoMercator/iso3166-alpha2-to-alpha3.ts
  packages/lib-components/src/components/charts/GeoMercator/world.json
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

Fix: e2e test
  packages/e2e/src/web-main/views/variables.spec.ts
Due: eslint --fix, prettier --write

fix: rust chat messages
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
Due: eslint --fix, prettier --write

chore: allow player name to be null
  packages/lib-db/src/migrations/sql/20240929143849-player-name-null.ts
Due: eslint --fix, prettier --write

fix: add fallback for players without name
  packages/lib-components/src/helpers/getInitials.ts
Due: eslint --fix, prettier --write

Feat: add player to order table
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

fix: add explicit type to prevent TS OOM
  packages/web-main/src/router.tsx
Due: eslint --fix, prettier --write

fix: do not display quality if 0
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
Due: eslint --fix, prettier --write

fix: handle click order when underlying listing is deleted
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

Feat: improve error handling when claim order fails + don't show claim order when player is offline
  packages/web-main/src/queries/shopOrder.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

Fix: incorrect image shown when updating items in shoplisting
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

feat: allow filtering shop orders by gameserver ID
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopOrder.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add help messages to shop command
  packages/lib-modules/src/__tests__/economy/shop.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/commands/shop.js
Due: eslint --fix, prettier --write

fix: make Steam communications more robust and handle rate limits better
  containers/homer/assets/config.yml
  docker-compose.yml
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-api/src/workers/steamSyncWorker.ts
  packages/lib-queues/src/config.ts
Due: eslint --fix, prettier --write

Feat: <Badge /> component
  packages/lib-components/src/components/feedback/Badge/Badge.stories.tsx
  packages/lib-components/src/components/feedback/Badge/index.tsx
  packages/lib-components/src/components/feedback/index.ts
Due: eslint --fix, prettier --write

Chore: show claimable order (only up to 100) as badge
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.tsx
Due: eslint --fix, prettier --write

Refactor: replace manual badge implementation on iconbutton with new <Badge/>
  packages/lib-components/src/components/actions/IconButton/index.tsx
  packages/lib-components/src/components/actions/IconButton/style.ts
Due: eslint --fix, prettier --write

Chore: filter shoporder based on gameserverid
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.tsx
Due: eslint --fix, prettier --write

Fix: remove dead page
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/player.$playerId.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
