Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

log some debug info to see why events are not being received
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
Due: eslint --fix, prettier --write

fix: mock server was checking for existing players wrong
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
Due: eslint --fix, prettier --write

fix: ensure mock players on socket connection
  packages/app-mock-gameserver/src/lib/socket/index.ts
  packages/app-mock-gameserver/src/main.ts
Due: eslint --fix, prettier --write

fix: refactor command service tests to work with new mock server
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

chore: changes to integration tests script so it can include vmm
  docker-compose.test.yml
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write

fix: add postgres encryption key to test container config
  docker-compose.test.yml
Due: none

fix: make /teleport test less brittle
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
Due: eslint --fix, prettier --write

chore: allow a bit longer for gameserver events to come in during tests
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
Due: eslint --fix, prettier --write

feat: add tests for serverMessages module
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-vmm/src/service/workers/cronjobWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/modules/serverMessages/cronJobs/Automated message.js
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: eslint fighting with prettier
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
Due: eslint --fix, prettier --write

chore: rename playerGreeter to playerOnboarding
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/playerOnboarding/hooks/playerConnected.js
  packages/lib-modules/src/modules/playerOnboarding/index.ts
Due: eslint --fix, prettier --write

docs: add some info about a commented LOC
  packages/lib-util/src/dto/TakaroDTO.ts
Due: eslint --fix, prettier --write

feat: add tests for playerOnboarding
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/service/HookService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: some clearer test failure output if axios error was thrown
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

chore: bump test timeout
  .mocharc.js
Due: eslint --fix, prettier --write

chore: add monacoCustomTypes to gitignore
  packages/web-main/.gitignore
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: none

fix: connecting all players on start is not necessary anymore
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
Due: eslint --fix, prettier --write

refactor: teleporting players
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove some leftover monaco custom types from lint-staged
  .lintstagedrc.json
Due: none

chore: integrate docs in dev environment
  containers/homer/assets/config.yml
  packages/web-docs/package.json
Due: none

chore: update postgres to 15 🚀
  docker-compose.test.yml
  docker-compose.yml
Due: none

feat: add a new waitForEvents function in the test pkg
  packages/test/src/main.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

feat: allow setting playerId and gameServerId on variables
  packages/app-api/src/controllers/VariableController.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/variable.ts
  packages/app-api/src/service/VariablesService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20230308183400-persistent-variables.ts
  packages/lib-db/src/migrations/sql/20230503132906-variables-extra-meta.ts
  packages/test/src/__snapshots__/VariableController/Can query API with gameServerId.json
  packages/test/src/__snapshots__/VariableController/Can query API with playerId.json
  packages/test/src/__snapshots__/VariableController/Create.json
  packages/test/src/__snapshots__/VariableController/Get by ID.json
  packages/test/src/__snapshots__/VariableController/Same key but different gameServerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key but different playerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same gameServerId and different playerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same playerId and different gameServerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same playerId and same gameServerId is not allowed.json
  packages/test/src/__snapshots__/VariableController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: apply new waitForEvents in lib-modules tests
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: add some info about variables
  packages/web-docs/pages/docs/application/modules.md
Due: none

refactor: some imports in lib-gameserver to prevent circular deps
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
  packages/lib-gameserver/src/__tests__/gameEventEmitter.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-gameserver/src/gameservers/mock/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/mock/emitter.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/__tests__/RustEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/main.ts
Due: eslint --fix, prettier --write

"fix" an issue with ts build when running tests
  packages/app-api/package.json
  packages/app-mock-gameserver/package.json
  packages/app-vmm/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-util/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: fix test scripts for lib-modules
  packages/lib-modules/package.json
Due: none

feat: add capability to mock server to play pre-generated scenarios
  packages/app-mock-gameserver/README.md
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/app-mock-gameserver/src/main.ts
  packages/app-mock-gameserver/src/scenarios/2.ndjson
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
Due: eslint --fix, prettier --write

wip: path undefined
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/cells/TextFieldCell.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/cells/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/controls/TextFieldControl.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/controls/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/test.stories.tsx
  packages/lib-components/src/components/inputs/TextField/index.tsx
  packages/web-main/package.json
Due: eslint --fix, prettier --write

wip: transformin controlled components to separate controlled and generic version
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/inputs/InputProps.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/BooleanField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/StringField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/cells/TextFieldCell.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/cells/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/controls/TextFieldControl.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/controls/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/renderer/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/test.stories.tsx
  packages/lib-components/src/components/inputs/Switch/Controlled.tsx
  packages/lib-components/src/components/inputs/Switch/index.tsx
  packages/lib-components/src/components/inputs/TextAreaField/Controlled.tsx
  packages/lib-components/src/components/inputs/TextAreaField/index.tsx
  packages/lib-components/src/components/inputs/TextField/Controlled.tsx
  packages/lib-components/src/components/inputs/TextField/index.tsx
  packages/lib-components/src/components/inputs/index.ts
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

refactor: let teleports module use new meta-keys of Variables
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

refactor: dont use playerRef DTO in API routes for teleporting players
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: dont test with 50 automated messages
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
Due: eslint --fix, prettier --write

chore: increase timeout of oidc client
  packages/lib-apiclient/src/lib/adminClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

wip: further transform input components
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnController.tsx
  packages/lib-components/src/components/inputs/CheckBox/CheckBox.stories.tsx
  packages/lib-components/src/components/inputs/CheckBox/Controlled.tsx
  packages/lib-components/src/components/inputs/CheckBox/form.stories.tsx
  packages/lib-components/src/components/inputs/CheckBox/index.tsx
  packages/lib-components/src/components/inputs/CheckBox/style.ts
  packages/lib-components/src/components/inputs/CodeField/Controlled.tsx
  packages/lib-components/src/components/inputs/CodeField/index.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/index.tsx
  packages/lib-components/src/components/inputs/RadioGroup/index.tsx
  packages/lib-components/src/components/inputs/Select/Controlled.tsx
  packages/lib-components/src/components/inputs/Select/Select.tsx
  packages/lib-components/src/components/inputs/Select/index.ts
  packages/lib-components/src/components/inputs/Slider/Controlled.tsx
  packages/lib-components/src/components/inputs/Slider/index.tsx
  packages/lib-components/src/components/inputs/Switch/Controlled.tsx
  packages/lib-components/src/components/inputs/Switch/Switch.stories.tsx
  packages/lib-components/src/components/inputs/TextAreaField/index.tsx
  packages/lib-components/src/components/inputs/TextField/index.tsx
  packages/lib-components/src/components/inputs/TextField/util.ts
  packages/lib-components/src/components/inputs/index.ts
Due: eslint --fix, prettier --write

feat: add endpoint for gameserver types
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/mock/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/rust/connectionInfo.ts
  packages/lib-gameserver/src/main.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: basic server modules page + create module
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/moduleValidationSchema.ts
  packages/web-main/src/paths.ts
  packages/web-main/src/router.tsx
Due: eslint --fix, prettier --write

fix: ensure there are player profiles available during command tests
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
