Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: always push container
  .github/workflows/docker.yml
Due: none

Fix: ts-expect-errors failing
  packages/lib-util/src/context.ts
Due: eslint --fix, prettier --write

deps: bump rimraf
  package-lock.json
  package.json
Due: none

Chore: bump more deps
  package-lock.json
  package.json
Due: none

Fix: potentially fix with calendar not loading
  packages/lib-components/src/components/inputs/Date/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/Generic.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/formats.tsx
Due: eslint --fix, prettier --write

fix: fixes to init domain script
  scripts/init-domain.mjs
Due: none

0.0.8
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: trailing docs
  packages/web-docs/package-lock.json
Due: none

Fix: incorrect action id
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
Due: eslint --fix, prettier --write

Fix: some breaking name changes
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
  packages/web-main/src/routes/_single-page/account.verification.tsx
Due: eslint --fix, prettier --write

Fix: replace deprecated const
  packages/lib-util/src/tracing.ts
Due: eslint --fix, prettier --write

Fix: deprecated install + precommit starter
  .husky/pre-commit
  package.json
Due: none

Chore(deps): get rid of unused sort-package-json dep
  package-lock.json
  packages/lib-components/package.json
Due: none

Fix: new docker-compose network syntax
  docker-compose.test.yml
Due: none

Chore(deps): replace deprecated faker api calls
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-components/src/components/charts/AreaChart/AreaChart.stories.tsx
  packages/lib-components/src/helpers/makeData.ts
Due: eslint --fix, prettier --write

feat: allow shorter names for commands hooks and cronjobs
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/HookService.ts
Due: eslint --fix, prettier --write

fix: generate API on development branch
  .github/workflows/docker.yml
Due: none

feat: add expiring variables
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/variable.ts
  packages/app-api/src/service/VariablesService.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20240830081157-variable-expiry.ts
  packages/test/src/__snapshots__/VariableController/Can create expiring variables.json
  packages/test/src/__snapshots__/VariableController/Can query API with gameServerId.json
  packages/test/src/__snapshots__/VariableController/Can query API with playerId.json
  packages/test/src/__snapshots__/VariableController/Create var without expiry and update with expiry.json
  packages/test/src/__snapshots__/VariableController/Create with moduleId.json
  packages/test/src/__snapshots__/VariableController/Get by ID.json
  packages/test/src/__snapshots__/VariableController/Same key but different gameServerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key but different playerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same gameServerId and different playerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same playerId and different gameServerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: no snapshot needed for this test, assertion happens in the test itself
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
Due: eslint --fix, prettier --write

chore: adjust condition when API client gets pushed
  .github/workflows/docker.yml
Due: none

feat: implement command cooldown
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/CommandService.ts
  packages/lib-modules/src/__tests__/systemConfigCooldown.integration.test.ts
Due: eslint --fix, prettier --write

fix: refactor lock to running commands
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/CommandService.ts
Due: eslint --fix, prettier --write

feat: add variable expiry to frontend
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
Due: eslint --fix, prettier --write

fix: test snapshots
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
Due: none

fix: filter bt eventName when checking last execution
  packages/app-api/src/executors/executeFunction.ts
Due: eslint --fix, prettier --write

0.0.9
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: add robots.txt to docs
  packages/web-docs/static/robots.txt
Due: none

Chore: setup for github pages
  packages/web-docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

ci: build docs
  .github/workflows/builds.yml
Due: none

deps: add discord-api-types
  package-lock.json
  package.json
Due: none

Fix(deps): knex not found in app-api
  package-lock.json
  package.json
  packages/app-api/tsconfig.build.json
  packages/lib-db/package.json
Due: none

Chore: get rid of yup
  package-lock.json
  package.json
  packages/lib-http/src/middleware/paginationMiddleware.ts
  packages/lib-util/src/errors.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
