Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

feat: schedule jobs smarter, causing less spikes
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/app-api/src/workers/systemWorkerDefinitions.ts
Due: eslint --fix, prettier --write

feat: add endpoints to trigger async jobs and to fetch status of those jobs
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: ban sync tests
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/__tests__/BanService.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: server settings not propagating correctly on changes
  packages/app-api/src/lib/socketServer.ts
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: catch non-uuid errors and return a good error message
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/lib-http/src/middleware/errorHandler.ts
Due: eslint --fix, prettier --write

fix: implement more gameserver stuff
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write

fix: increase 7d2d idle timeout
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

0.0.24
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: dispose mock servers after a test
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/integrationTest.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/test/src/setups/modulesSetup.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: clean up maps as clients disconnect
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

fix: get shop tests working with new mock server
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/test/src/__snapshots__/ShopController/Search with deleted listing.json
  packages/test/src/setups/modulesSetup.ts
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

fix: ban handling in mock server
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
Due: eslint --fix, prettier --write

fix: domainController tests
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write

fix: gameserver tests
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/__snapshots__/GameServerController/Update.json
Due: eslint --fix, prettier --write

fix: some player related tests
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write

fix more tests
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: claim typing error
  packages/lib-modules/src/__tests__/economy/claim.integration.test.ts
Due: eslint --fix, prettier --write

ci: adjust test log cfg
  .github/workflows/docker.yml
Due: none

fix issues handling player kick/ban and the correspondig disconnected event from that
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
Due: eslint --fix, prettier --write

ci: reduce total amount of test attempts to try and reduce totat run time
  .github/workflows/docker.yml
Due: none

fix: add connector config for tests
  docker-compose.test.yml
Due: none

chore: specify none log level for tests
  docker-compose.test.yml
Due: none

chore: enable tracing so we always have trace ids in logs from tests
  .github/workflows/docker.yml
  docker-compose.test.yml
Due: none

fix: a bunch more tests
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/__tests__/gameEventEmitter.test.ts
  packages/lib-gameserver/src/gameservers/mock/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/mock/emitter.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/getGame.ts
  packages/lib-modules/src/__tests__/economy/economyUtils.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
Due: eslint --fix, prettier --write

fix: get e2e tests mostly running again
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

chore: add better filenames to output artifacts
  .github/workflows/docker.yml
Due: none

fix: remove some old code that tried to create old mockservers
  packages/app-api/src/controllers/__tests__/ModuleInstallations.integration.test.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
Due: eslint --fix, prettier --write

fix: build issue
  packages/lib-gameserver/src/main.ts
Due: eslint --fix, prettier --write

fix: bad import
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

chore: some better debugging
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

chore: better debug log
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

feat: send validation errors back to the gameserver
  packages/app-connector/src/controllers/gameserverController.ts
  packages/app-connector/src/lib/websocket.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

feat: add metrics to websocket connector
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

fix: exporting a hook should include the regex
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/BuiltinModule.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: type fixes for react 19
  package-lock.json
  package.json
  packages/lib-components/src/components/actions/Button/index.tsx
  packages/lib-components/src/components/actions/ContextMenu/Group.tsx
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownMenu.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuItem.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownTrigger.tsx
  packages/lib-components/src/components/actions/DropdownButton/index.tsx
  packages/lib-components/src/components/actions/IconButton/index.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButtonGroup.tsx
  packages/lib-components/src/components/data/Chip/index.tsx
  packages/lib-components/src/components/feedback/IconTooltip/index.tsx
  packages/lib-components/src/components/feedback/Popover/PopoverTrigger.tsx
  packages/lib-components/src/components/feedback/Tooltip/TooltipTrigger.tsx
  packages/lib-components/src/components/feedback/snacks/Default/index.tsx
  packages/lib-components/src/components/inputs/TextField/Generic.tsx
  packages/lib-components/src/components/inputs/selects/SelectField/Generic/index.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/lib-components/src/components/inputs/selects/index.tsx
  packages/lib-components/src/components/navigation/Steppers/SlimStepper/index.tsx
  packages/lib-components/src/components/navigation/Steppers/Stepper/index.tsx
  packages/lib-components/src/components/other/ActionMenu/index.tsx
  packages/lib-components/src/components/other/Collapsible/CollapsibleTrigger.tsx
  packages/lib-components/src/hooks/useOutsideAlerter.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/useModuleBuilderStore.tsx
Due: eslint --fix, prettier --write

wip: migrate ory/elements to ory/elements-react
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/lib-components/src/styled/ory.tsx
  packages/web-main/src/App.tsx
  packages/web-main/src/OryThemeOverrides.ts
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/hooks/useOry.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormBuilder/index.tsx
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
  packages/web-main/src/routes/_single-page/account.verification.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/ory.ts
Due: eslint --fix, prettier --write

docs: update self hosting info
  packages/web-docs/docs/advanced/self-hosting.md
Due: none

docs: add info about frontend-only development
  packages/web-docs/docs/development/getting-started.md
  packages/web-docs/docs/development/repo-setup.md
Due: none

fix: copying multiple versions of module
  packages/web-main/src/components/CopyModuleForm.tsx
Due: eslint --fix, prettier --write

fix: click bubble up on delete gameserver dialog
  packages/lib-components/src/components/dialogs/Dialog/DialogContent.tsx
Due: eslint --fix, prettier --write
