Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: add space
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
Due: eslint --fix, prettier --write

docs: add teleports how-to guide
  packages/web-docs/pages/_meta.json
  packages/web-docs/pages/how-to-guides/Install-teleports.md
Due: none

Some fixes and improvements to player linking (#1072)
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/lib-util/src/posthog.ts
  packages/web-main/src/components/selects/EventNameSelect/eventNames.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Enable-disable module and items (#1074)
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/lib/__tests__/systemConfig.integration.test.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/lib-modules/src/modules/chatBridge/hooks/GameToDiscord.js
  packages/lib-modules/src/modules/chatBridge/hooks/PlayerConnected.js
  packages/lib-modules/src/modules/chatBridge/hooks/PlayerDisconnected.js
  packages/lib-modules/src/modules/lottery/commands/nextDraw.js
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, throws validation error.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
Due: eslint --fix, prettier --write

fix: refresh installations on module update
  packages/app-api/src/service/ModuleService.ts
Due: eslint --fix, prettier --write

feat: playerId for shop events
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

fix: canceling an order should refund the player
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

fix: deleting a listing cancels orders and refunds
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240718150807-listing-deleted-and-draft-status.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a bunch of edge cases around orders and listings
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/__snapshots__/ShopController/Create.json
  packages/test/src/__snapshots__/ShopController/Delete.json
  packages/test/src/__snapshots__/ShopController/Get by ID.json
  packages/test/src/__snapshots__/ShopController/Search with deleted listing.json
  packages/test/src/__snapshots__/ShopController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix a bunch of edge cases around listings and orders (#1075)
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240718150807-listing-deleted-and-draft-status.ts
  packages/test/src/__snapshots__/ShopController/Create.json
  packages/test/src/__snapshots__/ShopController/Delete.json
  packages/test/src/__snapshots__/ShopController/Get by ID.json
  packages/test/src/__snapshots__/ShopController/Search with deleted listing.json
  packages/test/src/__snapshots__/ShopController/Update.json
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: update teleports how-to
  packages/web-docs/pages/how-to-guides/Install-teleports.md
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

fix: allow high privilege users to claim orders of other users
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

docs: update teleports how-to
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

chore: switch player connected icon
  packages/lib-modules/src/modules/chatBridge/hooks/PlayerConnected.js
Due: eslint --fix, prettier --write

docs: update install teleports how to
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

fix: an issue when startup up and seeding builtins
  packages/app-api/src/main.ts
  packages/app-api/src/service/ModuleService.ts
Due: eslint --fix, prettier --write

fix: buying multiple of a listing in 1 order
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

fix: an issue detecting discord hooks
  packages/app-api/src/service/HookService.ts
Due: eslint --fix, prettier --write

docs: update teleports guide
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

feat: improve gameserver reconnection logic
  packages/app-connector/src/config.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

feat: improve gameserver reconnection logic (#1076)
  packages/app-connector/src/config.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

fix: create network like this
  scripts/integration-tests.mjs
Due: none

fix: an issue inviting users that already have an Identity
  packages/app-api/src/service/UserService.ts
Due: eslint --fix, prettier --write

fix: bust the connection info cache when servers are unreachable
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: CSMM import (#1060)
  package-lock.json
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
Due: eslint --fix, prettier --write

fix: for teleport list when a server has many teleports (more than default pagination limit) (#1063)
  packages/lib-db/src/migrations/sql/20240705140358-teleports-public-refactor.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/lib-modules/src/modules/teleports/functions/utils.js
Due: eslint --fix, prettier --write

feat: show an overview of recent failed module calls (#1062)
  package-lock.json
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add Posthog integration
  docker-compose.yml
  package-lock.json
  package.json
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/App.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: double waypoint teleports (#1064)
  packages/lib-modules/src/modules/teleports/commands/teleportwaypoint.js
Due: eslint --fix, prettier --write

fix: an issue when deploying docs
  packages/lib-auth/src/lib/__tests__/ory.integration.test.ts
Due: eslint --fix, prettier --write

feat: add more statistics (#1065)
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: forgot the var in the container...
  containers/generic-web/entrypoint.sh
Due: none

fix: module config example
  packages/web-docs/pages/advanced/modules.md
Due: none

fix: js env var...
  packages/web-main/public/env.js
Due: eslint --fix, prettier --write

fix: mock scenarios
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

feat: add some stats to players page (#1066)
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/queryBuilder.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: read scenario properly with path
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
Due: eslint --fix, prettier --write

chore: example for entity-killed and player-death in scenarios
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

refactor scenarios to use TS
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

fix: mutating data of scenario
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
Due: eslint --fix, prettier --write
