Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: a API typing issue
  packages/app-api/src/controllers/Module/modules.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: role assign server select
  packages/web-main/src/components/selects/GameServerSelectQueryField/index.tsx
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

fix: player permissions not applying properly in API checks
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/main.ts
  packages/test/src/setups/createUserForPlayer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: some logic when seeding modules
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

fix: some player snapshots
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: none

fix; handle more cases
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

simplify
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

feat: add basic crud for domain settings
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250131183251-domain-settings.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/VariableController/Prevents creating more than domain-allowed variables.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: move variables to domain settings
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/variable.ts
Due: eslint --fix, prettier --write

chore: add betters logs for items
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/HookService.ts
Due: eslint --fix, prettier --write

feat: limit max gameservers
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: implement event retention
  packages/app-api/src/workers/systemWorker.ts
Due: eslint --fix, prettier --write

chore: rename property to make it more clear
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250131183251-domain-settings.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: impl module limitations
  package-lock.json
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/middlewares/moduleProtectionMiddleware.ts
  packages/app-api/src/service/Module/index.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write

feat: add concept of dashboard users
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250131183251-domain-settings.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: regen a whole lot of snapshots
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
Due: none

feat: implement dashboard user limitation
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: regenerate lockfile
  package-lock.json
Due: none

chore: clean up tsconfig
  packages/app-api/tsconfig.json
  packages/app-connector/tsconfig.json
  packages/app-mock-gameserver/tsconfig.json
  packages/e2e/tsconfig.json
  packages/lib-apiclient/tsconfig.json
  packages/lib-auth/tsconfig.json
  packages/lib-aws/tsconfig.json
  packages/lib-config/tsconfig.json
  packages/lib-db/tsconfig.json
  packages/lib-email/tsconfig.json
  packages/lib-function-helpers/tsconfig.json
  packages/lib-gameserver/tsconfig.json
  packages/lib-http/tsconfig.json
  packages/lib-modules/tsconfig.json
  packages/lib-queues/tsconfig.json
  packages/lib-util/tsconfig.json
  packages/test/tsconfig.json
  tsconfig.esm.json
  tsconfig.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: first test file moved over
  .mocharc.js
  eslint.config.mjs
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
  packages/test/src/integrationTest.ts
  packages/test/src/test/sandbox.ts
Due: eslint --fix, prettier --write

chore: add clear variant to horizontal nav
  packages/lib-components/src/components/navigation/HorizontalNav/HorizontalNav.stories.tsx
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/lib-components/src/components/navigation/HorizontalNav/style.ts
Due: eslint --fix, prettier --write

chore: improve plan
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-components/src/components/other/Plan/style.ts
Due: eslint --fix, prettier --write

clean up config vars
  .env.example
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write

chore: combine plan and billing page
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
Due: eslint --fix, prettier --write

fix(divider): not centered correctly
  packages/lib-components/src/components/visual/Divider/index.tsx
Due: eslint --fix, prettier --write

usage squash
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
Due: eslint --fix, prettier --write

Feat: <Plan/>
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-components/src/components/other/index.ts
  packages/lib-components/src/components/visual/Divider/index.tsx
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
Due: eslint --fix, prettier --write

Feat: <Usage/> + <UsageCard/>
  packages/lib-components/src/components/other/Usage/Usage.stories.tsx
  packages/lib-components/src/components/other/Usage/Usage.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.stories.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/lib-components/src/components/other/index.ts
Due: eslint --fix, prettier --write

Chore: more improvements to plan + usageCard + domain
  .env.example
  containers/generic-web/entrypoint.sh
  package-lock.json
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-components/src/components/other/Plan/style.ts
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/web-main/src/components/Footer.stories.tsx
  packages/web-main/src/components/Footer.tsx
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
  packages/web-main/src/routes/_auth/domain.disabled.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write

Chore: add size property to progressBar + style changes
  packages/lib-components/src/components/feedback/ProgressBar/ProgressBar.stories.tsx
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
Due: eslint --fix, prettier --write

Chore: remove deprecated <LinkCard/>
  packages/lib-components/src/components/data/LinkCard/index.tsx
  packages/lib-components/src/components/data/index.ts
Due: eslint --fix, prettier --write

fix: player permissions not applying properly in API checks
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
  packages/test/src/main.ts
  packages/test/src/setups/createUserForPlayer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
