Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: enable tracing in CI
  .github/workflows/docker.yml
  containers/grafana/agent/config.river
  docker-compose.test.yml
Due: none

chore: disable tail sampling during CI
  containers/grafana/agent/config.river
Due: none

chore: regenerate API client
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a frontend type issue
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
Due: eslint --fix, prettier --write

chore: add routeTree to prettier ignore
  .prettierignore
Due: none

chore: deploy ssh key during CI run
  .github/workflows/docker.yml
Due: none

fix: ssh pubkey installation
  .github/workflows/docker.yml
Due: none

chore: output runner IP
  .github/workflows/docker.yml
Due: none

chore: define a docker network
  docker-compose.test.yml
Due: none

fix: remove alert taking up too much space in navbar
  packages/web-main/src/routes/-studio/FileExplorer/index.tsx
Due: eslint --fix, prettier --write

chore: regenerate snapshots
  packages/test/src/__snapshots__/CommandController/Create.json
  packages/test/src/__snapshots__/CommandController/Get by ID.json
  packages/test/src/__snapshots__/CommandController/Update.json
  packages/test/src/__snapshots__/HookController/Create.json
  packages/test/src/__snapshots__/HookController/Get by ID.json
  packages/test/src/__snapshots__/HookController/Update.json
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
Due: none

fix: ensure result.logs always exists
  packages/app-api/src/executors/executeFunction.ts
Due: eslint --fix, prettier --write

chore: allow toggling tracing from a single place
  .github/workflows/docker.yml
  docker-compose.test.yml
Due: none

chore: remove failed networks fix attempt
  docker-compose.test.yml
Due: none

fix: discord party chat
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/lib-modules/src/modules/chatBridge/hooks/GameToDiscord.js
  packages/lib-modules/src/modules/chatBridge/index.ts
Due: eslint --fix, prettier --write

fix: a help cmd test
  packages/lib-modules/src/__tests__/help.integration.test.ts
Due: eslint --fix, prettier --write

chore: limit backend tests to 30 minutes
  .github/workflows/docker.yml
Due: none

fix: do not generate module updated events for builtin modules
  packages/app-api/src/service/ModuleService.ts
Due: eslint --fix, prettier --write

fix: issue resolving xbox 7d2d players
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

chore: some more log details for player service
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

chore: more logging details for event worker
  packages/app-api/src/workers/eventWorker.ts
Due: eslint --fix, prettier --write

chore: disable a noisy snapshot
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
Due: eslint --fix, prettier --write

fix: refactor something in player resolvement
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

fix: use gamePlayer name for name update
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

docs: add a note about disabling OxideRcon for Rust servers
  packages/web-docs/pages/games/Rust.mdx
Due: none

Fix: show gameserverid because that is what can be used to filter
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
Due: eslint --fix, prettier --write

Chore: add notification that connection can be established
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
Due: eslint --fix, prettier --write

docs: add a bit more information about module configuration fields
  packages/web-docs/pages/advanced/modules.md
Due: none

feat: refactor DTO to not need an async constructor
  packages/app-api/src/controllers/ModuleController.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/chatBridge/index.ts
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/lib-modules/src/modules/geoBlock/index.ts
  packages/lib-modules/src/modules/gimme/index.ts
  packages/lib-modules/src/modules/highPingKicker/index.ts
  packages/lib-modules/src/modules/lottery/index.ts
  packages/lib-modules/src/modules/playerOnboarding/index.ts
  packages/lib-modules/src/modules/serverMessages/index.ts
  packages/lib-modules/src/modules/teleports/index.ts
  packages/lib-modules/src/modules/utils/index.ts
  packages/lib-util/src/TakaroDTO.ts
  packages/lib-util/src/__test__/TakaroDTO.unit.test.ts
  packages/lib-util/src/dto/__tests__/TakaroDTO.unit.test.ts
  packages/lib-util/src/main.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: remove async construct fn
  packages/lib-util/src/TakaroDTO.ts
  packages/lib-util/src/__test__/TakaroDTO.unit.test.ts
Due: eslint --fix, prettier --write

feat: import export modules
  package-lock.json
  package.json
  packages/app-api/src/controllers/ModuleController.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/lib-modules/src/modules/geoBlock/index.ts
  packages/lib-modules/src/modules/gimme/index.ts
  packages/lib-modules/src/modules/lottery/index.ts
  packages/lib-modules/src/modules/playerOnboarding/index.ts
  packages/lib-modules/src/modules/teleports/index.ts
  packages/test/package.json
  packages/test/src/test/expect.ts
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a cronjob issue
  packages/app-api/src/service/CronJobService.ts
Due: eslint --fix, prettier --write

feat: add import/export module functionality to frontend
  packages/app-api/src/controllers/ModuleController.ts
  packages/app-api/src/service/ModuleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/queries/modules/index.ts
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/_auth/_global/-modules/ModuleImportForm.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.export.tsx
  packages/web-main/src/routes/_auth/_global/modules.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: detect friends chat in 7d2d
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-modules/src/dto/gameEvents.ts
Due: eslint --fix, prettier --write

fix: invalidate some queries
  packages/web-main/src/queries/modules/queries.tsx
Due: eslint --fix, prettier --write

ci: publish library packages
  .github/workflows/publish-libs.yml
Due: none

fix: workspace path
  .github/workflows/publish-libs.yml
Due: none

fix: set scope option
  .github/workflows/publish-libs.yml
Due: none

debug: npmrc
  .github/workflows/publish-libs.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
