Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

chore: add a script to release minor version
  package.json
Due: none

0.1.0
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: better validation for search endpoint params. Fixes #2148
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: 7d2d platform id shenanigans
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

feat: allow setting a prefix for messages sent by Takaro
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/routes/_auth/_global/settings/gameservers.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: some bad API calls in economyUtils and lottery modules
  packages/lib-modules/src/modules/economyUtils/commands/confirmTransfer.js
  packages/lib-modules/src/modules/economyUtils/commands/shop.js
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/lib-modules/src/modules/lottery/commands/viewTickets.js
  packages/lib-modules/src/modules/lottery/index.ts
Due: eslint --fix, prettier --write

0.1.1
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: regenerate snapshots
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Setting for gameserver multiple times overwrites properly.json
Due: none

feat: remember last used domain
  packages/e2e/src/web-main/domainMemory.spec.ts
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/lastUsedDomain.ts
Due: eslint --fix, prettier --write

fix: allow empty settings values
  packages/web-main/src/routes/_auth/_global/settings/gameservers.tsx
Due: eslint --fix, prettier --write

chore: run docs build on all branches so we are alerted to issues faster
  .github/workflows/deploy-docs.yml
Due: none

fix: typedoc generation
  typedoc.json
Due: none

fix typedoc (?)
  typedoc.config.js
  typedoc.json
Due: eslint --fix, prettier --write

fix: item giving in gimme and playerOnBoarding modules
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/gimme/index.ts
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/playerOnboarding/index.ts
Due: eslint --fix, prettier --write

fix: make testing a lot simpler with helper scripts
  README.md
  package.json
  packages/web-docs/docs/development/common-tasks/running-tests.md
  packages/web-docs/docs/development/getting-started.md
  scripts/test-check.sh
  scripts/test-file.sh
  scripts/test-package.sh
  scripts/test-runner.sh
Due: none

feat: add rate limiting for event processing
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-db/src/migrations/sql/20250629083021-add-event-rate-limits.ts
Due: eslint --fix, prettier --write

feat: rate limit event to signal issues
  packages/app-api/src/lib/eventRateLimit.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: performance issue because of missing index
  packages/lib-db/src/migrations/sql/20250629090822-player-query-performance-indices.ts
Due: eslint --fix, prettier --write

fix: add validation for properties
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

fix: cleaner switch case
  packages/app-api/src/lib/eventRateLimit.ts
Due: eslint --fix, prettier --write

fix: gimme and starterkit
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
Due: eslint --fix, prettier --write

fix: update snapshots
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Resolve registration token - valid token.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: none

chore: full sentry removal
  .env.example
  .github/workflows/builds.yml
  package-lock.json
  packages/web-docs/docs/development/common-tasks/running-tests.md
  packages/web-main/src/components/ErrorBoundary.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/File.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.tsx
  renovate.json
  vitest.config.base.mts
Due: eslint --fix, prettier --write

fix: revert breaking API change affecting give item
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: snapshots
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Resolve registration token - valid token.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: none

fix: clean up event display in frontend
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write

chore: add claude local to gitignore
  .gitignore
Due: none

0.1.2
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: make system worker have concurrency
  packages/app-api/src/main.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/lib-queues/src/config.ts
Due: eslint --fix, prettier --write

fix: make some actions background processing so they dont block event worker
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/eventWorker.ts
Due: eslint --fix, prettier --write

0.1.3
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add database indices for command query performance optimization
  packages/lib-db/src/migrations/sql/20250701-command-query-performance-indices.ts
Due: eslint --fix, prettier --write

Add strategic timing logs for command execution flow debugging
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/workers/commandWorker.ts
  packages/app-api/src/workers/eventWorker.ts
Due: eslint --fix, prettier --write

chore: add claude workflows
  .github/workflows/claude_code.yml
  .github/workflows/claude_code_login.yml
Due: none

chore: add test helper scripts for improved developer experience
  README.md
  package.json
  scripts/test-check.sh
  scripts/test-file.sh
  scripts/test-package.sh
  scripts/test-runner.sh
Due: none

refactor: eliminate test:base script and consolidate test logic
  package.json
  scripts/test-runner.sh
Due: none

chore: remove config via env vars
  scripts/test-package.sh
Due: none

Merge pull request #2174 from gettakaro/feat/command-query-performance-indices
  packages/lib-db/src/migrations/sql/20250701-command-query-performance-indices.ts
Due: eslint --fix, prettier --write
