Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

e2e: fix all broken tests
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/pages/PlayerProfile.ts
  packages/e2e/src/web-main/pages/RolesPage.ts
  packages/e2e/src/web-main/pages/UsersPage.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/playerProfile.spec.ts
  packages/e2e/src/web-main/views/roles.spec.ts
  packages/e2e/src/web-main/views/users.spec.ts
  packages/e2e/src/web-main/views/variables.spec.ts
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.update.$gameServerId.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.tsx
Due: eslint --fix, prettier --write

ci: enable e2e tests in ci
  .github/workflows/docker.yml
Due: none

fix: data folder permissions
  scripts/setup-data-folders.sh
Due: none

Fix: add missing env variables
  docker-compose.test.yml
Due: none

0.0.10
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: running integration tests for specific docker tag
  packages/web-docs/docs/development/common-tasks/running-tests.md
Due: none

Refactor: move back to docusaurus
  package-lock.json
  packages/web-docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

Fix(deps): knex not found in app-api
  package.json
Due: none

docs: how-to run e2e local based on containers
  packages/web-docs/docs/development/common-tasks/running-tests.md
Due: none

chore: make dev->main PR more recognizable with an emoji
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: always pass pogs property, even if it's an empty array
  packages/app-api/src/controllers/UserController.ts
Due: eslint --fix, prettier --write

fix: prevent infinite commit loop for api docs
  .github/workflows/docker.yml
Due: none

Chore: rename studio to module builder
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/routes/-module-builder/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/-module-builder/CopyModulePopOver.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/FileTabs.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/ConfigLoading.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/commandConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/hookConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/index.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/style.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/customTypes.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/-module-builder/Editor/theme.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/utils.ts
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/Directory.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/File.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/ModuleList.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/utils.ts
  packages/web-main/src/routes/_auth/-module-builder/Header.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleBuilderInner.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleOnboarding.tsx
  packages/web-main/src/routes/_auth/-module-builder/useActiveCode.tsx
  packages/web-main/src/routes/_auth/-module-builder/useModuleBuilderStore.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.tsx
  scripts/getMonacoCustomTypes.ts
Due: eslint --fix, prettier --write

Chore: add playerId to user table
  packages/web-main/src/routes/_auth/_global/users.tsx
Due: eslint --fix, prettier --write

Feat: improve enable/disable module installation
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
Due: eslint --fix, prettier --write

Chore: use meout as session type
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/components/PermissionsGuard.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/hooks/useHasPermission.tsx
  packages/web-main/src/hooks/useSession.tsx
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: try to save newSession, not non-existing session
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

Refactor: rename Meoutout to Meoutput
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/hooks/useHasPermission.tsx
  packages/web-main/src/hooks/useSession.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/_global/settings/gameservers.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.orders.tsx
Due: eslint --fix, prettier --write

Chore: get rid of localstorage session
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

Feat: add option to conditionally render a column
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/react-table.d.ts
  packages/lib-components/src/components/data/Table/subcomponents/ColumnVisibility/index.tsx
Due: eslint --fix, prettier --write

Feat: alert text now also takes reactElement as prop
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

Feat: redirect players without permissions to shop by default
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/_global.tsx
Due: eslint --fix, prettier --write

Chore: update e2e tests to refer to module builder instead of studio
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/ModuleBuilderPage.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/index.ts
  packages/e2e/src/web-main/views/moduleBuilder.spec.ts
  packages/e2e/src/web-main/views/studio.spec.ts
Due: eslint --fix, prettier --write

Fix: incorrect if
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
Due: eslint --fix, prettier --write

e2e: enable some disabled tests
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
Due: eslint --fix, prettier --write

Fix: only navigate when location pathname is /
  packages/web-main/src/routes/_auth/_global.tsx
Due: eslint --fix, prettier --write

fix: for data folder permissions
  scripts/setup-data-folders.sh
Due: none

Fix: remove alert react element testing to later add link to docs
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

chore: refactor economy tests in preparation of more tests
  packages/lib-modules/src/__tests__/economy/claim.integration.test.ts
  packages/lib-modules/src/__tests__/economy/economyUtils.integration.test.ts
  packages/test/src/main.ts
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

Chore: disable permission tests again
  packages/e2e/src/web-main/smoke.spec.ts
Due: eslint --fix, prettier --write
