Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: use proper OpenAPI deprecated flag for getPlayers endpoint
  packages/app-api/src/controllers/GameServerController.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in DiscordService sendMessage unit tests
  packages/app-api/src/service/__tests__/DiscordService.sendMessage.unit.test.ts
Due: eslint --fix, prettier --write

fix: help command now filters out disabled modules and commands
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/modules/utils/commands/help.js
Due: eslint --fix, prettier --write

feat: add table views to module builder and module installer pages
  packages/web-main/src/routes/_auth/_global/-modules/ModulesTableView.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ModuleInstallationsTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
Due: eslint --fix, prettier --write

fix: resolve frontend build errors and improve module table views
  packages/web-main/src/components/dialogs/index.ts
  packages/web-main/src/routes/_auth/_global/-modules/ModulesTableView.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ModuleInstallationsTableView.tsx
Due: eslint --fix, prettier --write

fix: set default module version selection in table view
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/selects/ModuleVersionSelectQueryField.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModulesTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ModuleInstallationsTableView.tsx
Due: eslint --fix, prettier --write

feat: module versions API changes
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/Module/dto.ts
  packages/app-api/src/service/Module/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: mock discordBot in DiscordService.sendMessage unit tests
  packages/app-api/src/service/__tests__/DiscordService.sendMessage.unit.test.ts
Due: eslint --fix, prettier --write

fix: replace deprecated moduleControllerGetTags with moduleVersionControllerSearchVersions
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
Due: eslint --fix, prettier --write

feat: add author field and search functionality to module tables
  packages/web-main/src/routes/_auth/_global/-modules/ModulesTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ModuleInstallationsTableView.tsx
Due: eslint --fix, prettier --write

refactor: permission checks in shop service
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

docs: design docs for public bans page
  .kiro/specs/public-ban-lookup/design.md
  .kiro/specs/public-ban-lookup/requirements.md
  .kiro/specs/public-ban-lookup/tasks.md
Due: none

feat: implement AsyncLocalStorage-based transaction tracking and increase DB pool size
  packages/app-api/src/db/base.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/shopCategory.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/db/shopOrder.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

0.3.0
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add root permission check to Discord service message sending
  packages/app-api/src/service/DiscordService.ts
Due: eslint --fix, prettier --write

feat: add parent category filtering to include child category items
  packages/app-api/src/controllers/__tests__/Shop/ParentCategoryFilter.integration.test.ts
  packages/app-api/src/db/shopCategory.ts
  packages/app-api/src/db/shopListing.ts
Due: eslint --fix, prettier --write

fix: delete bad unit tests
  packages/app-api/src/service/__tests__/DiscordService.sendMessage.unit.test.ts
Due: eslint --fix, prettier --write

fix: use temporary files for event export to ensure atomic delivery
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/service/EventService.ts
Due: eslint --fix, prettier --write

refactor: replace POST export endpoint with GET for true file downloads
  packages/app-api/src/controllers/EventController.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write

0.3.1
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: handle color codes in 7d2d entity killed event detection
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

fix: return actual player ID instead of POG ID in tracking endpoints
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/Tracking/index.ts
Due: eslint --fix, prettier --write

fix: properly quote table names in radius search SQL query
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

fix: update tests to use player IDs in expected results
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
Due: eslint --fix, prettier --write

fix: update remaining tests to use player IDs
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
Due: eslint --fix, prettier --write

fix: add DISTINCT to prevent duplicate records and fix timezone issue in test
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

0.3.2
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add nextCronJobRun to Monaco editor type definitions
  packages/web-main/src/routes/_auth/-module-builder/Editor/customTypes.ts
Due: eslint --fix, prettier --write

docs: initial specs for discord role sync
  .kiro/specs/discord-role-sync/requirements.md
Due: none

docs: design documentation for role sync
  .kiro/specs/discord-role-sync/design.md
  .kiro/specs/discord-role-sync/requirements.md
  .kiro/specs/discord-role-sync/tasks.md
Due: none

fix: hide shop categories with 0 items from shoppers
  packages/web-main/src/components/shop/CategoryFilter.tsx
Due: eslint --fix, prettier --write

feat: add foundation for Discord role sync
  .kiro/specs/discord-role-sync/tasks.md
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250726000000-discord-role-sync.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: preserve shop listing categories during import/export
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/Shop/ShopListing.integration.test.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

fix: correct API call in integration test
  packages/app-api/src/controllers/Shop/Category.ts
  packages/app-api/src/controllers/__tests__/Shop/CategoryController.integration.test.ts
  packages/app-api/src/db/shopCategory.ts
  packages/app-api/src/service/Shop/ShopCategoryService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/components/shop/CategoryFilter.tsx
  packages/web-main/src/queries/shopCategories.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: implement Discord role synchronization
  packages/web-docs/docs/advanced/discord-integration.md
  packages/web-main/src/components/selects/DiscordRoleSelectQueryField.tsx
  packages/web-main/src/components/selects/index.tsx
  packages/web-main/src/queries/discord.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
  packages/web-main/src/routes/_single-page/link.tsx
  packages/web-main/src/util/settings.ts
Due: eslint --fix, prettier --write

chore: update task tracking and complete documentation
  .kiro/specs/discord-role-sync/tasks.md
  packages/app-api/src/lib/DiscordBot.ts
  packages/app-api/src/lib/DiscordMetrics.ts
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/User/index.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/app-api/src/workers/systemWorkerDefinitions.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-docs/docs/FAQ.md
  packages/web-docs/docs/introduction.md
  packages/web-docs/docs/players.md
  packages/web-docs/docs/roles-and-permissions.md
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: use getMockServer instead of direct API calls in category tests
  packages/app-api/src/controllers/__tests__/Shop/CategoryController.integration.test.ts
Due: eslint --fix, prettier --write

fix: use the right discord ID for requesting roles
  packages/web-main/src/components/selects/DiscordRoleSelectQueryField.tsx
Due: eslint --fix, prettier --write

chore: log if Discord login fails
  packages/app-api/src/lib/DiscordBot.ts
Due: eslint --fix, prettier --write
