Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

chore: regen lockfile
  package-lock.json
  package.json
Due: none

fix: react-router deps
  package-lock.json
  package.json
Due: none

fix: reset lockfile to older versions
  package-lock.json
Due: none

0.4.0
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: lockfile
  package-lock.json
Due: none

fix: mkae migration lighter
  packages/lib-db/src/migrations/sql/20250809122020-add-player-name-history.ts
Due: eslint --fix, prettier --write

chore: better reachability failure logging
  packages/app-api/src/service/GameServerService.ts
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

fix: a few issues with reconnection logic
  package-lock.json
  package.json
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/__tests__/GameServerManager.unit.test.ts
Due: eslint --fix, prettier --write

0.4.1
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: pin tanstack deps to prevent silent upgrade issue causing our lockfile to go out of sync
  package-lock.json
  package.json
Due: none

fix: frontend snapshots
  packages/lib-components/src/components/data/Chip/__snapshots__/Chip.test.tsx.snap
Due: none

chore: better health check for mock servers
  packages/app-mock-gameserver/src/lib/ws-gameserver/wsClient.ts
Due: eslint --fix, prettier --write

0.4.2
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: hard-clear node modules to prevent stale cache issues
  scripts/dev-init.sh
Due: none

fix: add a dep override
  package-lock.json
  package.json
Due: none

0.4.3
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: prevent players from being blocked when claiming orders with deleted listings
  packages/app-api/src/controllers/__tests__/Shop/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-db/src/migrations/sql/20251014120000-shop-order-auto-cancel-on-listing-delete.ts
Due: eslint --fix, prettier --write

fix: improve order cancellation logic for deleted listings and handle refunds correctly
  packages/app-api/src/controllers/__tests__/Shop/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-db/src/migrations/sql/20251014120000-shop-order-auto-cancel-on-listing-delete.ts
Due: eslint --fix, prettier --write

fix: issue with event data
  packages/app-api/src/db/shopOrder.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

feat: add configurable unknown command feedback with suggestions
  package-lock.json
  packages/app-api/package.json
  packages/app-api/src/db/command.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/SettingsService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/web-main/src/util/settings.ts
Due: eslint --fix, prettier --write

test: update snapshots for new unknown command settings
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Setting for gameserver multiple times overwrites properly.json
Due: none

feat: add bulk delete for players and POGs
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/lib/validators.ts
  packages/app-api/src/service/Player/dto.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/__snapshots__/PlayerController/Bulk delete players - all invalid IDs.json
  packages/test/src/__snapshots__/PlayerController/Bulk delete players - partial success with invalid IDs.json
  packages/test/src/__snapshots__/PlayerController/Bulk delete players - success with 10 players.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Bulk delete POGs - all invalid player IDs.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Bulk delete POGs - only deletes specified POGs, leaves others intact.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Bulk delete POGs - partial success with players not on gameserver.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Bulk delete POGs - success with 10 players on single gameserver.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove invalid @ApiProperty decorators
  packages/app-api/src/service/Player/dto.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
Due: eslint --fix, prettier --write

refactor: replace dynamic import with static import for fastest-levenshtein
  packages/app-api/src/service/CommandService.ts
Due: eslint --fix, prettier --write

fix: MCP server config in dev compose
  docker-compose.yml
Due: none

fix: restore descriptive error message for POG not found
  packages/app-api/src/db/playerOnGameserver.ts
Due: eslint --fix, prettier --write

feat: add optional source parameter with context-based fallback for currency events
  .design/2025-10-23-economy-analytics/design.md
  .design/2025-10-23-economy-analytics/tasks.md
  .design/2025-10-23-economy-analytics/verification-report.md
  docker-compose.yml
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/lib-modules/src/modules/dailyRewards/commands/daily.js
  packages/lib-modules/src/modules/dailyRewards/index.ts
  packages/lib-modules/src/modules/economyUtils/commands/grantCurrency.js
  packages/lib-modules/src/modules/economyUtils/commands/revokeCurrency.js
  packages/lib-modules/src/modules/economyUtils/cronJobs/zombieKillReward.js
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/web-docs/docs/modules/dailyRewards.mdx
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/modules.json
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write

chore: mark tasks
  .design/2025-10-23-economy-analytics/tasks.md
Due: none

Display Player ID in players table
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

chore: cleanup api docs
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
Due: eslint --fix, prettier --write

fix: ensure inventory data gets cleaned up
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/workers/systemWorker.ts
Due: eslint --fix, prettier --write

fix(web-main): do not mutate title during render, move into useEffect
  packages/web-main/src/hooks/useDocumentTitle.ts
Due: eslint --fix, prettier --write

fix(web-main): use camelCase for variables
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

fix(lib-components): broken stories because text moved from prop to children
  packages/lib-components/src/components/actions/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

chore(web-main): remove debug console.log
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
Due: eslint --fix, prettier --write

chore(lib-components): fix broken stories because button text property being removed
  packages/lib-components/src/components/actions/DropdownButton/DropdownButton.stories.tsx
  packages/lib-components/src/components/data/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/dialogs/Dialog/Dialog.stories.tsx
  packages/lib-components/src/components/feedback/Tooltip/Tooltip.stories.tsx
  packages/lib-components/src/components/feedback/snacks/Default/default.stories.tsx
  packages/lib-components/src/components/feedback/snacks/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/inputs/CheckBox/CheckBox.stories.tsx
  packages/lib-components/src/components/inputs/CodeField/CodeField.stories.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/FileField/FileField.stories.tsx
  packages/lib-components/src/components/inputs/RadioGroup/RadioGroup.stories.tsx
  packages/lib-components/src/components/inputs/Switch/Switch.stories.tsx
  packages/lib-components/src/components/inputs/TagField/TagField.stories.tsx
  packages/lib-components/src/components/inputs/TextAreaField/TextAreaField.stories.tsx
  packages/lib-components/src/components/inputs/TextField/TextField.stories.tsx
  packages/lib-components/src/components/inputs/ValueConfirmationField/ValueConfirmationField.stories.tsx
  packages/lib-components/src/components/inputs/selects/SelectField/SelectField.stories.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/SelectQueryField.stories.tsx
  packages/lib-components/src/components/navigation/Steppers/SlimStepper/Stepper.stories.tsx
  packages/lib-components/src/components/navigation/Steppers/Stepper/Stepper.stories.tsx
  packages/lib-components/src/components/other/ActionMenu/ActionMenu.stories.tsx
  packages/lib-components/src/components/other/Empty/Empty.stories.tsx
  packages/lib-components/src/components/other/PermissionsGuard/PermissionsGuard.stories.tsx
Due: eslint --fix, prettier --write

fix(web-main): race condition between session data and queryclient
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

refactor(lib-components): improve styling consistency of <Alert/>
  packages/lib-components/src/components/feedback/Alert/Alert.stories.tsx
  packages/lib-components/src/components/feedback/Alert/__snapshots__/Alert.test.tsx.snap
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
Due: eslint --fix, prettier --write

chore(web-main): add radix to parseInt
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

chore(web-main): add missing useEffect dependencies
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/logout.tsx
Due: eslint --fix, prettier --write
