Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: use correct regex as a default value when creating hooks
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

fix: some ory styling
  packages/web-main/src/App.tsx
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/pages/auth/recovery.tsx
Due: eslint --fix, prettier --write

chore: run prettier
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-email/src/main.ts
  packages/lib-email/src/send.ts
  packages/lib-email/src/templates.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: set kratos logging back to debug
  containers/ory/kratos/kratos.yml
Due: none

chore: disable verification
  containers/ory/kratos/kratos.yml
Due: none

fix: disable recovery codes
  containers/ory/kratos/kratos.yml
Due: none

fix: styling changes for ory components
  packages/web-main/src/App.tsx
  packages/web-main/src/pages/auth/profile.tsx
  packages/web-main/src/pages/auth/recovery.tsx
Due: eslint --fix, prettier --write

fix: only create/delete lambda if lambda mode is enabled
  packages/app-api/src/service/DomainService.ts
  packages/app-vmm/src/config.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/lib-config/src/main.ts
Due: eslint --fix, prettier --write

chore: run prettier
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

ci: automatically fix prettier issues
  .github/workflows/codestyle.yml
Due: none

ci: insert style error to test auto-fixer
  packages/app-api/src/main.ts
Due: eslint --fix, prettier --write

ci: refactor autofix job a bit
  .github/workflows/codestyle.yml
Due: none

fix: code style
  packages/app-api/src/main.ts
Due: eslint --fix, prettier --write

fix: only create/delete lambda if lambda mode is enabled (#485)
  packages/app-api/src/service/DomainService.ts
  packages/app-vmm/src/config.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/lib-config/src/main.ts
Due: eslint --fix, prettier --write

fix: use correct regex as a default value when creating hooks (#484)
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

fix: always return message in API output when error
  packages/lib-http/src/util/apiResponse.ts
  packages/lib-util/src/errors.ts
  packages/test/src/__snapshots__/HookController/Rejects catastrophic exponential-time regexes.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with invalid system config - not json.json
  packages/test/src/__snapshots__/ModuleController/Does not allow creating modules with "builtin" parameter set.json
  packages/test/src/__snapshots__/RoleController/Delete with invalid ID.json
  packages/test/src/__snapshots__/RoleController/Get by ID with invalid ID.json
  packages/test/src/__snapshots__/RoleController/Update by ID with invalid ID.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Rejects numbers as input.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
Due: eslint --fix, prettier --write

ci: use app to commit
  .github/workflows/codestyle.yml
Due: none

ci: do not override git config when comitting
  .github/workflows/codestyle.yml
Due: none

ci: use app email and name to make commit
  .github/workflows/codestyle.yml
Due: none

ci: automatically fix prettier issues (#486)
  .github/workflows/codestyle.yml
Due: none

chore: handle logging of 7d2d http requests better (#482)
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-http/src/util/apiResponse.ts
  packages/lib-util/src/errors.ts
  packages/lib-util/src/logger.ts
  packages/test/src/__snapshots__/HookController/Rejects catastrophic exponential-time regexes.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with invalid system config - not json.json
  packages/test/src/__snapshots__/ModuleController/Does not allow creating modules with "builtin" parameter set.json
  packages/test/src/__snapshots__/RoleController/Delete with invalid ID.json
  packages/test/src/__snapshots__/RoleController/Get by ID with invalid ID.json
  packages/test/src/__snapshots__/RoleController/Update by ID with invalid ID.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Rejects numbers as input.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
Due: eslint --fix, prettier --write

ci: re-add retry for node ci
  .github/workflows/docker.yml
Due: none

ci: re-add retry for node ci (#488)
  .github/workflows/docker.yml
Due: none

fix: some issues with 7d2d reachbility tests
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
Due: eslint --fix, prettier --write

Fix: readonly commandconfig field + do not show remove argument on readonly
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/style.ts
Due: eslint --fix, prettier --write

Fix: hide context on readonly
  packages/web-main/src/components/modules/FileExplorer/Directory.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
Due: eslint --fix, prettier --write

Feat: use native monaco context menu
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

Feat: sort files alphabetically
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

Feat: add disabled visuals to menu item
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
Due: eslint --fix, prettier --write

Fix: set type to text so it has the correct role
  packages/lib-components/src/components/inputs/EditableField/index.tsx
Due: eslint --fix, prettier --write

chore: set correct tree roles on collapseList
  packages/lib-components/src/components/other/CollapseList/index.tsx
Due: eslint --fix, prettier --write

Feat: add bunch of tests to studio logic
  packages/e2e/src/web-main/fixtures/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/fixtures/StudioPage.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
Due: eslint --fix, prettier --write

chore: add few tests that need to be implemented
  packages/e2e/src/web-main/pages/studio.spec.ts
Due: eslint --fix, prettier --write

fix: issue with subquerying
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write

fix: some issues with 7d2d reachbility tests (#489)
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
Due: eslint --fix, prettier --write

Fix: incorrect fn call
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write
