Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: re-enable retries in CI
  scripts/integration-tests.mjs
Due: none

chore: delete some debug info
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: waypoint tests
  packages/app-api/src/executors/executeFunction.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
Due: eslint --fix, prettier --write

fix: snapshots for playercontroller test
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: eslint --fix, prettier --write

chore: change renovate base branch
  renovate.json
Due: none

chore: run ci on github again
  .github/workflows/docker.yml
Due: none

Run CI on Github again (#1104)
  .github/workflows/docker.yml
Due: none

feat: add steam level to player output
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-db/src/migrations/sql/20240816171220-player-steam-level.ts
Due: eslint --fix, prettier --write

fix: test snapshots
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: none

chore: add release drafter
  .github/release-drafter.yaml
  .github/workflows/release-drafter.yml
Due: none

Add release drafter (#1106)
  .github/release-drafter.yaml
  .github/workflows/release-drafter.yml
Due: none

Add steam level to player output (#1105)
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-db/src/migrations/sql/20240816171220-player-steam-level.ts
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: eslint --fix, prettier --write

chore: rename release drafter config file
  .github/release-drafter.yml
Due: none

chore: separate section for renovate in changelog
  .github/release-drafter.yml
  renovate.json
Due: none

chore: add skip-changelog label
  .github/release-drafter.yml
Due: none

ci: add workflow to automatically create dev to main PRs
  .github/workflows/dev-to-main-pr.yml
Due: none

ci: add bot auth to PR action
  .github/workflows/dev-to-main-pr.yml
Due: none

ci: config changes to PR action
  .github/workflows/dev-to-main-pr.yml
Due: none

ci: do not run code style fix on renovate branches
  .github/workflows/codestyle.yml
Due: none

chore: use takaro ci bot for releases
  .github/workflows/release-drafter.yml
Due: none

ci: adjust release npm script
  package.json
Due: none

chore: improve and fix local compose setup
  containers/ory/kratos/kratos.yml
  deploy/compose/docker-compose.yaml
  deploy/compose/docker-compose.yml
  packages/web-docs/pages/advanced/self-hosting.mdx
Due: none

chore: remove dangling hydra config
  containers/ory/hydra/hydra.yml
Due: none

0.0.5
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: trailing docs version
  packages/web-docs/package-lock.json
Due: none

chore: use docker metadata to add tags and labels to containers
  .github/workflows/docker.yml
Due: none

chore: add more triggers for docker builds
  .github/workflows/docker.yml
Due: none

chore: reduce how many jobs get created
  .github/workflows/docker.yml
Due: none

chore: add caching to builds
  .github/workflows/docker.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
