Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: ESM issue in e2e tests
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/test/src/setups/modulesSetup.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

feat: add player data to me call
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: make api client generation smoother
  packages/lib-apiclient/package.json
  scripts/wait-until-healthy.mjs
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: implement gameserver disabled backend logic
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/__snapshots__/GameServerController/Update.json
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: setup for github pages
  packages/web-docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

Chore: add robots.txt to docs
  packages/web-docs/static/robots.txt
Due: none

ci: build docs
  .github/workflows/builds.yml
Due: none

deps: add discord-api-types
  package-lock.json
  package.json
Due: none

Fix(deps): knex not found in app-api
  package-lock.json
  package.json
  packages/app-api/tsconfig.build.json
  packages/lib-db/package.json
Due: none

Chore: disable storybook telemetry collection
  .storybook/main.ts
Due: eslint --fix, prettier --write

ci: use node 20
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
Due: none

deps: get rid of rc-slider entirely
  .storybook/preview.tsx
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/inputs/Slider/Controlled.tsx
  packages/lib-components/src/components/inputs/Slider/Generic.tsx
  packages/lib-components/src/components/inputs/Slider/Slider.stories.tsx
  packages/lib-components/src/components/inputs/Slider/handle.tsx
  packages/lib-components/src/components/inputs/Slider/index.tsx
  packages/lib-components/src/components/inputs/Slider/style.ts
  packages/lib-components/src/components/inputs/index.ts
  packages/web-main/src/components/JsonSchemaForm/widgets/RangeWidget.stories.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/RangeWidget.tsx
  packages/web-main/src/index.tsx
Due: eslint --fix, prettier --write

fix: incorrect version of upload-pages-artifact
  .github/workflows/deploy-docs.yml
Due: none

deps: remove unused
  package-lock.json
  package.json
Due: none

deps: get rid of bloat eslint rules
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

Fix: fields can be nullish
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Chore: for some reason npx can't find concurrently
  package-lock.json
  package.json
Due: none

Fix: can no longer filter on value + can now order by UpdatedAt
  packages/web-main/src/routes/_auth/_global/variables.tsx
Due: eslint --fix, prettier --write

Fix: create update not happy with null
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

Fix: node requires explicit return type
  packages/lib-http/src/app.ts
Due: eslint --fix, prettier --write

chore: add some tests for old bug
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
Due: eslint --fix, prettier --write

feat: add ability to filter by gameserver ID
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add API route to fetch members of a role
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: support pagination in getMembers API call
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/controllers/shared.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: add missing intlprovider
  packages/web-main/src/App.tsx
Due: eslint --fix, prettier --write

deps: bump tanstack router to fix first page load after login error
  package-lock.json
  packages/web-main/package.json
Due: none

chore: automatically update development branch with main changes
  .github/workflows/dev-to-main-pr.yml
Due: none

regen lockfile
  package-lock.json
Due: none

fix: docs deploy job
  .github/workflows/deploy-docs.yml
Due: none

fix: when dev main promotion runs
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: add commit to api docs
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

feat: allow configuring admin auth in api docs
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

fix: ensure dev update happens as the Takaro CI bot
  .github/workflows/dev-to-main-pr.yml
Due: none

Refactor: move back to docusaurus
  package-lock.json
  packages/web-docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

docs: running integration tests for specific docker tag
  packages/web-docs/docs/development/common-tasks/running-tests.md
Due: none

docs: how-to run e2e local based on containers
  packages/web-docs/docs/development/common-tasks/running-tests.md
Due: none

Fix(deps): knex not found in app-api
  package.json
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
