Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Fix(deps): knex not found in app-api
  package-lock.json
  package.json
  packages/app-api/tsconfig.build.json
  packages/lib-db/package.json
Due: none

Chore: disable storybook telemetry collection
  .storybook/main.ts
Due: eslint --fix, prettier --write

Chore: get rid of old paginationmiddleware
  packages/lib-http/src/app.ts
  packages/lib-http/src/main.ts
  packages/lib-http/src/middleware/__tests__/paginationMiddleware.unit.test.ts
  packages/lib-http/src/middleware/paginationMiddleware.ts
Due: eslint --fix, prettier --write

deps: get rid of rc-slider entirely
  .storybook/preview.tsx
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/inputs/Slider/Controlled.tsx
  packages/lib-components/src/components/inputs/Slider/Generic.tsx
  packages/lib-components/src/components/inputs/Slider/Slider.stories.tsx
  packages/lib-components/src/components/inputs/Slider/handle.tsx
  packages/lib-components/src/components/inputs/Slider/index.tsx
  packages/lib-components/src/components/inputs/Slider/style.ts
  packages/lib-components/src/components/inputs/index.ts
  packages/web-main/src/components/JsonSchemaForm/widgets/RangeWidget.stories.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/RangeWidget.tsx
  packages/web-main/src/index.tsx
Due: eslint --fix, prettier --write

ci: use node 20
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
Due: none

fix: incorrect version of upload-pages-artifact
  .github/workflows/deploy-docs.yml
Due: none

deps: remove unused
  package-lock.json
  package.json
Due: none

deps: get rid of bloat eslint rules
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

Refactor: rate-limiter-flexible now supports redis 4 (non legacy)
  packages/lib-http/src/middleware/rateLimit.ts
Due: eslint --fix, prettier --write

Chore: for some reason npx can't find concurrently
  package-lock.json
  package.json
Due: none

Fix: can no longer filter on value + can now order by UpdatedAt
  packages/web-main/src/routes/_auth/_global/variables.tsx
Due: eslint --fix, prettier --write

Fix: fields can be nullish
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Fix: create update not happy with null
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

Fix: node requires explicit return type
  packages/lib-http/src/app.ts
Due: eslint --fix, prettier --write

Fix: omit connectionoptions from extraBullOpts
  packages/lib-queues/src/TakaroWorker.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write

Fix: connection is now a required in workerOptions
  packages/lib-queues/src/TakaroWorker.ts
Due: eslint --fix, prettier --write

Chore: add details about memory commit
  docker-compose.yml
Due: none

Fix: add back default empty obj
  packages/lib-queues/src/TakaroWorker.ts
Due: eslint --fix, prettier --write

Chore(deps): use new updateData fn
  packages/app-api/src/workers/csmmImportWorker.ts
Due: eslint --fix, prettier --write

feat: add API route to fetch members of a role
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: support pagination in getMembers API call
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/controllers/shared.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add ability to filter by gameserver ID
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add some tests for old bug
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
Due: eslint --fix, prettier --write

deps: bump tanstack router to fix first page load after login error
  package-lock.json
  packages/web-main/package.json
Due: none

Chore: add missing intlprovider
  packages/web-main/src/App.tsx
Due: eslint --fix, prettier --write

wip: gameserver enable
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240906125101-gameserver-enable.ts
  packages/web-main/src/components/selects/GameServerSelect/GameServerSelect.stories.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/ItemSelectQuery.stories.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
  packages/web-main/src/routes/_auth/_global/gameservers.update.$gameServerId.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: always sending enabled=true on API reqs
  packages/web-main/src/routes/_auth/_global/gameservers.update.$gameServerId.tsx
Due: eslint --fix, prettier --write

feat: new status chip for disabled server
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
Due: eslint --fix, prettier --write
