Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: ugly hack to get typedoc generation working
  package-lock.json
  package.json
  typedoc.config.js
Due: eslint --fix, prettier --write

0.1.4
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: use redis caching for pog inventory data
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

perf: fix N+1 query problem in PlayerOnGameServerRepo.find()
  packages/app-api/src/db/playerOnGameserver.ts
Due: eslint --fix, prettier --write

perf: optimize platform ID queries in resolveRef
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/Player/index.ts
Due: eslint --fix, prettier --write

feat: add database indexes for player and POG lookups
  packages/lib-db/src/migrations/sql/20250702181214-platform-id-and-pog-indexes.ts
Due: eslint --fix, prettier --write

perf: batch role expiry handling to reduce database queries
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/Player/index.ts
Due: eslint --fix, prettier --write

chore: add test helper scripts for improved developer experience
  README.md
  package.json
  scripts/test-check.sh
  scripts/test-file.sh
  scripts/test-package.sh
  scripts/test-runner.sh
Due: none

refactor: eliminate test:base script and consolidate test logic
  package.json
  scripts/test-runner.sh
Due: none

chore: remove config via env vars
  scripts/test-package.sh
Due: none

fix: db relationship name
  packages/app-api/src/db/player.ts
Due: eslint --fix, prettier --write

fix: executable bits on test scripts
  scripts/test-check.sh
  scripts/test-file.sh
  scripts/test-package.sh
Due: none

feat: informational message on login page to help players find their way
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

0.1.5
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: enhance shop purchase events with detailed item information
  packages/app-api/src/service/Shop/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write

wip: event page refactor
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/events/EventFeed/index.tsx
  packages/web-main/src/hooks/useEventGrouping.ts
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/utils/eventFormatters.ts
  packages/web-main/src/utils/eventIcons.ts
  tasks/prd-events-page-rewrite.md
  tasks/tasks-prd-events-page-rewrite.md
Due: eslint --fix, prettier --write

feat: add IP address tracking to PlayerOnGameserver model
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-db/src/migrations/sql/20250703175326-add-ip-to-player-on-gameserver.ts
Due: eslint --fix, prettier --write

fix: add helpful error messages when wrong ID type is used in tracking endpoints
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/service/Tracking/index.ts
Due: eslint --fix, prettier --write

fix: correct item quantity calculation when claiming shop orders with multiple amounts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

fix: update test to use correct player reference
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
Due: eslint --fix, prettier --write

feat: better test assertion
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
Due: eslint --fix, prettier --write

Better test assertion
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
Due: eslint --fix, prettier --write

fix: replace Unicode flag emojis with SVG flags for cross-browser compatibility
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/visual/Flag/index.tsx
  packages/lib-components/src/components/visual/index.ts
Due: eslint --fix, prettier --write

security: use HTTPS for flag icon URLs
  packages/lib-components/src/components/visual/Flag/index.tsx
Due: eslint --fix, prettier --write

security: use HTTPS for flag icons in CountrySelectField
  packages/web-main/src/components/selects/CountrySelectField/index.tsx
Due: eslint --fix, prettier --write

feat: add IP and Steam ID link components with copy functionality
  packages/lib-components/src/components/actions/ExternalLink/ExternalLink.stories.tsx
  packages/lib-components/src/components/actions/ExternalLink/index.tsx
  packages/lib-components/src/components/actions/index.ts
  packages/lib-components/src/components/data/IpLink/IpLink.stories.tsx
  packages/lib-components/src/components/data/IpLink/index.tsx
  packages/lib-components/src/components/data/SteamIdLink/SteamIdLink.stories.tsx
  packages/lib-components/src/components/data/SteamIdLink/index.tsx
  packages/lib-components/src/components/data/index.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

fix: update Storybook files to match existing format
  packages/lib-components/src/components/actions/ExternalLink/ExternalLink.stories.tsx
  packages/lib-components/src/components/data/IpLink/IpLink.stories.tsx
  packages/lib-components/src/components/data/SteamIdLink/SteamIdLink.stories.tsx
Due: eslint --fix, prettier --write

fix: implement database-level locking to prevent shop claim race condition
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopOrder.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

fix: improve shop claim race condition handling and add delivery failure tracking
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrderRaceCondition.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor: improve type safety by replacing 'any' with Knex.Transaction type
  packages/app-api/src/db/shopOrder.ts
Due: eslint --fix, prettier --write

test: update frontend component snapshots and add testing documentation
  CLAUDE.md
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/web-docs/docs/development/common-tasks/running-tests.md
Due: none

fix: correct docs build output directory in deploy workflow
  .github/workflows/deploy-docs.yml
Due: none

feat: add PR list to development→main merge requests
  .github/workflows/dev-to-main-pr.yml
Due: none

feat: add investigation links for player IP addresses and Steam IDs
  packages/web-main/src/components/InvestigationLink.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

fix: resolve workflow errors in dev-to-main PR generation
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: filter automated merge PRs from development→main workflow
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: resolve TypeScript errors and complete CopyId external link feature
  packages/lib-components/src/components/data/CopyId/index.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

feat: enhance PR list with categorization and improved filtering
  .github/workflows/dev-to-main-pr.yml
Due: none

refactor: massively simplify PR list generation logic
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: remove concurrency setting from docs deployment workflow
  .github/workflows/deploy-docs.yml
Due: none
