Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: add <EmptyChart/>
  packages/lib-components/src/components/charts/AreaChart/index.tsx
  packages/lib-components/src/components/charts/BarChart/index.tsx
  packages/lib-components/src/components/charts/EmptyChart.tsx
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/charts/Heatmap/index.tsx
  packages/lib-components/src/components/charts/LineChart/index.tsx
  packages/lib-components/src/components/charts/PieChart/index.tsx
  packages/lib-components/src/components/charts/RadarChart/index.tsx
  packages/lib-components/src/components/charts/RadialBarChart/index.tsx
  packages/lib-components/src/components/charts/RadialLineChart/index.tsx
Due: eslint --fix, prettier --write

Feat: add client side pagination support to table
  packages/lib-components/src/components/data/Table/index.tsx
Due: eslint --fix, prettier --write

refactor: built in module docs
  packages/lib-modules/scripts/buildBuiltinJson.ts
  packages/web-docs/docs/advanced/modules.md
  packages/web-docs/docs/built-in-modules.mdx
  packages/web-docs/docs/economy.md
  packages/web-docs/docs/how-to-guides/Install-teleports.md
  packages/web-docs/docs/how-to-guides/install-geoblock.md
  packages/web-docs/docs/introduction.md
  packages/web-docs/docs/modules/_category_.json
  packages/web-docs/docs/modules/chatBridge.mdx
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/geoBlock.mdx
  packages/web-docs/docs/modules/gimme.mdx
  packages/web-docs/docs/modules/helpers.js
  packages/web-docs/docs/modules/highPingKicker.mdx
  packages/web-docs/docs/modules/lottery.mdx
  packages/web-docs/docs/modules/modules.json
  packages/web-docs/docs/modules/overview.mdx
  packages/web-docs/docs/modules/playerOnboarding.mdx
  packages/web-docs/docs/modules/serverMessages.mdx
  packages/web-docs/docs/modules/teleports.mdx
  packages/web-docs/docs/modules/timedShutdown.mdx
  packages/web-docs/docs/modules/utils.mdx
Due: eslint --fix, prettier --write

fix: an issue in how 7d2d reports bans
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

refactor: ban controller routing
  packages/app-api/src/controllers/BanController.ts
  packages/app-api/src/service/Ban/dto.ts
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/__tests__/BanService.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-apiclient/src/lib/client.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add deprecated notice to old ban endpoints and migrate old usage
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-modules/src/modules/geoBlock/hooks/IPDetected.js
Due: eslint --fix, prettier --write

fix: some issue detecting bans on Rust
  packages/lib-gameserver/src/gameservers/rust/index.ts
Due: eslint --fix, prettier --write

fix: some unit tests broke in 7d2d
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dActions.unit.test.ts
Due: eslint --fix, prettier --write

fix: issue using ingame shop when not linked
  packages/app-api/src/service/Shop/index.ts
  packages/lib-modules/src/__tests__/economy/shop.integration.test.ts
Due: eslint --fix, prettier --write

fix: when you switch domain, you get an error on the main dashboard page.
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

fix: cannot switch to current domain
  packages/web-main/src/routes/_auth/domain.select.tsx
Due: eslint --fix, prettier --write

fix: show that domain is disabled in domain select
  packages/web-main/src/routes/_auth/domain.select.tsx
Due: eslint --fix, prettier --write

fix: improve flow when logging in and there are disabled domains in play
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/service/AuthService.ts
Due: eslint --fix, prettier --write

fix: docs link on ErrorPage
  packages/lib-components/src/components/feedback/ErrorPage/index.tsx
Due: eslint --fix, prettier --write

fix: after updating a role, UI was showing old, incorrect version of the role
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

fix: better error message to user when we cannot determine domain
  packages/app-api/src/service/AuthService.ts
Due: eslint --fix, prettier --write

feat: add daily rewards module
  packages/app-api/src/domainInit.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/dailyRewards/commands/daily.js
  packages/lib-modules/src/modules/dailyRewards/commands/streak.js
  packages/lib-modules/src/modules/dailyRewards/commands/topstreak.js
  packages/lib-modules/src/modules/dailyRewards/functions/utils.js
  packages/lib-modules/src/modules/dailyRewards/hooks/dailyLoginCheck.js
  packages/lib-modules/src/modules/dailyRewards/index.ts
Due: eslint --fix, prettier --write

cleanup: use dynamic prefix for message replies
  packages/lib-modules/src/modules/dailyRewards/commands/streak.js
  packages/lib-modules/src/modules/dailyRewards/hooks/dailyLoginCheck.js
Due: eslint --fix, prettier --write

fix: add fallback when shop listing has no items attached
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
Due: eslint --fix, prettier --write

fix: add better error handler for CSMM import when checking CPM compatibility
  packages/app-api/src/workers/csmmImportWorker.ts
Due: eslint --fix, prettier --write

chore: add takaro-specific short url for discord invite
  packages/web-docs/docs/advanced/custom-modules.md
Due: none

fix: linter
  packages/lib-modules/src/modules/dailyRewards/index.ts
Due: eslint --fix, prettier --write

fix: an issue with prefix fetching in streak cmd
  packages/lib-modules/src/modules/dailyRewards/commands/streak.js
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

wip
  eslint.config.mjs
  package-lock.json
  package.json
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/hooks/useLockScroll.ts
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/hooks/useSocket.ts
  packages/web-main/src/queries/setting.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

fix: role update/view not showing permissions correctly
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Fix: select query in drawer, not rendered in portal
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
Due: eslint --fix, prettier --write

fix: some supertest breakage after update
  packages/app-api/src/middlewares/__tests__/adminAuth.unit.test.ts
  packages/lib-http/src/controllers/__tests__/meta.integration.test.ts
  packages/lib-http/src/middleware/__tests__/rateLimit.integration.test.ts
Due: eslint --fix, prettier --write

wip
  packages/lib-components/src/components/charts/PieChart/PieChart.stories.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/components/inputs/Date/subcomponents/TimePicker/index.tsx
  packages/lib-components/src/hooks/useLockScroll.ts
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/hooks/useSocket.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/-module-builder/useModuleBuilderStore.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.console.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
Due: eslint --fix, prettier --write

fix: type issues with express
  packages/lib-http/src/middleware/errorHandler.ts
  packages/lib-http/src/middleware/logger.ts
Due: eslint --fix, prettier --write

fix: add sinon to renovate automerge
  renovate.json
Due: none

feat: more perf indexes
  packages/lib-db/src/migrations/sql/20241030130613-index-for-roleId.ts
Due: eslint --fix, prettier --write

fix: down migration
  packages/lib-db/src/migrations/sql/20241030130613-index-for-roleId.ts
Due: eslint --fix, prettier --write

updated chatBridge guide
  packages/web-docs/assets/images/chatBridge/chatBridge_1_Takaro_settings.png
  packages/web-docs/assets/images/chatBridge/chatBridge_3_Discord_bot.png
  packages/web-docs/assets/images/chatBridge/chatBridge_4_DiscordChannelID.png
  packages/web-docs/assets/images/chatBridge/chatBridge_5_Module_Channelid.png
  packages/web-docs/assets/images/chatBridge/chatbridge_2_Takaro_Discord.png
  packages/web-docs/assets/images/faq/roles-module-permissions.png
  packages/web-docs/docs/modules/chatBridge.mdx
Due: none

built in modules docs updated with more use cases and explanations
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/geoBlock.mdx
  packages/web-docs/docs/modules/gimme.mdx
  packages/web-docs/docs/modules/highPingKicker.mdx
  packages/web-docs/docs/modules/lottery.mdx
  packages/web-docs/docs/modules/playerOnboarding.mdx
  packages/web-docs/docs/modules/serverMessages.mdx
  packages/web-docs/docs/modules/teleports.mdx
  packages/web-docs/docs/modules/timedShutdown.mdx
  packages/web-docs/docs/modules/utils.mdx
Due: none

fixed player var issue
  packages/web-docs/docs/modules/playerOnboarding.mdx
Due: none

Feat: map now shows more vibrant colors for higher numbers
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
Due: eslint --fix, prettier --write

fix: handle quality for shop import from CSMM better
  packages/app-api/src/controllers/__tests__/CSMMImport.integration.test.ts
  packages/app-api/src/workers/csmmImportWorker.ts
Due: eslint --fix, prettier --write

fix: remove assertion for shop import
  packages/app-api/src/controllers/__tests__/CSMMImport.integration.test.ts
Due: eslint --fix, prettier --write

chore: add dailyRewards docs page
  packages/web-docs/docs/modules/dailyRewards.mdx
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
