Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: prevent pr_body.txt from being committed to repository
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: correct property name in shop order test
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
Due: eslint --fix, prettier --write

feat: add auto-scroll functionality to chat messages
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/ChatMessage.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/useChatAutoScroll.ts
Due: eslint --fix, prettier --write

fix: use non-mutating array reversal for proper message order
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
Due: eslint --fix, prettier --write

fix: update frontend snapshots for styled-components class name changes
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: none

feat: add recipient display to chat messages
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/ChatMessage.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: remove unused InvestigationLink component
  packages/web-main/src/components/InvestigationLink.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

feat: add domainName setting to allow custom domain display names
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Setting for gameserver multiple times overwrites properly.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: complete Cron component implementation
  packages/lib-components/src/components/inputs/Cron/Generic.tsx
  packages/lib-components/src/components/inputs/Cron/converter.test.ts
  packages/lib-components/src/components/inputs/Cron/converter.ts
Due: eslint --fix, prettier --write

feat: add comprehensive players dashboard to game server
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
Due: eslint --fix, prettier --write

fix: ts errors
  packages/app-api/src/service/SettingsService.ts
Due: eslint --fix, prettier --write

test: add Playwright tests for domain name override feature
  packages/e2e/src/web-main/views/domainNameOverride.spec.ts
Due: eslint --fix, prettier --write

fix: better test selector
  packages/e2e/src/web-main/views/domainNameOverride.spec.ts
Due: eslint --fix, prettier --write

feat: add players page to nav
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write

fix: stat cards
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write

feat: add player name search functionality to game server players dashboard
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write

fix: use queryParamsToArray for proper query key serialization in playersOnGameServersQueryOptions
  packages/web-main/src/queries/pog.tsx
Due: eslint --fix, prettier --write

fix: how players table filters
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write

fix: clean up
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write

feat: add extend definitions too all endpoints that support it
  packages/app-api/src/controllers/BanController.ts
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/ItemController.ts
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/db/user.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: hide extend from api endpoints when it's not available
  packages/app-api/src/controllers/DiscordController.ts
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/EntityController.ts
  packages/app-api/src/controllers/Module/installations.ts
  packages/app-api/src/controllers/Module/versions.ts
  packages/app-api/src/controllers/VariableController.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: add info about extend
  packages/lib-http/src/controllers/meta.ts
  packages/web-docs/docs/advanced/api.md
Due: eslint --fix, prettier --write

fix: fill field and then clear to make sure submit button picks up state
  packages/e2e/src/web-main/views/domainNameOverride.spec.ts
Due: eslint --fix, prettier --write

fix: variables was missing an extend
  packages/app-api/src/controllers/VariableController.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: generate api client
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add validation to reject negative currency amounts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative amount for addCurrency.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative amount for deductCurrency.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative amount for transfer.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects zero amount for addCurrency.json
Due: eslint --fix, prettier --write

fix: a borked test
  packages/lib-modules/src/__tests__/economy/economyUtils.integration.test.ts
Due: eslint --fix, prettier --write

fix: cross-server player resolution and remove clonePlayer command
  packages/app-api/src/lib/tryResolvePlayer.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-modules/src/__tests__/crossServerPlayer.integration.test.ts
Due: eslint --fix, prettier --write

feat: add gameserverId parameter to tracking bounding box and radius endpoints
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/Tracking/dto.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add automatic TypeScript checking before running tests
  package.json
  scripts/test-file.sh
  scripts/test-package.sh
  scripts/test-runner.sh
  scripts/typecheck-tests.sh
Due: none

wip map
  package-lock.json
  package.json
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/PlayerDeathLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/PlayerLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/TeleportLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-Map/TileLayer.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.map.tsx
  packages/web-main/tsconfig.json
Due: eslint --fix, prettier --write

fix: skip TypeScript checking for Vitest-based workspace tests
  scripts/test-runner.sh
Due: none

refactor: extract API client generation to centralized script
  packages/lib-apiclient/fix-esm.sh
  packages/lib-apiclient/package.json
  scripts/generate-api-client.sh
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: run linter & formatter after generating api client
  scripts/generate-api-client.sh
Due: none

chore: generate client
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add ban created/deleted events
  packages/app-api/src/service/Ban/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write

refactor: remove old gameserver and refactor command system
  packages/app-mock-gameserver/src/__tests__/commands.unit.test.ts
  packages/app-mock-gameserver/src/__tests__/gameserver.integration.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/BanCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/ConnectAllCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/CreatePlayerCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/DisconnectAllCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/SetPlayerDataCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/UnbanCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/player/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/registry.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/simulation/StartSimulationCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/simulation/StopSimulationCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/simulation/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/system/HelpCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/system/SayCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/system/VersionCommand.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/system/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/commands/types.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: ensure playerBanned event shows in frontend
  packages/app-api/src/service/Ban/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

test: add event assertions to BanService integration tests
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/__tests__/BanService.integration.test.ts
Due: eslint --fix, prettier --write
