Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: correct heatmap day indexing and add realistic time distribution to test data
  packages/app-api/src/service/Shop/ShopAnalyticsService.ts
  scripts/shop-data.mjs
Due: eslint --fix, prettier --write

feat: enhance shop analytics UI and remove currency symbols
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/RevenueCharts.tsx
Due: eslint --fix, prettier --write

fix: improve shop analytics chart layouts to prevent overlapping
  packages/lib-components/src/components/charts/echarts/EChartsPie.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
Due: eslint --fix, prettier --write

feat: enhance shop data script to generate full year of data with seasonal patterns
  scripts/shop-data.mjs
Due: none

refactor: change customer segmentation from order count to time-based frequency analysis
  packages/app-api/src/service/Shop/ShopAnalyticsService.ts
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
Due: eslint --fix, prettier --write

feat: add clickable dead stock dialog to show products with no sales
  packages/app-api/src/service/Shop/ShopAnalyticsService.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: implement nested sidebar navigation with Analytics parent and Shop child
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/Navbar/renderLink.tsx
  packages/web-main/src/components/Navbar/style.ts
Due: eslint --fix, prettier --write

fix: implement period-based caching for shop analytics
  packages/app-api/src/controllers/AnalyticsController.ts
  packages/app-api/src/service/Shop/ShopAnalyticsService.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/components/selects/TimePeriodSelectField.tsx
  packages/web-main/src/queries/analytics.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: mcp connection
  docker-compose.yml
Due: none

fix: resolve shop analytics chart update issues on period change
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-components/src/components/charts/echarts/EChartsBase.tsx
  packages/web-main/src/components/selects/TimePeriodSelectField.tsx
  packages/web-main/src/queries/analytics.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor: simplify analytics navigation with tabbed layout
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/Navbar/style.ts
  packages/web-main/src/routes/_auth/_global/analytics.tsx
  packages/web-main/src/routes/_auth/_global/analytics/index.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/InsightsBar.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics/shop/-components/RevenueCharts.tsx
Due: eslint --fix, prettier --write

fix: resolve reset currency endpoint issues
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

test: update shop analytics tests for period-based API
  packages/app-api/src/controllers/__tests__/Analytics/ShopAnalytics.integration.test.ts
  packages/app-api/src/service/Shop/__tests__/ShopAnalyticsService.unit.test.ts
Due: eslint --fix, prettier --write

chore: remove inventory cache debug log lines
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

test: update snapshots to include hasPassword field from auth refactor
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
Due: none

fix: update login button selectors in auth e2e tests to avoid ambiguity
  packages/e2e/src/web-main/auth.spec.ts
Due: eslint --fix, prettier --write

fix: prevent dialog clicks from triggering card navigation and add comprehensive tests
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/web-main/src/components/cards/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

chore: exclude .openapi-generator from version control
  .gitignore
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove automatic refresh from shop analytics page
  packages/web-main/src/queries/analytics.tsx
Due: eslint --fix, prettier --write

fix: remove a unnecessary dynamic import
  packages/app-api/src/service/Player/index.ts
Due: eslint --fix, prettier --write

refactor: move shop analytics index migration to correct location
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/db/migrations/sql/20250815-optimize-shop-analytics-indexes.sql
  packages/app-api/src/service/Module/index.ts
  packages/lib-db/src/migrations/sql/20250815120000-optimize-shop-analytics-indexes.ts
Due: eslint --fix, prettier --write

fix: config for tests
  packages/app-api/src/controllers/__tests__/Analytics/ShopAnalytics.integration.test.ts
Due: eslint --fix, prettier --write

test: fix failing shop analytics tests and improve assertions
  packages/app-api/src/controllers/__tests__/Analytics/ShopAnalytics.integration.test.ts
Due: eslint --fix, prettier --write

refactor: eliminate query duplication in ShopAnalyticsService
  packages/app-api/src/service/Shop/ShopAnalyticsService.ts
Due: eslint --fix, prettier --write

test: add comprehensive test for shop analytics game server filtering
  packages/app-api/src/controllers/__tests__/Analytics/ShopAnalytics.integration.test.ts
Due: eslint --fix, prettier --write

fix: use specific role locators in variables e2e tests to avoid strict mode violations
  packages/e2e/src/web-main/views/variables.spec.ts
Due: eslint --fix, prettier --write

fix: remove duplicate quantity field from inventory items in API responses
  packages/app-api/src/db/playerOnGameserver.ts
Due: eslint --fix, prettier --write

wip: tests for openapi examples
  packages/app-api/src/controllers/__tests__/OpenApiExamples.integration.test.ts
Due: eslint --fix, prettier --write

fix: withRelations examples
  packages/app-api/src/controllers/BanController.ts
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/ItemController.ts
  packages/app-api/src/controllers/Module/installations.ts
  packages/app-api/src/controllers/Module/versions.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/Shop/Category.ts
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/VariableController.ts
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

refactor: migrate ShopAnalyticsService insights tests from unit to integration tests
  packages/app-api/src/controllers/__tests__/Analytics/ShopAnalytics.integration.test.ts
  packages/app-api/src/service/Shop/__tests__/ShopAnalyticsService.unit.test.ts
Due: eslint --fix, prettier --write

fix: clean expired variables before create to prevent constraint violations
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/db/variable.ts
Due: eslint --fix, prettier --write

fix: correct OpenAPI examples placement and extend options
  packages/app-api/src/controllers/BanController.ts
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/ItemController.ts
  packages/app-api/src/controllers/Module/installations.ts
  packages/app-api/src/controllers/Module/versions.ts
  packages/app-api/src/controllers/Shop/Category.ts
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/VariableController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: pagination in connector
  packages/app-connector/src/config.ts
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

0.3.4
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

regen lockfile
  package-lock.json
Due: none

fix: lockfile
  package-lock.json
Due: none

0.3.5
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
