Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add small animation + few fixes regarding the divider and grouping + feat: checkbox active styling
  packages/lib-components/src/components/actions/Dropdown/DropdownMenu.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuGroup.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuItem.tsx
Due: eslint --fix, prettier --write

chore: add tooltip support to togglebutton cannot be separate because of child cloning
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButtonGroup.tsx
  packages/lib-components/src/components/actions/ToggleButton/style.ts
Due: eslint --fix, prettier --write

feat: add different sized checkboxes
  packages/lib-components/src/components/inputs/CheckBox/Generic.tsx
  packages/lib-components/src/components/inputs/CheckBox/style.ts
Due: eslint --fix, prettier --write

chore: add some descriptions and default values
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/ConfigField/TypeSpecificFieldsMap.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/ConfigField/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
Due: eslint --fix, prettier --write

deps: react dnd
  package-lock.json
  packages/web-main/package.json
Due: none

chore: replace textfield with textarea for description
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
Due: eslint --fix, prettier --write

chore: wip table implementation
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/ColumnSettings.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
  packages/lib-components/src/styled/types.ts
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write

Fix: typo
  packages/web-main/src/components/studio/CopyModulePopOver.tsx
Due: eslint --fix, prettier --write

Fix: move dot so it aligns with wrapper
  packages/lib-components/src/components/inputs/Switch/Generic.tsx
Due: eslint --fix, prettier --write

Fix: incorrect padding
  packages/lib-components/src/components/actions/DropdownButton/index.tsx
Due: eslint --fix, prettier --write

style: few changes + few fixes
  packages/lib-components/src/components/actions/Dropdown/DropdownMenu.tsx
  packages/lib-components/src/components/data/Drawer/DrawerContent.tsx
  packages/lib-components/src/components/other/CollapseList/index.tsx
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
Due: eslint --fix, prettier --write

Fix: render dialgo outside container so it does not have click event
  packages/web-main/src/components/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

Fix: small thingy + move navbar stuff
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/frames/GameServerFrame.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
Due: eslint --fix, prettier --write

tyle: less vibrant nav
  packages/web-main/src/components/Navbar/index.tsx
Due: eslint --fix, prettier --write

wip: initial changes for role enhancement
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/role.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20230712061220-roles-permissions-extension.ts
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/PlayerController/Assign role to player.json
  packages/test/src/main.ts
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: do not log full error.message on errors
  packages/lib-apiclient/src/lib/baseClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: add info on database migrations
  packages/web-docs/pages/development/database.mdx
Due: none

feat: allow variables to be module-scoped
  packages/app-api/src/controllers/VariableController.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/variable.ts
  packages/app-api/src/service/VariablesService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20230713184927-variables-modulescoped.ts
  packages/test/src/__snapshots__/VariableController/Can query API with gameServerId.json
  packages/test/src/__snapshots__/VariableController/Can query API with playerId.json
  packages/test/src/__snapshots__/VariableController/Create with moduleId.json
  packages/test/src/__snapshots__/VariableController/Get by ID.json
  packages/test/src/__snapshots__/VariableController/Prevents creating duplicate variables with same moduleId.json
  packages/test/src/__snapshots__/VariableController/Same key but different gameServerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key but different playerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same gameServerId and different playerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Same key, same playerId and different gameServerId is allowed.json
  packages/test/src/__snapshots__/VariableController/Update.json
  packages/web-docs/pages/modules.md
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

ci: pin buildkit version
  .github/workflows/docker.yml
Due: none

feat: add index on domain for all relevant tables
  packages/lib-db/src/migrations/sql/20230714045136-domain-index.ts
Due: eslint --fix, prettier --write

feat: add indices on relevant columns for events table
  packages/lib-db/src/migrations/sql/20230714045727-events-index.ts
Due: eslint --fix, prettier --write

chore: add retry logic for e2e tests
  .github/workflows/docker.yml
  scripts/dev-data.mjs
Due: none

chore: prettier
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: initial impl roles frontend
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/roles/RoleCard/index.tsx
  packages/web-main/src/components/roles/RoleCard/style.ts
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/pages/roles/RolesCreate.tsx
  packages/web-main/src/pages/roles/RolesUpdate.tsx
  packages/web-main/src/pages/roles/index.tsx
  packages/web-main/src/pages/roles/style.ts
  packages/web-main/src/pages/roles/validationSchema.tsx
  packages/web-main/src/paths.ts
  packages/web-main/src/queries/roles/index.tsx
  packages/web-main/src/queries/roles/queries.tsx
Due: eslint --fix, prettier --write

chore: add placeholder for managing users and players
  packages/web-main/src/components/roles/RoleCard/index.tsx
Due: eslint --fix, prettier --write

Fix: focus child triggers focus of parent in gameservercard
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/GameServerCard/style.ts
Due: eslint --fix, prettier --write

ory settings recovery stuff
  containers/mailslurper/config.json
  containers/ory/kratos/kratos.yml
  docker-compose.yml
  package-lock.json
  packages/app-api/package.json
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-email/package.json
  packages/lib-email/src/config.ts
  packages/lib-email/src/main.ts
  packages/lib-email/src/send.ts
  packages/lib-email/src/templates.ts
  packages/lib-email/tsconfig.build.json
  packages/lib-email/tsconfig.json
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/hooks/useAuth.ts
  packages/web-main/src/pages/auth/profile.tsx
  packages/web-main/src/pages/auth/recovery.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

fix: issue when installing modules that have empty configs
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

chore: accidentally an import
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

feat: CPM integration for 7d2d
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/getGame.ts
  packages/web-main/src/pages/CreateUpdateGameServer/connectionInfoFieldsMap.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/validationSchema.ts
Due: eslint --fix, prettier --write

chore: add link to CPM
  packages/web-main/src/pages/CreateUpdateGameServer/connectionInfoFieldsMap.tsx
Due: eslint --fix, prettier --write

fix: lib-gameserver build
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

fix: another build error
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

wip: frontend ory profile settings
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/actions/Button/index.tsx
  packages/lib-components/src/components/index.ts
  packages/lib-components/src/components/ory/NodeHidden.tsx
  packages/lib-components/src/components/ory/NodeImage.tsx
  packages/lib-components/src/components/ory/NodeScript.tsx
  packages/lib-components/src/components/ory/NodeText.tsx
  packages/lib-components/src/components/ory/index.tsx
  packages/web-main/src/pages/auth/profile.tsx
Due: eslint --fix, prettier --write

wip: filterfield
  packages/lib-components/src/components/actions/Dropdown/DropdownMenu.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuGroup.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuItem.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterField/FilterField.stories.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterField/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterField/style.ts
Due: eslint --fix, prettier --write

fix: some more gameserver fixes 👼
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
Due: eslint --fix, prettier --write

chore: update snapshot
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
Due: none

feat: implement better API for permissions + implement in frontend
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/db/role.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/permissions.ts
  packages/lib-auth/src/main.ts
  packages/web-main/src/pages/roles/RolesCreate.tsx
  packages/web-main/src/pages/roles/RolesUpdate.tsx
  packages/web-main/src/pages/roles/index.tsx
  packages/web-main/src/pages/roles/validationSchema.tsx
  packages/web-main/src/queries/roles/index.tsx
  packages/web-main/src/queries/roles/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: allow module permissions to be assigned to a role
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/service/ModuleService.ts
  packages/lib-db/src/migrations/sql/20230715102519-module-permissions-extra-fields.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/modules/teleports/index.ts
Due: eslint --fix, prettier --write

wip: initial implementation filtering
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/data/Table/Context.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/ColumnSettings.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/tokenizer.spec.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/tokenizer.ts
  packages/lib-components/src/components/data/Table/subcomponents/FilterField/FilterField.stories.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterField/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterField/style.ts
  packages/lib-components/src/components/data/Table/useTable.tsx
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
