Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a redirect issue on profile page
  containers/kratos/config/kratos.yml
Due: none

feat: implement Discord unlink from both Ory and Takaro
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/service/User/index.ts
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
Due: eslint --fix, prettier --write

feat: enhance module-updated event with detailed change metadata
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/FunctionService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/Module/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
Due: eslint --fix, prettier --write

refactor: eliminate circular dependency between lib-queues and app-api
  packages/app-api/src/config.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/executors/executeLocal.ts
  packages/app-api/src/lib/commandParser.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/app-api/src/workers/QueueService.ts
  packages/app-api/src/workers/commandWorker.ts
  packages/app-api/src/workers/cronjobWorker.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/dataDefinitions.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-api/src/workers/hookWorker.ts
  packages/app-api/src/workers/kpiWorker.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/app-api/src/workers/queuesConfig.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/app-api/src/workers/systemWorkerDefinitions.ts
  packages/app-connector/src/config.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/worker.ts
  packages/lib-queues/src/bullboard.ts
  packages/lib-queues/src/config.ts
  packages/lib-queues/src/main.ts
Due: eslint --fix, prettier --write

refactor: fix UserRepo update pattern to accept both UserUpdateDTO and UserUpdateAuthDTO
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/User/index.ts
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
Due: eslint --fix, prettier --write

feat: add Discord OAuth login support
  containers/kratos/config/kratos.yml
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

fix: resolve FunctionOutputDTO circular dependency initialization error
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/Function/dto.ts
  packages/app-api/src/service/FunctionService.ts
Due: eslint --fix, prettier --write

Generate api client
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: allow setting player currency to 0
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative amount for addCurrency.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative amount for deductCurrency.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative amount for transfer.json
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative currency.json
  packages/web-main/src/components/dialogs/PlayerCurrencyDialog.tsx
Due: eslint --fix, prettier --write

feat: add custom icons and descriptions to shop listings
  .kiro/specs/shop-listing-enhancements/design.md
  .kiro/specs/shop-listing-enhancements/requirements.md
  .kiro/specs/shop-listing-enhancements/tasks.md
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/Shop/ShopListingIconDescription.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/ImageProcessingService.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/__tests__/ImageProcessingService.unit.test.ts
  packages/e2e/src/web-main/shop-icon-upload.spec.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250808151626-shop-listing-icon-description.ts
  packages/test/src/__snapshots__/Shop/ShopController/Create.json
  packages/test/src/__snapshots__/Shop/ShopController/Get by ID.json
  packages/test/src/__snapshots__/Shop/ShopController/Update.json
  packages/test/src/__snapshots__/Shop/ShopListingIconDescription/Create listing with valid icon and description.json
  packages/test/src/__snapshots__/Shop/ShopListingIconDescription/Test description length validation.json
  packages/test/src/__snapshots__/Shop/ShopListingIconDescription/Test invalid image format rejection.json
  packages/test/src/__snapshots__/Shop/ShopListingIconDescription/Test malformed base64 rejection.json
  packages/test/src/__snapshots__/Shop/ShopListingIconDescription/Update existing listing with new icon.json
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: redesign ban lookup as global reputation system
  .kiro/specs/public-ban-lookup/design.md
  .kiro/specs/public-ban-lookup/tasks.md
Due: none

feat: complete Steam authentication implementation with auto-linking
  .env.example
  .github/workflows/docker.yml
  .kiro/specs/steam-login/design.md
  .kiro/specs/steam-login/requirements.md
  .kiro/specs/steam-login/tasks.md
  containers/kratos/Dockerfile
  containers/kratos/config/kratos.yml
  containers/kratos/config/kratos.yml.template
  containers/kratos/config/steam.jsonnet
  containers/kratos/config/user.schema.json
  containers/kratos/entrypoint.sh
  docker-compose.yml
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/lib/__tests__/steamAutoLinking.unit.test.ts
  packages/app-api/src/lib/steamAutoLinking.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-auth/src/main.ts
  packages/lib-db/src/migrations/sql/20250808171602-add-steamid-to-users.ts
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
  packages/test/src/integrationTest.ts
  packages/test/src/setups/createUserForPlayer.ts
  packages/test/src/setups/shopSetup.ts
  packages/web-main/src/routes/_auth/_global/profile.tsx
  packages/web-main/src/routes/_auth/_global/settings/-steam/LoginSteamCard.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_single-page/link.tsx
  packages/web-main/src/routes/error.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/oryOAuth.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: remove local steam-auth-proxy and document external setup requirement
  .env.example
  docker-compose.yml
  packages/web-docs/docs/development/getting-started.md
Due: none

fix: add non-null assertion for rootUser.email in multitenancy test
  packages/app-api/src/controllers/__tests__/multitenancy.integration.test.ts
Due: eslint --fix, prettier --write

config: update docker-compose.test.yml to use prebuilt Kratos image
  docker-compose.test.yml
Due: none

feat: add comprehensive player name history tracking
  .kiro/specs/player-name-history/design.md
  .kiro/specs/player-name-history/requirements.md
  .kiro/specs/player-name-history/tasks.md
  packages/app-api/src/db/__tests__/PlayerNameHistory.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/Player/dto.ts
  packages/app-api/src/service/Player/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250809122020-add-player-name-history.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor: replace timeline UI with simple lists for player history
  packages/app-api/src/db/__tests__/PlayerNameHistory.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/SimulationState.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
Due: eslint --fix, prettier --write

fix: add explicit LIMIT 1 to inventory snapshot query to prevent fetching 150k rows
  packages/app-api/src/db/playerOnGameserver.ts
Due: eslint --fix, prettier --write

fix: optimize KPI worker to prevent connection pool exhaustion
  packages/app-api/src/workers/__tests__/kpiWorker.integration.test.ts
  packages/app-api/src/workers/kpiWorker.ts
Due: eslint --fix, prettier --write

perf: optimize KPI worker queries for production scale
  packages/app-api/src/workers/kpiWorker.ts
  packages/lib-db/src/migrations/sql/20250812163648-add-kpi-performance-indexes.ts
Due: eslint --fix, prettier --write

fix: correct NameHistoryOutputDTO field exposure in PlayerController
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/service/Player/dto.ts
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: eslint --fix, prettier --write

feat: add Apache ECharts integration with themed components
  package-lock.json
  package.json
  packages/lib-components/src/components/charts/ECharts/index.tsx
  packages/lib-components/src/components/charts/EChartsArea/EChartsArea.stories.tsx
  packages/lib-components/src/components/charts/EChartsBar/EChartsBar.stories.tsx
  packages/lib-components/src/components/charts/EChartsLine/EChartsLine.stories.tsx
  packages/lib-components/src/components/charts/EChartsPie/EChartsPie.stories.tsx
  packages/lib-components/src/components/charts/EChartsScatter/EChartsScatter.stories.tsx
  packages/lib-components/src/components/charts/index.tsx
Due: eslint --fix, prettier --write

fix: add missing data wrapper in game event documentation examples
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
Due: none

fix: update player profile e2e test selector to handle name history feature
  packages/e2e/src/web-main/views/playerProfile.spec.ts
Due: eslint --fix, prettier --write

feat: add player and POG deletion functionality
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250814163747-shop-order-cascade-delete.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/dialogs/PlayerDeleteDialog.tsx
  packages/web-main/src/components/dialogs/PogDeleteDialog.tsx
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/queries/pog.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove dynamic imports in POG deletion test to fix CI failures
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
Due: eslint --fix, prettier --write

fix: use integrationConfig for Client URL in deletion tests
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
Due: eslint --fix, prettier --write

feat: add health check for mock game server Takaro connection
  packages/app-mock-gameserver/src/bin.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: login in e2e
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/helpers.ts
Due: eslint --fix, prettier --write

fixes for tests
  packages/e2e/src/web-main/auth.spec.ts
Due: eslint --fix, prettier --write

fix: update ShopAnalyticsService to return proper DTOs matching API schema
  .kiro/specs/shop-analytics/design.md
  .kiro/specs/shop-analytics/requirements.md
  .kiro/specs/shop-analytics/tasks.md
  packages/app-api/src/controllers/AnalyticsController.ts
  packages/app-api/src/controllers/__tests__/Analytics/ShopAnalytics.integration.test.ts
  packages/app-api/src/db/migrations/20250815120000-optimize-shop-analytics-indexes.ts
  packages/app-api/src/db/migrations/sql/20250815-optimize-shop-analytics-indexes.sql
  packages/app-api/src/main.ts
  packages/app-api/src/service/Shop/ShopAnalyticsService.ts
  packages/app-api/src/service/Shop/__tests__/ShopAnalyticsService.unit.test.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/queries/analytics.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/InsightsBar.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/RevenueCharts.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove unused imports and components to pass linting
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
Due: eslint --fix, prettier --write

feat: add informational tooltips to shop analytics dashboard
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/RevenueCharts.tsx
Due: eslint --fix, prettier --write

fix: warning banner for users without authentication methods and SSO login in e2e tests
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/ory.ts
  packages/web-main/src/routes/_auth/_global/profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add takaro MCP server to dev env
  .mcp.json
  docker-compose.yml
Due: none

fix: small improvements to shop analytics
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/RevenueCharts.tsx
Due: eslint --fix, prettier --write

fix: resolve shop analytics layout issues and add ECharts components
  package-lock.json
  package.json
  packages/lib-components/src/components/charts/echarts/EChartsArea.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsArea.tsx
  packages/lib-components/src/components/charts/echarts/EChartsBar.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsBar.tsx
  packages/lib-components/src/components/charts/echarts/EChartsBase.tsx
  packages/lib-components/src/components/charts/echarts/EChartsFunnel.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsFunnel.tsx
  packages/lib-components/src/components/charts/echarts/EChartsHeatmap.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsHeatmap.tsx
  packages/lib-components/src/components/charts/echarts/EChartsLine.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsLine.tsx
  packages/lib-components/src/components/charts/echarts/EChartsPie.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsPie.tsx
  packages/lib-components/src/components/charts/echarts/EChartsRadialBar.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsRadialBar.tsx
  packages/lib-components/src/components/charts/echarts/EChartsScatter.stories.tsx
  packages/lib-components/src/components/charts/echarts/EChartsScatter.tsx
  packages/lib-components/src/components/charts/echarts/index.ts
  packages/lib-components/src/components/charts/index.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/RevenueCharts.tsx
  scripts/README.md
  scripts/shop-data.mjs
Due: eslint --fix, prettier --write

fix: resolve Top Buyers section styling in Recent Orders card
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
Due: eslint --fix, prettier --write

feat: add reset all players' currency action to game servers
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/dialogs/GameServerResetCurrencyDialog.tsx
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: resolve shop analytics UI issues and improve loading states
  packages/lib-components/src/components/charts/echarts/EChartsBase.tsx
  packages/web-main/src/queries/analytics.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/CustomerCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/KPICards.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/ProductCharts.tsx
  packages/web-main/src/routes/_auth/_global/analytics.shop/-components/RevenueCharts.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
