Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix(7d2d): double chat detection when hccp is active
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

fix: issue with sql migrations
  packages/lib-db/src/migrations/sql/20230715102519-module-permissions-extra-fields.ts
Due: eslint --fix, prettier --write

chore: regenerate a snapshot
  packages/test/src/__snapshots__/Auth/Can access resource with permissions.json
Due: none

hackathon changes 🤓
  .vscode/launch.json
  docker-compose.yml
  package-lock.json
  package.json
  packages/app-api/src/service/DomainService.ts
  packages/app-vmm/package.json
  packages/app-vmm/src/config.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/lib-aws/package.json
  packages/lib-aws/src/config.ts
  packages/lib-aws/src/createLambda.ts
  packages/lib-aws/src/deleteLambda.ts
  packages/lib-aws/src/executeLambda.ts
  packages/lib-aws/src/main.ts
  packages/lib-aws/tsconfig.build.json
  packages/lib-aws/tsconfig.json
  scripts/dev-data.mjs
  scripts/dev-vm.sh
Due: eslint --fix, prettier --write

fix: allow lambdas to run for max 1 minute
  packages/lib-aws/src/createLambda.ts
Due: eslint --fix, prettier --write

wip: inputField
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/InputField.stories.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/InputField.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/style.ts
Due: eslint --fix, prettier --write

Fix: incorrect code updates
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

chore: remove some unused dependencies
  package-lock.json
  package.json
  packages/lib-components/package.json
  packages/web-main/package.json
Due: none

Fix: incorrect code updates (#460)
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

Feat: add group + few props to menuItem
  packages/lib-components/src/components/actions/ContextMenu/ContextMenu.stories.tsx
  packages/lib-components/src/components/actions/ContextMenu/Group.tsx
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
Due: eslint --fix, prettier --write

feat: better diagnostics
  packages/web-main/src/components/modules/Editor/customTypes.ts
Due: eslint --fix, prettier --write

Feat: better defaults for editor + contextMenu + few keybinds
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/Editor/theme.ts
Due: eslint --fix, prettier --write

chore: fix some linting config
  packages/web-main/README.md
  packages/web-main/package.json
  packages/web-main/src/components/modules/Editor/customTypes.ts
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

chore: improve information when adding gameservers
  packages/web-main/src/pages/CreateUpdateGameServer/connectionInfoFieldsMap.tsx
Due: eslint --fix, prettier --write

fix: clear error when reachability test works
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerUpdate.tsx
Due: eslint --fix, prettier --write

chore: improve information when adding gameservers (#463)
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerUpdate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/connectionInfoFieldsMap.tsx
Due: eslint --fix, prettier --write

fix: an issue when the same player logs into multiple gameservers
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: custom tabs
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/Editor/utils.ts
Due: eslint --fix, prettier --write

chore: remove unused imports
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
Due: eslint --fix, prettier --write

chore: improve test output when API request fails
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: invalid usage of toJSON
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

feat: custom tabs in editor (#465)
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/Editor/utils.ts
Due: eslint --fix, prettier --write

fix: a a21.1 regex bug
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

fix: add lib-aws to build script
  scripts/dev-init.sh
Due: none

hotfix: data.url should be defined
  packages/app-vmm/src/service/workers/executeFunction.ts
Due: eslint --fix, prettier --write

fix: add await to default function code
  packages/app-api/src/service/FunctionService.ts
Due: eslint --fix, prettier --write

chore: adjust default temporal value for high ping kicker
  packages/lib-modules/src/modules/highPingKicker/index.ts
Due: eslint --fix, prettier --write

chore: adjust some options when building containers
  .github/workflows/docker.yml
Due: none

Feat: add better support for groups
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
Due: eslint --fix, prettier --write

Feat: add dirty files state + context menu with few quick actions
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
Due: eslint --fix, prettier --write

Feat: add context menu to files + few minor fixes
  packages/web-main/src/components/modules/FileExplorer/File.tsx
Due: eslint --fix, prettier --write

Feat: add better saving logic + add a bunch of context menu actions
  packages/web-main/src/components/modules/Editor/customTypes.ts
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

Fix: incorrect code save
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

chore: add implementation of drag + drop without the actual move logic
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
Due: eslint --fix, prettier --write

chore: set correct types
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
Due: eslint --fix, prettier --write

Feat add quickfix to context menu
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

chore: update some snapshots
  packages/test/src/__snapshots__/CommandController/Create.json
  packages/test/src/__snapshots__/CommandController/Get by ID.json
  packages/test/src/__snapshots__/CommandController/Update.json
  packages/test/src/__snapshots__/HookController/Create.json
  packages/test/src/__snapshots__/HookController/Get by ID.json
  packages/test/src/__snapshots__/HookController/Update.json
Due: none

wip: parking some frontend work for role assignment
  packages/app-api/src/controllers/PlayerController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/player/profile.tsx
  packages/web-main/src/pages/roles/assignRole.tsx
  packages/web-main/src/pages/roles/validationSchema.tsx
  packages/web-main/src/paths.ts
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/roles/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: include axios and lodash in local execution mode
  packages/app-vmm/src/service/workers/executeLocal.ts
Due: eslint --fix, prettier --write

feat: better types for data and axios in studio
  package-lock.json
  packages/lib-function-helpers/package.json
  packages/lib-function-helpers/src/main.ts
  packages/web-main/src/components/modules/Editor/customTypes.ts
  scripts/getMonacoCustomTypes.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
