Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Refactor: move notifications to queries onsuccess
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/queries/discord.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/queries/pog.tsx
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/queries/shopOrder.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/queries/variable.tsx
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/SchemaToInputs.ts
  packages/web-main/src/routes/_auth/_global/-variables/VariableDeleteDialog.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.index.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.update.$gameServerId.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.update.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/GuildCard.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

Feat: add notifications for crud actions
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleForm.test.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleImportForm.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariableDeleteDialog.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.index.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.copy.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.update.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

deps: update package lock
  package-lock.json
Due: none

deps: bump linting packages
  package-lock.json
  package.json
Due: none

Fix: unsafe declaration-merging
  packages/lib-modules/src/dto/gameEvents.ts
Due: eslint --fix, prettier --write

Fix: incorrect navigation
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
Due: eslint --fix, prettier --write

Chore: change position of snacks
  packages/lib-components/src/helpers/getSnackbarProvider.tsx
Due: eslint --fix, prettier --write

Fix: close dialog when module is exported
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
Due: eslint --fix, prettier --write

Chore: show different placeholder in select
  packages/web-main/src/components/selects/EventNameSelect/index.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/components/selects/ModuleSelect.tsx
Due: eslint --fix, prettier --write

Refactor: get rid of any
  packages/lib-components/src/components/feedback/Popover/PopoverTrigger.tsx
Due: eslint --fix, prettier --write

styles: change header of table + empty of table
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/other/Empty/index.tsx
Due: eslint --fix, prettier --write

Chore: replace deprecated eslint config
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package-lock.json
  package.json
  packages/web-main/.eslintrc
Due: none

Chore: fix lint:fix command
  package.json
Due: none

Fix: don't return promise?
  packages/app-api/src/lib/DiscordBot.ts
Due: eslint --fix, prettier --write

Fix: few remaining build errors
  packages/lib-components/src/components/actions/ContextMenu/Group.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
  packages/web-main/src/routes/_auth/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

Chore: update lockfile
  package-lock.json
Due: none

Refactor: use pure css switch and checkbox
  packages/lib-components/src/components/inputs/CheckBox/Controlled.tsx
  packages/lib-components/src/components/inputs/CheckBox/Generic.tsx
  packages/lib-components/src/components/inputs/CheckBox/style.ts
  packages/lib-components/src/components/inputs/Switch/Generic.tsx
  packages/lib-components/src/components/inputs/Switch/style.ts
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

Refactor: get rid of half implemented hasMargin prop
  packages/lib-components/src/components/inputs/InputProps.ts
  packages/lib-components/src/components/inputs/RadioGroup/Controlled.tsx
  packages/lib-components/src/components/inputs/layout/InputWrapper.ts
  packages/lib-components/src/components/inputs/selects/SelectField/Controlled.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/ItemSelectQuery.stories.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/index.tsx
  packages/web-main/src/components/selects/PlayerSelectQuery.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopListingBuyForm.tsx
Due: eslint --fix, prettier --write

Fix: module select not showing multiple selected modules
  packages/web-main/src/components/selects/ModuleSelect.tsx
Due: eslint --fix, prettier --write

regen lock
  package-lock.json
Due: none

chore: filter out a lot of events from Posthog
  packages/lib-util/src/posthog.ts
Due: eslint --fix, prettier --write

fix: support for SSL postgres
  packages/lib-db/src/config.ts
  packages/lib-db/src/knex.ts
Due: eslint --fix, prettier --write

chore: regenerate lockfile...
  package-lock.json
Due: none

Create install-geoblock.mdx (#1091)
  packages/web-docs/pages/how-to-guides/install-geoblock.mdx
Due: none

feat: make rate limiting a domain setting instead of global
  packages/app-api/src/config.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240811061243-domain-rate-limit-setting.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: debugger not attaching breakpoints
  .vscode/launch.json
Due: none

feat: make rate limiting a domain setting instead of global (#1095)
  .vscode/launch.json
  packages/app-api/src/config.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240811061243-domain-rate-limit-setting.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add support for passing custom CA certs
  packages/lib-db/src/config.ts
  packages/lib-db/src/knex.ts
Due: eslint --fix, prettier --write

fix: a type issue in tests
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
Due: eslint --fix, prettier --write

refactor: remove unused dep hydra
  .env.example
  .vscode/launch.json
  deploy/compose/docker-compose.yaml
  docker-compose.test.yml
  docker-compose.yml
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-apiclient/README.md
  packages/lib-apiclient/src/lib/adminClient.ts
  packages/lib-auth/src/config.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-auth/src/main.ts
  packages/lib-http/src/middleware/adminAuth.ts
  packages/test/src/test/integrationConfig.ts
  packages/web-docs/pages/advanced/api.md
  packages/web-docs/pages/advanced/self-hosting.mdx
  packages/web-docs/pages/development/getting-started.mdx
  scripts/dev-data.mjs
  scripts/dev-remove-domains.mjs
  scripts/dev-reset-data.sh
  scripts/init-domain.mjs
  scripts/integration-tests.mjs
  scripts/setup-data-folders.sh
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a build
  packages/lib-http/src/main.ts
Due: eslint --fix, prettier --write

fix: more build
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

refactor: remove unused dep hydra (#1096)
  .env.example
  .vscode/launch.json
  deploy/compose/docker-compose.yaml
  docker-compose.test.yml
  docker-compose.yml
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-apiclient/README.md
  packages/lib-apiclient/src/lib/adminClient.ts
  packages/lib-auth/src/config.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-auth/src/main.ts
  packages/lib-http/src/main.ts
  packages/lib-http/src/middleware/adminAuth.ts
  packages/test/src/integrationTest.ts
  packages/test/src/test/integrationConfig.ts
  packages/web-docs/pages/advanced/api.md
  packages/web-docs/pages/advanced/self-hosting.mdx
  packages/web-docs/pages/development/getting-started.mdx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  scripts/dev-data.mjs
  scripts/dev-remove-domains.mjs
  scripts/dev-reset-data.sh
  scripts/init-domain.mjs
  scripts/integration-tests.mjs
  scripts/setup-data-folders.sh
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.0.1-rc.0
  package-lock.json
  package.json
Due: none

chore: bump 0.0.2-rc.0
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package-lock.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.0.1
  package-lock.json
  package.json
Due: none

0.0.2
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package-lock.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: package versions
  package-lock.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-components/src/test/testUtils.tsx
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/web-main/package.json
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
