Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: links in dropdown of gameservercard
  packages/web-main/src/components/cards/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

Feat: datepicker field can now be cleared to reset the value to undefined
  packages/lib-components/src/components/inputs/Date/DatePicker/Controlled.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/Generic.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/style.ts
Due: eslint --fix, prettier --write

fix: allow updating var to remove expiryDate
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/variable.ts
Due: eslint --fix, prettier --write

chore: clean up some test fields
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
Due: eslint --fix, prettier --write

fix: lockfile
  package-lock.json
Due: none

chore: group eslint renovate updates
  renovate.json
Due: none

feat: api endpoint for total currency in rotation
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/service/StatsService.ts
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

0.0.12
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.0.13
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: try to increase old-space-size
  packages/web-main/package.json
Due: none

fix: use esm import
  scripts/integration-tests.mjs
Due: none

fix: refactor how domain init happens
  containers/takaro/dev.Dockerfile
  deploy/compose/docker-compose.yml
  packages/app-api/package.json
  packages/app-api/src/domainInit.ts
  packages/app-api/src/main.ts
Due: eslint --fix, prettier --write

fix: keep less jobs in Redis after completion/fail
  packages/lib-queues/src/TakaroWorker.ts
Due: eslint --fix, prettier --write

chore: add Plausible to docs and app
  packages/web-docs/docusaurus.config.ts
  packages/web-main/index.html
Due: eslint --fix, prettier --write

fix: some domain-init init'ing
  containers/takaro/dev.Dockerfile
  package-lock.json
  packages/app-api/package.json
Due: none

Fix: render itemWidget dropdown in portal
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
Due: eslint --fix, prettier --write

fix: when gameserver is disabled or some unknown error happens still handle other servers
  packages/app-api/src/workers/ItemsSyncWorker.ts
Due: eslint --fix, prettier --write

feat: initial wiring of minecraft support
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/gameservers/minecraft/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/minecraft/emitter.ts
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
  packages/lib-gameserver/src/getGame.ts
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/index.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: improve item search result ordering
  packages/app-api/src/db/items.ts
Due: eslint --fix, prettier --write

Update api.md
  packages/web-docs/docs/advanced/api.md
Due: none

fix: another API link
  packages/lib-components/src/components/feedback/ErrorPage/index.tsx
Due: eslint --fix, prettier --write

Feat: SelectQueryField now has optionCount + initial implementation in itemWidget
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Controlled.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/SelectQueryField.stories.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/components/selects/ItemSelectQueryField/ItemSelectQuery.stories.tsx
  packages/web-main/src/components/selects/ItemSelectQueryField/index.tsx
  packages/web-main/src/components/selects/index.tsx
Due: eslint --fix, prettier --write

Fix: pagination of itemwidget
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
Due: eslint --fix, prettier --write

Fix: default value of togglebutton
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.stories.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButtonGroup.tsx
Due: eslint --fix, prettier --write

Feat: itemwidget can now search name and code
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
Due: eslint --fix, prettier --write

Refactor: shoptableview
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopListingBuyForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
Due: eslint --fix, prettier --write

Fix: should not be able to move items in view mode
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Feat: add support for expandable table
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
Due: eslint --fix, prettier --write

Feat: add ability to swap items in shoplisting form
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

Refactor: shoplistingcard now shows icons instead
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
Due: eslint --fix, prettier --write

Fix: recreate package-lock because build not working
  package-lock.json
Due: none

Feat: show takaro version in frontend
  containers/generic-app/Dockerfile
  containers/generic-web/entrypoint.sh
  containers/takaro/dev.Dockerfile
  deploy/compose/docker-compose.yml
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write

Feat: add global gameserver option to gameserverselectqueryfield
  packages/lib-components/src/components/inputs/Date/DatePicker/DatePicker.stories.tsx
  packages/web-main/src/components/selects/GameServerSelectQueryField/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
Due: eslint --fix, prettier --write

Feat: add players expand + use table based expansion for shop
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/PageSizeSelect.tsx
  packages/web-main/src/components/GameServer.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
Due: eslint --fix, prettier --write

feat: some more work for mc integration
  packages/lib-gameserver/src/gameservers/minecraft/emitter.ts
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
  packages/lib-gameserver/src/getGame.ts
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

Fix: gameserver select not rendering correctly + remove console logs
  packages/lib-components/src/components/inputs/selects/SubComponents/OptionGroup.tsx
  packages/web-main/src/components/selects/GameServerSelectQueryField/index.tsx
  packages/web-main/src/components/selects/ModuleSelectQueryField.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariablesForm.tsx
Due: eslint --fix, prettier --write

fix: a typo in revokeCurrency
  packages/lib-modules/src/modules/economyUtils/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
