Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: a bunch of eslint warnings
  packages/lib-components/src/components/feedback/Skeleton/Skeleton.stories.tsx
  packages/lib-components/src/hooks/useTableActions.ts
  packages/web-main/src/components/AuthenticatedRoute.tsx
  packages/web-main/src/components/GameServerCard/style.ts
  packages/web-main/src/components/GameServerSelectNav.tsx
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/hookConfig.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/queries/gameservers/queries.ts
Due: eslint --fix, prettier --write

Fix: redirect immediately after not being unauthorized
  packages/web-main/src/hooks/useAuth.ts
Due: eslint --fix, prettier --write

Fix: transform icons to iconButtons
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
Due: eslint --fix, prettier --write

Fix: transmitting both forms at once
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

deps: use stable notistack version
  package-lock.json
  packages/lib-components/package.json
Due: none

Fix: replace some icons with IconButtons
  packages/lib-components/src/components/dialogs/Dialog/Dialog.stories.tsx
  packages/lib-components/src/components/dialogs/Dialog/DialogHeading.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/RangeWidget.stories.tsx
  packages/lib-components/src/components/inputs/RadioGroup/RadioGroup.stories.tsx
  packages/web-main/src/components/modules/Cards/ModuleCardDefinition.tsx
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
Due: eslint --fix, prettier --write

Fix: remove devtools
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
Due: eslint --fix, prettier --write

styles: improve dialog + few iconButtons
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/style.ts
  packages/web-main/src/components/modules/FileExplorer/File.tsx
Due: eslint --fix, prettier --write

Feat: few improvements to jsonschemaform
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/generator.stories.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/index.tsx
Due: eslint --fix, prettier --write

Feat: add skeleton loading to dashboard and modules
  packages/web-main/src/frames/GameServerFrame.tsx
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
Due: eslint --fix, prettier --write

Fix: don't show select nav when only 1 server is available
  packages/web-main/src/components/GameServerSelectNav.tsx
Due: eslint --fix, prettier --write

Fix: document title
  packages/web-main/src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

chore: keep firecracker folder
  .gitignore
Due: none

deps: bump vite
  package-lock.json
Due: none

fix: only execute firecracker in fc execution mode
  packages/app-vmm/src/main.ts
Due: eslint --fix, prettier --write

deps: bump vite
  packages/web-main/package.json
Due: none

docker: remove unused pgadmin
  docker-compose.yml
Due: none

Feat: add more userfriendly breadcrumbs
  packages/lib-components/src/components/navigation/BreadCrumbs/index.tsx
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/frames/GameServerFrame.tsx
Due: eslint --fix, prettier --write

Fix: make sure all paths are functions
  packages/web-main/src/Router.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/frames/SettingsFrame.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

chore: larger default size for drawer
  packages/lib-components/src/components/data/Drawer/DrawerContent.tsx
Due: eslint --fix, prettier --write

chore: make close button an IconButton
  packages/lib-components/src/components/data/Drawer/DrawerHeading.tsx
Due: eslint --fix, prettier --write

chore: add bit more detail about how tooltip works
  packages/lib-components/src/components/feedback/Tooltip/Tooltip.stories.tsx
Due: eslint --fix, prettier --write

Fix: dropdown did not close when menu item was clicked
  packages/web-main/src/components/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

deps: set back fixed major
  packages/web-main/package.json
Due: none

fix: remove unneeded await
  packages/app-api/src/service/CommandService.ts
Due: eslint --fix, prettier --write

feat: don't show edit icons for builtin module
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/context/moduleContext.ts
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

Fix local execution mode (#273)
  .gitignore
  docker-compose.yml
  package-lock.json
  packages/app-vmm/src/main.ts
  packages/web-main/package.json
Due: eslint --fix, prettier --write

lint: unused variable
  packages/app-api/src/service/AuthService.ts
Due: eslint --fix, prettier --write

lint: unused import
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
Due: eslint --fix, prettier --write

Fix: errormessage being rendered behind next input
  packages/lib-components/src/components/feedback/ErrorMessage/index.tsx
  packages/lib-components/src/styled/zIndex.ts
Due: eslint --fix, prettier --write

Fix: ErrorMessage being rendered absolute based on incorrect relative container
  packages/lib-components/src/components/inputs/TextField/Controlled.tsx
  packages/lib-components/src/components/inputs/TextField/style.ts
Due: eslint --fix, prettier --write

feat: init discord chat bridge module
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/__tests__/HookController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/db/hook.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20230622192402-discord-hooks.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/dto.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/chatBridge/hooks/DiscordToGame.js
  packages/lib-modules/src/modules/chatBridge/hooks/GameToDiscord.js
  packages/lib-modules/src/modules/chatBridge/index.ts
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/HookController/Create.json
  packages/test/src/__snapshots__/HookController/Get by ID.json
  packages/test/src/__snapshots__/HookController/Update.json
  packages/test/src/__snapshots__/HookController/discordChannelId is required when event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, throws validation error.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: big upgrade to docs
  .env.example
  packages/lib-modules/package.json
  packages/lib-modules/scripts/buildBuiltinJson.ts
  packages/web-docs/.gitignore
  packages/web-docs/pages/_meta.json
  packages/web-docs/pages/advanced/_meta.json
  packages/web-docs/pages/advanced/api.md
  packages/web-docs/pages/advanced/functions.md
  packages/web-docs/pages/builtin-modules.mdx
  packages/web-docs/pages/development/database.mdx
  packages/web-docs/pages/development/encryption.mdx
  packages/web-docs/pages/development/getting-started.md
  packages/web-docs/pages/docs/_meta.json
  packages/web-docs/pages/docs/api/authentication.md
  packages/web-docs/pages/docs/application/settings.md
  packages/web-docs/pages/games/7d2d.mdx
  packages/web-docs/pages/games/Rust.mdx
  packages/web-docs/pages/games/_meta.json
  packages/web-docs/pages/modules.md
  packages/web-docs/theme.config.tsx
Due: eslint --fix, prettier --write

chore: some work on dev-data to work nicely with chatbridge
  scripts/dev-data.mjs
Due: none

chore: some ESM weirdness
  tsconfig.esm.json
Due: none

chore: add lib-modules as distinct build to CI
  .github/workflows/builds.yml
Due: none

ci: fix docs deploy workflow
  .github/workflows/deploy-docs.yml
Due: none

docs: fix a copy-paste thing :)
  packages/web-docs/pages/games/7d2d.mdx
Due: none

chore: remove console log
  packages/lib-components/src/components/data/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/data/Drawer/DrawerContent.tsx
  packages/lib-components/src/components/data/Drawer/DrawerContext.tsx
  packages/lib-components/src/components/navigation/BreadCrumbs/index.tsx
Due: eslint --fix, prettier --write

Feat: bunch of improvements and fixes of json-schema-generator
  packages/lib-components/src/components/feedback/Alert/Alert.stories.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/ConfigField/TypeSpecificFieldsMap.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/ConfigField/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/InputTypes.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/SchemaToInputs.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/validationSchema.ts
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-components/src/components/inputs/TextAreaField/Generic.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
