Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

chore: replace with count query
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/queries/variable.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/GameServersCardView.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
  packages/web-main/src/util/getCurrentDomain.ts
Due: eslint --fix, prettier --write

chore: add <MaxUsageCard/> + add minFill + color to usageCard
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
  packages/lib-components/src/components/other/Usage/Usage.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/web-main/src/components/MaxUsage.tsx
  packages/web-main/src/components/MaxUsageCard.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
Due: eslint --fix, prettier --write

chore: remove debugging console logs
  packages/web-main/src/components/MaxUsageCard.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
Due: eslint --fix, prettier --write

fix: add another missing import
  packages/lib-apiclient/src/__tests__/main.integration.test.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: reduce prettier output
  package.json
Due: none

chore: remove a log that was exposing too much info
  scripts/integration-tests.mjs
Due: none

fix: linting error where prettier and eslint were fighting
  packages/lib-components/src/components/other/Plan/index.tsx
Due: eslint --fix, prettier --write

chore: add zod validator adapter
  package-lock.json
  package.json
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/web-main/src/components/events/EventFilter.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.$moduleVersionTag.tsx
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
  packages/web-main/src/routes/_single-page/account.verification.tsx
  packages/web-main/src/routes/_single-page/link.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

chore: open manage plan in blank page
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
Due: eslint --fix, prettier --write

fix: some more tests
  packages/lib-gameserver/src/TakaroEmitter.ts
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
  packages/lib-http/src/controllers/__tests__/meta.integration.test.ts
  packages/lib-http/src/middleware/__tests__/rateLimit.integration.test.ts
Due: eslint --fix, prettier --write

fix: issue when awaiting a non-promise, this caused errors with the TakaroEmitter Proxy
  packages/lib-gameserver/src/__tests__/gameEventEmitter.test.ts
Due: eslint --fix, prettier --write

fix: test in hookservice
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
Due: eslint --fix, prettier --write

fix: HookService
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
Due: eslint --fix, prettier --write

chore: add env var to enable/disable billing pages
  .env.example
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write

fix: cronjob tests
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
Due: eslint --fix, prettier --write

fix: include frontend tests in scripts
  package.json
Due: none

fix: remove some spammy console logs in frontend
  packages/web-main/src/components/events/EventFilter.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
Due: eslint --fix, prettier --write

chore: clean up frontend test script calls
  package.json
Due: none

fix: eventWorker test by refactoring player service into multiple files
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/tryResolvePlayer.ts
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/Player/dto.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/Shop/index.ts
  packages/app-api/src/service/StatsService.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/app-api/src/service/VariablesService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-api/src/workers/kpiWorker.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/app-api/src/workers/steamSyncWorker.ts
Due: eslint --fix, prettier --write

fix: frontend testing setup
  jest.config.js
  packages/lib-components/package.json
  packages/lib-components/src/components/actions/Button/Button.test.tsx
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/IconButton.test.tsx
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/lib-components/src/components/data/Chip/Chip.test.tsx
  packages/lib-components/src/components/data/Chip/__snapshots__/Chip.test.tsx.snap
  packages/lib-components/src/components/feedback/Alert/Alert.test.tsx
  packages/lib-components/src/components/feedback/Alert/__snapshots__/Alert.test.tsx.snap
  packages/lib-components/src/components/feedback/Loaders/Loading.test.tsx
  packages/lib-components/src/components/feedback/Loaders/Spinner.test.tsx
  packages/lib-components/src/components/feedback/Loaders/__snapshots__/Loading.test.tsx.snap
  packages/lib-components/src/components/feedback/Loaders/__snapshots__/Spinner.test.tsx.snap
  packages/lib-components/src/components/feedback/NetworkDetector/NetworkDetector.test.tsx
  packages/lib-components/src/components/feedback/NetworkDetector/__snapshots__/NetworkDetector.test.tsx.snap
  packages/lib-components/src/components/feedback/NotificationBanner/NotificationBanner.test.tsx
  packages/lib-components/src/components/feedback/NotificationBanner/__snapshots__/NotificationBanner.test.tsx.snap
  packages/lib-components/src/components/feedback/Skeleton/Skeleton.test.tsx
  packages/lib-components/src/components/feedback/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/lib-components/src/components/other/ClipBoard/ClipBoard.test.tsx
  packages/lib-components/src/components/other/ClipBoard/__snapshots__/ClipBoard.test.tsx.snap
  packages/lib-components/src/components/other/Empty/Empty.test.tsx
  packages/lib-components/src/components/other/Empty/__snapshots__/Empty.test.tsx.snap
  packages/lib-components/src/components/visual/Divider/Divider.test.tsx
  packages/lib-components/src/components/visual/Divider/__snapshots__/Divider.test.tsx.snap
  packages/lib-components/tsconfig.json
  packages/lib-components/vite.config.mts
  packages/web-main/package.json
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleForm.test.tsx
  packages/web-main/src/setupTests.ts
  packages/web-main/src/testUtils.tsx
  packages/web-main/tsconfig.json
  packages/web-main/vite.config.mts
Due: eslint --fix, prettier --write

fix: remove jest from dockerfile
  containers/takaro/dev.Dockerfile
Due: none

fix: adjust test scripts to exclude frontend tests
  package.json
Due: none

fix: more fiddling with test scripts
  package.json
Due: none

chore: get rid of plan + string config var
  containers/generic-web/entrypoint.sh
  packages/web-main/public/env.js
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/util/getConfigVar.ts
  packages/web-main/src/vite-env.d.ts
Due: eslint --fix, prettier --write

feat: add cronjob execute to module builder and events
  packages/web-main/src/components/dialogs/EventDetailDialog.tsx
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/CronjobTrigger.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleBuilderInner.tsx
Due: eslint --fix, prettier --write

fix: e2e create domain with higher limit values
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

fix: imports
  packages/web-main/src/routes/_auth/-module-builder/Editor/CronjobTrigger.tsx
Due: eslint --fix, prettier --write

fix: remove debug console log
  packages/web-main/src/components/events/EventFilter.tsx
Due: eslint --fix, prettier --write

fix: missing ref, breaking uninstall
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
Due: eslint --fix, prettier --write

chore: add copy module id to module cards
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
Due: eslint --fix, prettier --write

fix: game server settings should not double on save
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

e2e: fix match violation with copy module [id]
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
Due: eslint --fix, prettier --write

wip: feature: select all in selectqueryfield
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Controlled.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/SelectQueryField.stories.tsx
Due: eslint --fix, prettier --write

fix: variable expiry canClear
  packages/web-main/src/routes/_auth/_global/-variables/VariablesForm.tsx
Due: eslint --fix, prettier --write

fix: improve a potential timing issue in a test
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
Due: eslint --fix, prettier --write

feat: basic AI assistant
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-api/scripts/prep-ai-context.sh
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/lib/AI.ts
  packages/lib-http/src/controllers/meta.ts
  packages/lib-http/src/main.ts
  packages/lib-http/src/util/openApi.ts
Due: eslint --fix, prettier --write

chore(lib-components): update snapshots
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: none

fix: bash is not available in alpine...
  packages/app-api/scripts/prep-ai-context.sh
Due: none

fix: some tests
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/HookService.ts
  packages/lib-queues/src/TakaroQueue.ts
Due: eslint --fix, prettier --write
