Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

bump: upgrade to node 22
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  package-lock.json
  package.json
  packages/lib-components/Dockerfile.dev
Due: none

bugfix(web-main): players/users with role showing incorrect amount
  packages/web-main/src/routes/_auth/_global/-roles/RolesTableView.tsx
Due: eslint --fix, prettier --write

fix: package-lock
  package-lock.json
Due: none

chore(web-main): add Produktly header
  packages/web-main/index.html
Due: none

fix: get all API tests working
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/test/src/__snapshots__/Auth/Can access resource with permissions.json
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/CommandController/Get by ID.json
  packages/test/src/__snapshots__/CommandController/Update.json
  packages/test/src/__snapshots__/CronJobController/Create.json
  packages/test/src/__snapshots__/CronJobController/Get by ID.json
  packages/test/src/__snapshots__/CronJobController/Search.json
  packages/test/src/__snapshots__/CronJobController/Update.json
  packages/test/src/__snapshots__/FunctionController/Create.json
  packages/test/src/__snapshots__/FunctionController/Get by ID.json
  packages/test/src/__snapshots__/FunctionController/Update.json
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/__snapshots__/GameServerController/Update.json
  packages/test/src/__snapshots__/HookController/Create.json
  packages/test/src/__snapshots__/HookController/Get by ID.json
  packages/test/src/__snapshots__/HookController/Rejects catastrophic exponential-time regexes.json
  packages/test/src/__snapshots__/HookController/Update.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Uninstall a module.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with invalid system config - not json.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with invalid system config.json
Due: eslint --fix, prettier --write

refactor: standardize extends for module related models
  packages/app-api/src/db/module.ts
Due: eslint --fix, prettier --write

fix: get a bunch of module tests running again
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
  packages/lib-modules/src/__tests__/economy/economyUtils.integration.test.ts
  packages/lib-modules/src/__tests__/economy/shop.integration.test.ts
  packages/lib-modules/src/__tests__/economy/zombieKillReward.integration.test.ts
  packages/lib-modules/src/__tests__/geoblock.integration.test.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/roleExpiry.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCooldown.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCost.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletewaypoint.js
  packages/lib-modules/src/modules/teleports/commands/listwaypoints.js
  packages/lib-modules/src/modules/teleports/commands/setwaypoint.js
  packages/lib-modules/src/modules/teleports/commands/teleportwaypoint.js
  packages/lib-modules/src/modules/utils/commands/help.js
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

fix: some initial frontend fixes
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/queries/gameserver.tsx
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

feat: add routes for map integration
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

fix: some more frontend fixes
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/selects/ModuleSelectQueryField.stories.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/File.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleOnboarding.tsx
  packages/web-main/src/routes/_auth/-module-builder/useModuleBuilderStore.tsx
Due: eslint --fix, prettier --write

fix: mock server impl for new functions
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
Due: eslint --fix, prettier --write

chore: update snapshots
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/__snapshots__/GameServerController/Update.json
Due: none

fix(web-main) navigate back resulting in redirect triggering again
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/_global.tsx
  packages/web-main/src/routes/_auth/_global/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/index.tsx
Due: eslint --fix, prettier --write

fix: allow passing moduleId to tag a new version
  packages/app-api/src/controllers/Module/versions.ts
  packages/app-api/src/service/Module/dto.ts
Due: eslint --fix, prettier --write

feat: identity users with Produktly
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

feat: add search functionality to docs
  packages/web-docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

generate api client
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

deps: add semver package
  package-lock.json
  package.json
Due: none

feat: add QoL property to list available versions
  packages/app-api/src/service/Module/dto.ts
  packages/app-api/src/service/Module/index.ts
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
Due: eslint --fix, prettier --write

fix: some snapshots after lib-module fixes
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Uninstall a module.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
Due: none

fix: gameserver dropdown crashing page
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
Due: eslint --fix, prettier --write

fix: refactor shop import to handle imports from different gameservers better
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/items.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/__snapshots__/ShopController/Update.json
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor: adjust API endpoints for module creation and updates
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/Module/versions.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/Module/dto.ts
  packages/app-api/src/service/Module/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add more protections around module edits
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/middlewares/moduleProtectionMiddleware.ts
  packages/app-api/src/service/Module/index.ts
  packages/test/src/__snapshots__/ModuleController/versioning: Can tag a version.json
  packages/test/src/__snapshots__/ModuleController/versioning: Tag a version with non-semver tag -> error.json
Due: eslint --fix, prettier --write

feat: export/import of modules now handles ALL versions of a module
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/Module/versions.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/Module/dto.ts
  packages/app-api/src/service/Module/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/chatBridge/index.ts
  packages/lib-modules/src/modules/dailyRewards/index.ts
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/lib-modules/src/modules/geoBlock/index.ts
  packages/lib-modules/src/modules/gimme/index.ts
  packages/lib-modules/src/modules/highPingKicker/index.ts
  packages/lib-modules/src/modules/lottery/index.ts
  packages/lib-modules/src/modules/playerOnboarding/index.ts
  packages/lib-modules/src/modules/serverMessages/index.ts
  packages/lib-modules/src/modules/teleports/index.ts
  packages/lib-modules/src/modules/timedShutdown/index.ts
  packages/lib-modules/src/modules/utils/index.ts
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/ModuleController/versioning: Can tag a version.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: allow selecting which versions to export
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/service/Module/dto.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: regenerate lib apiclient
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: reinstalling a module now correctly updates config like before
  packages/app-api/src/service/Module/index.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
Due: eslint --fix, prettier --write

wip: module versions frontend
  packages/lib-components/src/components/feedback/snacks/Drawer/index.tsx
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/TableListToggleButton.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/ExportModuleDialog.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/TagModuleDialog.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/selects/ModuleVersionSelectField.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/FileTabs.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/Header.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleBuilderInner.tsx
  packages/web-main/src/routes/_auth/-module-builder/useModuleBuilderStore.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/GameServersTableView.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.update.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.$moduleVersionTag.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.index.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/variables.view.$variableId.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.view.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.$moduleVersionTag.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.index.tsx
Due: eslint --fix, prettier --write

fix(app-api) make sure update module returns latestVersion
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

wip: module versions frontend
  packages/e2e/src/web-main/helpers.ts
  packages/web-main/src/components/cards/ModuleDefinitionCard/ExportModuleDialog.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$versionId.install.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$versionId.install.view.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

fix: help command
  packages/lib-modules/src/modules/utils/commands/help.js
Due: eslint --fix, prettier --write

fix: localdev scenario when working on modules
  packages/app-api/src/db/module.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/Module/index.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/lib-modules/src/modules/timedShutdown/index.ts
Due: eslint --fix, prettier --write

Update players.md
  packages/web-docs/docs/players.md
Due: none

chore: refactor module installation ID to be a combination of server and module
  packages/app-api/src/controllers/Module/installations.ts
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Module/index.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/__snapshots__/ModuleController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: tag module from module builder
  packages/web-main/src/components/selects/ModuleVersionSelectField.tsx
  packages/web-main/src/routes/_auth/-module-builder/Header.tsx
Due: eslint --fix, prettier --write

fix(web-main): do not rely on loader cache only
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write

wip: module versions frontend
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/selects/ModuleSelectQueryField.stories.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/commandConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/hookConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/index.tsx
  packages/web-main/src/routes/_auth/-module-builder/FileExplorer/File.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleBuilderInner.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleOnboarding.tsx
  packages/web-main/src/routes/_auth/-module-builder/useModuleBuilderStore.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleForm.test.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/-players/BanPlayerDialog.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.$moduleVersionTag.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
