Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Feat: make eventAwaiterTimeout configurable
  packages/test/src/test/integrationConfig.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

fix: mistakes in initial set of bounty tests
  packages/lib-modules/src/__tests__/bounty.integration.test.ts
  packages/lib-modules/src/modules/bounty/commands/bounty.js
  packages/lib-modules/src/modules/bounty/commands/deleteBounty.js
  packages/lib-modules/src/modules/bounty/commands/getBounty.js
  packages/lib-modules/src/modules/bounty/commands/hooks/resolveBounty.js
  packages/lib-modules/src/modules/bounty/commands/listBounties.js
Due: eslint --fix, prettier --write

chore: add a bit more information to the readme
  README.md
Due: none

fix: broken link
  packages/web-docs/pages/index.md
Due: none

chore: small improvements readme
  README.md
Due: none

chore: improved header with logo
  README.md
  logo.png
Due: none

feat: add steam info to players
  .env.example
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20231222180438-steam-data.ts
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: make steam api key optional
  packages/app-api/src/config.ts
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

fix: some tests :)
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: eslint --fix, prettier --write

chore: add a bit more details to the readme (#776)
  README.md
  logo.png
  packages/web-docs/pages/index.md
Due: none

more test-fixing
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
Due: eslint --fix, prettier --write

chore: automatically clean dangling test domains
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

Chore: add manual hook trigger event for player death
  packages/app-api/src/service/HookService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Add: hook to grant bounties
  packages/lib-modules/src/__tests__/bounty.integration.test.ts
  packages/lib-modules/src/modules/bounty/hooks/grantBounty.js
Due: eslint --fix, prettier --write

feat: add steam info to players (#777)
  .env.example
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20231222180438-steam-data.ts
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: playwright cant handle before
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

chore: automatically clean dangling test domains (#778)
  packages/e2e/playwright.config.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

Feat: custom datefilter + easy access past and future allowed date props (#716)
  packages/lib-components/src/components/inputs/Date/DatePicker/Controlled.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/Generic.tsx
  packages/lib-components/src/components/inputs/Date/subcomponents/Calendar/index.tsx
  packages/lib-components/src/components/inputs/Date/subcomponents/Calendar/style.ts
Due: eslint --fix, prettier --write

feat: add some basic data to game server dashboard
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20231223132631-pog-online.ts
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
  packages/web-main/src/pages/gameserver/cards/ChatMessages.tsx
  packages/web-main/src/pages/gameserver/cards/OnlinePlayers.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix a concurrent promise issue
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

fix a failing test
  packages/lib-gameserver/src/gameservers/rust/__tests__/RustEventDetection.unit.test.ts
Due: eslint --fix, prettier --write

chore: some better error handling for playerSync worker
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

fix steam syncing
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

wip: variables
  packages/web-main/src/components/selects/GameServerSelect.tsx
  packages/web-main/src/components/selects/RolesSelect.tsx
  packages/web-main/src/components/selects/index.tsx
  packages/web-main/src/pages/variables/VariableCreate.tsx
  packages/web-main/src/pages/variables/VariableUpdate.tsx
Due: eslint --fix, prettier --write

Fix: few mistakes in bounty
  packages/lib-modules/src/modules/bounty/commands/bounty.js
  packages/lib-modules/src/modules/bounty/commands/listBounties.js
Due: eslint --fix, prettier --write

wip: player_death extension to include attacker
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
Due: eslint --fix, prettier --write

fix: make itemSync more performant
  packages/app-api/src/db/items.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ItemsService.ts
  packages/lib-db/src/migrations/sql/20231223212031-unique-index-item-def.ts
Due: eslint --fix, prettier --write

fix: issue syncing inventory
  packages/app-api/src/db/items.ts
Due: eslint --fix, prettier --write

chore: bit lighter on the logs
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-auth/src/lib/oryAxiosClient.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

feat: improve some options in the api doc
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

Fix: manual hook trigger data
  packages/app-api/src/service/HookService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-modules/src/__tests__/bounty.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/dto/discordEvents.ts
  packages/lib-modules/src/dto/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix steam syncing (#782)
  packages/app-api/src/db/items.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/ItemsService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-auth/src/lib/oryAxiosClient.ts
  packages/lib-db/src/migrations/sql/20231223212031-unique-index-item-def.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

feat: improve some options in the api doc (#784)
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

chore: some more logging for playerSync worker
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

fix(arm-esbuild): manually override esbuild
  package-lock.json
  package.json
  packages/web-main/package.json
Due: none

feat: better styling for chat and online players cards
  packages/web-main/src/pages/gameserver/cards/ChatMessages.tsx
  packages/web-main/src/pages/gameserver/cards/OnlinePlayers.tsx
Due: eslint --fix, prettier --write

feat: auto update online players card
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/web-main/src/pages/gameserver/cards/OnlinePlayers.tsx
Due: eslint --fix, prettier --write

feat: better styling for chat and online players cards (#785)
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/web-main/src/pages/gameserver/cards/ChatMessages.tsx
  packages/web-main/src/pages/gameserver/cards/OnlinePlayers.tsx
Due: eslint --fix, prettier --write

feat: keep track of reachability status for gameservers
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20231224135126-gameserver-online-status.ts
  packages/web-main/src/components/GameServerCard/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: regen snapshots
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/__snapshots__/GameServerController/Update.json
Due: none
