Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add tsbuildinfo to gitignore
  .gitignore
Due: none

feat: add userConfig/systemConfig
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20230415154935-cronjob-configs.ts
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add a basic server messages module that adds a cronjob
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/serverMessages/cronJobs/Automated message.js
  packages/lib-modules/src/modules/serverMessages/index.ts
Due: eslint --fix, prettier --write

docker: fix copy whole scripts dir
  containers/vmm-app.Dockerfile
Due: none

fix: vmm docker
  containers/vmm-app.Dockerfile
Due: none

chore: add a symbolic link for docs for easier access
  docs
Due: none

chore: log env
  packages/app-agent/src/lib/vmClient.ts
Due: eslint --fix, prettier --write

feat: allow auto-updating snapshots when running tests
  packages/test/src/snapshots.ts
  packages/test/src/test/integrationConfig.ts
  packages/web-docs/pages/development/common-tasks.md
Due: eslint --fix, prettier --write

chore: allow setting tld of user in dev-data script
  .env.example
  scripts/dev-data.mjs
Due: none

docker: add comments
  containers/dev.Dockerfile
Due: none

chore: don't log the actual token
  packages/app-agent/src/lib/vmClient.ts
Due: eslint --fix, prettier --write

feat(#186): run firecracker in docker
  .env.example
  .github/workflows/docker.yml
  .gitignore
  containers/dev.Dockerfile
  containers/vmm-app.Dockerfile
  docker-compose.yml
  packages/app-agent/src/config.ts
  packages/app-agent/src/lib/firecracker/index.ts
  packages/app-agent/src/lib/vmClient.ts
  packages/app-agent/src/service/vmm/index.ts
  packages/lib-util/src/sleep.ts
  packages/vm-agent/src/api/handlers.rs
  packages/vm-agent/src/main.rs
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
  scripts/dev-setup-network-tap.sh
Due: eslint --fix, prettier --write

Add new settings page for connections
  packages/web-main/src/components/ConnectionCard/index.tsx
  packages/web-main/src/components/ConnectionCard/style.ts
  packages/web-main/src/frames/SettingsFrame.tsx
  packages/web-main/src/pages/settings/ConnectionSettings.tsx
  packages/web-main/src/router.tsx
Due: eslint --fix, prettier --write

Feat: split create and update gameserver forms
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerUpdate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/connectionInfoFieldsMap.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/style.ts
Due: eslint --fix, prettier --write

Feat: add new <TextAreaField/> component
  packages/lib-components/src/components/inputs/TextAreaField/TextAreaField.stories.tsx
  packages/lib-components/src/components/inputs/TextAreaField/index.tsx
  packages/lib-components/src/components/inputs/TextAreaField/style.ts
Due: eslint --fix, prettier --write

Fix: use theme spacing
  packages/web-main/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

Fix: a bunch of styles
  packages/lib-components/src/components/actions/Button/style.ts
  packages/lib-components/src/components/actions/DropdownButton/index.tsx
  packages/lib-components/src/components/actions/IconButton/style.ts
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.stories.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButtonGroup.tsx
  packages/lib-components/src/components/data/AvatarGroup/index.tsx
  packages/lib-components/src/components/data/Chip/index.tsx
  packages/lib-components/src/components/feedback/snacks/CookieConsent/style.ts
  packages/lib-components/src/components/feedback/snacks/Default/style.ts
  packages/lib-components/src/components/feedback/snacks/Drawer/index.tsx
  packages/lib-components/src/components/inputs/CodeField/style.ts
  packages/lib-components/src/components/inputs/EditableField/style.ts
  packages/lib-components/src/components/inputs/TextField/style.ts
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/lib-components/src/components/navigation/Steppers/Stepper/style.ts
  packages/lib-components/src/components/other/ActionMenu/index.tsx
  packages/lib-components/src/components/other/ActionMenu/style.ts
  packages/lib-components/src/components/visual/Divider/index.tsx
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/lib-components/src/views/HeaderNav/index.tsx
  packages/lib-components/src/views/Welcome/Tile.tsx
  packages/web-main/src/components/GameServerCard/style.ts
Due: eslint --fix, prettier --write

Feat: add `readOnly` prop to select field
  packages/lib-components/src/components/inputs/Select/Select.tsx
  packages/lib-components/src/components/inputs/Select/style.ts
Due: eslint --fix, prettier --write

Feat: add simpler dropdown menu to header, more in line
  packages/web-main/src/components/Header.tsx
Due: eslint --fix, prettier --write

refactor: rename app-agent to app-vmm
  .github/workflows/docker.yml
  containers/app-vmm.Dockerfile
  docker-compose.yml
  package-lock.json
  packages/app-api/src/service/AuthService.ts
  packages/app-vmm/package.json
  packages/app-vmm/src/config.ts
  packages/app-vmm/src/controllers/bullboard.ts
  packages/app-vmm/src/lib/firecracker/__tests__/firecracker.ts
  packages/app-vmm/src/lib/firecracker/index.ts
  packages/app-vmm/src/lib/vmClient.ts
  packages/app-vmm/src/main.ts
  packages/app-vmm/src/service/vmm/index.ts
  packages/app-vmm/src/service/workers/commandWorker.ts
  packages/app-vmm/src/service/workers/cronjobWorker.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/app-vmm/src/service/workers/executeLocal.ts
  packages/app-vmm/src/service/workers/getClient.ts
  packages/app-vmm/src/service/workers/hookWorker.ts
  packages/app-vmm/tsconfig.build.json
  packages/app-vmm/tsconfig.json
  packages/web-main/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat: implement systemSchema for cronjobs
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with invalid system config - not json.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with invalid system config.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
Due: eslint --fix, prettier --write

ci: fix app-vmm build step
  .github/workflows/builds.yml
Due: none

fix: set a default message for the serverMessages + fix dev-data script
  packages/app-api/src/service/HookService.ts
  scripts/dev-data.mjs
Due: eslint --fix, prettier --write

feat: bunch of stuff for systemConfig and integrating cronjobs
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-modules/src/modules/serverMessages/index.ts
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor: queues
  packages/app-api/src/lib/GameServerManager.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/lib-queues/src/QueueService.ts
  packages/lib-queues/src/TakaroQueue.ts
  packages/lib-queues/src/TakaroWorker.ts
  packages/lib-queues/src/dataDefinitions.ts
  packages/lib-queues/src/main.ts
  packages/lib-queues/src/queues.ts
Due: eslint --fix, prettier --write

refactor: move bullboard out of app-vmm and into lib-http
  packages/app-vmm/src/controllers/bullboard.ts
  packages/app-vmm/src/main.ts
  packages/lib-http/src/app.ts
  packages/lib-queues/src/TakaroQueue.ts
  packages/lib-queues/src/bullboard.ts
  packages/lib-queues/src/main.ts
Due: eslint --fix, prettier --write

chore: some small fixes to tests that broke after merge with main
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
Due: eslint --fix, prettier --write

feat: ensure cronjobs are active when app starts
  packages/app-api/src/main.ts
Due: eslint --fix, prettier --write

chore: make execution mode configurable
  .env.example
  docker-compose.yml
Due: none

fix: some frontend query fixes
  packages/web-main/src/queries/gameservers/queries.ts
Due: eslint --fix, prettier --write

fix: order of build scripts
  scripts/dev-init.sh
Due: none

fix: rename pkg name in build ci
  .github/workflows/builds.yml
Due: none

fix: prettier and eslint were clashing here
  packages/lib-modules/src/modules/serverMessages/index.ts
Due: eslint --fix, prettier --write

chore: move @bull-board/express dependency
  package-lock.json
  packages/app-vmm/package.json
  packages/lib-queues/package.json
Due: none

feat: improve queue storage space
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/HookService.ts
  packages/app-vmm/src/service/workers/commandWorker.ts
  packages/app-vmm/src/service/workers/cronjobWorker.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/app-vmm/src/service/workers/hookWorker.ts
  packages/lib-queues/src/dataDefinitions.ts
Due: eslint --fix, prettier --write

feat: add basic mock gameserver with socket
  docker-compose.yml
  package-lock.json
  packages/app-mock-gameserver/package.json
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/socket/index.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/app-mock-gameserver/src/main.ts
  packages/app-mock-gameserver/tsconfig.build.json
  packages/app-mock-gameserver/tsconfig.json
Due: eslint --fix, prettier --write

chore: add mock gameserver to CI
  .github/workflows/builds.yml
  .github/workflows/docker.yml
Due: none

feat: let gameserverservice cache gameserver instances for better performance
  packages/app-api/src/lib/GameServerManager.ts
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

feat: add host as connection info to frontend
  packages/web-main/src/pages/CreateUpdateGameServer/connectionInfoFieldsMap.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/validationSchema.ts
Due: eslint --fix, prettier --write

feat: get basic connectivity and functionality with mock game server working
  docker-compose.yml
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/index.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/lib-gameserver/src/gameservers/mock/emitter.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
