Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: commit api client
  packages/lib-apiclient/src/generated/.gitignore
  packages/lib-apiclient/src/generated/.npmignore
  packages/lib-apiclient/src/generated/.openapi-generator-ignore
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/git_push.sh
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: regen lockfile
  package-lock.json
Due: none

fix: issue registering new generic servers
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

feat: bunch of work to get two way comms working
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/websocket.ts
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250112102308-generic-gameserver.ts
  packages/lib-gameserver/src/gameservers/generic/emitter.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
  packages/lib-gameserver/src/main.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor(web-main): fix copy module (only latest version)
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/dialogs/ModuleCopyDialog.tsx
  packages/web-main/src/components/dialogs/ModuleExportDialog.tsx
  packages/web-main/src/components/events/EventFilter.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/routes/_auth/-module-builder/CopyModulePopOver.tsx
Due: eslint --fix, prettier --write

bump lockfile
  package-lock.json
Due: none

fix(docs): broken link
  README.md
Due: none

fix(web-docs): provide description using frontmatter instead of docusaurus taking first line
  packages/lib-modules/scripts/buildBuiltinJson.ts
  packages/web-docs/docs/modules/chatBridge.mdx
  packages/web-docs/docs/modules/dailyRewards.mdx
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/geoBlock.mdx
  packages/web-docs/docs/modules/gimme.mdx
  packages/web-docs/docs/modules/highPingKicker.mdx
  packages/web-docs/docs/modules/lottery.mdx
  packages/web-docs/docs/modules/overview.mdx
  packages/web-docs/docs/modules/playerOnboarding.mdx
  packages/web-docs/docs/modules/serverMessages.mdx
  packages/web-docs/docs/modules/teleports.mdx
  packages/web-docs/docs/modules/timedShutdown.mdx
  packages/web-docs/docs/modules/utils.mdx
Due: eslint --fix, prettier --write

chore(e2e): fix tests
  packages/e2e/src/web-main/pages/ModuleInstallationsPage.ts
  packages/e2e/src/web-main/pages/PlayerProfile.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/e2e/src/web-main/views/moduleBuilder.spec.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/playerProfile.spec.ts
  packages/e2e/src/web-main/views/users.spec.ts
  packages/lib-components/src/components/visual/Card/index.tsx
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/dialogs/PlayerRoleDeleteDialog.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/routes/_auth/-module-builder/CopyModulePopOver.tsx
  packages/web-main/src/routes/_auth/-module-builder/Header.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/validationSchema.ts
  packages/web-main/src/routes/_auth/_global/modules.create.import.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesDeleteDialog.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.$moduleVersionTag.tsx
Due: eslint --fix, prettier --write

fix e2e test
  packages/e2e/src/web-main/views/moduleBuilder.spec.ts
Due: eslint --fix, prettier --write

fix: add better data handling to mockserver
  packages/app-connector/src/lib/websocket.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-db/src/main.ts
  packages/lib-db/src/redis.ts
Due: eslint --fix, prettier --write

chore: regen snapshots
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Uninstall a module.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - multiple cron jobs.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
Due: none

fix: lib-modules unit tests
  packages/lib-modules/src/__tests__/builtinmodule.unit.test.ts
Due: eslint --fix, prettier --write

fix(web-docs) take into account versions
  packages/lib-modules/scripts/buildBuiltinJson.ts
  packages/web-docs/docs/modules/chatBridge.mdx
  packages/web-docs/docs/modules/dailyRewards.mdx
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/geoBlock.mdx
  packages/web-docs/docs/modules/gimme.mdx
  packages/web-docs/docs/modules/highPingKicker.mdx
  packages/web-docs/docs/modules/lottery.mdx
  packages/web-docs/docs/modules/playerOnboarding.mdx
  packages/web-docs/docs/modules/serverMessages.mdx
  packages/web-docs/docs/modules/teleports.mdx
  packages/web-docs/docs/modules/timedShutdown.mdx
  packages/web-docs/docs/modules/utils.mdx
Due: eslint --fix, prettier --write

bump: upgrade to node 22
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  package-lock.json
  package.json
  packages/lib-components/Dockerfile.dev
Due: none

fix: ensure module description has a default value now
  packages/lib-db/src/migrations/sql/20250128200529-version-fixes.ts
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/ModuleController/versioning: Can tag a version.json
Due: eslint --fix, prettier --write

fix: bug with copying a module in the frontend
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

chore: move test fixtures to separate folder
  packages/app-api/src/controllers/__tests__/CSMMImport.integration.test.ts
  packages/app-api/src/controllers/__tests__/data/csmm-export-full.json
Due: eslint --fix, prettier --write

fix: issue importing old modules
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/controllers/__tests__/data/hvb_serverMessages_v2.json
  packages/app-api/src/service/Module/index.ts
  packages/lib-modules/src/BuiltinModule.ts
Due: eslint --fix, prettier --write

fix(web-main): tagging version does not show new tag
  packages/web-main/src/routes/_auth/module-builder.$moduleId.$moduleVersionTag.tsx
Due: eslint --fix, prettier --write

fix(web-main): capitalize correctly
  packages/web-main/src/components/dialogs/ModuleTagDialog.tsx
Due: eslint --fix, prettier --write

chore(web-main): make copy module available for builtin modules
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
Due: eslint --fix, prettier --write

chore(web-main): add version select to copy module
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/dialogs/ModuleCopyDialog.tsx
  packages/web-main/src/routes/_auth/-module-builder/CopyModulePopOver.tsx
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

fix: json imports
  package-lock.json
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/web-docs/docs/data/items-rust.mdx
Due: eslint --fix, prettier --write

fix: here it should stay without with json
  packages/web-docs/docs/data/items-rust.mdx
Due: none

recreate package lock
  package-lock.json
Due: none

Update custom-modules.md
  packages/web-docs/docs/advanced/custom-modules.md
Due: none

chore: apiclient
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: <Plan/>
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-components/src/components/other/index.ts
  packages/lib-components/src/components/visual/Divider/index.tsx
Due: eslint --fix, prettier --write

wip: billing page
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
Due: eslint --fix, prettier --write

Feat: <Usage/> + <UsageCard/>
  packages/lib-components/src/components/other/Usage/Usage.stories.tsx
  packages/lib-components/src/components/other/Usage/Usage.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.stories.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/lib-components/src/components/other/index.ts
Due: eslint --fix, prettier --write

Chore: add size property to progressBar + style changes
  packages/lib-components/src/components/feedback/ProgressBar/ProgressBar.stories.tsx
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
Due: eslint --fix, prettier --write

Chore: remove deprecated <LinkCard/>
  packages/lib-components/src/components/data/LinkCard/index.tsx
  packages/lib-components/src/components/data/index.ts
Due: eslint --fix, prettier --write

wip: plan and billing page
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
Due: eslint --fix, prettier --write

wip
  .env.example
  containers/generic-web/entrypoint.sh
  package-lock.json
  packages/web-main/src/components/Footer.stories.tsx
  packages/web-main/src/components/Footer.tsx
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
  packages/web-main/src/routes/_auth/domain.disabled.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write

fix: incorrect rebase
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
Due: eslint --fix, prettier --write
