Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: array default value should not be required
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/validationSchema.ts
Due: eslint --fix, prettier --write

Fix: load initial moduleInstallation data
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

Fix: disable live validation
  packages/lib-components/src/components/inputs/JsonSchemaForm/index.tsx
Due: eslint --fix, prettier --write

fix: gameserver dashboard
  packages/lib-components/src/components/data/Console/ConsoleLine/style.ts
  packages/lib-components/src/components/data/Console/style.ts
  packages/web-main/index.html
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
Due: eslint --fix, prettier --write

fix: gameserver dashboard (#297)
  packages/lib-components/src/components/data/Console/ConsoleLine/style.ts
  packages/lib-components/src/components/data/Console/style.ts
  packages/web-main/index.html
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
Due: eslint --fix, prettier --write

wip: gimme
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/gimme/index.ts
Due: eslint --fix, prettier --write

Feat: add debug launch
  .vscode/launch.json
Due: none

Fix: submitting of moduleInstallation config
  packages/lib-modules/src/modules/gimme/index.ts
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

feat: add kick and ban actions to gameservers
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dActions.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/__tests__/rustActions.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add test for edge case of misconfigured module
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
Due: eslint --fix, prettier --write

feat: automatically add rust and 7d2d when running dev-data
  .env.example
  scripts/dev-data.mjs
Due: none

ci: auto retry integration tests on failure
  .github/workflows/docker.yml
Due: none

ci: add auto-retry to dev-init in several places
  .github/workflows/builds.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
Due: none

chore: regenerate api client
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/common.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: rename jobs
  .github/workflows/builds.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
Due: none

docs: add FAQ page
  packages/web-docs/pages/FAQ.md
  packages/web-docs/pages/_meta.json
Due: none

fix: move env config
  .github/workflows/docker.yml
Due: none

feat: add starterkit command
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/playerOnboarding/index.ts
Due: eslint --fix, prettier --write

fix a merge issue
  packages/app-api/src/controllers/GameServerController.ts
Due: eslint --fix, prettier --write

fix: an issue with paging extended datasets
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write

ci: remove takaro dev container from integration tests
  docker-compose.test.yml
  scripts/setup-network.sh
Due: none

ci: log docker logs to a separate file instead and some performance improvements for initial setup
  .github/workflows/docker.yml
  scripts/integration-tests.mjs
Due: none

chore: theres another network script
  scripts/dev-setup-network-tap.sh
Due: none

chore: improve output of integration tests some more
  scripts/integration-tests.mjs
Due: none

ci: revert some stuff
  docker-compose.test.yml
  scripts/integration-tests.mjs
Due: none

wip: bring back sandbox + fix: afterEach not globally available in playwright
  docker-compose.yml
  packages/e2e/playwright.config.ts
  packages/test/src/test/sandbox.ts
Due: eslint --fix, prettier --write

fix: make sure the reports dir is available
  scripts/dev-init.sh
Due: none

Fix: add hydra e2e to test docker compose
  docker-compose.test.yml
Due: none

Fix: make sure hydra-e2e also starts during integration tests
  scripts/integration-tests.mjs
Due: none

fix: set takaro_oauth_host
  scripts/integration-tests.mjs
Due: none

feat: paginated queries (#282)
  .env.example
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/data/Avatar/Avatar.stories.tsx
  packages/lib-components/src/components/data/InfiniteScroll/InfiniteScroll.stories.tsx
  packages/lib-components/src/components/data/InfiniteScroll/index.tsx
  packages/lib-components/src/components/data/index.ts
  packages/lib-db/src/queryBuilder.ts
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/GameServerSelectNav.tsx
  packages/web-main/src/components/modules/Cards/style.tsx
  packages/web-main/src/pages/GameServers.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
  packages/web-main/src/pages/settings/DiscordSettings.tsx
  packages/web-main/src/queries/discord/index.ts
  packages/web-main/src/queries/discord/queries.ts
  packages/web-main/src/queries/gameservers/index.ts
  packages/web-main/src/queries/gameservers/queries.ts
  packages/web-main/src/queries/modules/queries.ts
  packages/web-main/src/queries/players/queries.ts
  packages/web-main/src/queries/users/index.ts
  packages/web-main/src/queries/users/queries.ts
  packages/web-main/src/queries/util.ts
Due: eslint --fix, prettier --write

chore: split common tasks into seperate files + add highlighting to commands
  packages/web-docs/pages/development/common-tasks.md
  packages/web-docs/pages/development/common-tasks/database-migrations.md
  packages/web-docs/pages/development/common-tasks/resetting-data.md
  packages/web-docs/pages/development/common-tasks/running-tests.md
Due: none

chore: split up common tasks
  packages/web-docs/pages/development/common-tasks.md
  packages/web-docs/pages/development/common-tasks/database-migrations.md
  packages/web-docs/pages/development/common-tasks/resetting-data.md
  packages/web-docs/pages/development/common-tasks/running-tests.md
Due: none

Fix: few typos
  packages/web-docs/pages/development/common-tasks/database-migrations.md
  packages/web-docs/pages/development/common-tasks/resetting-data.md
  packages/web-docs/pages/development/common-tasks/running-tests.md
  packages/web-docs/pages/development/getting-started.md
Due: none

Fix: edit this page links
  packages/web-docs/theme.config.tsx
Due: eslint --fix, prettier --write

lint: fmt
  packages/lib-modules/src/BuiltinModule.ts
Due: eslint --fix, prettier --write

Add: a bit more about modules in the introduction + starting information in custom modules
  packages/web-docs/pages/_meta.json
  packages/web-docs/pages/advanced/functions.mdx
  packages/web-docs/pages/built-in-modules.mdx
  packages/web-docs/pages/development/_meta.json
  packages/web-docs/pages/development/common-tasks/_meta.json
  packages/web-docs/pages/index.md
Due: none

fix: some env vars and zx
  scripts/integration-tests.mjs
Due: none

fix: some config issues with test compose file
  docker-compose.test.yml
Due: none

chore: delete a stray playwright report
  packages/e2e/playwright-report/index.html
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
