Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

feat: add zombieKillReward
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-modules/src/__tests__/economy/zombieKillReward.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/cronJobs/zombieKillReward.js
  packages/lib-modules/src/modules/economyUtils/index.ts
Due: eslint --fix, prettier --write

fix: when user has orders but no playerId linked anymore
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

fix: when listing has no name, we fall back to the item names. This ensures we fetch the required data
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

chore: handle tracing config smoother
  packages/lib-util/src/tracing.ts
Due: eslint --fix, prettier --write

fix: add indexes to speed up module-related queries
  packages/lib-db/src/migrations/sql/20241013173159-add-indexen-for-moduleId.ts
Due: eslint --fix, prettier --write

fix: some more performance indexes
  packages/lib-db/src/migrations/sql/20241013173159-add-indexen-for-moduleId.ts
Due: eslint --fix, prettier --write

Chore: add size property to progressBar + style changes
  packages/lib-components/src/components/feedback/ProgressBar/ProgressBar.stories.tsx
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
Due: eslint --fix, prettier --write

Feat: <Plan/>
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-components/src/components/other/index.ts
  packages/lib-components/src/components/visual/Divider/index.tsx
Due: eslint --fix, prettier --write

Feat: <Usage/> + <UsageCard/>
  packages/lib-components/src/components/other/Usage/Usage.stories.tsx
  packages/lib-components/src/components/other/Usage/Usage.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.stories.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/lib-components/src/components/other/index.ts
Due: eslint --fix, prettier --write

wip: billing page
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/index.tsx
Due: eslint --fix, prettier --write

Chore: remove deprecated <LinkCard/>
  packages/lib-components/src/components/data/LinkCard/index.tsx
  packages/lib-components/src/components/data/index.ts
Due: eslint --fix, prettier --write

styles: decrease icon size of <QuestionTooltip/>
  packages/lib-components/src/components/feedback/QuestionTooltip/index.tsx
Due: eslint --fix, prettier --write

wip: plan and billing page
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
Due: eslint --fix, prettier --write

Update introduction.md
  packages/web-docs/docs/introduction.md
Due: none

fix: always return parent player, frontend pages rely on this
  packages/app-api/src/db/playerOnGameserver.ts
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

fix: 7d2d shop not giving correct quality
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: docs linking to unknown pages
  packages/web-docs/docs/introduction.md
Due: none

Fix: disable claim order button when order is not from current user
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

wip: some more mc work
  package-lock.json
  packages/lib-gameserver/src/gameservers/minecraft/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/minecraft/emitter.ts
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
Due: eslint --fix, prettier --write

feat: link orders to players instead of users
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopOrder.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20241012183754-shop-orders-belong-to-player.ts
  packages/lib-modules/src/modules/economyUtils/commands/shop.js
  packages/test/src/__snapshots__/ShopOrderController/Cancel order that is already canceled -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Cancel order that is not yours -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Cancel order.json
  packages/test/src/__snapshots__/ShopOrderController/Cannot search orders of another user.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order that is already claimed -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order that is canceled -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order that is not yours -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order.json
  packages/test/src/__snapshots__/ShopOrderController/Create a new order when not enough money.json
  packages/test/src/__snapshots__/ShopOrderController/Create a new order.json
  packages/test/src/__snapshots__/ShopOrderController/Get order by ID that is not yours -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Get order by ID that is not yours but you have high privileges -> success.json
  packages/test/src/__snapshots__/ShopOrderController/Get order by ID.json
  packages/test/src/__snapshots__/ShopOrderController/High priv user cancel order that is not yours -> success.json
  packages/test/src/__snapshots__/ShopOrderController/Search orders returns all orders when called by high privileged user.json
  packages/test/src/__snapshots__/ShopOrderController/Search orders returns only own orders.json
  packages/test/src/__snapshots__/ShopOrderController/Search orders.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: minecraft add-server works now
  packages/lib-db/src/migrations/sql/20241018091155-add-minecraft-game-type.ts
  packages/lib-gameserver/src/gameservers/minecraft/emitter.ts
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
  packages/web-main/src/components/selects/GameServerSelectQueryField/index.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

fix: a test
  packages/lib-modules/src/modules/gimme/commands/gimme.js
Due: eslint --fix, prettier --write

chore: remove old useV1 option from 7d2d connection
  packages/lib-gameserver/src/gameservers/7d2d/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

chore: regen snapshot
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
Due: none

feat: add numbers to output of shop list
  packages/lib-modules/src/modules/economyUtils/commands/shop.js
Due: eslint --fix, prettier --write

fix: player loading
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
Due: eslint --fix, prettier --write

feat: implement a bunch of stuff on mc side
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
Due: eslint --fix, prettier --write

chore: some cleaning
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
Due: eslint --fix, prettier --write

fix: remove unused ts expect error
  packages/lib-gameserver/src/getGame.ts
Due: eslint --fix, prettier --write

fix: how commands get executed on mc
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
Due: eslint --fix, prettier --write

chore: some cleanup with helper fn
  packages/lib-gameserver/src/gameservers/minecraft/index.ts
Due: eslint --fix, prettier --write

fix: snapshot
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
Due: none

fix: allow disabling a server which is unreachable
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
Due: eslint --fix, prettier --write

fix: allow FQDN for Rust config
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

feat: add changelog to dev-to-main PR
  .github/workflows/dev-to-main-pr.yml
Due: none

docs: add a warning for potentially dangerous setting
  .github/workflows/release-drafter.yml
Due: none

feat: add PR autolabeler
  .github/release-drafter.yml
Due: none

Fix: keep collapsed items mounted to maintain component states
  packages/lib-components/src/components/other/CollapseList/index.tsx
Due: eslint --fix, prettier --write

Feat: add prop to show prompt when trying to discard changes by clicking outside
  packages/lib-components/src/components/data/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/data/Drawer/DrawerContent.tsx
  packages/lib-components/src/components/data/Drawer/useDrawer.tsx
Due: eslint --fix, prettier --write
