Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: don't leak registration token to users without the right permission
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/getGame.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: allow management of registration token
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-connector/src/controllers/gameserverController.ts
  packages/app-connector/src/lib/websocket.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/generic/connectorClient.ts
  packages/lib-gameserver/src/main.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/__snapshots__/GameServerController/Update.json
  packages/web-main/src/components/dialogs/GameServerResetRegistrationToken.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: some build errors
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: build
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: build error in test pkg
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

feat: location tracking backend
  packages/app-api/src/controllers/TrackingController.ts
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/base.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Tracking/dto.ts
  packages/app-api/src/service/Tracking/index.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-db/src/migrations/sql/20250524054924-tracking.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: handling of builtin module seeding
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

0.0.29
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: handle bans with long reason fields
  packages/app-api/src/service/__tests__/BanService.integration.test.ts
  packages/lib-db/src/migrations/sql/20250525135204-ban-reason-length.ts
Due: eslint --fix, prettier --write

fix: ensure shop related permissions are available to be assigned
  packages/lib-db/src/migrations/sql/20250605201140-shop-permissions-missing.ts
Due: eslint --fix, prettier --write

fix: creating multiple pending linking codes caused issues
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/Player/index.ts
Due: eslint --fix, prettier --write

0.0.30
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: base skeleton for inventory tracking
  packages/app-api/src/controllers/TrackingController.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Tracking/dto.ts
  packages/app-api/src/service/Tracking/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250606060546-inventory-tracking.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add tests
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/Tracking/dto.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: db indices
  packages/lib-db/src/migrations/sql/20250606060546-inventory-tracking.ts
Due: eslint --fix, prettier --write

fix: some tests
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

fix: moduelConfig tests
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
Due: eslint --fix, prettier --write

fix: pin postgres port config in compose file
  docker-compose.yml
Due: none

fix: update a PlayerLink test to new gs method
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
Due: eslint --fix, prettier --write

fix: migrate some more tests to new system
  packages/app-api/src/controllers/__tests__/SettingsController.integration.test.ts
Due: eslint --fix, prettier --write

fix: a test
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
Due: eslint --fix, prettier --write

fix: disable a bunch of e2e tests that were creating gameservers in the old way
  packages/e2e/src/web-main/views/gameservers.spec.ts
Due: eslint --fix, prettier --write

fix: playerlink test
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
Due: eslint --fix, prettier --write

fix an event worker test
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
Due: eslint --fix, prettier --write

fix: a test assertion
  packages/app-connector/src/lib/__tests__/generic-server.integration.test.ts
Due: eslint --fix, prettier --write

fix: a snapshot test
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
Due: eslint --fix, prettier --write

fix: e2e tests
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/views/settings.spec.ts
  packages/lib-db/src/redis.ts
Due: eslint --fix, prettier --write

fix: docs for IGamePlayer
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
Due: none

feat: add platformId to identify players from servers that do not have steam, eos or xbox IDs
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/Player/dto.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250613110835-add-platform-id-to-players.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/test/src/__snapshots__/PlayerController/Player search with platformId filter returns empty when no matches.json
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
  packages/web-docs/docs/players.md
  packages/web-main/src/components/Player.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: round coordinates so they fit in DB
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: docs for generic connector
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
Due: none

fix: linter issues where eslint and prettier were fighting
  packages/app-api/src/service/Player/dto.ts
Due: eslint --fix, prettier --write

fix: invalid calls
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/index.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
Due: eslint --fix, prettier --write

fix: giveItem endpoint should work with item IDs
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

chore: regen snapshots
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: none

fix: some giveItem calls
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
Due: eslint --fix, prettier --write

fix: ensure items get loaded before tests begin
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write

docs: add Minecraft support documentation
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
  packages/web-docs/docs/supported-games/minecraft.md
Due: none

chore: run nodejs tests in parallel
  package.json
Due: none

chore: add a postgres mcp server for claude
  .mcp.json
  docker-compose.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
