Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: implement promptClose + improve drawer skeleton loading pages
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleImportForm.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariablesForm.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ItemCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write

feat: add import export functionality for shop
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: allow filtering orders by player, user and gameserver ID
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopOrder.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: rely on playerid in frontend
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

Fix: filter orders on gameserverid
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

chore: put renovate on a schedule
  renovate.json
Due: none

0.0.14
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: make name required in shop listings
  packages/app-api/src/service/Shop/dto.ts
  packages/lib-db/src/migrations/sql/20241020133133-make-listing-name-required.ts
Due: eslint --fix, prettier --write

chore: parse axios errors always. Axios throws huge error objects which makes logging very verbose and it often includes sensitive data in the logs
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/lib/baseAxios.ts
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-apiclient/src/main.ts
  packages/lib-auth/src/lib/oryAxiosClient.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: trim down how much gets logged about 7d2d commands
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

Feat: add import and export to shopListings
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/feedback/snacks/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/feedback/snacks/Drawer/index.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/web-main/src/components/selects/GameServerSelectQueryField/index.tsx
  packages/web-main/src/components/selects/ModuleSelectQueryField.tsx
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/economy.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.import.file.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.import.gameserver.tsx
Due: eslint --fix, prettier --write

Feat: module builder item now has amount and quality
  packages/lib-modules/src/modules/gimme/index.ts
  packages/lib-modules/src/modules/playerOnboarding/index.ts
  packages/web-main/src/components/JsonSchemaForm/templates/AddButton.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/ArrayFieldDescriptionTemplate.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/ArrayFieldItemTemplate.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/ArrayFieldTemplate.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/ArrayFieldTitleTemplate.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/IconButton.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/ObjectFieldTemplate.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/index.ts
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/SchemaToInputs.ts
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/]
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/inputTypes/Item.ts
Due: eslint --fix, prettier --write

fix: shop not giving items without quality
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write

fix: add back support for old 7d2d versions
  packages/lib-gameserver/src/gameservers/7d2d/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

fix: some module related stuff for new item config method
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
Due: eslint --fix, prettier --write

chore: improve how validation errors get logged
  packages/lib-http/src/middleware/errorHandler.ts
Due: eslint --fix, prettier --write

chore: remove a console log
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
Due: eslint --fix, prettier --write

fix: issue deleting users
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/lib-db/src/migrations/sql/20241024164331-events-fk-fix.ts
  packages/test/src/__snapshots__/UserController/Can delete a user.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
Due: eslint --fix, prettier --write

chore: better test assertion to ensure we actually replicate the bug scenario
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
Due: eslint --fix, prettier --write

fix: better axios logging
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/lib/baseAxios.ts
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-apiclient/src/main.ts
  packages/lib-auth/src/lib/oryAxiosClient.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: unit tests item
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/]
  packages/web-main/src/routes/_auth/_global/-modules/testData.ts
Due: eslint --fix, prettier --write

Fix: delete multiple variables e2e test
  packages/e2e/src/web-main/views/variables.spec.ts
Due: eslint --fix, prettier --write

Chore: add <Card.Title/> + Improvements to country stats visualization
  packages/lib-components/package.json
  packages/lib-components/src/components/charts/AreaChart/AreaChart.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/GeoMercator.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/charts/ZoomControls.tsx
  packages/lib-components/src/components/charts/index.tsx
  packages/lib-components/src/components/dialogs/Dialog/DialogContent.tsx
  packages/lib-components/src/components/visual/Card/Card.stories.tsx
  packages/lib-components/src/components/visual/Card/CardBody.tsx
  packages/lib-components/src/components/visual/Card/CardTitle.tsx
  packages/lib-components/src/components/visual/Card/index.tsx
  packages/web-main/src/components/cards/AddCard.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/components/cards/style.tsx
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/_auth/_global/settings/discord.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

Fix: styling of alert
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
Due: eslint --fix, prettier --write

Fix: styling of player stat
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

fix: lockfile
  package-lock.json
Due: none

fix: ensure visx/zoom is installed
  package-lock.json
  packages/lib-components/package.json
Due: none

Chore: fix grid position on dashboard
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/ChatInput.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
Due: eslint --fix, prettier --write

Chore: add titles to 2 pages
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

styles: decrease padding of page
  packages/web-main/src/components/BaseLayout/index.tsx
Due: eslint --fix, prettier --write

Fix: alpha2 aplha3 conversion + wip: draggable/zoomable
  packages/lib-components/src/components/charts/GeoMercator/GeoMercator.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/charts/GeoMercator/iso3166-alpha2-to-alpha3.ts
  packages/lib-components/src/components/charts/GeoMercator/world.json
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

Fix: e2e test
  packages/e2e/src/web-main/views/variables.spec.ts
Due: eslint --fix, prettier --write

Fix: styling alert when only icon
  packages/lib-components/src/components/feedback/Alert/Alert.stories.tsx
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

feat: performance improvement when fetching players
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

wip: refactor player page
  packages/web-main/src/components/BanPlayerDialog.tsx
  packages/web-main/src/components/GiveItemDialog.tsx
  packages/web-main/src/components/KickPlayerDialog.tsx
  packages/web-main/src/components/Player.tsx
  packages/web-main/src/components/TeleportPlayerDialog.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/pog.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariablesForm.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-style.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
Due: eslint --fix, prettier --write

wip: player profile
  packages/web-main/src/components/GiveItemDialog.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameServerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerCurrency.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/events.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/statistics.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
