Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: add missing READ_ITEMS and MANAGE_ITEMS permissions
  packages/lib-db/src/migrations/sql/20250707205720-items-permissions-missing.ts
Due: eslint --fix, prettier --write

feat: add required permissions to commands
  packages/app-api/src/db/command.ts
  packages/app-api/src/service/CommandService.ts
  packages/lib-db/src/migrations/sql/20250708095623-command-required-permissions.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/lib-modules/src/modules/dailyRewards/commands/daily.js
  packages/lib-modules/src/modules/dailyRewards/index.ts
  packages/lib-modules/src/modules/economyUtils/commands/grantCurrency.js
  packages/lib-modules/src/modules/economyUtils/commands/revokeCurrency.js
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/lib-modules/src/modules/lottery/commands/buyTicket.js
  packages/lib-modules/src/modules/lottery/commands/viewTickets.js
  packages/lib-modules/src/modules/lottery/index.ts
  packages/lib-modules/src/modules/teleports/commands/deletewaypoint.js
  packages/lib-modules/src/modules/teleports/commands/setwaypoint.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/index.ts
  packages/lib-modules/src/modules/utils/commands/help.js
  packages/web-docs/docs/modules/dailyRewards.mdx
  packages/web-docs/docs/modules/economyUtils.mdx
  packages/web-docs/docs/modules/lottery.mdx
  packages/web-docs/docs/modules/modules.json
  packages/web-docs/docs/modules/teleports.mdx
  packages/web-docs/docs/modules/utils.mdx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/commandConfig.tsx
  tasks/prd-command-permissions.md
  tasks/tasks-prd-command-permissions.md
Due: eslint --fix, prettier --write

0.2.0
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: ensure event is visible in frontend
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
Due: eslint --fix, prettier --write

chore: generate api client
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: ensure requiredPermissions get saved properly
  packages/app-api/src/db/command.ts
Due: eslint --fix, prettier --write

fix: help tests
  packages/lib-modules/src/__tests__/help.integration.test.ts
Due: eslint --fix, prettier --write

chore: better error messages for not found
  packages/app-api/src/db/ban.ts
  packages/app-api/src/db/command.ts
  packages/app-api/src/db/cronjob.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/db/function.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/db/hook.ts
  packages/app-api/src/db/module.ts
Due: eslint --fix, prettier --write

fixes and cleanup
  packages/app-api/src/service/CommandService.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/web-docs/docs/advanced/custom-modules.md
  packages/web-docs/docs/advanced/modules.md
  packages/web-docs/docs/roles-and-permissions.md
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/commandConfig.tsx
  tasks/prd-command-permissions.md
  tasks/tasks-prd-command-permissions.md
Due: eslint --fix, prettier --write

chore: bump module versions for command permissions feature
  packages/lib-modules/src/modules/dailyRewards/index.ts
  packages/lib-modules/src/modules/economyUtils/index.ts
  packages/lib-modules/src/modules/lottery/index.ts
  packages/lib-modules/src/modules/teleports/index.ts
Due: eslint --fix, prettier --write

feat: add CSV export functionality for events
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/__tests__/EventController.integration.test.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
  tasks/prd-events-export.md
  tasks/tasks-prd-events-export.md
Due: eslint --fix, prettier --write

chore: remove Produktly analytics integration
  packages/web-main/index.html
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

fix: ensure TypeScript checks use project context for test files
  scripts/typecheck-tests.sh
Due: none

test: update snapshots and error messages for command permissions feature
  packages/lib-modules/src/__tests__/economy/economyUtils.integration.test.ts
  packages/test/src/__snapshots__/CommandController/Can search by moduleId.json
  packages/test/src/__snapshots__/CommandController/Create.json
  packages/test/src/__snapshots__/CommandController/Get by ID.json
  packages/test/src/__snapshots__/CommandController/Update.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Uninstall a module.json
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in event export functionality
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write

chore: add a local minecraft server
  containers/minecraft/docker-compose.yaml
Due: none

fix: teleports permissions
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/roleExpiry.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/index.ts
Due: eslint --fix, prettier --write

chore: cleanup tasks
  tasks/prd-events-export.md
  tasks/tasks-prd-events-export.md
Due: none

Fixes to export
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/__tests__/EventController.integration.test.ts
  packages/app-api/src/service/EventService.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write

fix: a test assertion
  packages/lib-modules/src/__tests__/help.integration.test.ts
Due: eslint --fix, prettier --write

fix: add graceful retry logic for mock gameserver connection
  packages/app-mock-gameserver/src/bin.ts
Due: eslint --fix, prettier --write

feat: add senderNameOverride parameter to sendMessage endpoint
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Refactor PR description generation
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: use proper dialog
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write

Refactor PR description
  .github/workflows/dev-to-main-pr.yml
Due: none

pr desc
  .github/workflows/dev-to-main-pr.yml
Due: none

fix: use enum for extend
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.players.tsx
Due: eslint --fix, prettier --write

fix: correct gitignore path for monacoCustomTypes.json
  packages/web-main/.gitignore
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
Due: none

feat: extract observability stack into separate compose file
  containers/tempo/tempo.yaml
  docker-compose.observability.yml
  docker-compose.yml
Due: none

fix: proper check to ensure domainId is defined in the domainScoped modifier
  packages/lib-db/src/TakaroModel.ts
Due: eslint --fix, prettier --write

fix: display subcategory listing counts in CategoryFilter
  packages/web-main/src/components/shop/CategoryFilter.tsx
Due: eslint --fix, prettier --write

fix: replace find() with getIterator() to handle pagination properly
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/Base.ts
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/__tests__/Base.integration.test.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

tests: basic pw tests structure
  CLAUDE.md
  package-lock.json
  package.json
  packages/e2e/package.json
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/fixtures/shopCategoriesSetup.ts
  packages/e2e/src/web-main/pages/ShopCategoriesPage.ts
  packages/e2e/src/web-main/pages/ShopListingPage.ts
  packages/e2e/src/web-main/pages/ShopPage.ts
  packages/e2e/src/web-main/pages/index.ts
  packages/e2e/src/web-main/views/shop/categories.spec.ts
  packages/e2e/src/web-main/views/shop/categoryNavigation.spec.ts
  packages/e2e/src/web-main/views/shop/listingCategories.spec.ts
Due: eslint --fix, prettier --write

fix: bad eslint fixes
  packages/e2e/src/web-main/views/shop/categories.spec.ts
  packages/e2e/src/web-main/views/shop/listingCategories.spec.ts
Due: eslint --fix, prettier --write
