Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: update teleports how-to
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

fix: allow high privilege users to claim orders of other users
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

docs: update install teleports how to
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

chore: switch player connected icon
  packages/lib-modules/src/modules/chatBridge/hooks/PlayerConnected.js
Due: eslint --fix, prettier --write

fix: buying multiple of a listing in 1 order
  packages/app-api/src/service/Shop/index.ts
Due: eslint --fix, prettier --write

fix: an issue when startup up and seeding builtins
  packages/app-api/src/main.ts
  packages/app-api/src/service/ModuleService.ts
Due: eslint --fix, prettier --write

fix: an issue detecting discord hooks
  packages/app-api/src/service/HookService.ts
Due: eslint --fix, prettier --write

docs: update teleports guide
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

feat: improve gameserver reconnection logic (#1076)
  packages/app-connector/src/config.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

fix: prettier
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
Due: eslint --fix, prettier --write

deps: bump github deps
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
Due: none

Chore: update lockfile
  package-lock.json
Due: none

Fix: changed structure
  .github/workflows/docker.yml
Due: none

Fix: quote issue
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
Due: eslint --fix, prettier --write

Chore: happy now?
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
Due: eslint --fix, prettier --write

Chore: create docker network
  scripts/integration-tests.mjs
Due: none

Chore: don't use v2
  scripts/integration-tests.mjs
Due: none

Chore: remove composeopts
  scripts/integration-tests.mjs
Due: none

fix: create network like this
  scripts/integration-tests.mjs
Due: none

chore: make prettier and eslint happy
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-connector/src/config.ts
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

fix: network creation command
  scripts/integration-tests.mjs
Due: none

Update Install-teleports.mdx
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

Update Install-teleports.mdx (#1078)
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

Create connect-7dtd-server.md
  packages/web-docs/pages/how-to-guides/connect-7dtd-server.md
Due: none

feat: add acting user and module IDs to events
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-db/src/migrations/sql/20240720135010-acting-user-and-module.ts
  packages/lib-function-helpers/src/getTakaro.ts
  packages/lib-util/src/context.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

ci: refactor network setup
  docker-compose.test.yml
  docker-compose.yml
  scripts/integration-tests.mjs
Due: none

feat: add acting user and module IDs to events (#1081)
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-db/src/migrations/sql/20240720135010-acting-user-and-module.ts
  packages/lib-function-helpers/src/getTakaro.ts
  packages/lib-util/src/context.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Create install-geoblock.md
  packages/web-docs/pages/install-geoblock.md
Due: none

Feat: draft support
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopListingBuyForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write

Create connect-rust-server.md
  packages/web-docs/pages/how-to-guides/connect-rust-server.md
Due: none

fix: ci (#1077)
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
  docker-compose.test.yml
  docker-compose.yml
  package-lock.json
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-connector/src/config.ts
  packages/app-mock-gameserver/src/scenarios/basic.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write

Create connect-7dtd-server.md (#1079)
  packages/web-docs/pages/how-to-guides/connect-7dtd-server.md
Due: none

Create install-geoblock.md (#1082)
  packages/web-docs/pages/install-geoblock.md
Due: none

Create connect-rust-server.md (#1087)
  packages/web-docs/pages/how-to-guides/connect-rust-server.md
Due: none

chore: add listing to api outputsfix: action version
  .github/workflows/deploy-docs.yml
Due: none

Fix: show shoplisting name
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

Chore: add typecompletion for listing extend on shopOrderOutputDTO
  packages/app-api/src/service/Shop/dto.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
