Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

feat: inject version info to container
  .github/workflows/docker.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
Due: none

feat: display version in API docs
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

feat: more details about running version
  .github/workflows/docker.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

fix: add merge_group as trigger so branch protection rules can get satisfied when working with merge queues
  .github/workflows/docker.yml
Due: none

Expose version information (#1116)
  .github/workflows/docker.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

fix: permissions for shop (#1073)
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/SettingsController.ts
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/db/base.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/service/Base.ts
  packages/app-api/src/service/GameServerService.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/permissions.ts
  packages/lib-db/src/migrations/sql/20240718121004-delete-read-gameservers-perm.ts
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: improve module test output
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: allow overriding role expiry without having to remove and recreate role
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
Due: eslint --fix, prettier --write

fix: move when API call happens so errors can get caught
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: remove some tests for outdated behavior
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/test/src/__snapshots__/PlayerController/Assigning the same role for same gameserver should fail.json
  packages/test/src/__snapshots__/PlayerController/Assigning the same role twice should fail.json
Due: eslint --fix, prettier --write

Improve module test output (#1118)
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Allow overriding role expiry without having to remove and recreate role (#1119)
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/test/src/__snapshots__/PlayerController/Assigning the same role for same gameserver should fail.json
  packages/test/src/__snapshots__/PlayerController/Assigning the same role twice should fail.json
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
Due: eslint --fix, prettier --write

fix: allow searching by external reference
  packages/app-api/src/controllers/DomainController.ts
Due: eslint --fix, prettier --write

fix: store ext ref when creating domain
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

fix: store ext ref when creating domain (#1122)
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

chore: tag main branch as latest
  .github/workflows/docker.yml
Due: none

fix: move latest config
  .github/workflows/docker.yml
Due: none

fix: also include default tags cfg
  .github/workflows/docker.yml
Due: none

0.0.6
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: trailing docs version
  packages/web-docs/package-lock.json
Due: none

chore: automatically generate API client in CI
  .github/workflows/docker.yml
  scripts/integration-tests.mjs
Due: none

fix: ensure right takaro host
  scripts/integration-tests.mjs
Due: none

fix: ensure generated client gets formatted properly
  scripts/integration-tests.mjs
Due: none

fix: checkout github ref
  .github/workflows/docker.yml
Due: none

fix: only commit back when on a branch
  .github/workflows/docker.yml
Due: none

debug: temp run node ci on current branch
  .github/workflows/docker.yml
Due: none

fix: make version more stable so API client doesn't need to get regenerated every time
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

chore: remove debug workflow trigger
  .github/workflows/docker.yml
Due: none

feat: add a command to claim shop orders ingame
  packages/app-api/src/service/CommandService.ts
  packages/lib-modules/src/__tests__/economyUtils.shop.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/commands/claim.js
  packages/lib-modules/src/modules/economyUtils/index.ts
Due: eslint --fix, prettier --write

Automatically generate API client in CI (#1125)
  .github/workflows/docker.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-http/src/controllers/meta.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add a command to claim shop orders ingame (#1126)
  packages/app-api/src/service/CommandService.ts
  packages/lib-modules/src/__tests__/economyUtils.shop.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/commands/claim.js
  packages/lib-modules/src/modules/economyUtils/index.ts
Due: eslint --fix, prettier --write

chore: only generate api client on development branch to make it less noisy
  .github/workflows/docker.yml
Due: none

fix: adjust when client gets pushed
  .github/workflows/docker.yml
Due: none

0.0.7
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: trailing docs...
  packages/web-docs/package-lock.json
Due: none

ci: bump github action versions
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dev-to-main-pr.yml
  .github/workflows/docker.yml
Due: none

chore: FromAsCasing
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  packages/lib-components/Dockerfile.dev
Due: none

ci: bump action versions
  .github/workflows/docker.yml
Due: none

chore: only commit generated api client on develop branch
  .github/workflows/docker.yml
Due: none
