Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Set reports/junit directory permissions for Docker container
  scripts/integration-tests.mjs
Due: none

Reduce inventory history storage by 96% with baseline + diff approach
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/__tests__/tracking.unit.test.ts
  packages/app-api/src/db/tracking.ts
  packages/lib-db/src/migrations/sql/20251220000000-inventory-diff-storage.ts
Due: eslint --fix, prettier --write

Address PR review feedback
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

Convert unit tests to integration tests for inventory diff storage
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/__tests__/tracking.unit.test.ts
Due: eslint --fix, prettier --write

perf: reduce dev memory 51% with unified TypeScript build
  docker-compose.yml
  nodemon.json
  package.json
  packages/app-api/package.json
  packages/app-api/tsconfig.build.json
  packages/app-connector/package.json
  packages/app-connector/tsconfig.build.json
  packages/app-mock-gameserver/package.json
  packages/app-mock-gameserver/tsconfig.build.json
  packages/lib-apiclient/package.json
  packages/lib-apiclient/tsconfig.build.json
  packages/lib-auth/package.json
  packages/lib-auth/tsconfig.build.json
  packages/lib-aws/package.json
  packages/lib-aws/tsconfig.build.json
  packages/lib-config/package.json
  packages/lib-config/tsconfig.build.json
  packages/lib-db/package.json
  packages/lib-db/tsconfig.build.json
  packages/lib-email/package.json
  packages/lib-email/tsconfig.build.json
  packages/lib-function-helpers/package.json
  packages/lib-function-helpers/tsconfig.build.json
  packages/lib-gameserver/package.json
  packages/lib-gameserver/tsconfig.build.json
  packages/lib-http/package.json
  packages/lib-http/tsconfig.build.json
  packages/lib-modules/package.json
  packages/lib-modules/tsconfig.build.json
  packages/lib-queues/package.json
  packages/lib-queues/tsconfig.build.json
  packages/lib-util/package.json
  packages/lib-util/tsconfig.build.json
  packages/test/package.json
  packages/test/tsconfig.build.json
  tsconfig.build.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

perf: exclude storybook and docusaurus from auto-run
  scripts/run-all-pkgs.sh
Due: none

fix: pr feedback
  docker-compose.yml
  package.json
  packages/app-api/tsconfig.build.json
  packages/app-connector/tsconfig.build.json
  packages/test/tsconfig.build.json
Due: none

fix: upgrade Playwright to v1.57.0 for Node 24 compatibility
  containers/playwright/dev.Dockerfile
  package-lock.json
  packages/e2e/package.json
Due: none

fix: bugged tracking data
  packages/app-api/src/db/tracking.ts
Due: eslint --fix, prettier --write

fix: align root Playwright version with e2e package for Node 24
  package-lock.json
  package.json
Due: none

chore: add a skill so agents can work better with this repo
  .claude/skills/takaro-engineer/API.md
  .claude/skills/takaro-engineer/DATABASE.md
  .claude/skills/takaro-engineer/DEBUGGING.md
  .claude/skills/takaro-engineer/DEV-ENVIRONMENT.md
  .claude/skills/takaro-engineer/DOCKER.md
  .claude/skills/takaro-engineer/FRONTEND.md
  .claude/skills/takaro-engineer/MODULES.md
  .claude/skills/takaro-engineer/SKILL.md
  .claude/skills/takaro-engineer/TESTING.md
  .claude/skills/takaro-engineer/scripts/ci-logs.sh
  .claude/skills/takaro-engineer/scripts/find-test.sh
  .claude/skills/takaro-engineer/scripts/psql-debug.sh
  CLAUDE.md
Due: none

chore: disable docs publish (extracted to separate package now)
  .github/workflows/docker.yml
Due: none

Fix JUnit test reporting in GitHub CI
  .github/workflows/docker.yml
  packages/e2e/package.json
Due: none

Enable running multiple development environments simultaneously
  .env.example
  .grove.json
  docker-compose.yml
Due: none

chore: add trailing newline to docker.yml to trigger workflow
  .github/workflows/docker.yml
Due: none

chore: better claude guidance
  CLAUDE.md
Due: none

perf: run integration tests in parallel CI shards
  .github/workflows/docker.yml
  scripts/integration-tests.mjs
  scripts/test-runner.sh
Due: none

debug: add CI profiling instrumentation
  packages/test/src/integrationTest.ts
  packages/test/src/main.ts
  packages/test/src/setups/modulesSetup.ts
  packages/test/src/test/waitForEvents.ts
  packages/test/src/timing.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write

feat: use custom script for JUnit test reporting
  .github/workflows/docker.yml
  package-lock.json
  package.json
  scripts/publish-test-results.mjs
Due: none

fix: use correct commit SHA for PR check runs
  .github/workflows/docker.yml
Due: none

fix: remove static container names for worktree compatibility
  deploy/compose/docker-compose.yml
  docker-compose.observability.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

fix: use shard-specific check names for test results
  .github/workflows/docker.yml
Due: none

test: intentionally break test to verify JUnit reporting
  packages/lib-config/src/__tests__/config.unit.test.ts
Due: eslint --fix, prettier --write

feat: switch to publish-unit-test-result-action for test reporting
  .github/workflows/docker.yml
  package-lock.json
  package.json
  packages/lib-config/src/__tests__/config.unit.test.ts
  scripts/publish-test-results.mjs
Due: eslint --fix, prettier --write

chore: replace _data bind mounts with Docker volumes
  .gitignore
  deploy/compose/docker-compose.yml
  docker-compose.observability.yml
  docker-compose.yml
  scripts/dev-init.sh
  scripts/dev-reset-data.sh
  scripts/setup-data-folders.sh
Due: none

fix: add volumes block to docker-compose.test.yml for CI compatibility
  docker-compose.test.yml
Due: none

test: add intentional failure to test PR comment output
  packages/lib-config/src/__tests__/config.unit.test.ts
Due: eslint --fix, prettier --write

refactor: consolidate test results into single report
  .github/workflows/docker.yml
Due: none

fix: use unique JUnit filenames per shard
  scripts/test-runner.sh
Due: none

chore: remove intentional failing test
  packages/lib-config/src/__tests__/config.unit.test.ts
Due: eslint --fix, prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

0.4.11
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

perf: parallelize test setup operations
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/Module/index.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write

perf: reduce CI runtime with caching and deduplication
  .github/workflows/builds.yml
  .github/workflows/docker.yml
  docker-compose.test.yml
  scripts/dev-init.sh
  scripts/integration-tests.mjs
Due: none

fix: prevent Redis port misconfiguration in grove worktrees
  docker-compose.yml
Due: none

fix: restore nodemon start:dev scripts lost in merge conflict
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
Due: none

fix: add internal networking env vars for grove worktree compatibility
  docker-compose.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
