Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: remove auto merger replaced by merge queue
  .github/workflows/auto-update-pr.yml
Due: none

feat: let filter and search support arrays of values (#487)
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/DiscordController.ts
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/ModuleController.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/VariableController.ts
  packages/app-api/src/controllers/__tests__/CronJobController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/controllers/__tests__/multitenancy.integration.test.ts
  packages/app-api/src/lib/validators.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/lib-apiclient/src/__tests__/main.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/__tests__/queryBuilder.integration.test.ts
  packages/lib-db/src/queryBuilder.ts
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: expose trace ID in browser
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-http/src/app.ts
  packages/lib-http/src/middleware/logger.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: remove auto merger replaced by merge queue (#490)
  .github/workflows/auto-update-pr.yml
Due: none

wip: search
  packages/lib-components/src/components/inputs/SearchField/SearchField.stories.tsx
  packages/lib-components/src/components/inputs/SearchField/index.tsx
Due: eslint --fix, prettier --write

ci: mooooore
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

feat: expose trace ID in browser (#493)
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-http/src/app.ts
  packages/lib-http/src/middleware/logger.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: pagination + Feat: row selection (#481)
  packages/app-api/src/controllers/VariableController.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/index.tsx
  packages/lib-components/src/hooks/useTableActions.ts
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/web-main/src/components/modules/Cards/ModuleCardDefinition.tsx
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/components/modules/Cards/style.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/index.ts
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/players/index.ts
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/users/index.ts
  packages/web-main/src/queries/users/queries.tsx
  packages/web-main/src/queries/util.ts
  packages/web-main/src/queries/variables/index.ts
  packages/web-main/src/queries/variables/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: use new array structure in filters
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

feat: invite users to dashboard via frontend
  packages/e2e/src/web-main/auth.spec.ts
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write

fix: some better error handling for forms
  packages/lib-auth/src/lib/oryAxiosClient.ts
  packages/lib-components/src/components/feedback/FormError/index.tsx
Due: eslint --fix, prettier --write

fix: issue with ory pagination
  package-lock.json
  packages/lib-auth/src/lib/paginationHelpers.ts
Due: eslint --fix, prettier --write

chore: add default renovate config
  renovate.json
Due: none

chore: update renovate schedule
  renovate.json
Due: none

fix: a bunch of tests
  packages/e2e/src/web-main/fixtures/GameServersPage.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/gameservers.spec.ts
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/web-main/src/components/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

Fix: infinite scroll logic
  packages/lib-components/src/components/data/InfiniteScroll/index.tsx
  packages/web-main/src/queries/util.ts
Due: eslint --fix, prettier --write

improve-editor-usage (#462)
  packages/e2e/src/web-main/fixtures/GameServersPage.ts
  packages/e2e/src/web-main/fixtures/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/fixtures/StudioPage.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/gameservers.spec.ts
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/lib-components/src/components/actions/ContextMenu/ContextMenu.stories.tsx
  packages/lib-components/src/components/actions/ContextMenu/Group.tsx
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
  packages/lib-components/src/components/inputs/EditableField/index.tsx
  packages/lib-components/src/components/other/CollapseList/index.tsx
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/style.ts
  packages/web-main/src/components/modules/Editor/customTypes.ts
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/Editor/theme.ts
  packages/web-main/src/components/modules/FileExplorer/Directory.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

Fix: infinite scroll logic (#500)
  packages/lib-components/src/components/data/InfiniteScroll/index.tsx
  packages/web-main/src/queries/util.ts
Due: eslint --fix, prettier --write

chore: update renovate schedule (#499)
  renovate.json
Due: none

ci: add mailhog to test containers
  docker-compose.test.yml
  scripts/integration-tests.mjs
Due: none

wip: search
  packages/lib-components/src/components/inputs/SearchField/Generic.tsx
  packages/lib-components/src/components/inputs/SearchField/SearchField.stories.tsx
  packages/lib-components/src/components/inputs/SearchField/index.tsx
Due: eslint --fix, prettier --write

feat: generate detailed API docs for all (most) packages
  .github/workflows/deploy-docs.yml
  packages/app-api/typedoc.json
  packages/app-connector/typedoc.json
  packages/app-mock-gameserver/typedoc.json
  packages/app-vmm/typedoc.json
  packages/lib-apiclient/typedoc.json
  packages/lib-auth/typedoc.json
  packages/lib-aws/typedoc.json
  packages/lib-config/typedoc.json
  packages/lib-db/typedoc.json
  packages/lib-email/typedoc.json
  packages/lib-function-helpers/typedoc.json
  packages/lib-gameserver/typedoc.json
  packages/lib-http/typedoc.json
  packages/lib-modules/typedoc.json
  packages/lib-queues/typedoc.json
  packages/lib-util/typedoc.json
  packages/test/typedoc.json
  typedoc.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: dummy event page
  packages/lib-components/;
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/EventFeed/EventFeedItem.tsx
  packages/web-main/src/components/EventFeed/index.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/pages/Events.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

chore: rename
  packages/web-main/src/components/EventFeed/EventItem.tsx
  packages/web-main/src/components/EventFeed/index.tsx
  packages/web-main/src/pages/Events.tsx
Due: eslint --fix, prettier --write

Feat: add filter prop
  packages/lib-components/src/components/inputs/Select/Controlled.tsx
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-components/src/components/inputs/Select/Select.stories.tsx
  packages/lib-components/src/components/inputs/Select/style.ts
Due: eslint --fix, prettier --write

Fix: clear input field when item is selected
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
Due: eslint --fix, prettier --write

style: clean up
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-components/src/components/inputs/Select/style.ts
Due: eslint --fix, prettier --write

style: fix EventItem margin
  packages/web-main/src/components/EventFeed/EventItem.tsx
  packages/web-main/src/components/EventFeed/index.tsx
Due: eslint --fix, prettier --write

feat: basic events query
  packages/web-main/src/pages/Events.tsx
  packages/web-main/src/queries/events/index.ts
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write

Feat: add types for multiselect
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
Due: eslint --fix, prettier --write

feat: generate detailed API docs for all (most) packages (#503)
  .github/workflows/deploy-docs.yml
  packages/app-api/typedoc.json
  packages/app-connector/typedoc.json
  packages/app-mock-gameserver/typedoc.json
  packages/app-vmm/typedoc.json
  packages/lib-apiclient/typedoc.json
  packages/lib-auth/typedoc.json
  packages/lib-aws/typedoc.json
  packages/lib-config/typedoc.json
  packages/lib-db/typedoc.json
  packages/lib-email/typedoc.json
  packages/lib-function-helpers/typedoc.json
  packages/lib-gameserver/typedoc.json
  packages/lib-http/typedoc.json
  packages/lib-modules/typedoc.json
  packages/lib-queues/typedoc.json
  packages/lib-util/typedoc.json
  packages/test/typedoc.json
  typedoc.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: icon nav
  packages/web-main/src/App.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
Due: eslint --fix, prettier --write

Fix: no keys warning
  packages/web-main/src/components/Navbar/index.tsx
Due: eslint --fix, prettier --write

deps: increase vite version + feat: improve startup
  packages/web-main/package.json
  packages/web-main/vite.config.ts
Due: eslint --fix, prettier --write

chore: update package lock
  package-lock.json
Due: none

Fix: remove documentation link in gameservernav
  packages/web-main/src/frames/GameServerFrame.tsx
Due: eslint --fix, prettier --write

deps: increase vite version + feat: improve startup (#508)
  package-lock.json
  packages/web-main/package.json
  packages/web-main/vite.config.ts
Due: eslint --fix, prettier --write

Feat: icon nav (#507)
  packages/web-main/src/App.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/frames/GameServerFrame.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
Due: eslint --fix, prettier --write

feat: expose logs from inside module
  packages/app-vmm/src/lib/vmClient.ts
  packages/app-vmm/src/service/vmm/index.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/app-vmm/src/service/workers/executeLocal.ts
  packages/lib-aws/src/executeLambda.ts
  packages/lib-function-helpers/src/getTakaro.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: issue with teleport timeouts
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
