Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

e2e: fix ambigious locator
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
Due: eslint --fix, prettier --write

fix: ensure ssh folder exists
  .github/workflows/docker.yml
Due: none

ci: setup copybara (#990)
  .github/workflows/copy.bara.sky
  .github/workflows/sync.yml
Due: none

docs: fix incorrect punctuation :)
  packages/lib-modules/README.md
Due: none

chore: test change for copy-bara
  packages/lib-modules/README.md
Due: none

feat: add domain state property
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240216120143-domain-state.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Setting domain state to disabled, blocks any following requests.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: attach rawBody to requests
  packages/lib-http/src/app.ts
Due: eslint --fix, prettier --write

feat: allow specifying domain state when creating
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a problem with api client typings
  packages/web-main/src/pages/studio/Editor/monacoCustomTypes.json
  scripts/getMonacoCustomTypes.ts
Due: eslint --fix, prettier --write

feat: return user object after inviting one
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: don't apply domain state checks in userController
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/app-api/src/service/AuthService.ts
Due: eslint --fix, prettier --write

feat: add module related events
  package-lock.json
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240229141340-looser-fks-events.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: hide tanstack router in production (#995)
  packages/web-main/src/routes/__root.tsx
Due: eslint --fix, prettier --write

fix: rename a file that has quotes in it
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/test/src/__snapshots__/ModuleController/Does not allow creating modules with builtin parameter set.json
Due: eslint --fix, prettier --write

Fix: type safety of links, except for reusable link components + e2e crud roles (#1004)
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/PlayerProfile.ts
  packages/e2e/src/web-main/pages/RolesPage.ts
  packages/e2e/src/web-main/pages/index.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/playerProfile.spec.ts
  packages/e2e/src/web-main/views/roles.spec.ts
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/lib-components/src/components/navigation/IconNav/index.tsx
  packages/lib-components/src/components/other/Company/index.tsx
  packages/web-main/src/@tanstack.d.ts
  packages/web-main/src/App.tsx
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/queries/players/index.ts
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/roles/queries.tsx
  packages/web-main/src/routes/__root.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/routes/_auth/_global/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
  packages/web-main/src/routes/_auth/logout.tsx
  packages/web-main/src/routes/account.verification.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/routes/logout-return.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

fix: enable tracing in CI
  .github/workflows/docker.yml
  containers/grafana/agent/config.river
  docker-compose.test.yml
Due: none

Fix: cache not updating variables table
  packages/web-main/src/queries/variables/queries.tsx
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

chore: disable tail sampling during CI
  containers/grafana/agent/config.river
Due: none

wip: get rid of sandpack
  packages/lib-components/package.json
  packages/web-main/src/hooks/useModule.ts
  packages/web-main/src/routes/-studio/CopyModulePopOver.tsx
  packages/web-main/src/routes/-studio/Editor/FileTabs.tsx
  packages/web-main/src/routes/-studio/Editor/configs/commandConfig.tsx
  packages/web-main/src/routes/-studio/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/routes/-studio/Editor/configs/hookConfig.tsx
  packages/web-main/src/routes/-studio/Editor/index.tsx
  packages/web-main/src/routes/-studio/FileExplorer/Directory.tsx
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/-studio/FileExplorer/ModuleList.tsx
  packages/web-main/src/routes/-studio/FileExplorer/index.tsx
  packages/web-main/src/routes/-studio/FileExplorer/utils.ts
  packages/web-main/src/routes/-studio/Header.tsx
  packages/web-main/src/routes/-studio/StudioInner.tsx
  packages/web-main/src/routes/-studio/useActiveCode.tsx
  packages/web-main/src/routes/-studio/useStudioStore.tsx
  packages/web-main/src/routes/µ
Due: eslint --fix, prettier --write

Fix: test
  packages/e2e/src/web-main/views/studio.spec.ts
Due: eslint --fix, prettier --write

Fix: filtering + Fix: variable key is not a uuid (#1005)
  packages/e2e/src/web-main/views/studio.spec.ts
  packages/web-main/src/queries/variables/queries.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

Feat: use zustand and get rid of sandpack
  packages/web-main/src/routes/-studio/Editor/index.tsx
  packages/web-main/src/routes/-studio/Editor/theme.ts
  packages/web-main/src/routes/-studio/FileExplorer/Directory.tsx
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/-studio/FileExplorer/ModuleList.tsx
  packages/web-main/src/routes/-studio/FileExplorer/index.tsx
  packages/web-main/src/routes/-studio/Header.tsx
  packages/web-main/src/routes/-studio/StudioInner.tsx
  packages/web-main/src/routes/-studio/useStudioStore.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
  packages/web-main/src/routes/µ
Due: eslint --fix, prettier --write

style: use accent border
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
Due: eslint --fix, prettier --write

Feat: add activeFile to search param
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

Fix: can now close last file
  packages/web-main/src/routes/-studio/useStudioStore.tsx
Due: eslint --fix, prettier --write

Fix: should not be able to delete or edit builtin module
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

Fix: copy link
  packages/web-main/src/routes/-studio/CopyModulePopOver.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

Refactor: replace sandpack with zustand (#1007)
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
  packages/web-main/package.json
  packages/web-main/src/hooks/useModule.ts
  packages/web-main/src/routes/-studio/CopyModulePopOver.tsx
  packages/web-main/src/routes/-studio/Editor/FileTabs.tsx
  packages/web-main/src/routes/-studio/Editor/configs/commandConfig.tsx
  packages/web-main/src/routes/-studio/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/routes/-studio/Editor/configs/hookConfig.tsx
  packages/web-main/src/routes/-studio/Editor/index.tsx
  packages/web-main/src/routes/-studio/Editor/theme.ts
  packages/web-main/src/routes/-studio/FileExplorer/Directory.tsx
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/-studio/FileExplorer/ModuleList.tsx
  packages/web-main/src/routes/-studio/FileExplorer/index.tsx
  packages/web-main/src/routes/-studio/FileExplorer/utils.ts
  packages/web-main/src/routes/-studio/Header.tsx
  packages/web-main/src/routes/-studio/StudioInner.tsx
  packages/web-main/src/routes/-studio/useActiveCode.tsx
  packages/web-main/src/routes/-studio/useStudioStore.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

Chore: implement functions in studio
  packages/app-api/src/service/FunctionService.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/StudioPage.ts
  packages/e2e/src/web-main/views/studio.spec.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-function-helpers/src/checkPermission.ts
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/routes/-studio/Editor/customTypes.ts
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/-studio/FileExplorer/index.tsx
  packages/web-main/src/routes/-studio/FileExplorer/utils.ts
  packages/web-main/src/routes/-studio/StudioInner.tsx
  packages/web-main/src/routes/-studio/useStudioStore.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.copy.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add player-created event
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add timestamp to json logging
  packages/lib-util/src/logger.ts
Due: eslint --fix, prettier --write

chore: use player created event in test setup
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write

chore: big refactor in how player data gets resolved/synced
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

chore: refactor modules test setup
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
  packages/lib-modules/src/__tests__/economyUtils.integration.test.ts
  packages/lib-modules/src/__tests__/geoblock.integration.test.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/roleExpiry.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCost.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/test/src/main.ts
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write

fix: undefined var
  scripts/integration-tests.mjs
Due: none

fix: some eventworker tests
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
Due: eslint --fix, prettier --write

fix: a eventworker test
  packages/app-api/src/service/EventService.ts
Due: eslint --fix, prettier --write

fix: an issue with gameServer test setup
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write

fix: typing issue
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
Due: eslint --fix, prettier --write
