Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: make eslint happy
  packages/app-api/src/lib/DiscordBot.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/lib-components/src/components/inputs/DurationField/Duration.stories.tsx
  packages/lib-http/src/app.ts
  packages/lib-modules/src/modules/economyUtils/commands/transfer.js
  packages/lib-util/src/health.ts
  packages/lib-util/src/logger.ts
  packages/lib-util/src/metrics.ts
  packages/test/src/integrationTest.ts
  packages/test/src/snapshots.ts
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/SchemaToInputs.ts
  packages/web-main/src/routes/_auth/_global/settings/gameservers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopListingBuyForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
  packages/web-main/src/routes/_single-page/link.tsx
  scripts/items/7d2d.sh
  scripts/items/parse-7d2d.mjs
  scripts/items/parse-rust.mjs
  scripts/items/rust.sh
Due: eslint --fix, prettier --write

Fix: ignore reports
  eslint.config.mjs
Due: none

Fix: prettier lints
  packages/test/src/integrationTest.ts
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

Chore: developer mode frontend
  package-lock.json
  packages/web-main/src/components/DeveloperModeGuard.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
  packages/web-main/src/routes/_auth/module-builder.$moduleId.tsx
Due: eslint --fix, prettier --write

fix: dependency weirdness with underlying openapi packages
  package-lock.json
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: dependency weirdness with underlying openapi packages
  package-lock.json
  package.json
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-http/package.json
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix lockfile
  package-lock.json
Due: none

wip: refactor player page
  packages/web-main/src/components/Player.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/inventory.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
Due: eslint --fix, prettier --write

feat: API for worldmap players
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/service/StatsService.ts
Due: eslint --fix, prettier --write

chore: add a description to country stats API
  packages/app-api/src/controllers/StatsController.ts
Due: eslint --fix, prettier --write

feat: add player playtime tracking
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20240922110414-player-playtime.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: update class-validator
  package-lock.json
  package.json
  packages/lib-http/package.json
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

fix: adjust renovate config
  renovate.json
Due: none

Refactor: role/roleid/something instead of role/something/roleid
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/roles.$roleId.update.tsx
  packages/web-main/src/routes/_auth/_global/roles.$roleId.view.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.tsx
Due: eslint --fix, prettier --write

Feat: basic impl of manage users/players
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/queries/variable.tsx
  packages/web-main/src/routes/_auth/_global/-roles/ManagerView.tsx
  packages/web-main/src/routes/_auth/_global/roles.$roleId.players.tsx
  packages/web-main/src/routes/_auth/_global/roles.$roleId.users.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
Due: eslint --fix, prettier --write

Chore: don't show player/user role in roleSelect
  packages/web-main/src/components/selects/RoleSelect.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
Due: eslint --fix, prettier --write

fix: prevent assigning the User and Player system roles
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/User/index.ts
Due: eslint --fix, prettier --write

fix: filtering by user or player system roles, returns every record
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/User/index.ts
Due: eslint --fix, prettier --write

Fix(e2e): enable developer mode by default
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

wip: groundwork for bans
  packages/app-api/src/controllers/BanController.ts
  packages/app-api/src/db/ban.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/Ban/dto.ts
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/bansSyncWorker.ts
  packages/lib-db/src/migrations/sql/20240922133738-add-bans.ts
  packages/lib-queues/src/QueueService.ts
  packages/lib-queues/src/config.ts
Due: eslint --fix, prettier --write

wip
  packages/web-main/src/components/BanPlayerDialog.tsx
  packages/web-main/src/components/GiveItemDialog.tsx
  packages/web-main/src/components/KickPlayerDialog.tsx
  packages/web-main/src/components/TeleportPlayerDialog.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/pog.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.inventory.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

Fix(web-main): developer mode hiding links it shouldn't
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/components/Navbar/index.tsx
Due: eslint --fix, prettier --write

chore: remove got as dependency
  package-lock.json
  package.json
Due: none

chore: add more automerge-enabled deps
  renovate.json
Due: none

feat: tons of logic for handling bans
  packages/app-api/src/controllers/BanController.ts
  packages/app-api/src/db/ban.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/Ban/dto.ts
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/__tests__/BanService.integration.test.ts
  packages/app-api/src/workers/bansSyncWorker.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-db/src/migrations/sql/20240922133738-add-bans.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/web-docs/docs/bans.md
  packages/web-docs/package.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: group pkgs in renovate
  renovate.json
Due: none

chore: also group ory deps
  renovate.json
Due: none

wip
  packages/web-main/src/components/TeleportPlayerDialog.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariableCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/$gameserverId.inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-style.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

feat: enhance CSMM import with shop
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/CSMMImport.integration.test.ts
  packages/app-api/src/controllers/__tests__/csmm-export-full.json
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/lib-queues/src/dataDefinitions.ts
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: renovate group posthog deps
  renovate.json
Due: none

Chore: add <Card.Title/> + Improvements to country stats visualization
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/charts/AreaChart/AreaChart.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/GeoMercator.stories.tsx
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/lib-components/src/components/charts/ZoomControls.tsx
  packages/lib-components/src/components/charts/index.tsx
  packages/lib-components/src/components/dialogs/Dialog/DialogContent.tsx
  packages/lib-components/src/components/visual/Card/Card.stories.tsx
  packages/lib-components/src/components/visual/Card/CardBody.tsx
  packages/lib-components/src/components/visual/Card/CardTitle.tsx
  packages/lib-components/src/components/visual/Card/index.tsx
  packages/web-main/src/components/cards/AddCard.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/components/cards/style.tsx
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/_auth/_global/settings/discord.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

Fix: styling of alert
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
Due: eslint --fix, prettier --write

Fix: styling of player stat
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

Fix: add amount to currency add/reduct events
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write

fix: issue with ingesting bans for unknown players
  packages/app-api/src/service/Ban/index.ts
Due: eslint --fix, prettier --write

fix: issue reporting status of failed module when user created invalid JS code
  packages/lib-aws/src/executeLambda.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
Due: eslint --fix, prettier --write

feat: automatically claim items bought ingame from shop
  packages/lib-modules/src/__tests__/economy/shop.integration.test.ts
  packages/lib-modules/src/modules/economyUtils/commands/shop.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
