Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: bust the connection info cache when servers are unreachable
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

Chore: return uuid for delete
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: initial shop + order
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ShopView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.orders.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.tsx
Due: eslint --fix, prettier --write

fix: CSMM import
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

fix: CSMM import (#1060)
  package-lock.json
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
Due: eslint --fix, prettier --write

Chore: wip confirmation buy + shop table view
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ShopCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.tsx
Due: eslint --fix, prettier --write

Chore: move studio to auth routes + fix studio onboarding buttons
  packages/web-main/src/routes/_auth/-studio/CopyModulePopOver.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/FileTabs.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/configs/ConfigLoading.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/configs/commandConfig.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/configs/hookConfig.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/configs/index.ts
  packages/web-main/src/routes/_auth/-studio/Editor/configs/style.ts
  packages/web-main/src/routes/_auth/-studio/Editor/customTypes.ts
  packages/web-main/src/routes/_auth/-studio/Editor/index.tsx
  packages/web-main/src/routes/_auth/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/-studio/Editor/theme.ts
  packages/web-main/src/routes/_auth/-studio/Editor/utils.ts
  packages/web-main/src/routes/_auth/-studio/FileExplorer/Directory.tsx
  packages/web-main/src/routes/_auth/-studio/FileExplorer/File.tsx
  packages/web-main/src/routes/_auth/-studio/FileExplorer/ModuleList.tsx
  packages/web-main/src/routes/_auth/-studio/FileExplorer/index.tsx
  packages/web-main/src/routes/_auth/-studio/FileExplorer/utils.ts
  packages/web-main/src/routes/_auth/-studio/Header.tsx
  packages/web-main/src/routes/_auth/-studio/ModuleOnboarding.tsx
  packages/web-main/src/routes/_auth/-studio/StudioInner.tsx
  packages/web-main/src/routes/_auth/-studio/useActiveCode.tsx
  packages/web-main/src/routes/_auth/-studio/useStudioStore.tsx
  packages/web-main/src/routes/_auth/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

feat: show an overview of recent failed module calls
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: show an overview of recent failed module calls (#1062)
  package-lock.json
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: for teleport list when a server has many teleports (more than default pagination limit)
  packages/lib-db/src/migrations/sql/20240705140358-teleports-public-refactor.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/lib-modules/src/modules/teleports/functions/utils.js
Due: eslint --fix, prettier --write

fix: for teleport list when a server has many teleports (more than default pagination limit) (#1063)
  packages/lib-db/src/migrations/sql/20240705140358-teleports-public-refactor.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/lib-modules/src/modules/teleports/functions/utils.js
Due: eslint --fix, prettier --write

fix: double waypoint teleports
  packages/lib-modules/src/modules/teleports/commands/teleportwaypoint.js
Due: eslint --fix, prettier --write

fix: double waypoint teleports (#1064)
  packages/lib-modules/src/modules/teleports/commands/teleportwaypoint.js
Due: eslint --fix, prettier --write

fix: an issue when deploying docs
  packages/lib-auth/src/lib/__tests__/ory.integration.test.ts
Due: eslint --fix, prettier --write

feat: add Posthog integration
  docker-compose.yml
  package-lock.json
  package.json
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/App.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: js env var...
  packages/web-main/public/env.js
Due: eslint --fix, prettier --write

fix: forgot the var in the container...
  containers/generic-web/entrypoint.sh
Due: none

feat: add more gameserver stats
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: issue with player activity stats
  packages/app-api/src/db/player.ts
Due: eslint --fix, prettier --write

feat: add more statistics (#1065)
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: module config example
  packages/web-docs/pages/advanced/modules.md
Due: none

feat: add some stats to players page
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/queryBuilder.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a test snapshot
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
Due: none

feat: add some stats to players page (#1066)
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/queryBuilder.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: mock scenarios
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

fix: read scenario properly with path
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
Due: eslint --fix, prettier --write

refactor scenarios to use TS
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

chore: example for entity-killed and player-death in scenarios
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

fix: mutating data of scenario
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
Due: eslint --fix, prettier --write

fix: clean up metrics for deleted servers
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

feat: add endpoints for fetching events via item ID
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/HookController.ts
Due: eslint --fix, prettier --write

Style: button
  packages/lib-components/src/components/actions/Button/style.ts
Due: eslint --fix, prettier --write

chore: add an index on eventName
  packages/lib-db/src/migrations/sql/20240710181429-events-name-idx.ts
Due: eslint --fix, prettier --write

fix: add error handling to a migration
  packages/lib-db/src/migrations/sql/20240705140358-teleports-public-refactor.ts
Due: eslint --fix, prettier --write

feat: quality and amount for shopListings
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240711181423-shop-orders-multi-listing.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/test/src/__snapshots__/ShopController/Create without item.json
  packages/test/src/__snapshots__/ShopController/Create.json
  packages/test/src/__snapshots__/ShopController/Get by ID.json
  packages/test/src/__snapshots__/ShopController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: an issue inviting users that already have an Identity
  packages/app-api/src/service/UserService.ts
Due: eslint --fix, prettier --write
