Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: CSMM import (#1060)
  package-lock.json
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
Due: eslint --fix, prettier --write

feat: show an overview of recent failed module calls (#1062)
  package-lock.json
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: double waypoint teleports (#1064)
  packages/lib-modules/src/modules/teleports/commands/teleportwaypoint.js
Due: eslint --fix, prettier --write

fix: for teleport list when a server has many teleports (more than default pagination limit) (#1063)
  packages/lib-db/src/migrations/sql/20240705140358-teleports-public-refactor.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/lib-modules/src/modules/teleports/functions/utils.js
Due: eslint --fix, prettier --write

feat: add Posthog integration
  docker-compose.yml
  package-lock.json
  package.json
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/App.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/getConfigVar.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: an issue when deploying docs
  packages/lib-auth/src/lib/__tests__/ory.integration.test.ts
Due: eslint --fix, prettier --write

fix: js env var...
  packages/web-main/public/env.js
Due: eslint --fix, prettier --write

feat: add more statistics (#1065)
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: forgot the var in the container...
  containers/generic-web/entrypoint.sh
Due: none

fix: module config example
  packages/web-docs/pages/advanced/modules.md
Due: none

fix: read scenario properly with path
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
Due: eslint --fix, prettier --write

fix: mock scenarios
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

feat: add some stats to players page (#1066)
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/queryBuilder.ts
  packages/test/src/__snapshots__/GameServerController/Can get list of gameserver types.json
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/-players/playerStats.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor scenarios to use TS
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
  packages/app-mock-gameserver/src/scenarios/basic.ndjson
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

chore: example for entity-killed and player-death in scenarios
  packages/app-mock-gameserver/src/scenarios/basic.ts
Due: eslint --fix, prettier --write

fix: mutating data of scenario
  packages/app-mock-gameserver/src/lib/gameserver/scenario.ts
Due: eslint --fix, prettier --write

fix: clean up metrics for deleted servers
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

feat: add endpoints for fetching events via item ID
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/HookController.ts
Due: eslint --fix, prettier --write

fix: add error handling to a migration
  packages/lib-db/src/migrations/sql/20240705140358-teleports-public-refactor.ts
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

chore: add an index on eventName
  packages/lib-db/src/migrations/sql/20240710181429-events-name-idx.ts
Due: eslint --fix, prettier --write

fix: chat message detection
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

Chore: close dialog when bought + rename buy to purchase
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
Due: eslint --fix, prettier --write

Chore: add separate shop view for players
  packages/web-main/src/routes/_auth/_player.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId/index.tsx
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId/orders.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.orders.tsx
Due: eslint --fix, prettier --write

Fix: set default styles for dd
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

Fix: typo
  packages/lib-modules/src/modules/geoBlock/index.ts
Due: eslint --fix, prettier --write

Fix: remove unnecessary eslint ignore
  packages/lib-components/src/components/other/Company/index.tsx
Due: eslint --fix, prettier --write

Chore: disable table layout when no data
  packages/lib-components/src/components/data/Table/index.tsx
Due: eslint --fix, prettier --write

Chore: add type completion for 2 new env vars
  packages/web-main/src/vite-env.d.ts
Due: eslint --fix, prettier --write

Chore: rename shop to shop and orders
  packages/web-main/src/components/Navbar/GameServerNav.tsx
Due: eslint --fix, prettier --write

Feat: add support for multiple items
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write

Chore: add new env vars to env.example
  .env.example
Due: none

Chore: get rid of gameserver selector
  packages/web-main/src/routes/_auth/_player/shop.$gameServerId.tsx
Due: eslint --fix, prettier --write

Chore: format
  packages/lib-components/src/components/actions/ToggleButton/style.ts
  packages/lib-components/src/components/inputs/selects/sharedStyle.ts
Due: eslint --fix, prettier --write

Fix: issue with loading state of selectfield
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/lib-components/src/components/inputs/selects/index.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/ItemSelectQuery.stories.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/index.tsx
Due: eslint --fix, prettier --write

fix: try with this 7d2d chat regex
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

feat: add automatic cleanup of old events
  packages/app-api/src/db/event.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/lib-queues/src/QueueService.ts
  packages/lib-queues/src/config.ts
Due: eslint --fix, prettier --write

chore: regen lockfile...
  package-lock.json
Due: none

Chore: move player currency to parent shopview
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
Due: eslint --fix, prettier --write

Chore: add button to logout if you want to connect other account to player
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
