Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add events for economy changes
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

603 variables page filtering contains by gameserver id broken validation (#735)
  package-lock.json
  packages/lib-components/src/components/data/Table/subcomponents/Filter/field.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/style.ts
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/web-docs/package.json
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

Fix: extra check to make sure values memo ran because children rendered
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-modules/src/__tests__/economy.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/modules/economy/commands/confirmtransfer.js
  packages/lib-modules/src/modules/economy/commands/pay.js
  packages/lib-modules/src/modules/economy/commands/transfer.js
  packages/lib-modules/src/modules/economy/index.ts
Due: eslint --fix, prettier --write

feat: events for Role CRUD
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

wip: basic economy modules
  packages/lib-modules/src/__tests__/economy.integration.test.ts
  packages/lib-modules/src/modules/economy/commands/confirmtransfer.js
  packages/lib-modules/src/modules/economy/commands/transfer.js
Due: eslint --fix, prettier --write

wip: bounty module
  packages/lib-modules/src/__tests__/bounty.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/bounty/commands/bounty.js
  packages/lib-modules/src/modules/bounty/commands/deleteBounty.js
  packages/lib-modules/src/modules/bounty/commands/getBounty.js
  packages/lib-modules/src/modules/bounty/commands/hooks/resolveBounty.js
  packages/lib-modules/src/modules/bounty/commands/listBounties.js
  packages/lib-modules/src/modules/bounty/index.ts
Due: eslint --fix, prettier --write

Initial set of economy commands
  packages/lib-modules/src/__tests__/economy.integration.test.ts
  packages/lib-modules/src/modules/economy/commands/confirmTransfer.js
  packages/lib-modules/src/modules/economy/commands/grantCurrency.js
  packages/lib-modules/src/modules/economy/commands/revokeCurrency.js
  packages/lib-modules/src/modules/economy/commands/topCurrency.js
  packages/lib-modules/src/modules/economy/commands/transfer.js
  packages/lib-modules/src/modules/economy/index.ts
Due: eslint --fix, prettier --write

chore: implement feedback, more user friendly errors
  packages/lib-modules/src/__tests__/economy.integration.test.ts
  packages/lib-modules/src/modules/economy/commands/confirmTransfer.js
  packages/lib-modules/src/modules/economy/commands/transfer.js
Due: eslint --fix, prettier --write

Feat: economy module with initial set of commands (#723)
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/lib-modules/src/__tests__/economy.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/economy/commands/balance.js
  packages/lib-modules/src/modules/economy/commands/confirmTransfer.js
  packages/lib-modules/src/modules/economy/commands/grantCurrency.js
  packages/lib-modules/src/modules/economy/commands/revokeCurrency.js
  packages/lib-modules/src/modules/economy/commands/topCurrency.js
  packages/lib-modules/src/modules/economy/commands/transfer.js
  packages/lib-modules/src/modules/economy/index.ts
Due: eslint --fix, prettier --write

fix: a bunch of e2e tests
  packages/e2e/src/web-main/helpers.ts
Due: eslint --fix, prettier --write

Fix: few incorrect domcontentloaded tags + marked few tests as slow to see if longer timeout helps in ci
  packages/e2e/playwright.config.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/StudioPage.ts
  packages/e2e/src/web-main/pages/UsersPage.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/e2e/src/web-main/views/modules.spec.ts
Due: eslint --fix, prettier --write

deps: upgrade to vite v5
  package-lock.json
  packages/web-main/package.json
Due: none

Upgrade to stable storybook version
  package-lock.json
  packages/lib-components/package.json
Due: none

performance improvements by preloading files
  packages/web-main/tsconfig.json
  packages/web-main/vite.config.ts
Due: eslint --fix, prettier --write

fix: add missing comma
  packages/web-main/tsconfig.vite.json
Due: none

increase default timeouts
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

chore: use login script instead of manually locating
  packages/e2e/src/web-main/auth.spec.ts
Due: eslint --fix, prettier --write

Fix: forgot AWAIT
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

fix: add waiter in login for smaller timeout chances
  packages/e2e/src/web-main/helpers.ts
Due: eslint --fix, prettier --write

fix: logout removes cachedclient
  packages/web-main/src/hooks/useAuth.ts
Due: eslint --fix, prettier --write

Fix: command config arguments not ordered correctly
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
Due: eslint --fix, prettier --write

small improvements
  packages/e2e/src/web-main/pages/StudioPage.ts
  packages/e2e/src/web-main/views/studio.spec.ts
  packages/e2e/src/web-main/views/users.spec.ts
Due: eslint --fix, prettier --write

Fix: few tests to navigate to dashboard
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/e2e/src/web-main/views/studio.spec.ts
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
Due: eslint --fix, prettier --write

Feat: improve performance by using promise.all
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

feat: add logout route
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/hooks/useAuth.ts
  packages/web-main/src/pages/LogOut.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

chore: simplify test for builtin modules to only test on first builtin module
  packages/e2e/src/web-main/views/studio.spec.ts
Due: eslint --fix, prettier --write

Fix: a bunch of issues regarding caching and permissions
  containers/ory/kratos/kratos.yml
  packages/e2e/playwright.config.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/web-main/src/App.tsx
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/PermissionsGuard/index.tsx
  packages/web-main/src/components/routes/AuthenticationGuard.tsx
  packages/web-main/src/components/routes/PermissionsGuard.tsx
  packages/web-main/src/context/userContext.ts
  packages/web-main/src/hooks/useAuth.ts
  packages/web-main/src/hooks/useUser.ts
  packages/web-main/src/pages/LogIn.tsx
  packages/web-main/src/pages/LogOut.tsx
  packages/web-main/src/pages/LogoutSuccess.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

chore: use default playwright import
  packages/e2e/src/web-main/helpers.ts
Due: eslint --fix, prettier --write

fix: logout user if he has no perms
  containers/ory/kratos/kratos.yml
  packages/web-main/src/components/PermissionsGuard/index.tsx
  packages/web-main/src/components/routes/PermissionsGuard.tsx
  packages/web-main/src/hooks/useAuth.ts
Due: eslint --fix, prettier --write

fix(docker): pin node version to 18.18
  containers/generic-app/Dockerfile
Due: none

fix(docker): pin node 18.18 to all containers
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
Due: none

Feat: upgrade to framer motion v10
  package-lock.json
  packages/lib-components/package.json
Due: none

fix: a bunch of e2e tests (#750)
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/ory/kratos/kratos.yml
  containers/takaro/dev.Dockerfile
  packages/e2e/playwright.config.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/StudioPage.ts
  packages/e2e/src/web-main/pages/UsersPage.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/studio.spec.ts
  packages/e2e/src/web-main/views/users.spec.ts
  packages/web-main/src/App.tsx
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/PermissionsGuard/index.tsx
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/routes/AuthenticationGuard.tsx
  packages/web-main/src/components/routes/PermissionsGuard.tsx
  packages/web-main/src/context/userContext.ts
  packages/web-main/src/hooks/useAuth.ts
  packages/web-main/src/hooks/useUser.ts
  packages/web-main/src/pages/LogIn.tsx
  packages/web-main/src/pages/LogOut.tsx
  packages/web-main/src/pages/LogoutSuccess.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

fix: typo
  packages/web-main/src/components/routes/PermissionsGuard.tsx
Due: eslint --fix, prettier --write

feat: playerkill and entitykill events
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/TakaroEmitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/rust/__tests__/RustEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/lib-modules/src/dto/index.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a build :))
  packages/lib-gameserver/src/gameservers/mock/index.ts
Due: eslint --fix, prettier --write

temp disable a test
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
Due: eslint --fix, prettier --write

fix a type issue preventing tests from running
  packages/app-api/src/lib/systemConfig.ts
Due: eslint --fix, prettier --write

feat: playerkill and entitykill events (#757)
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/TakaroEmitter.ts
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/__tests__/RustEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/lib-modules/src/dto/index.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Upgrade to stable storybook version (#753)
  package-lock.json
  packages/lib-components/package.json
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
