Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: add basic error handling
  packages/web-main/src/pages/variables/VariableCreateAndUpdate.tsx
Due: eslint --fix, prettier --write

e2e: add test for duplicate keys error
  packages/e2e/src/web-main/views/variables.spec.ts
  packages/lib-components/src/components/inputs/Select/Controlled.tsx
  packages/lib-components/src/components/inputs/Select/style.ts
Due: eslint --fix, prettier --write

Fix: error messages in crud gameserver not showing
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerUpdate.tsx
Due: eslint --fix, prettier --write

e2e: add tests for gameserver crud errors
  packages/e2e/src/web-main/views/gameservers.spec.ts
Due: eslint --fix, prettier --write

Fix: missing {}
  packages/web-main/src/Router.tsx
Due: eslint --fix, prettier --write

Fix: deprecation vite cjs warnings
  packages/web-main/package.json
  packages/web-main/vite.config.mts
Due: none

Fix: deprecation vite cjs warnings (#798)
  packages/web-main/package.json
  packages/web-main/vite.config.mts
Due: none

e2e: fix tests
  packages/e2e/src/web-main/views/settings.spec.ts
Due: eslint --fix, prettier --write

Fix: gameserver deletion broken
  packages/web-main/src/components/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

e2e: fix delete gameserver test
  packages/e2e/src/web-main/views/gameservers.spec.ts
Due: eslint --fix, prettier --write

styles: improve table design
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/style.ts
  packages/lib-components/src/helpers/getInitials.ts
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/player/profile/PlayerRolesTable.tsx
  packages/web-main/src/pages/player/profile/index.tsx
Due: eslint --fix, prettier --write

feat: add required permissions to api doc
  packages/app-api/src/service/AuthService.ts
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

chore: remove an unused prop
  packages/lib-auth/src/lib/ory.ts
Due: eslint --fix, prettier --write

chore: add PERMISSIONS enum to api client
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add handling for bad json errors
  packages/lib-http/src/middleware/errorHandler.ts
Due: eslint --fix, prettier --write

feat: option to delete variable + wip: deleting multiple variables
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/style.ts
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/pages/variables/VariableDeleteDialog.tsx
  packages/web-main/src/pages/variables/VariablesDeleteDialog.tsx
Due: eslint --fix, prettier --write

chore: more consistent naming of banDto related types
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: use updated api to show real reachability status
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
Due: eslint --fix, prettier --write

wip: User deletion
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/users/DeleteUserDialog.tsx
  packages/web-main/src/queries/gameservers/index.ts
  packages/web-main/src/queries/gameservers/queries.tsx
Due: eslint --fix, prettier --write

Add: link to .env example to create steamapikey
  .env.example
Due: none

Add: TimePeriodSelect
  packages/web-main/src/components/selects/TimePeriodSelect.tsx
  packages/web-main/src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

Fix: row selection action not disappearing
  packages/lib-components/src/components/data/Table/index.tsx
  packages/web-main/src/components/selects/index.tsx
  packages/web-main/src/pages/variables/VariablesDeleteDialog.tsx
Due: eslint --fix, prettier --write

Fix: a missing key prop in map
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/web-main/src/components/selects/TimePeriodSelect.tsx
Due: eslint --fix, prettier --write

chore: capitalize component
  packages/web-main/src/components/CountryCodeToEmoji.tsx
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/player/profile/index.tsx
Due: eslint --fix, prettier --write

chore: replace manual role select + moove gameserverselect styles to separate file
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/components/selects/GameServerSelect/style.ts
  packages/web-main/src/pages/roles/assignPlayerRole.tsx
Due: eslint --fix, prettier --write

feat: import data from CSMM
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-components/src/components/feedback/FormError/index.tsx
  packages/lib-db/src/migrations/sql/20231227144315-unique-constraints-player.ts
  packages/lib-queues/src/QueueService.ts
  packages/lib-queues/src/config.ts
  packages/lib-queues/src/dataDefinitions.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/pages/GameServers.tsx
  packages/web-main/src/pages/gameserver/import.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: sync pog currency too
  packages/app-api/src/workers/csmmImportWorker.ts
Due: eslint --fix, prettier --write

fix: lottery tests
  package-lock.json
  packages/app-api/package.json
  packages/app-api/src/executors/executeLocal.ts
  packages/lib-function-helpers/package.json
  packages/lib-function-helpers/src/main.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/modules/lottery/commands/buyTicket.js
  packages/lib-modules/src/modules/lottery/commands/nextDraw.js
  packages/lib-modules/src/modules/lottery/cronJobs/drawLottery.js
  scripts/dev-data.mjs
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docs: add import info
  packages/web-docs/pages/FAQ.md
  packages/web-docs/pages/FAQ.mdx
Due: none

fix: nextDraw
  package-lock.json
  packages/app-api/src/executors/executeLocal.ts
  packages/lib-function-helpers/package.json
  packages/lib-function-helpers/src/main.ts
  packages/lib-function-helpers/src/nextCronJobRun.ts
  packages/lib-modules/src/modules/lottery/commands/nextDraw.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove nextRunAt
  packages/app-api/src/db/cronjob.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove nextRunAt type from service
  packages/app-api/src/service/CronJobService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: remove debug statements
  packages/lib-modules/src/modules/lottery/commands/buyTicket.js
  packages/lib-modules/src/modules/lottery/cronJobs/drawLottery.js
Due: eslint --fix, prettier --write

wip: park some stuff about improving import server flow
  package-lock.json
  package.json
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
  packages/web-main/src/pages/gameserver/import.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: error messages in crud gameserver not showing (#797)
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerUpdate.tsx
Due: eslint --fix, prettier --write

feat: user delete dialog
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/users/DeleteUserDialog.tsx
  packages/web-main/src/queries/users/index.ts
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write

Feat: <FileField/>
  packages/lib-components/src/components/inputs/FileField/Controlled.tsx
  packages/lib-components/src/components/inputs/FileField/FileField.stories.tsx
  packages/lib-components/src/components/inputs/FileField/Generic.tsx
  packages/lib-components/src/components/inputs/FileField/index.tsx
  packages/lib-components/src/components/inputs/FileField/style.ts
  packages/lib-components/src/components/inputs/Switch/Switch.stories.tsx
  packages/lib-components/src/components/inputs/index.ts
Due: eslint --fix, prettier --write

Feat: <FileField/> (#803)
  packages/lib-components/src/components/inputs/FileField/Controlled.tsx
  packages/lib-components/src/components/inputs/FileField/FileField.stories.tsx
  packages/lib-components/src/components/inputs/FileField/Generic.tsx
  packages/lib-components/src/components/inputs/FileField/index.tsx
  packages/lib-components/src/components/inputs/FileField/style.ts
  packages/lib-components/src/components/inputs/Switch/Switch.stories.tsx
  packages/lib-components/src/components/inputs/index.ts
Due: eslint --fix, prettier --write

refactor to use file uploads for importing
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/pages/gameserver/import.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
