Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: an issue with V1 option
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

chore: use a more limiting regex as default for hooks
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

teleport fixes (#1054)
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

fix: handle some more edge cases
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-auth/src/lib/ory.ts
Due: eslint --fix, prettier --write

Fix: package lock?
  package-lock.json
Due: none

Chore: enable console logs to see diagnostics
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/_auth.tsx
Due: eslint --fix, prettier --write

Fix: local session duration calculation
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/_auth.tsx
Due: eslint --fix, prettier --write

Fix: incorrect merge
  packages/web-main/src/components/Navbar/UserDropdown.tsx
Due: eslint --fix, prettier --write

Update settp.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
Due: eslint --fix, prettier --write

Update settp.js (#1056)
  packages/lib-modules/src/modules/teleports/commands/settp.js
Due: eslint --fix, prettier --write

Add: page to enter code on
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-components/src/errors/errors.ts
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write

Fix: stat not loading when no data
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

wip: dump some work about shop orders
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/__tests__/ShopListing.integration.test.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/db/shopOrder.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/app-api/src/service/ShopService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-db/src/migrations/sql/20240628174914-shop-orders.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: get rid of deprecated nonempty
  packages/lib-components/src/components/data/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/inputs/CodeField/CodeField.stories.tsx
  packages/lib-components/src/components/inputs/TextAreaField/TextAreaField.stories.tsx
  packages/lib-components/src/components/inputs/TextField/TextField.stories.tsx
  packages/web-main/src/components/selects/ItemSelectQuery/ItemSelectQuery.stories.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.orders.tsx
Due: eslint --fix, prettier --write

Player/User linking (#1051)
  docker-compose.yml
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-components/src/errors/errors.ts
  packages/lib-db/src/migrations/sql/20240622132552-fix-ip-history-fk.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Player/User linking (#1051)
  docker-compose.yml
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-components/src/errors/errors.ts
  packages/lib-db/src/migrations/sql/20240622132552-fix-ip-history-fk.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

deps: bump github deps
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
Due: none

Chore: update lockfile
  package-lock.json
Due: none

Fix: changed structure
  .github/workflows/docker.yml
Due: none

chore: make error fail reporting a little clearer
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

Fix: quote issue
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
Due: eslint --fix, prettier --write

Chore: happy now?
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
Due: eslint --fix, prettier --write

Fix: api changes
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/item.$itemId.create.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/item.$itemId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/items.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write

wip: some more work on orders
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/Shop/index.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-auth/src/lib/permissions.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: ensure money is deducted from user when creating a new order
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-http/src/middleware/errorHandler.ts
Due: eslint --fix, prettier --write

chore: delete some item endpoints that are not supposed to be exposed
  packages/app-api/src/controllers/ItemController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: commit snapshots
  packages/test/src/__snapshots__/ShopOrderController/Cannot search orders of another user.json
  packages/test/src/__snapshots__/ShopOrderController/Create a new order when not enough money.json
  packages/test/src/__snapshots__/ShopOrderController/Create a new order.json
  packages/test/src/__snapshots__/ShopOrderController/Get order by ID that is not yours -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Get order by ID that is not yours but you have high privileges -> success.json
  packages/test/src/__snapshots__/ShopOrderController/Get order by ID.json
  packages/test/src/__snapshots__/ShopOrderController/Search orders returns all orders when called by high privileged user.json
  packages/test/src/__snapshots__/ShopOrderController/Search orders returns only own orders.json
  packages/test/src/__snapshots__/ShopOrderController/Search orders.json
Due: none

feat: logic around claiming and canceling orders
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/app-api/src/service/Shop/index.ts
  packages/test/src/__snapshots__/ShopOrderController/Cancel order that is already canceled -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Cancel order that is not yours -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Cancel order.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order that is already claimed -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order that is canceled -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order that is not yours -> error.json
  packages/test/src/__snapshots__/ShopOrderController/Claim order.json
  packages/test/src/__snapshots__/ShopOrderController/High priv user cancel order that is not yours -> success.json
Due: eslint --fix, prettier --write

feat: events for shop
  packages/app-api/src/service/Shop/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/dto/takaroEvents.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: name should be optional
  packages/app-api/src/service/Shop/dto.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/queries/shopOrder.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: remove item create/update + update types for monaco
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/item.$itemId.create.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/item.$itemId.update.tsx
Due: eslint --fix, prettier --write

Chore: impl changes in item api
  packages/web-main/src/queries/item.tsx
Due: eslint --fix, prettier --write

wip: shop
  packages/web-main/src/components/cards/ShopListingCard/bullets.png
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/queries/shopOrder.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.orders.tsx
Due: eslint --fix, prettier --write

Chore: create docker network
  scripts/integration-tests.mjs
Due: none

Chore: don't use v2
  scripts/integration-tests.mjs
Due: none

Chore: remove composeopts
  scripts/integration-tests.mjs
Due: none

fix: an issue inviting users that already have an Identity
  packages/app-api/src/service/UserService.ts
Due: eslint --fix, prettier --write

Fix: monacotypes
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: none
