Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

chore: get rid of unused event filtering
  packages/web-main/src/components/events/EventFilter/Tag.tsx
  packages/web-main/src/components/events/EventFilter/TagList.tsx
  packages/web-main/src/components/events/EventFilter/index.tsx
  packages/web-main/src/components/events/EventFilter/style.ts
Due: eslint --fix, prettier --write

Chore: remove redundant not null
  packages/lib-components/src/components/inputs/Date/DatePicker/Generic.tsx
Due: eslint --fix, prettier --write

wip: setup web-shop
  containers/homer/assets/config.yml
  docker-compose.yml
  package-lock.json
  packages/lib-components/package.json
  packages/web-shop/README.md
  packages/web-shop/index.html
  packages/web-shop/package.json
  packages/web-shop/public/env.js
  packages/web-shop/public/favicon.ico
  packages/web-shop/public/robots.txt
  packages/web-shop/src/@tanstack.d.ts
  packages/web-shop/src/App.tsx
  packages/web-shop/src/index.tsx
  packages/web-shop/src/queryClient.ts
  packages/web-shop/src/router.tsx
  packages/web-shop/src/routes/__root.tsx
  packages/web-shop/src/routes/_default.tsx
  packages/web-shop/src/routes/_default/index.tsx
  packages/web-shop/src/util/getApiClient.ts
  packages/web-shop/src/util/getConfigVar.ts
  packages/web-shop/src/vite-env.d.ts
  packages/web-shop/tsconfig.json
  packages/web-shop/tsconfig.vite.json
  packages/web-shop/vite.config.mts
Due: eslint --fix, prettier --write

feat: add metrics for user and player activity
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/shared.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/UserService.ts
  packages/app-api/src/workers/kpiWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/__tests__/queryBuilder.integration.test.ts
  packages/lib-db/src/migrations/sql/20240613175009-lastseen-users-pog.ts
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: refactor startDate and endDate query params
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/queryBuilder.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add api endpoint for activity stats
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/service/StatsService.ts
Due: eslint --fix, prettier --write

feat: add metrics for user and player activity (#1038)
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/shared.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/StatsService.ts
  packages/app-api/src/service/UserService.ts
  packages/app-api/src/workers/kpiWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/__tests__/queryBuilder.integration.test.ts
  packages/lib-db/src/migrations/sql/20240613175009-lastseen-users-pog.ts
  packages/lib-db/src/queryBuilder.ts
  packages/web-main/src/queries/event.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: make some log lines verbose instead of debug to reduce overall volume
  packages/app-api/src/workers/eventWorker.ts
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

wip
  deploy/compose/docker-compose.yaml
  packages/web-main/src/index.tsx
  packages/web-main/src/queryKeys.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write

feat: add basic crud for shop
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/ShopController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/ShopController.integration.test.ts
  packages/app-api/src/db/items.ts
  packages/app-api/src/db/shop.ts
  packages/app-api/src/lib/validators.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/ShopService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-auth/src/lib/permissions.ts
  packages/lib-db/src/migrations/sql/20240614143517-shop.ts
  packages/lib-http/src/middleware/errorHandler.ts
  packages/test/src/__snapshots__/ShopController/Create with negative price.json
  packages/test/src/__snapshots__/ShopController/Create with zero price.json
  packages/test/src/__snapshots__/ShopController/Create without item or function.json
  packages/test/src/__snapshots__/ShopController/Create.json
  packages/test/src/__snapshots__/ShopController/Delete.json
  packages/test/src/__snapshots__/ShopController/Get by ID.json
  packages/test/src/__snapshots__/ShopController/Update.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add basic crud for shop (#1041)
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/ShopController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/ShopController.integration.test.ts
  packages/app-api/src/db/items.ts
  packages/app-api/src/db/shop.ts
  packages/app-api/src/lib/validators.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/ShopService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-auth/src/lib/permissions.ts
  packages/lib-db/src/migrations/sql/20240614143517-shop.ts
  packages/lib-http/src/middleware/errorHandler.ts
  packages/test/src/__snapshots__/ShopController/Create with negative price.json
  packages/test/src/__snapshots__/ShopController/Create with zero price.json
  packages/test/src/__snapshots__/ShopController/Create without item or function.json
  packages/test/src/__snapshots__/ShopController/Create.json
  packages/test/src/__snapshots__/ShopController/Delete.json
  packages/test/src/__snapshots__/ShopController/Get by ID.json
  packages/test/src/__snapshots__/ShopController/Update.json
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: update grafana in localdev
  docker-compose.yml
Due: none

wip: shop listing
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/bullets.png
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/style.ts
  packages/web-main/src/components/selects/InstalledModuleSelect.tsx
  packages/web-main/src/components/selects/ModuleSelect.tsx
  packages/web-main/src/components/selects/PlayerSelect.tsx
  packages/web-main/src/components/selects/RoleSelect.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/inventory.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/ChatInput.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/ChatMessage.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/OnlinePlayers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/style.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.create.tsx
Due: eslint --fix, prettier --write

feat: replace old metric and add daily active players metric
  packages/app-api/src/service/StatsService.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

feat: replace old metric and add daily active players metric (#1042)
  packages/app-api/src/service/StatsService.ts
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

Fix: incorrect disabled/readonly state
  packages/lib-components/src/components/inputs/Date/DateRangePicker/Context.tsx
  packages/lib-components/src/components/inputs/Date/DateRangePicker/index.tsx
Due: eslint --fix, prettier --write

Fix: overflow issue + decrease space of pagesize select
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/PageSizeSelect.tsx
Due: eslint --fix, prettier --write

Chore: make name required
  packages/app-api/src/service/ShopService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: make pageSize and pageIndex independently nullable
  packages/lib-components/src/hooks/useTableActions.ts
Due: eslint --fix, prettier --write

Chore: get rid of ping/pong
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

Chore: improve styles of columns
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

Feat: add queries for shopListing crud
  packages/web-main/src/queries/shopListing.tsx
Due: eslint --fix, prettier --write

Fix: incorrect names by copy paste
  packages/web-main/src/queries/item.tsx
Due: eslint --fix, prettier --write

wip: shop
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.listing.$shopListingId.update.tsx
Due: eslint --fix, prettier --write

Chore: get rid of boolean field
  packages/web-main/src/components/Boolean.tsx
Due: eslint --fix, prettier --write

Fix: some styling issues with small tables
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/PageSizeSelect.tsx
Due: eslint --fix, prettier --write

styles: add disable styling
  packages/lib-components/src/components/inputs/selects/SubComponents/Option.tsx
  packages/lib-components/src/components/inputs/selects/SubComponents/style.ts
Due: eslint --fix, prettier --write

Feat: add query for activity stats
  packages/web-main/src/queries/stats.tsx
Due: eslint --fix, prettier --write

Fix: incorrect path resulting in normal install module page being called when it should be view
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.view.tsx
Due: eslint --fix, prettier --write

Chore: add view role option to player and user table
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.tsx
Due: eslint --fix, prettier --write

Fix: incorrect route
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
Due: eslint --fix, prettier --write

Fix: readonly which should be false + order of chat messages
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.index.tsx
Due: eslint --fix, prettier --write

Update settp.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
Due: eslint --fix, prettier --write

Update tplist.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

Teleport module fix (#1043)
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

fix: an issue with canHaveCount not going through
  packages/lib-modules/src/BuiltinModule.ts
Due: eslint --fix, prettier --write

fix: pass through quality for giveItem
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: pass through quality for giveItem (#1044)
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

wip: first pass of new linking
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/__tests__/ory.integration.test.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-db/src/migrations/sql/20240615145045-user-player-link.ts
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: routes for item
  packages/web-main/src/queries/item.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/ItemCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/item.$itemId.create.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/item.$itemId.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/items.tsx
Due: eslint --fix, prettier --write
