Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix: onboarding story
  packages/lib-components/src/views/ModuleOnboarding/ModuleOnboarding.stories.tsx
Due: eslint --fix, prettier --write

fix: command click event
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

fix: more explicit key name
  packages/lib-components/src/components/navigation/IconNav/index.tsx
Due: eslint --fix, prettier --write

Basic module onboarding page (#229)
  packages/lib-components/src/components/layout/Container/index.ts
  packages/lib-components/src/components/layout/Flex/index.ts
  packages/lib-components/src/components/layout/Grid/index.ts
  packages/lib-components/src/components/layout/index.ts
  packages/lib-components/src/components/navigation/IconNav/index.tsx
  packages/lib-components/src/components/visual/Card/index.tsx
  packages/lib-components/src/styled/breakpoint.ts
  packages/lib-components/src/views/ModuleOnboarding/ModuleOnboarding.stories.tsx
  packages/lib-components/src/views/ModuleOnboarding/index.tsx
  packages/lib-components/src/views/Welcome/index.tsx
  packages/lib-components/src/views/index.ts
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/ModuleList.tsx
  packages/web-main/src/components/modules/FileExplorer/index.tsx
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
Due: eslint --fix, prettier --write

feat: integrate jsonschema in module create/edit
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/index.tsx
  packages/lib-components/src/components/inputs/index.ts
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
Due: eslint --fix, prettier --write

Fix: default value select?
  packages/lib-components/src/components/inputs/Select/Controlled.tsx
Due: eslint --fix, prettier --write

feat: add json forms to module installs
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

fix: some (type) issues
  packages/lib-components/src/components/feedback/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/NumberField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/StringField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/CheckboxWidget.tsx
Due: eslint --fix, prettier --write

fix: submitting module install configs
  packages/lib-components/src/components/inputs/JsonSchemaForm/index.tsx
  packages/web-main/src/pages/gameserver/modules/InstallModuleForm.tsx
Due: eslint --fix, prettier --write

refactor: remove some of the redundant
  packages/lib-components/src/components/inputs/CheckBox/index.tsx
  packages/lib-components/src/components/inputs/CodeField/CodeField.stories.tsx
  packages/lib-components/src/components/inputs/CodeField/Controlled.tsx
  packages/lib-components/src/components/inputs/CodeField/index.tsx
  packages/lib-components/src/components/inputs/InputProps.ts
  packages/lib-components/src/components/inputs/RadioGroup/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/index.tsx
  packages/lib-components/src/components/inputs/RadioGroup/index.tsx
  packages/lib-components/src/components/inputs/Select/Select.tsx
  packages/lib-components/src/components/inputs/Slider/index.tsx
  packages/lib-components/src/components/inputs/Switch/Controlled.tsx
  packages/lib-components/src/components/inputs/Switch/index.tsx
  packages/lib-components/src/components/inputs/TagField/TagField.stories.tsx
  packages/lib-components/src/components/inputs/TagField/index.tsx
  packages/lib-components/src/components/inputs/TextAreaField/Controlled.tsx
  packages/lib-components/src/components/inputs/TextAreaField/TextAreaField.stories.tsx
  packages/lib-components/src/components/inputs/TextAreaField/index.tsx
  packages/lib-components/src/components/inputs/TextField/Controlled.tsx
  packages/lib-components/src/components/inputs/TextField/index.tsx
  packages/lib-components/src/components/inputs/index.ts
Due: eslint --fix, prettier --write

Fix: few import errors
  packages/lib-components/src/components/inputs/RadioGroup/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/RadioGroup.stories.tsx
  packages/lib-components/src/components/inputs/RadioGroup/index.tsx
  packages/lib-components/src/components/inputs/TextField/Controlled.tsx
  packages/lib-components/src/components/inputs/TextField/TextField.stories.tsx
  packages/lib-components/src/components/inputs/index.ts
Due: eslint --fix, prettier --write

clean: remove old tabswitch component
  packages/lib-components/src/components/navigation/TabSwitch/Tab.stories.tsx
  packages/lib-components/src/components/navigation/TabSwitch/index.tsx
  packages/lib-components/src/components/navigation/TabSwitch/style.ts
  packages/lib-components/src/components/navigation/index.ts
Due: eslint --fix, prettier --write

styles: set custom shadow
  packages/lib-components/src/components/inputs/Slider/style.ts
Due: eslint --fix, prettier --write

fix: incorrect bg color
  packages/lib-components/src/components/navigation/Steppers/Stepper/style.ts
Due: eslint --fix, prettier --write

Fix: broken onChange prop
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.stories.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButtonGroup.tsx
  packages/lib-components/src/components/actions/ToggleButton/style.ts
Due: eslint --fix, prettier --write

fix: bunch of broken props
  packages/lib-components/src/components/inputs/CheckBox/Controlled.tsx
  packages/lib-components/src/components/inputs/CheckBox/index.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/BooleanField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/StringField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/getFormField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/CheckboxWidget.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/RadioWidget.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/RangeWidget.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/SelectWidget.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/TextAreaWidget.tsx
  packages/lib-components/src/components/inputs/Select/Select.tsx
Due: eslint --fix, prettier --write

chore: move app-vmm to a seperate container
  .env.example
  .github/workflows/docker.yml
  containers/dev.Dockerfile
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  containers/vm-agent/build.sh
  containers/vmm/Dockerfile
  containers/vmm/dev.Dockerfile
  docker-compose.yml
  packages/app-vmm/package.json
  packages/app-vmm/src/lib/vmClient.ts
Due: eslint --fix, prettier --write

fix: Dockerfile path
  .github/workflows/docker.yml
Due: none

fix: takaro dockerfile path
  docker-compose.test.yml
Due: none

chore: clean up old env & scripts
  .env.example
  scripts/dev-vm.sh
Due: none

fix: use filePath instead of filename
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/Directory.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/components/modules/FileExplorer/ModuleList.tsx
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

fix(studio): use filePath instead of filename (#231)
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/Directory.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/components/modules/FileExplorer/ModuleList.tsx
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

fix(Router): temp disable lazy loading for gameserver dashboard
  packages/web-main/src/Router.tsx
Due: eslint --fix, prettier --write

fix(Router): disable lazy loading for other gamserver pages
  packages/web-main/src/Router.tsx
Due: eslint --fix, prettier --write

style(Table): clean up
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Sorting.tsx
Due: eslint --fix, prettier --write

style: clean up
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/GameServerCard/style.ts
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

style(Dashboard): change flex-direction
  packages/web-main/src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

fix(Router): temp disable lazy loading for gameserver dashboard (#232)
  packages/web-main/src/Router.tsx
Due: eslint --fix, prettier --write

fix: an issue when creating modules
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
Due: eslint --fix, prettier --write

style: remove unused style
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

style: change padding
  packages/lib-components/src/components/data/Table/subcomponents/Sorting.tsx
  packages/web-main/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

docker: clean up
  containers/vmm/dev.Dockerfile
  docker-compose.yml
Due: none

Some small style improvements (#233)
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Sorting.tsx
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/GameServerCard/style.ts
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

refactor: studio to use react-query functions
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/queries/modules/queries.ts
Due: eslint --fix, prettier --write

script: set npm version to atleast v8
  package.json
Due: none

script: set npm version to atleast v8 (#235)
  package.json
Due: none

chore: move app-vmm to a seperate container (#230)
  .env.example
  .github/workflows/docker.yml
  containers/dev.Dockerfile
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  containers/takaro/dev.Dockerfile
  containers/vm-agent/build.sh
  containers/vmm/Dockerfile
  containers/vmm/dev.Dockerfile
  docker-compose.test.yml
  docker-compose.yml
  packages/app-vmm/package.json
  packages/app-vmm/src/lib/vmClient.ts
  scripts/dev-vm.sh
Due: eslint --fix, prettier --write

fix: lots of fixes to state handling in studio
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/queries/modules/queries.ts
Due: eslint --fix, prettier --write

fix: web main should be included in volumes
  docker-compose.yml
Due: none

feat: add item configs to Studio for hooks, commands and cronjobs
  packages/app-api/src/service/HookService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-components/src/components/inputs/TextAreaField/style.ts
  packages/lib-components/src/components/inputs/index.ts
  packages/lib-components/src/components/other/CollapseList/index.tsx
  packages/lib-db/src/migrations/sql/20230604130951-fix-hook-eventtypes.ts
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/hookConfig.tsx
  packages/web-main/src/components/modules/FileExplorer/index.tsx
  packages/web-main/src/pages/studio/index.tsx
  packages/web-main/src/queries/modules/queries.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
