Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Fix: incorrect spacing between container description
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/FieldTemplate.tsx
Due: eslint --fix, prettier --write

chore: adjust how migrations get ran
  containers/generic-app/Dockerfile
  docker-compose.test.yml
  packages/app-api/package.json
  scripts/integration-tests.mjs
Due: none

fix: build container with optional scripts
  containers/generic-app/Dockerfile
Due: none

Fix: incorrect spacing between container description (#409)
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/FieldTemplate.tsx
Due: eslint --fix, prettier --write

fix: checkbox state issue in rjsf
  packages/lib-components/src/components/inputs/CheckBox/Controlled.tsx
  packages/lib-components/src/components/inputs/CheckBox/Generic.tsx
  packages/lib-components/src/components/inputs/CheckBox/style.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/BooleanField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/CheckboxWidget.tsx
  packages/lib-components/src/components/inputs/Switch/Controlled.tsx
  packages/lib-components/src/components/inputs/Switch/Generic.tsx
  packages/lib-components/src/components/inputs/Switch/style.ts
Due: eslint --fix, prettier --write

fix: checkbox state issue in rjsf (#412)
  packages/lib-components/src/components/inputs/CheckBox/Controlled.tsx
  packages/lib-components/src/components/inputs/CheckBox/Generic.tsx
  packages/lib-components/src/components/inputs/CheckBox/style.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/BooleanField.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/widgets/CheckboxWidget.tsx
  packages/lib-components/src/components/inputs/Switch/Controlled.tsx
  packages/lib-components/src/components/inputs/Switch/Generic.tsx
  packages/lib-components/src/components/inputs/Switch/style.ts
Due: eslint --fix, prettier --write

feat: infinitescroller component is now part of the queries that support pagination
  packages/web-main/src/pages/GameServers.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write

fix: radio singular state
  packages/lib-components/src/components/inputs/RadioGroup/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Generic.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/Generic.tsx
  packages/lib-components/src/components/inputs/RadioGroup/style.ts
Due: eslint --fix, prettier --write

fix: navigation link highlighting
  packages/lib-components/src/components/navigation/index.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/frames/SettingsFrame.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

fix: radio single state (#414)
  packages/lib-components/src/components/inputs/RadioGroup/Controlled.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Generic.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/Generic.tsx
  packages/lib-components/src/components/inputs/RadioGroup/style.ts
Due: eslint --fix, prettier --write

feat: InfiniteScroller part of query (#413)
  packages/web-main/src/pages/GameServers.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write

Fix settings navlink highlighting (#415)
  packages/lib-components/src/components/navigation/index.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/frames/SettingsFrame.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

feat: improve object layout
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/ObjectFieldTemplate.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/TitleFieldTemplate.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/index.ts
  packages/lib-components/src/components/visual/Divider/index.tsx
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

chore: remove console log
  packages/lib-components/src/components/inputs/Switch/Generic.tsx
Due: eslint --fix, prettier --write

feat: improve object layout rjsf (#416)
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/ObjectFieldTemplate.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/TitleFieldTemplate.tsx
  packages/lib-components/src/components/inputs/JsonSchemaForm/templates/index.ts
  packages/lib-components/src/components/inputs/Switch/Generic.tsx
  packages/lib-components/src/components/visual/Divider/index.tsx
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

chore: improve error view
  packages/lib-components/src/components/feedback/snacks/Default/default.stories.tsx
  packages/lib-components/src/components/feedback/snacks/Default/index.tsx
  packages/lib-components/src/components/feedback/snacks/Default/style.ts
  packages/lib-components/src/components/inputs/Switch/style.ts
  packages/web-main/src/components/DiscordSettings/ServerCard.tsx
Due: eslint --fix, prettier --write

fix: discord incorrect guild states (#402)
  packages/lib-components/src/components/feedback/snacks/Default/default.stories.tsx
  packages/lib-components/src/components/feedback/snacks/Default/index.tsx
  packages/lib-components/src/components/feedback/snacks/Default/style.ts
  packages/lib-components/src/components/inputs/Switch/style.ts
  packages/lib-components/src/components/inputs/index.ts
  packages/web-main/src/components/DiscordSettings/ServerCard.tsx
  packages/web-main/src/pages/settings/DiscordSettings.tsx
  packages/web-main/src/queries/discord/queries.tsx
Due: eslint --fix, prettier --write

refactor: playerOnGameServer into its own repo/service
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
Due: eslint --fix, prettier --write

chore: allow debugging lib-gameserver from connector
  .vscode/launch.json
Due: none

wip: some work on getting more playerdata online
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-db/src/migrations/sql/20230707081218-playerOnGameServerExtension.ts
  packages/lib-gameserver/src/gameservers/7d2d/apiResponses.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

fix: some fixes :)
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

fix: discord update returns a single guild
  packages/app-api/src/controllers/DiscordController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/common.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: rename TestReachabilityOutput -> TestReachabilityOutputDTO
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: allow copying modules via Studio
  package-lock.json
  package.json
  packages/app-api/src/service/CommandService.ts
  packages/e2e/src/web-main/fixtures/.gitignore
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-modules/scripts/buildBuiltinJson.ts
  packages/web-main/src/components/studio/Header.tsx
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: some tests
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
Due: eslint --fix, prettier --write

ci: change name of artifact when running e2e
  .github/workflows/docker.yml
Due: none

fix: allow arguments to have length of min 2
  packages/app-api/src/service/CommandService.ts
Due: eslint --fix, prettier --write

fix: allow discord IDs some variance in their length
  packages/app-api/src/controllers/DiscordController.ts
Due: eslint --fix, prettier --write

WIP: context menu, currently without specific container
  packages/lib-components/src/components/actions/ContextMenu/ContextMenu.stories.tsx
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
Due: eslint --fix, prettier --write

feat: add support for contextMenu based on target container
  packages/lib-components/src/components/actions/ContextMenu/ContextMenu.stories.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
Due: eslint --fix, prettier --write

feat: improve error display (#378)
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/FormError/FormError.stories.tsx
  packages/lib-components/src/components/feedback/FormError/index.tsx
  packages/lib-components/src/components/feedback/index.ts
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/style.ts
  packages/lib-components/src/errors/base.ts
  packages/lib-components/src/errors/errors.ts
  packages/lib-components/src/errors/index.ts
  packages/lib-components/src/hooks/index.ts
  packages/lib-components/src/hooks/useFocus.tsx
  packages/web-main/src/components/GameServerCard/index.tsx
  packages/web-main/src/components/Header.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerUpdate.tsx
  packages/web-main/src/pages/LogIn.tsx
  packages/web-main/src/pages/ModuleDefinitions/CreateModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
  packages/web-main/src/queries/discord/queries.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write

chore: export + few style changes
  packages/lib-components/src/components/actions/ContextMenu/MenuItem.tsx
  packages/lib-components/src/components/actions/ContextMenu/index.tsx
  packages/lib-components/src/components/actions/index.ts
Due: eslint --fix, prettier --write

chore: update types in frontend
  packages/web-main/src/queries/discord/queries.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
Due: eslint --fix, prettier --write

Fix: few minor styles in discord settings
  packages/lib-components/src/components/inputs/Switch/style.ts
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/DiscordSettings/ServerCard.tsx
Due: eslint --fix, prettier --write

remove unused import
  packages/web-main/src/components/DiscordSettings/ServerCard.tsx
Due: eslint --fix, prettier --write

Fix: some API types (#418)
  packages/app-api/src/controllers/DiscordController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-components/src/components/inputs/Switch/style.ts
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/web-main/src/components/DiscordSettings/ServerCard.tsx
  packages/web-main/src/queries/discord/queries.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: move to separate file + add some more errors
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/lib-components/src/components/feedback/Alert/style.ts
  packages/web-main/src/components/studio/CopyModulePopOver.tsx
  packages/web-main/src/components/studio/Header.tsx
Due: eslint --fix, prettier --write

fix: some pw strict mode weirdness
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/web-main/src/components/studio/CopyModulePopOver.tsx
Due: eslint --fix, prettier --write

fix: an issue where whole studio crashed when creating a new file
  packages/web-main/src/pages/studio/index.tsx
Due: eslint --fix, prettier --write

fix: ensure we dont lose context in discord controller
  packages/lib-util/src/context.ts
Due: eslint --fix, prettier --write
