Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: get rid of optimistic pagination caching
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/users/queries.tsx
Due: eslint --fix, prettier --write

fix: faster timeout for 7d2d reachability
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

fix: faster timeout for 7d2d reachability (#476)
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

wip: dumping some temp work
  package-lock.json
  package.json
  packages/lib-components/src/components/ory/index.tsx
  packages/web-main/src/hooks/useAuth.ts
  packages/web-main/src/pages/auth/profile.tsx
  packages/web-main/src/pages/auth/recovery.tsx
Due: eslint --fix, prettier --write

ci: generate docs for apiclient
  .github/workflows/deploy-docs.yml
  package-lock.json
  package.json
Due: none

chore: nerf some steps so we dont accidentally deploy for real
  .github/workflows/deploy-docs.yml
Due: none

ci: cleanup docs deploy again
  .github/workflows/deploy-docs.yml
Due: none

Fix: test because description in config field became required field
  packages/e2e/src/web-main/pages/modules.spec.ts
Due: eslint --fix, prettier --write

feat: verification of emails
  containers/homer/assets/config.yml
  containers/mailslurper/config.json
  containers/ory/kratos/kratos.yml
  docker-compose.yml
  packages/lib-email/src/config.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/pages/auth/verification.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

chore: add ory elements styling
  packages/web-main/src/App.tsx
Due: eslint --fix, prettier --write

chore: extend recovery flow time
  packages/lib-auth/src/lib/ory.ts
Due: eslint --fix, prettier --write

fix: set default color of body to background and fix styles on other pages instead
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/studio/CopyModulePopOver.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/pages/LogIn.tsx
Due: eslint --fix, prettier --write

fix: pagination in ory
  packages/lib-auth/src/lib/paginationHelpers.ts
Due: eslint --fix, prettier --write

chore: addlib-auth to debug cfg
  .vscode/launch.json
Due: none

fix: set default page size back to 100
  packages/lib-auth/src/lib/paginationHelpers.ts
Due: eslint --fix, prettier --write

chore: get a basic e2e test going for user invitation
  .env.example
  containers/homer/assets/config.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/e2e/playwright.config.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/main.ts
  packages/test/src/test/integrationConfig.ts
  packages/test/src/test/mailhog.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

refactor: login page a bit to be more in line with other auth pages
  packages/web-main/src/hooks/useAuth.ts
  packages/web-main/src/pages/LogIn.tsx
Due: eslint --fix, prettier --write

feat: add variable and user tables
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/variable.ts
  packages/app-api/src/service/VariablesService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/paths.ts
  packages/web-main/src/queries/variables/index.ts
  packages/web-main/src/queries/variables/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add padding for variable delete dialog
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

chore: add small text to variables page
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

chore: add lib-email to dev-init
  scripts/dev-init.sh
Due: none

chore: remove some unused code (this is all handled by ory elements now)
  packages/lib-components/src/components/index.ts
  packages/lib-components/src/components/ory/NodeHidden.tsx
  packages/lib-components/src/components/ory/NodeImage.tsx
  packages/lib-components/src/components/ory/NodeScript.tsx
  packages/lib-components/src/components/ory/NodeText.tsx
  packages/lib-components/src/components/ory/index.tsx
Due: eslint --fix, prettier --write

chore: run prettier...
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: recover account
  packages/e2e/src/web-main/auth.spec.ts
  packages/web-main/src/pages/LogIn.tsx
Due: eslint --fix, prettier --write

fix: catch error if lambda domain doesn't exist
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

chore: add s3bucket env for local dev
  .env.example
  packages/lib-aws/src/config.ts
  packages/lib-aws/src/createLambda.ts
Due: eslint --fix, prettier --write

fix(lambda): don't overwrite timeout of the template
  packages/lib-aws/src/createLambda.ts
Due: eslint --fix, prettier --write

Fix/lambdas (#480)
  .env.example
  packages/app-api/src/service/DomainService.ts
  packages/lib-aws/src/config.ts
  packages/lib-aws/src/createLambda.ts
Due: eslint --fix, prettier --write

Fix: forgot to await a bunch of invalidateQueries
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/variables/queries.tsx
Due: eslint --fix, prettier --write

Feat: rowSelection + clean up pagination (not fixed)
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/data/Table/subcomponents/Pagination/index.tsx
  packages/lib-components/src/hooks/useTableActions.ts
Due: eslint --fix, prettier --write

chore: use default body container
  packages/web-main/src/components/modules/Cards/ModuleCardDefinition.tsx
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/components/modules/Cards/style.tsx
Due: eslint --fix, prettier --write

chore: add support for row selection + layout feature
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

chore: handle logging of 7d2d http requests better
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-http/src/util/apiResponse.ts
  packages/lib-util/src/errors.ts
  packages/lib-util/src/logger.ts
Due: eslint --fix, prettier --write

ci: remove retries for certain steps
  .github/workflows/builds.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
Due: none

ci: remove retries for certain steps (#483)
  .github/workflows/builds.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
Due: none

chore: replace find with search (like others)
  packages/app-api/src/controllers/VariableController.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: pagination
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/hooks/useTableActions.ts
  packages/web-main/src/pages/ModuleDefinitions.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queries/modules/index.ts
  packages/web-main/src/queries/modules/queries.tsx
  packages/web-main/src/queries/players/index.ts
  packages/web-main/src/queries/players/queries.tsx
  packages/web-main/src/queries/users/index.ts
  packages/web-main/src/queries/users/queries.tsx
  packages/web-main/src/queries/util.ts
  packages/web-main/src/queries/variables/index.ts
  packages/web-main/src/queries/variables/queries.tsx
Due: eslint --fix, prettier --write

fix: regression in playerOnGameserver
  packages/app-api/src/db/player.ts
Due: eslint --fix, prettier --write

fix: protect root role from some shenanigans
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/service/RoleService.ts
  packages/test/src/__snapshots__/RoleController/Cannot create root role if it already exists.json
  packages/test/src/__snapshots__/RoleController/Cannot update root role.json
  packages/test/src/__snapshots__/RoleController/Does not allow deleting the root role.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
