Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: show shoplisting name
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
Due: eslint --fix, prettier --write

Feat: show permissions on module installation card
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
Due: eslint --fix, prettier --write

Fix: use local variableIds instead of ids coming from requests on delete queries
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/queries/shopOrder.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/queries/variable.tsx
Due: eslint --fix, prettier --write

Refactor: do not return uuid on delete calls
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/DiscordController.ts
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/ExternalAuthController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/ModuleController.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/SettingsController.ts
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/VariableController.ts
Due: eslint --fix, prettier --write

Chore: remove unused iduuid types
  packages/app-api/src/lib/validators.ts
Due: eslint --fix, prettier --write

Refactor: update all cache removals
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/queries/variable.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopListingActions.tsx
Due: eslint --fix, prettier --write

Chore: regenerate apiclient
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

tests: update changed snapshots
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, throws validation error.json
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
Due: none

Fix(test): unexpected message text
  packages/lib-modules/src/__tests__/help.integration.test.ts
Due: eslint --fix, prettier --write

deps: use lower version of luxon
  package-lock.json
  packages/web-main/package.json
Due: none

Update Install-teleports.mdx
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

Update connect-7dtd-server.md
  packages/web-docs/pages/how-to-guides/connect-7dtd-server.md
Due: none

Update connect-rust-server.md
  packages/web-docs/pages/how-to-guides/connect-rust-server.md
Due: none

Update connect-rust-server.md (#1090)
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-docs/pages/how-to-guides/connect-rust-server.md
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Update connect-7dtd-server.md (#1089)
  packages/web-docs/pages/how-to-guides/connect-7dtd-server.md
Due: none

Update Install-teleports.mdx (#1088)
  packages/web-docs/pages/how-to-guides/Install-teleports.mdx
Due: none

fix: rename how to guides to mdx
  packages/web-docs/pages/how-to-guides/connect-7dtd-server.mdx
  packages/web-docs/pages/how-to-guides/connect-rust-server.mdx
Due: none

Create install-geoblock.mdx
  packages/web-docs/pages/how-to-guides/install-geoblock.mdx
Due: none

chore: log raw command executed in 7d2d
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

fix: more black listed msgs
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
Due: eslint --fix, prettier --write

Feat: add notifications for crud actions
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleForm.test.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleImportForm.tsx
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-variables/VariableDeleteDialog.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.index.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.copy.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.update.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.view.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

Fix: close dialog when module is exported
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
Due: eslint --fix, prettier --write

deps: update package lock
  package-lock.json
Due: none

Refactor: get rid of any
  packages/lib-components/src/components/feedback/Popover/PopoverTrigger.tsx
Due: eslint --fix, prettier --write

Fix: incorrect navigation
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
Due: eslint --fix, prettier --write

Chore: change position of snacks
  packages/lib-components/src/helpers/getSnackbarProvider.tsx
Due: eslint --fix, prettier --write

styles: change header of table + empty of table
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/other/Empty/index.tsx
Due: eslint --fix, prettier --write

Chore: show different placeholder in select
  packages/web-main/src/components/selects/EventNameSelect/index.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/components/selects/ModuleSelect.tsx
Due: eslint --fix, prettier --write

Refactor: move notifications to queries onsuccess
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/queries/discord.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/player.tsx
  packages/web-main/src/queries/pog.tsx
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/queries/shopListing.tsx
  packages/web-main/src/queries/shopOrder.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/queries/variable.tsx
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/SchemaToInputs.ts
  packages/web-main/src/routes/_auth/_global/-variables/VariableDeleteDialog.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.import.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.index.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.update.$gameServerId.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.update.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.import.tsx
  packages/web-main/src/routes/_auth/_global/modules.create.index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/GuildCard.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.role.assign.tsx
  packages/web-main/src/routes/_auth/_global/variables.create.tsx
  packages/web-main/src/routes/_auth/_global/variables.update.$variableId.tsx
Due: eslint --fix, prettier --write

deps: bump linting packages
  package-lock.json
  package.json
Due: none

Fix: unsafe declaration-merging
  packages/lib-modules/src/dto/gameEvents.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
