Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: implement Discord role synchronization
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
Due: eslint --fix, prettier --write

fix: handle multiple Discord guilds per domain in role sync
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
Due: eslint --fix, prettier --write

feat: add comprehensive debug logging to role sync
  packages/app-api/src/service/DiscordService.ts
Due: eslint --fix, prettier --write

refactor: improve Discord role sync configuration clarity
  .kiro/specs/discord-role-sync/design.md
  .kiro/specs/discord-role-sync/requirements.md
  .kiro/specs/discord-role-sync/tasks.md
  packages/app-api/src/db/role.ts
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/SettingsService.ts
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/web-main/src/util/settings.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.3.3
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: improve Discord connection status display and resolve DOM nesting warning
  packages/lib-components/src/components/feedback/Alert/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/_auth/_global/settings/discord.tsx
  packages/web-main/src/routes/_single-page/link.tsx
Due: eslint --fix, prettier --write

test: update snapshots for linkedDiscordRoleId field and Alert component DOM fix
  packages/lib-components/src/components/feedback/Alert/__snapshots__/Alert.test.tsx.snap
  packages/test/src/__snapshots__/Auth/Can access resource with permissions.json
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
  packages/test/src/__snapshots__/RoleController/Filter by name.json
  packages/test/src/__snapshots__/RoleController/Get by ID.json
  packages/test/src/__snapshots__/RoleController/Update by ID.json
  packages/test/src/__snapshots__/RoleController/Update permissions with empty array.json
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Setting for gameserver multiple times overwrites properly.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
Due: none

fix: handle null linkedDiscordRoleId in role forms
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
Due: eslint --fix, prettier --write

feat: add domain ID logging to integration test failures
  CLAUDE.md
  packages/test/src/integrationTest.ts
  packages/test/src/snapshots.ts
Due: eslint --fix, prettier --write

feat: add transaction context tracking with AsyncLocalStorage
  .kiro/specs/transaction-context/design.md
  packages/app-api/src/db/ban.ts
  packages/app-api/src/db/base.ts
  packages/app-api/src/db/command.ts
  packages/app-api/src/db/cronjob.ts
  packages/app-api/src/db/discord.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/db/entities.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/db/function.ts
  packages/app-api/src/db/gameserver.ts
  packages/app-api/src/db/hook.ts
  packages/app-api/src/db/items.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/role.ts
  packages/app-api/src/db/settings.ts
  packages/app-api/src/db/shopCategory.ts
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/db/shopOrder.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/db/variable.ts
  packages/app-api/src/service/Ban/index.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-util/src/context.ts
Due: eslint --fix, prettier --write

docs: improve Discord integration documentation clarity
  packages/web-docs/docs/FAQ.md
  packages/web-docs/docs/advanced/discord-integration.md
  packages/web-docs/docs/players.md
  packages/web-docs/docs/roles-and-permissions.md
Due: none

docs: add shop stock system design specification
  .kiro/specs/shop-stock-system/design.md
  .kiro/specs/shop-stock-system/requirements.md
  .kiro/specs/shop-stock-system/tasks.md
  packages/app-api/src/service/Shop/ShopCategoryService.ts
Due: eslint --fix, prettier --write

fix: add missing action buttons to module table view
  packages/web-main/src/routes/_auth/_global/-modules/ModulesTableView.tsx
Due: eslint --fix, prettier --write

fix: include author and supportedGames fields in module exports
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
Due: eslint --fix, prettier --write

fix: optimize Discord API performance by adding channelId to update/delete endpoints
  .kiro/specs/discord-message-api-extension/design.md
  .kiro/specs/discord-message-api-extension/requirements.md
  .kiro/specs/discord-message-api-extension/tasks.md
  packages/app-api/src/controllers/DiscordController.ts
  packages/app-api/src/lib/DiscordBot.ts
  packages/app-api/src/lib/DiscordMetrics.ts
  packages/app-api/src/lib/__tests__/DiscordBot.unit.test.ts
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: resolve linting errors - remove unused variables
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
Due: eslint --fix, prettier --write

fix: require MANAGE_SERVER Discord permission for all users to enable guilds
  packages/app-api/src/service/DiscordService.ts
Due: eslint --fix, prettier --write

feat: filter Discord guild list to only show accessible guilds
  packages/app-api/src/db/discord.ts
  packages/app-api/src/service/DiscordService.ts
Due: eslint --fix, prettier --write

refactor: remove transaction context tasks from shop stock implementation
  .kiro/specs/shop-stock-system/tasks.md
Due: none

feat: implement shop stock system database schema (Phase 1)
  .kiro/specs/shop-stock-system/tasks.md
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/dto.ts
  packages/lib-db/src/migrations/sql/20250727000000-add-shop-stock.ts
Due: eslint --fix, prettier --write

wip: stock impl
  .kiro/specs/shop-stock-system/tasks.md
  packages/app-api/src/db/shopListing.ts
  packages/app-api/src/service/Shop/index.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/components/selects/EventNameSelectField/eventNames.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/-ShopListingCreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopListingBuyForm.tsx
Due: eslint --fix, prettier --write

feat: add quality tracking to inventory items
  packages/app-api/src/controllers/__tests__/TrackingController.integration.test.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/Tracking/dto.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250727092719-add-quality-to-inventory.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: discord role IDs can be up to 20 chars
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: frontend validation for discord IDs
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
Due: eslint --fix, prettier --write

fix: frontend validation of discord role
  packages/web-main/src/routes/_auth/_global/roles.create.tsx
Due: eslint --fix, prettier --write

fix in update route too
  packages/web-main/src/routes/_auth/_global/roles.update.$roleId.tsx
Due: eslint --fix, prettier --write

fix: allow creating role with linked Discord ID
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/routes/_auth/_global/-roles/RoleCreateUpdateForm.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: sync from worker broken
  packages/app-api/src/service/DiscordService.ts
Due: eslint --fix, prettier --write

fix: ensure player roles are also taken into account
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
Due: eslint --fix, prettier --write

refactor: replace actualPlayerId with pogId in tracking endpoints
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/Tracking/dto.ts
Due: eslint --fix, prettier --write

fix: add missing PlayerService method stubs in Discord role sync tests
  packages/app-api/src/service/DiscordService.ts
  packages/app-api/src/service/__tests__/DiscordService.unit.test.ts
Due: eslint --fix, prettier --write

fix: add composite index to playerIpHistory for query performance
  packages/lib-db/src/migrations/sql/20250802124307-add-playeriphistory-composite-index.ts
Due: eslint --fix, prettier --write

feat: add centralized axios HTTP client with sane error handling
  packages/app-api/src/lib/steamApi.ts
  packages/app-api/src/service/StatsService.ts
  packages/lib-auth/src/lib/oryAxiosClient.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-gameserver/src/gameservers/generic/connectorClient.ts
  packages/lib-util/src/http.ts
  packages/lib-util/src/main.ts
Due: eslint --fix, prettier --write

fix: update Ory integration test to expect new error message format
  packages/lib-auth/src/lib/__tests__/ory.integration.test.ts
Due: eslint --fix, prettier --write

fix: add flip middleware to dropdown to prevent viewport overflow
  packages/lib-components/src/components/actions/Dropdown/useDropdown.tsx
Due: eslint --fix, prettier --write

fix: display error messages for inactive/maintenance domains on login
  packages/app-api/src/service/AuthService.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

fix: bundle configs into a reusable Kratos container
  containers/kratos/.dockerignore
  containers/kratos/Dockerfile
  containers/kratos/README.md
  containers/kratos/config/crazy.template.jsonnet
  containers/kratos/config/default.template.jsonnet
  containers/kratos/config/kratos.yml
  containers/kratos/config/postmark.template.jsonnet
  containers/kratos/config/user.schema.json
  docker-compose.yml
Due: none

refactor: link Discord via Ory instead of custom implementation
  containers/kratos/Dockerfile
  containers/kratos/README.md
  containers/kratos/config/discord.jsonnet
  containers/kratos/config/kratos.yml.template
  containers/kratos/config/user.schema.json
  containers/kratos/entrypoint.sh
  containers/ory/kratos/user.schema.json
  docker-compose.yml
  packages/app-api/src/controllers/ExternalAuthController.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-auth/src/lib/ory.ts
  packages/web-main/src/routes/_auth/_global/settings/-discord/LoginDiscordCard.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/util/oryOAuth.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

delete redundant old files
  containers/ory/kratos/crazy.template.jsonnet
  containers/ory/kratos/default.template.jsonnet
  containers/ory/kratos/kratos.yml
  containers/ory/kratos/postmark.template.jsonnet
  containers/ory/kratos/user.schema.json
Due: none

feat: redesign profile page with Takaro components and improved layout
  containers/kratos/config/user.schema.json
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/routes/_auth/_global/profile.tsx
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
