Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix duplicate event emissions on game server reconnections
  packages/lib-gameserver/src/TakaroEmitter.ts
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.unit.test.ts
Due: eslint --fix, prettier --write

Eliminate database deadlocks during concurrent domain deletion
  packages/app-api/src/db/domain.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-db/src/migrations/sql/20251101000000-add-deleted-domain-state.ts
Due: eslint --fix, prettier --write

0.4.4
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore(web-main): reuse module actions between table and card view
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/roles/RolesTableView.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleActions.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModulesTableView.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
Due: eslint --fix, prettier --write

fix: emitters keeping channel open resulting in double events
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-gameserver/src/TakaroEmitter.ts
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
Due: eslint --fix, prettier --write

fix: prevent orphaned mock servers in concurrent integration tests
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleInstallations.integration.test.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/controllers/__tests__/SettingsController.integration.test.ts
  packages/app-api/src/controllers/__tests__/Shop/CategoryController.integration.test.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/app-api/src/workers/__tests__/kpiWorker.integration.test.ts
  packages/app-connector/src/lib/__tests__/generic-server.integration.test.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/views/settings.spec.ts
  packages/lib-modules/src/__tests__/crossServerPlayer.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/test/src/integrationTest.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write

fix: Socket.IO event timeout race condition with Redis adapter
  packages/app-api/src/lib/socketServer.ts
  packages/test/src/integrationTest.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

fix: Add 'ready' event to ServerToClientEvents type definition
  packages/app-api/src/lib/socketServer.ts
Due: eslint --fix, prettier --write

fix: an issue with test mocks not having the right function implemented
  packages/app-connector/src/lib/__tests__/GameServerManager.unit.test.ts
Due: eslint --fix, prettier --write

Revert "fix: Socket.IO event timeout race condition with Redis adapter"
  packages/app-api/src/lib/socketServer.ts
  packages/test/src/integrationTest.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

0.4.5
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: upgrade node version
  .github/workflows/builds.yml
  .github/workflows/codestyle.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/publish-libs.yml
  containers/generic-app/Dockerfile
  containers/generic-web/Dockerfile
  package.json
  packages/web-docs/package.json
Due: none

fix: Add fetchSockets() to force Redis synchronization after socket.join()
  packages/app-api/src/lib/socketServer.ts
Due: eslint --fix, prettier --write

fix: missed some refs to node or npm versions in a few places
  .github/workflows/docker.yml
  .nvmrc
  containers/generic-app/Dockerfile
Due: none

fix: dont force npm 9
  containers/playwright/dev.Dockerfile
  containers/takaro/dev.Dockerfile
Due: none

chore(lib-components): add client side pagination to table
  packages/lib-components/src/components/data/Table/Table.stories.tsx
  packages/lib-components/src/components/data/Table/index.tsx
Due: eslint --fix, prettier --write

feat(web-main): add table view of player inventory
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryListView.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTableView.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryView.tsx
Due: eslint --fix, prettier --write

fix: bump dev container to 24.11
  containers/takaro/dev.Dockerfile
Due: none

fix(web-main): broken test id
  packages/web-main/src/components/module-builder/Editor/FileTabs.tsx
Due: eslint --fix, prettier --write

chore(lib-components): update snapshots
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/lib-components/src/components/feedback/Alert/__snapshots__/Alert.test.tsx.snap
  packages/lib-components/src/components/feedback/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/lib-components/src/components/other/ClipBoard/__snapshots__/ClipBoard.test.tsx.snap
  packages/lib-components/src/components/other/Empty/__snapshots__/Empty.test.tsx.snap
  packages/lib-components/src/components/visual/Divider/__snapshots__/Divider.test.tsx.snap
Due: none

chore(web-main): remove console logs
  packages/web-main/src/components/module-builder/Editor/index.tsx
Due: eslint --fix, prettier --write

refactor(web-main): rename fn that removes hashtag
  packages/web-main/src/components/module-builder/Editor/theme.ts
Due: eslint --fix, prettier --write

0.4.6
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

debug: Add strategic logging to trace domain lifecycle race condition
  packages/app-api/src/lib/socketServer.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: improve UnControlledRoleSelectQueryField safety and React keys
  packages/web-main/src/components/selects/UnControlledRoleSelectQueryField.tsx
Due: eslint --fix, prettier --write

feat: add role selection field type for module configurations
  packages/e2e/src/web-main/views/moduleBuilderRoleField.spec.ts
  packages/web-main/src/components/JsonSchemaForm/widgets/RoleWidget.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/index.ts
  packages/web-main/src/components/selects/RoleSelectQueryField.tsx
  packages/web-main/src/components/selects/UnControlledRoleSelectQueryField.tsx
  packages/web-main/src/components/selects/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormBuilder/ConfigField/InputTypeByCategory.ts
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormBuilder/ConfigField/InputTypeToConfigFieldMap.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormBuilder/validationSchema.ts
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/SchemaToInputs.ts
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/inputTypes/Role.ts
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/inputTypes/index.ts
  packages/web-main/src/routes/_auth/_global/-modules/schemaConversion/inputsToSchema.ts
Due: eslint --fix, prettier --write

Add comprehensive diagnostic logging for domain state tracking
  packages/app-api/src/db/domain.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

fix(infra): bump lib-components dockerfile from node 22 to 24
  packages/lib-components/Dockerfile.dev
Due: none

chore: bump vite + storybook and deps resulting in conflicts
  package-lock.json
  package.json
Due: none

chore(infra): bump version of e2e playwright container
  containers/playwright/dev.Dockerfile
Due: none

chore: migrate storybook to storybook 10
  .storybook/main.ts
  .storybook/manager.ts
Due: eslint --fix, prettier --write

refactor: migrate to fakerjs 10
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

Prevent duplicate game events from firing
  package-lock.json
  packages/app-connector/package.json
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/__tests__/GameServerManager.unit.test.ts
Due: eslint --fix, prettier --write

Fix critical mutex cleanup race condition
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/__tests__/GameServerManager.unit.test.ts
Due: eslint --fix, prettier --write

Fix domain ID collision in concurrent integration tests
  packages/app-api/src/db/domain.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/DomainService.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

Add strategic event flow logging for race condition debugging
  packages/app-api/src/lib/socketServer.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

0.4.7
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix click handler in Chip component
  packages/lib-components/src/components/data/Chip/index.tsx
Due: eslint --fix, prettier --write

fix(tests): Wait for socket room join before starting event listeners
  packages/app-api/src/lib/socketServer.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
