Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

feat: add dimension support
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/tracking.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250613203142-add-dimension-to-position.ts
  packages/lib-modules/src/dto/gameEvents.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: dimension teleports
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/setwaypoint.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/teleportwaypoint.js
  packages/lib-modules/src/modules/teleports/index.ts
  packages/web-docs/docs/advanced/adding-support-for-a-new-game.mdx
  packages/web-docs/docs/modules/modules.json
  packages/web-docs/docs/modules/teleports.mdx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: load in entity definitions and expose via API
  packages/app-api/src/controllers/EntityController.ts
  packages/app-api/src/controllers/__tests__/EntityController.integration.test.ts
  packages/app-api/src/db/entities.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/EntitiesService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/app-api/src/workers/systemWorkerDefinitions.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-auth/src/lib/permissions.ts
  packages/lib-db/src/migrations/sql/20250614113157-entities.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/test/src/__snapshots__/EntityController/Empty results with non-matching filters.json
  packages/test/src/__snapshots__/EntityController/Get entity by ID.json
  packages/test/src/__snapshots__/EntityController/Search entities across multiple gameservers.json
  packages/test/src/__snapshots__/EntityController/Search entities by code filter.json
  packages/test/src/__snapshots__/EntityController/Search entities by description search functionality.json
  packages/test/src/__snapshots__/EntityController/Search entities by name filter.json
  packages/test/src/__snapshots__/EntityController/Search entities by type filter - friendly and neutral.json
  packages/test/src/__snapshots__/EntityController/Search entities by type filter - hostile only.json
  packages/test/src/__snapshots__/EntityController/Search entities with basic filters - single gameserver.json
  packages/test/src/__snapshots__/EntityController/Search entities with combined filters.json
  packages/test/src/__snapshots__/EntityController/Search entities with pagination.json
  packages/test/src/__snapshots__/EntityController/Verify all mock entities are synced correctly.json
  packages/test/src/__snapshots__/EntityController/Verify entities with metadata are handled correctly.json
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add more comprehensive tests for registration token resolvement
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/__tests__/generic-server.integration.test.ts
  packages/test/src/__snapshots__/DomainController/Resolve registration token - deleted domain token returns 404.json
  packages/test/src/__snapshots__/DomainController/Resolve registration token - empty token.json
  packages/test/src/__snapshots__/DomainController/Resolve registration token - invalid token.json
  packages/test/src/__snapshots__/DomainController/Resolve registration token - malformed token format.json
  packages/test/src/__snapshots__/DomainController/Resolve registration token - valid token.json
Due: eslint --fix, prettier --write

fix: usage of entity type enum
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
Due: eslint --fix, prettier --write

fix: a brittle test
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
Due: eslint --fix, prettier --write

fix: high ping kicker module
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-modules/src/__tests__/highPingKicker.integration.test.ts
  packages/lib-modules/src/modules/highPingKicker/cronJobs/Ping check.js
  packages/lib-modules/src/modules/highPingKicker/index.ts
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: generic servers not returning proper online status
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
Due: eslint --fix, prettier --write

refactor: centralize duplicated item icon code patterns
  packages/app-api/src/db/items.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ItemsService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/FILES
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250615105319-add-icon-base64-and-override.ts
  packages/lib-gameserver/src/gameservers/7d2d/itemWorker.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/web-main/src/components/ItemIcon/index.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/components/selects/ItemSelectQueryField/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopTableView.tsx
  packages/web-main/src/utils/itemIconUtils.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: less brittle event reporting
  packages/app-api/src/executors/executeFunction.ts
Due: eslint --fix, prettier --write

fix: ensure generic servers can get added to connection managers on init
  packages/app-api/src/service/GameServerService.ts
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

fix: a test assertion
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
Due: eslint --fix, prettier --write

fix: issue with e2e fixture
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

feat: trigger async jobs on server creation so data is ready as soon as possible
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

feat: basic simulation implementation
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/GameServerIntegration.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/PlayerMovementSimulator.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/PlayerMovementSimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/SimulationState.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/SimulationState.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: make simulation status persistent
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: bunch more chat messages
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
Due: eslint --fix, prettier --write

feat: make redis data persistent
  docker-compose.yml
Due: none

feat: better connect disconnect simulation
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: smarter population management
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/PlayerPopulationManager.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/SimulationState.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: make simulation configurable
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/PlayerPopulationManager.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/SimulationState.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: persistent inventory for mock server
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: run commands in simulation
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
Due: eslint --fix, prettier --write

feat: clean up element definitions
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventContent.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/GameContent.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

fix: player data getting overwritten
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

disable a eslint rule where prettier and eslint were fighting each other
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

chore: clean up the quotes eslint rule
  eslint.config.mjs
  package-lock.json
  package.json
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/Player/dto.ts
  packages/app-connector/src/config.ts
  packages/app-mock-gameserver/src/scenarios/basic.ts
  packages/lib-components/src/components/charts/AreaChart/index.tsx
  packages/lib-components/src/components/charts/LineChart/index.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-db/src/encryption.ts
  packages/lib-db/src/migrations/util/alterEnum.ts
  packages/lib-db/src/queryBuilder.ts
  packages/lib-gameserver/src/__tests__/gameEventEmitter.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/lib-modules/src/modules/dailyRewards/index.ts
  packages/lib-modules/src/modules/geoBlock/index.ts
  packages/web-main/src/components/selects/CountrySelectField/countryCodes.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/customTypes.ts
Due: eslint --fix, prettier --write

fix: reconnect mock server continuously
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/wsClient.ts
Due: eslint --fix, prettier --write

fix: dont add new entity types, they were messing up the snapshots
  packages/app-mock-gameserver/src/lib/ws-gameserver/GameContent.ts
Due: eslint --fix, prettier --write

fix the tests :)
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/EventGenerator.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/GameServerIntegration.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/PlayerMovementSimulator.test.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/SimulationState.test.ts
Due: eslint --fix, prettier --write

fix: init was messing with high ping kicker tests
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: add country sidebar to world map with flag emojis
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

test: update Button and IconButton snapshots
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: none

feat: mock players get random IPs
  packages/app-mock-gameserver/src/lib/ws-gameserver/ActivitySimulator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/IpGenerator.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: better layout of homepage dashboard
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
Due: eslint --fix, prettier --write

feat: more compact country list
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
Due: eslint --fix, prettier --write

fix: colour distribution on geomap
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
Due: eslint --fix, prettier --write

feat: 2 columns for more country info
  packages/lib-components/src/components/charts/GeoMercator/index.tsx
Due: eslint --fix, prettier --write

chore: update snapshots
  packages/lib-components/src/components/actions/Button/__snapshots__/Button.test.tsx.snap
  packages/lib-components/src/components/actions/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: none

fix: properly error on auth errors
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write
