Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Feat: error state + return start and end
  packages/lib-components/src/components/inputs/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
Due: eslint --fix, prettier --write

Fix: default selection end date
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/Relative.tsx
Due: eslint --fix, prettier --write

Fix: columns that can not be hidden should not be shown in columns visibility popup
  packages/lib-components/src/components/data/Table/subcomponents/ColumnVisibility/index.tsx
Due: eslint --fix, prettier --write

Fix: columnSettings not showing when column has no values on current page
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
Due: eslint --fix, prettier --write

Fix: columns that can not be hidden should not be shown in columns visibility popup (#541)
  packages/lib-components/src/components/data/Table/subcomponents/ColumnVisibility/index.tsx
Due: eslint --fix, prettier --write

Fix: only show rowSelection when state is passed to tableComponent
  packages/lib-components/src/components/data/Table/index.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

Fix: columnSettings not showing when column has no values on current page (#542)
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
Due: eslint --fix, prettier --write

Feat: fix spacing between description and switch component
  packages/lib-components/src/components/inputs/Switch/Controlled.tsx
  packages/lib-components/src/components/inputs/layout/Description.tsx
Due: eslint --fix, prettier --write

Fix: rename config buttons
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/hookConfig.tsx
Due: eslint --fix, prettier --write

Fix: only show rowSelection when state is passed to tableComponent (#543)
  packages/lib-components/src/components/data/Table/index.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

Fix: add save button when file is dirty
  packages/web-main/src/components/modules/Editor/index.tsx
Due: eslint --fix, prettier --write

chore: make it show command/hook/cronjob config instead of just config
  packages/web-main/src/pages/studio/index.tsx
Due: eslint --fix, prettier --write

Fix: few issues in studio (#545)
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/hookConfig.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/pages/studio/index.tsx
Due: eslint --fix, prettier --write

fix: web-main build
  packages/lib-components/src/components/inputs/layout/Description.tsx
Due: eslint --fix, prettier --write

fix: some type issues with Role tests
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
Due: eslint --fix, prettier --write

fix: issue exposing checkPermission
  packages/app-vmm/src/service/workers/executeLocal.ts
Due: eslint --fix, prettier --write

Feat: rework nav
  packages/lib-components/src/components/inputs/Select/style.ts
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/AuthenticatedRoute.tsx
  packages/web-main/src/components/GameServerSelectNav.tsx
  packages/web-main/src/components/Navbar/GameServerSelectNav.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/Navbar/style.ts
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/components/studio/CopyModulePopOver.tsx
  packages/web-main/src/frames/GameServerFrame.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
  packages/web-main/src/paths.ts
Due: eslint --fix, prettier --write

fix(events): add meta to events output
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Feat: add call to action + more logic for when only 1 gameserver or no gameservers...
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/web-main/src/components/Navbar/GameServerSelectNav.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/Navbar/style.ts
  packages/web-main/src/components/modules/Cards/ModuleCardInstall.tsx
  packages/web-main/src/context/selectedGameServerContext.ts
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/hooks/useSelectedGameServerContext.ts
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/gameserver/GameServerDashboard.tsx
  packages/web-main/src/pages/gameserver/GameServerModules.tsx
Due: eslint --fix, prettier --write

feat: add detail view
  package-lock.json
  packages/app-api/src/service/EventService.ts
  packages/web-main/package.json
  packages/web-main/src/components/EventFeed/EventDetail.tsx
  packages/web-main/src/components/EventFeed/EventItem.tsx
  packages/web-main/src/components/EventFeed/index.tsx
  packages/web-main/src/pages/Events.tsx
Due: eslint --fix, prettier --write

feat(gameserver): filter on id
  packages/app-api/src/controllers/GameServerController.ts
Due: eslint --fix, prettier --write

scripts(fix-esm): macos support
  packages/lib-apiclient/fix-esm.sh
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat(events): basic enrichment of events
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/components/EventFeed/EventDetail.tsx
  packages/web-main/src/components/EventFeed/EventItem.tsx
  packages/web-main/src/pages/Events.tsx
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add commandName
  packages/web-main/src/components/EventFeed/EventItem.tsx
  packages/web-main/src/pages/Events.tsx
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write

chore: remove file
  packages/lib-components/;
Due: none

Feat/events page (#506)
  package-lock.json
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/EventService.ts
  packages/lib-apiclient/fix-esm.sh
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/web-main/package.json
  packages/web-main/src/Router.tsx
  packages/web-main/src/components/EventFeed/EventDetail.tsx
  packages/web-main/src/components/EventFeed/EventItem.tsx
  packages/web-main/src/components/EventFeed/index.tsx
  packages/web-main/src/frames/GlobalFrame.tsx
  packages/web-main/src/pages/Events.tsx
  packages/web-main/src/paths.ts
  packages/web-main/src/queries/events/index.ts
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: arguments frontend
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/lib-components/src/components/actions/IconButton/index.tsx
  packages/lib-components/src/components/feedback/FormError/index.tsx
  packages/lib-components/src/components/inputs/layout/ErrorMessage/index.tsx
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/hookConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/style.ts
Due: eslint --fix, prettier --write

fix: arguments frontend (#558)
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/lib-components/src/components/actions/IconButton/index.tsx
  packages/lib-components/src/components/feedback/FormError/index.tsx
  packages/lib-components/src/components/inputs/layout/ErrorMessage/index.tsx
  packages/web-main/src/components/modules/Editor/FileTabs.tsx
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/hookConfig.tsx
  packages/web-main/src/components/modules/Editor/configs/style.ts
Due: eslint --fix, prettier --write

chore: add basic rate limiter to functions
  packages/app-vmm/src/service/workers/executeFunction.ts
Due: eslint --fix, prettier --write

chore: remove vmm container
  .env.example
  containers/takaro/ssh_config
  containers/vmm/Dockerfile
  containers/vmm/dev.Dockerfile
  docker-compose.test.yml
  docker-compose.yml
  packages/app-mock-gameserver/src/config.ts
  packages/lib-config/src/main.ts
  scripts/dev-setup-network-tap.sh
  scripts/dev-vm.sh
  scripts/setup-network.sh
Due: eslint --fix, prettier --write

chore: add basic rate limiter to functions (#559)
  packages/app-vmm/src/service/workers/executeFunction.ts
Due: eslint --fix, prettier --write

ci: remove vmm build step
  .github/workflows/builds.yml
  .github/workflows/docker.yml
Due: none

chore: remove vm-agent :(
  .cargo/config
  packages/vm-agent/.cargo/config
  packages/vm-agent/.gitignore
  packages/vm-agent/Cargo.lock
  packages/vm-agent/Cargo.toml
  packages/vm-agent/agent-service
  packages/vm-agent/package.json
  packages/vm-agent/payload.json
  packages/vm-agent/src/api/handlers.rs
  packages/vm-agent/src/api/mod.rs
  packages/vm-agent/src/main.rs
Due: none

chore: remove app-vmm to app-api
  docker-compose.observability.yml
  package-lock.json
  packages/app-api/package.json
  packages/app-api/src/config.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/executors/executeLocal.ts
  packages/app-api/src/main.ts
  packages/app-api/src/workers/commandWorker.ts
  packages/app-api/src/workers/cronjobWorker.ts
  packages/app-api/src/workers/getClient.ts
  packages/app-api/src/workers/hookWorker.ts
  packages/app-vmm/package.json
  packages/app-vmm/src/config.ts
  packages/app-vmm/src/lib/firecracker/index.ts
  packages/app-vmm/src/lib/vmClient.ts
  packages/app-vmm/src/main.ts
  packages/app-vmm/src/service/vmm/index.ts
  packages/app-vmm/tsconfig.build.json
  packages/app-vmm/tsconfig.json
  packages/app-vmm/typedoc.json
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write

chore: run npm dedupe
  package-lock.json
Due: none

ci: remove takaro image from testing
  docker-compose.test.yml
Due: none

chore: remove duplicate dev-init
  .github/workflows/docker.yml
Due: none

chore: remove healthcheck for VMM from tests
  scripts/integration-tests.mjs
Due: none

Update packages/app-api/src/main.ts
  packages/app-api/src/main.ts
Due: eslint --fix, prettier --write

fix: add back takaro
  docker-compose.test.yml
Due: none
