Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Chore: add navigation item to shop
  packages/web-main/src/components/cards/GameServerCard/index.tsx
Due: eslint --fix, prettier --write

Chore: shop improvements
  packages/web-main/src/components/cards/RoleCard/index.tsx
  packages/web-main/src/components/cards/ShopListingCard/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/shop.index.tsx
Due: eslint --fix, prettier --write

chore: regen lock
  package-lock.json
Due: none

wip: first pass of new linking (#1045)
  package-lock.json
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/__tests__/ory.integration.test.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-db/src/migrations/sql/20240615145045-user-player-link.ts
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: more config options for domain cookie
  packages/app-api/src/config.ts
  packages/app-api/src/service/AuthService.ts
Due: eslint --fix, prettier --write

chore: remove some dead code
  packages/app-api/src/service/DomainService.ts
  packages/lib-auth/src/lib/ory.ts
  packages/lib-auth/src/lib/paginationHelpers.ts
Due: eslint --fix, prettier --write

chore: clean up tests
  packages/app-api/src/controllers/__tests__/Auth.integration.test.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
Due: eslint --fix, prettier --write

feat: add endpoint for changing domains
  packages/app-api/src/controllers/UserController.ts
Due: eslint --fix, prettier --write

feat: endpoint for unsetting domain cookie
  packages/app-api/src/controllers/UserController.ts
Due: eslint --fix, prettier --write

feat: add a latency metric
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

feat: add a latency metric (#1048)
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

Chore: small changes
  packages/web-main/src/queries/role.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesDeleteDialog.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
Due: eslint --fix, prettier --write

fix: me call api documentation
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: me call api documentation (#1049)
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: script now creates 2 domains
  scripts/dev-data.mjs
Due: none

fix: an issue when deleting gameservers which have ip history
  packages/lib-db/src/migrations/sql/20240622132552-fix-ip-history-fk.ts
Due: eslint --fix, prettier --write

chore: limit ingame messages to 300
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

Chore: add domain select
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
Due: eslint --fix, prettier --write

Chore: remove workaround for incorrect domains type
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
Due: eslint --fix, prettier --write

Feat: users can now select a different domain (#1050)
  packages/web-main/src/components/Navbar/UserDropdown.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/queries/user.tsx
  packages/web-main/src/routes/_auth/domain.select.tsx
  scripts/dev-data.mjs
Due: eslint --fix, prettier --write

Chore: reimplement event filter
  packages/lib-components/src/components/actions/IconButton/style.ts
  packages/lib-components/src/components/data/Avatar/style.ts
  packages/lib-components/src/components/inputs/Date/DateRangePicker/Controlled.tsx
  packages/lib-components/src/components/inputs/Date/DateRangePicker/DateRangePicker.stories.tsx
  packages/lib-components/src/components/inputs/Date/DateRangePicker/Generic.tsx
  packages/lib-components/src/components/inputs/Date/DateRangePicker/style.ts
  packages/lib-components/src/components/inputs/index.ts
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/events/EventFilter.tsx
  packages/web-main/src/components/events/TreeFilter/Branch.tsx
  packages/web-main/src/components/events/TreeFilter/Node.tsx
  packages/web-main/src/components/events/TreeFilter/index.tsx
  packages/web-main/src/components/events/TreeFilter/style.tsx
  packages/web-main/src/components/selects/EventNameSelect/EventNameSelect.stories.tsx
  packages/web-main/src/components/selects/EventNameSelect/eventNames.tsx
  packages/web-main/src/components/selects/EventNameSelect/index.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/events.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
Due: eslint --fix, prettier --write

wip: basic flows for player linking
  docker-compose.yml
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: delete domain cookie on login
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

fix: 7d2d V1 support
  packages/lib-gameserver/src/gameservers/7d2d/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/7d2d/emitter.ts
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
Due: eslint --fix, prettier --write

fix: an issue with V1 option
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

fix: route collision causing validation error
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Fix: switching domains (#1053)
  packages/app-api/src/controllers/UserController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add a DB index to player inventory
  packages/lib-db/src/migrations/sql/20240626200803-player-inventory-idx.ts
Due: eslint --fix, prettier --write

chore: use a more limiting regex as default for hooks
  packages/web-main/src/routes/-studio/FileExplorer/File.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

Update settp.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
Due: eslint --fix, prettier --write

Update teleport.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write

fix: list tp showing too many teleports
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

teleport fixes (#1054)
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

fix: an edge case with player user linking
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-auth/src/lib/ory.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
