Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: some playwright config
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

ci: dont test webkit, too many bugs/issues. Chrome and FF are good enough for now
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

fix: auth check disappeared after merging..
  packages/app-api/src/controllers/GameServerController.ts
Due: eslint --fix, prettier --write

wip: crud tests
  packages/e2e/src/web-main/CRUDGameserver.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

fix: run tests with ts (dont transpile to js first)
  docker-compose.yml
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/app-vmm/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-util/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: commit forgotten file 😊
  packages/lib-gameserver/package.json
Due: none

fix: add NODE_OPTIONS to the ci compose file
  docker-compose.test.yml
Due: none

"fix" build and tests of lib-http
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

ci: update docker actions to newer versions
  .github/workflows/docker.yml
Due: none

ci: update vmm actions to latest version
  .github/workflows/docker.yml
Due: none

feat: add player ping to output + route to fetch list of players
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/sdtdAPIClient.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-modules/src/dto/gameEvents.ts
Due: eslint --fix, prettier --write

Feat: tests for gameserver CRUD
  packages/e2e/src/web-main/CRUDGameserver.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

feat: add timeout between teleports
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/index.ts
Due: eslint --fix, prettier --write

test(teleports): add timeout test
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
Due: eslint --fix, prettier --write

chore: rename /teleport to /tp
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/lib-modules/src/modules/teleports/index.ts
Due: eslint --fix, prettier --write

chore: rename
  packages/e2e/src/web-main/CRUDGameServer.spec.ts
Due: eslint --fix, prettier --write

Feat: simple crud for modules
  packages/e2e/src/web-main/CRUDModules.spec.ts
Due: eslint --fix, prettier --write

refactor(teleport): use vars & prefix
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

chore: remove old param
  scripts/dev-data.mjs
Due: none

feat: extra test context with more precreated data
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

feat: high ping kicker module
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/VariablesService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/apiResponses.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/highPingKicker/cronJobs/Ping check.js
  packages/lib-modules/src/modules/highPingKicker/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: game server select nav
  packages/web-main/src/components/GameServerSelectNav.tsx
Due: eslint --fix, prettier --write

chore: remove a log
  packages/lib-components/src/components/inputs/Select/style.ts
Due: eslint --fix, prettier --write

test(module assignment): update snapshot
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
Due: eslint --fix, prettier --write

fix: sync player data on chat messages too
  packages/app-api/src/workers/eventWorker.ts
Due: eslint --fix, prettier --write

feat: allow teleports to have a timeout (#338)
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
  packages/lib-modules/src/modules/teleports/index.ts
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
Due: eslint --fix, prettier --write

fix: issue with Select not using right state
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
Due: eslint --fix, prettier --write

fix: some tests in lib-gameserver
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
Due: eslint --fix, prettier --write

feat(7d2d): send message to a player
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

feat; allow teleports to be delayed
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
Due: eslint --fix, prettier --write

fix: numberfields in config fixes #336
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/NumberField.tsx
Due: eslint --fix, prettier --write

feat(7d2d): send message to a player (#356)
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

feat: more tests
  packages/e2e/src/web-main/CRUDModules.spec.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/gameservers.spec.ts
  packages/e2e/src/web-main/pages/modules.spec.ts
  packages/e2e/src/web-main/pages/studio.spec.ts
  packages/web-main/src/components/Header.tsx
Due: eslint --fix, prettier --write

Fix: add e2e to lock
  package-lock.json
Due: none

fix: numberfields in config fixes #336 (#355)
  packages/lib-components/src/components/inputs/JsonSchemaForm/fields/NumberField.tsx
Due: eslint --fix, prettier --write

Add: playwright test details
  packages/web-docs/pages/development/common-tasks/running-tests.mdx
Due: none

feat: update system diagram
  packages/web-docs/assets/system-diagram.excalidraw
  packages/web-docs/assets/system-diagram.png
Due: none

chore: increase prettier line width
  .prettierrc.json
Due: none

fix: load initial values on settings page correctly fixes #361
  packages/web-main/src/pages/settings/GlobalGameServerSettings.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
