Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

refactor: studio routing, open new tabs
  packages/web-main/src/components/modules/Cards/ModuleCardDefinition.tsx
  packages/web-main/src/components/modules/Cards/style.tsx
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/ModuleDefinitions.tsx
Due: eslint --fix, prettier --write

docs: do a quick pass through docs and update/delete stuff
  docker-compose.yml
  packages/web-docs/pages/development/firecracker-dev.md
  packages/web-docs/pages/development/functions-isolation.md
  packages/web-docs/pages/docs/application/functions.md
  packages/web-docs/pages/docs/application/modules.md
  packages/web-docs/pages/index.md
Due: none

feat: some small additions to commandConfig
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
  packages/web-main/src/pages/settings/GlobalGameServerSettings.tsx
  packages/web-main/src/queries/gameservers/queries.ts
Due: eslint --fix, prettier --write

fix: make socket connection info more stable
  packages/web-main/src/hooks/useSocket.ts
Due: eslint --fix, prettier --write

style: various fixes
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/inputs/EditableField/style.ts
  packages/lib-components/src/components/navigation/IconNav/index.tsx
  packages/lib-components/src/components/other/CollapseList/index.tsx
  packages/lib-components/src/components/other/Company/style.ts
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/studio/index.tsx
Due: eslint --fix, prettier --write

feat: add a default function skeleton when creating fn and not specifying code
  docker-compose.yml
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/FunctionService.ts
  packages/app-api/src/service/HookService.ts
  packages/test/src/__snapshots__/CommandController/Create.json
  packages/test/src/__snapshots__/CommandController/Get by ID.json
  packages/test/src/__snapshots__/CommandController/Update.json
  packages/test/src/__snapshots__/HookController/Create.json
  packages/test/src/__snapshots__/HookController/Get by ID.json
  packages/test/src/__snapshots__/HookController/Update.json
Due: eslint --fix, prettier --write

fix: calm your pings!
  packages/web-main/src/hooks/useSocket.ts
  packages/web-main/src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

fix: side bar styling
  packages/web-main/src/frames/StudioFrame.tsx
Due: eslint --fix, prettier --write

wip
  packages/lib-components/src/components/other/Company/index.tsx
  packages/lib-components/src/components/other/Company/style.ts
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/lib-components/src/styled/breakpoint.ts
  packages/lib-components/src/styled/theme.ts
  packages/lib-components/src/views/ModuleOnboarding/ModuleOnboarding.stories.tsx
  packages/lib-components/src/views/index.ts
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/Dashboard.tsx
  packages/web-main/src/pages/LogIn.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

style: various fixes (#241)
  packages/lib-components/src/components/data/Table/style.ts
  packages/lib-components/src/components/inputs/EditableField/style.ts
  packages/lib-components/src/components/navigation/IconNav/index.tsx
  packages/lib-components/src/components/other/CollapseList/index.tsx
  packages/lib-components/src/components/other/Company/style.ts
  packages/lib-components/src/styled/GlobalStyle.ts
  packages/web-main/src/components/Navbar.tsx
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/File.tsx
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/studio/index.tsx
Due: eslint --fix, prettier --write

feat: allow filtering gameservers by their type
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: collapselist
  packages/lib-components/src/components/other/CollapseList/index.tsx
Due: eslint --fix, prettier --write

fix: filter out package.json from modulelist
  packages/web-main/src/components/modules/FileExplorer/utils.ts
Due: eslint --fix, prettier --write

chore: move module onboarding
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/studio/index.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

chore: move module onboarding (#244)
  packages/lib-components/src/components/other/CollapseList/index.tsx
  packages/lib-components/src/components/other/Company/index.tsx
  packages/lib-components/src/components/other/Company/style.ts
  packages/lib-components/src/styled/breakpoint.ts
  packages/lib-components/src/styled/theme.ts
  packages/lib-components/src/views/ModuleOnboarding/ModuleOnboarding.stories.tsx
  packages/lib-components/src/views/ModuleOnboarding/index.tsx
  packages/lib-components/src/views/index.ts
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/modules/FileExplorer/utils.ts
  packages/web-main/src/frames/StudioFrame.tsx
  packages/web-main/src/pages/Dashboard.tsx
  packages/web-main/src/pages/LogIn.tsx
  packages/web-main/src/pages/studio/index.tsx
  packages/web-main/src/views/ModuleOnboarding.tsx
Due: eslint --fix, prettier --write

chore: remove test file
  packages/app-vmm/src/lib/firecracker/__tests__/firecracker.ts
Due: eslint --fix, prettier --write

chore: make sure to clean up sockets dir
  packages/app-vmm/src/service/vmm/index.ts
Due: eslint --fix, prettier --write

refactor: handle kill signal better
  packages/app-vmm/src/lib/firecracker/index.ts
Due: eslint --fix, prettier --write

docker(vmm): fix tracing endpoint for local observability
  docker-compose.observability.yml
  docker-compose.yml
Due: none

fix: don't use volumes for kernel & rootfs
  containers/vmm/dev.Dockerfile
Due: none

Fix crashing vms (#246)
  containers/vmm/dev.Dockerfile
  docker-compose.observability.yml
  docker-compose.yml
  packages/app-vmm/src/lib/firecracker/__tests__/firecracker.ts
  packages/app-vmm/src/lib/firecracker/index.ts
  packages/app-vmm/src/service/vmm/index.ts
Due: eslint --fix, prettier --write

docker(vmm): build vm image inside docker
  containers/vmm/Dockerfile
Due: none

fix: dont copy firecracker
  containers/vmm/Dockerfile
Due: none

feat: basic rust connections working
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/__tests__/RustEventDetection.unit.test.ts
  packages/lib-gameserver/src/gameservers/rust/connectionInfo.ts
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GamePlayer.ts
Due: eslint --fix, prettier --write

ci: build vmm seperate
  .github/workflows/docker.yml
  containers/vmm/Dockerfile
  scripts/dev-vm.sh
Due: none

fix: disconnected event was using wrong matchgroup name
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
Due: eslint --fix, prettier --write

ci: add musl tools
  .github/workflows/docker.yml
Due: none

ci: add protoc
  .github/workflows/docker.yml
Due: none

ci: fix dep
  .github/workflows/docker.yml
Due: none

scripts(vm): fix add gameserver dep
  scripts/dev-vm.sh
Due: none

ci: move vmm back to other builds
  .github/workflows/docker.yml
Due: none

ci: only execute dev-vm script for app-vmm
  .github/workflows/docker.yml
Due: none

ci: fix vmm tag
  .github/workflows/docker.yml
Due: none

ci: fffffffffffffffffff
  .github/workflows/docker.yml
Due: none

docker(vmm): build vm image inside docker (#247)
  .github/workflows/docker.yml
  containers/vmm/Dockerfile
  scripts/dev-vm.sh
Due: none

fix: error handling of Rust when server is unreachable
  packages/lib-gameserver/src/gameservers/rust/index.ts
Due: eslint --fix, prettier --write

refactor: client creation for Rust
  packages/lib-gameserver/src/gameservers/rust/emitter.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
Due: eslint --fix, prettier --write

fix: an integration test
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
Due: eslint --fix, prettier --write
