Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Fix an issue when firing multiple hooks simultaneously (#1022)
  docker-compose.test.yml
  packages/app-api/src/main.ts
  packages/app-api/src/service/HookService.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
Due: eslint --fix, prettier --write

Update index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
Due: eslint --fix, prettier --write

Update index.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

docs: add URL for community modules
  packages/web-docs/pages/built-in-modules.mdx
Due: none

Update GameServerController.ts
  packages/app-api/src/controllers/GameServerController.ts
Due: eslint --fix, prettier --write

Fix: gameserverselect not changing
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
Due: eslint --fix, prettier --write

Chore: use suspensequeries
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.console.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
Due: eslint --fix, prettier --write

Fix: session should expire now?
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

Chore: use const for time
  packages/web-main/src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

Chore: remove console log
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
Due: eslint --fix, prettier --write

Fix: gameserver select (#1023)
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.console.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_single-page.tsx
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
  packages/web-main/src/routes/_single-page/account.verification.tsx
Due: eslint --fix, prettier --write

Chore: export now exports to file instead of clipboard
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/routes/_auth/_global/modules.$moduleId.export.tsx
Due: eslint --fix, prettier --write

Fix: copy paste error
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
Due: eslint --fix, prettier --write

fix: build errors
  packages/lib-gameserver/src/gameservers/7d2d/apiResponses.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

regen client
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Give items patch (#1031)
  packages/app-api/src/controllers/GameServerController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/apiResponses.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: add ability to add FQDN in 7d2d host
  packages/lib-components/src/helpers/regexprs.ts
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
Due: eslint --fix, prettier --write

Chore: match deps lib-components + web-main + remove unnecessary eslint-ignores
  packages/lib-components/package.json
  packages/web-main/package.json
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
Due: eslint --fix, prettier --write

Chore: update lockfile
  package-lock.json
Due: none

hotfix: matchroute not working in prod (#1032)
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/helpers/regexprs.ts
  packages/web-main/package.json
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
Due: eslint --fix, prettier --write

Chore: use non deprecated network syntax
  docker-compose.test.yml
  docker-compose.yml
Due: none

Chore: update vite tanstack router dep
  package-lock.json
  packages/web-main/package.json
Due: none

Chore: try to use experimental flag?
  packages/web-main/tsconfig.vite.json
  packages/web-main/vite.config.mts
Due: none

Chore: get rid of all suspense queries
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.console.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

Fuck suspense
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/_global/roles.tsx
  packages/web-main/src/routes/_auth/_global/settings/discord.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
Due: eslint --fix, prettier --write

Chore: get rid of all suspense queries (#1034)
  packages/web-main/src/routes/_auth/_global/gameservers.tsx
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/_global/roles.tsx
  packages/web-main/src/routes/_auth/_global/settings/discord.tsx
  packages/web-main/src/routes/_auth/_global/user.$userId.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
  packages/web-main/src/routes/_auth/_global/variables.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.console.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

Fix: incorrect cache key
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/queries/util.ts
  packages/web-main/src/routes/_auth/_global/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.install.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
Due: eslint --fix, prettier --write

Chore: get rid of experimental vite tsrouter opt
  packages/web-main/vite.config.mts
Due: none

Chore: try disabling horizontal nav
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
Due: eslint --fix, prettier --write

Chore: put horizontalnav back
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write

Chore: don't use layout with data
  packages/web-main/src/components/Player.tsx
  packages/web-main/src/routes/_auth/_global/-player/PlayerCurrency.tsx
  packages/web-main/src/routes/_auth/_global/-player/PlayerDetails.tsx
  packages/web-main/src/routes/_auth/_global/-player/PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/-player/PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/-player/style.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId.economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.events.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.info.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.role.assign.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/events.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
Due: eslint --fix, prettier --write

Revert "Chore: don't use layout with data"
  packages/web-main/src/components/Player.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.events.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerCurrency.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerRolesTable.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-style.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId/economy.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/events.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/info.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/inventory.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/role.assign.tsx
  packages/web-main/src/routes/_auth/_global/users.tsx
Due: eslint --fix, prettier --write

Chore: try different params struct + remove redundant eslint ignores
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write

Chore: try without horizontal nav?
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write

feat: stats and graphs
  containers/prometheus/prometheus.yml
  docker-compose.observability.yml
  docker-compose.yml
  packages/app-api/src/controllers/StatsController.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/StatsService.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-components/src/components/charts/index.tsx
  packages/web-main/src/queries/stats.tsx
  packages/web-main/src/routes/_auth/_global/dashboard.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId/-PlayerCurrency.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Chore: try without motion div
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/lib-components/src/components/navigation/HorizontalNav/style.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write

chore: make prometheus URLs configurable
  packages/app-api/src/config.ts
  packages/app-api/src/lib/metrics.ts
  packages/app-api/src/service/StatsService.ts
Due: eslint --fix, prettier --write

Revert "Chore: try without motion div"
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/lib-components/src/components/navigation/HorizontalNav/style.ts
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write

Chore: add from prop?
  packages/lib-components/src/components/navigation/HorizontalNav/index.tsx
  packages/web-main/src/routes/_auth/_global/player.$playerId.tsx
Due: eslint --fix, prettier --write
