Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: some player snapshots
  packages/test/src/__snapshots__/PlayerController/Can override the expiry of a role assignment.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring gameserver role.json
  packages/test/src/__snapshots__/PlayerController/Handles expiring role of gameServer properly - expiring global role.json
Due: none

feat: add basic crud for domain settings
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250131183251-domain-settings.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/VariableController/Prevents creating more than domain-allowed variables.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: move variables to domain settings
  packages/app-api/src/config.ts
  packages/app-api/src/controllers/__tests__/VariableController.integration.test.ts
  packages/app-api/src/db/variable.ts
Due: eslint --fix, prettier --write

fix: implement event retention
  packages/app-api/src/workers/systemWorker.ts
Due: eslint --fix, prettier --write

feat: limit max gameservers
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

chore: rename property to make it more clear
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250131183251-domain-settings.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: ensure module description has a default value now
  packages/lib-db/src/migrations/sql/20250128200529-version-fixes.ts
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/ModuleController/versioning: Can tag a version.json
Due: eslint --fix, prettier --write

fix: bug with copying a module in the frontend
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

chore: move test fixtures to separate folder
  packages/app-api/src/controllers/__tests__/CSMMImport.integration.test.ts
  packages/app-api/src/controllers/__tests__/data/csmm-export-full.json
Due: eslint --fix, prettier --write

fix: issue importing old modules
  packages/app-api/src/controllers/Module/modules.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/controllers/__tests__/data/hvb_serverMessages_v2.json
  packages/app-api/src/service/Module/index.ts
  packages/lib-modules/src/BuiltinModule.ts
Due: eslint --fix, prettier --write

chore: regen lockfile
  package-lock.json
Due: none

chore: apiclient
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: some mocha cleanup
  containers/takaro/dev.Dockerfile
  eslint.config.mjs
Due: none

chore: get lib-modules tests basic running
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
  packages/lib-modules/src/__tests__/builtinmodule.unit.test.ts
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
  packages/lib-modules/src/__tests__/economy/claim.integration.test.ts
  packages/lib-modules/src/__tests__/economy/economyUtils.integration.test.ts
  packages/lib-modules/src/__tests__/economy/shop.integration.test.ts
  packages/lib-modules/src/__tests__/economy/zombieKillReward.integration.test.ts
  packages/lib-modules/src/__tests__/geoblock.integration.test.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/roleExpiry.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCooldown.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCost.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
Due: eslint --fix, prettier --write

fix: a API typing issue
  packages/app-api/src/controllers/Module/modules.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix; handle more cases
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

simplify
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

fix: some logic when seeding modules
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

chore(web-main): make copy module available for builtin modules
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
Due: eslint --fix, prettier --write

fix(web-main): capitalize correctly
  packages/web-main/src/components/dialogs/ModuleTagDialog.tsx
Due: eslint --fix, prettier --write

fix(web-main): tagging version does not show new tag
  packages/web-main/src/routes/_auth/module-builder.$moduleId.$moduleVersionTag.tsx
Due: eslint --fix, prettier --write

chore(web-main): add version select to copy module
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/dialogs/ModuleCopyDialog.tsx
  packages/web-main/src/routes/_auth/-module-builder/CopyModulePopOver.tsx
Due: eslint --fix, prettier --write

feat: impl module limitations
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/middlewares/moduleProtectionMiddleware.ts
  packages/app-api/src/service/Module/index.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write

feat: add concept of dashboard users
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250131183251-domain-settings.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: regen a whole lot of snapshots
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/UserController/Expired roles get deleted.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
Due: none

chore: consolidate test scripts
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  scripts/integration-tests.mjs
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: implement dashboard user limitation
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/UserController/Inviting a user that already exists in a different domain should work transparently.json
  packages/test/src/__snapshots__/UserController/Inviting a user that is already invited should return the existing user.json
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: build issue
  scripts/dev-init.sh
  scripts/getMonacoCustomTypes.mjs
Due: none

fix: more ts fixing
  packages/web-main/tsconfig.json
  tsconfig.json
Due: none

fix: wait until ready script
  package.json
  packages/test/src/waitUntilReady.ts
Due: eslint --fix, prettier --write

fix: add declarationMap for better go-to-definition experience
  tsconfig.json
Due: none

fix: a bunch of deprecation warnings
  docker-compose.test.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/lib-modules/package.json
  scripts/integration-tests.mjs
Due: none

fix: group more dev deps
  renovate.json
Due: none

chore: clean up npm test commands
  package.json
Due: none

fix: some more tests
  packages/app-api/src/lib/__tests__/commandParser.unit.test.ts
  packages/lib-gameserver/src/TakaroEmitter.unit.test.ts
  packages/lib-modules/src/__tests__/builtinmodule.unit.test.ts
Due: eslint --fix, prettier --write

chore: clean up lots of unnecessery API logging
  packages/lib-apiclient/src/lib/baseClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: add disalbed property to addCard
  packages/web-main/src/components/cards/AddCard.tsx
Due: eslint --fix, prettier --write

fix: ensure builtin modules are not counted against the domain limits
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

chore: add minFill prop + MaxUsage component
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
  packages/lib-components/src/components/other/Usage/Usage.tsx
  packages/web-main/src/components/MaxUsage.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
