Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

fix(deps): align ws version across all packages
  package-lock.json
  packages/app-mock-gameserver/package.json
  packages/lib-gameserver/package.json
Due: none

fix: increase SystemWorker concurrency to 10
  .claude/skills/takaro-engineer/TESTING.md
  packages/app-api/src/workers/systemWorker.ts
Due: eslint --fix, prettier --write

feat: allow specifying domain via headers
  packages/app-api/src/service/AuthService.ts
  packages/lib-apiclient/src/lib/baseClient.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: correct hardDelete API parameter format for test cleanup
  CLAUDE.md
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

perf: parallelize seedBuiltinModules for faster domain creation
  packages/app-api/src/service/Module/index.ts
Due: eslint --fix, prettier --write

feat: add OpenTelemetry instrumentation to integration tests
  packages/test/src/integrationTest.ts
  packages/test/src/test/tracing.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

Improve OpenTelemetry tracing and remove local observability stack
  .claude/skills/takaro-engineer/DEBUGGING.md
  .claude/skills/takaro-engineer/DOCKER.md
  containers/grafana/agent/config.river
  containers/grafana/grafana-provisioning/dashboards/dashboard.yaml
  containers/grafana/grafana-provisioning/datasources/datasource.yml
  containers/tempo/tempo.yaml
  docker-compose.observability.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/lib-util/package.json
  packages/lib-util/src/context.ts
  packages/lib-util/src/main.ts
  packages/lib-util/src/tracing.ts
  packages/test/src/integrationTest.ts
  packages/test/src/test/tracing.ts
  packages/test/src/test/waitForEvents.ts
  scripts/test-file.sh
  scripts/test-package.sh
  scripts/test-runner.sh
Due: eslint --fix, prettier --write
