Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: custom monaco types for module builder
  packages/web-main/src/routes/-module-builder/Editor/monacoCustomTypes.json
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
  scripts/getMonacoCustomTypes.mjs
Due: none

fix: hasOptions + expose select field open state
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Controlled.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/Generic/index.tsx
  packages/lib-components/src/components/inputs/selects/SelectQueryField/style.ts
Due: eslint --fix, prettier --write

fix(e2e): install flow change
  packages/e2e/src/web-main/views/modules.spec.ts
Due: eslint --fix, prettier --write

refactor(web-main): replace install versionId with tag
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$moduleVersionTag.install.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$moduleVersionTag.install.view.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$moduleVersionTag.update.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$versionId.install.index.tsx
Due: eslint --fix, prettier --write

fix(web-main): get rid of successfull install message on query, as query is used for other things as well
  packages/web-main/src/queries/gameserver.tsx
Due: eslint --fix, prettier --write

refactor(web-main): moduleversionselectquery load on open + always return tag
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/selects/ModuleVersionSelectQueryField.tsx
  packages/web-main/src/components/selects/index.tsx
  packages/web-main/src/queries/module.tsx
  packages/web-main/src/routes/_auth/-module-builder/Header.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormBuilder/index.tsx
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormManual/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
Due: eslint --fix, prettier --write

0.0.18
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: incorrect caching of module installation
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.$moduleId.$moduleVersionTag.update.tsx
Due: eslint --fix, prettier --write

chore: move all dependencies to top-level + upgrade few dependencies because of peer dependency conflicts
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-components/src/stories/Colors.mdx
  packages/lib-components/src/stories/Elevation.mdx
  packages/lib-components/src/stories/Introduction.mdx
  packages/lib-components/src/stories/Spacing.mdx
  packages/lib-components/tsconfig.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: module export
  packages/web-main/src/components/selects/ModuleVersionSelectQueryField.tsx
Due: eslint --fix, prettier --write

chore: add a explicit test for exporting all module versions
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
Due: eslint --fix, prettier --write

chore(docker): update kratos in self hosted docker-compose to take .env
  deploy/compose/docker-compose.yml
Due: none

feat(players): update playtime to be displayed in d/h/m/s
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

fix: module export + All versions support
  packages/web-main/src/components/CopyModuleForm.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/dialogs/ModuleExportDialog.tsx
  packages/web-main/src/components/selects/ModuleVersionSelectQueryField.tsx
Due: eslint --fix, prettier --write

feat: hook delay and cooldown
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/HookService.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: 7d2d item syncing
  packages/lib-gameserver/package.json
Due: none

chore: add logs for worker events
  packages/lib-queues/src/TakaroWorker.ts
Due: eslint --fix, prettier --write

fix: tests for hook delay/cooldowns
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
Due: eslint --fix, prettier --write

chore: increase test attempts in ci
  .github/workflows/docker.yml
  scripts/integration-tests.mjs
Due: none

fix: update a snapshot
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
Due: none

chore: cleanup old test retries config
  .github/workflows/docker.yml
  docker-compose.test.yml
  scripts/integration-tests.mjs
Due: none

fix: reduce how many steam API calls Takaro makes
  packages/app-api/src/service/Player/index.ts
  packages/app-api/src/workers/eventWorker.ts
Due: eslint --fix, prettier --write

feat: make command delay announcement optional
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/CommandService.ts
Due: eslint --fix, prettier --write

chore: update snapshots
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Uninstall a module.json
Due: none

fix: issue with existing installs and hook delays
  packages/app-api/src/service/HookService.ts
Due: eslint --fix, prettier --write

feat: default system config
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/db/module.ts
  packages/app-api/src/service/Module/dto.ts
  packages/app-api/src/service/Module/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20250307162855-default-systemconfig.ts
  packages/lib-util/src/errors.ts
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Uninstall a module.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with correct config.json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with incorrect config (additional property).json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with incorrect config (missing property).json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with incorrect config (value too long).json
  packages/test/src/__snapshots__/ModuleConfig/Installing a module with incorrect config (value too short).json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config - should default cronjob values.json
  packages/test/src/__snapshots__/ModuleConfig/Installing with correct system config.json
  packages/test/src/__snapshots__/ModuleConfig/Setting a default system config runs the validation on it when creating module.json
  packages/test/src/__snapshots__/ModuleConfig/Setting a default system config runs the validation on it when updating module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Create.json
  packages/test/src/__snapshots__/ModuleController/Get by ID.json
  packages/test/src/__snapshots__/ModuleController/Update.json
  packages/test/src/__snapshots__/ModuleController/Updating permission returns updated permission.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions can remove permissions.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
  packages/test/src/__snapshots__/ModuleController/versioning: Can tag a version.json
  packages/web-main/src/components/selects/ModuleSelectQueryField.stories.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/defaultSystemConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/ModuleBuilderInner.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: descriptions not showing their values
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/commandConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/cronjobConfig.tsx
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/hookConfig.tsx
Due: eslint --fix, prettier --write

fix: sending mails from Takaro
  package-lock.json
  package.json
  packages/lib-email/src/config.ts
  packages/lib-email/src/send.ts
Due: eslint --fix, prettier --write

chore: dump some dev data for mail templates
  containers/ory/kratos/crazy.template.jsonnet
  containers/ory/kratos/default.template.jsonnet
  containers/ory/kratos/kratos.yml
  containers/ory/kratos/postmark.template.jsonnet
Due: none

fix: ensure external reference is unique
  packages/lib-db/src/migrations/sql/20250312184104-unique-external-reference.ts
Due: eslint --fix, prettier --write

fix: ban sync was blocking if even one gameserver errored
  packages/app-api/src/workers/bansSyncWorker.ts
Due: eslint --fix, prettier --write

chore: make test setup retryable
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

feat: include reconciler in bull board
  packages/lib-queues/src/bullboard.ts
Due: eslint --fix, prettier --write

fix: root user should not count against dashboardUsers
  packages/app-api/src/service/User/index.ts
Due: eslint --fix, prettier --write

fix: make root users not dashboard users
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-db/src/migrations/sql/20250314185501-root-users-not-dashboard-user.ts
Due: eslint --fix, prettier --write

chore: update a snapshot for root dashboard user
  packages/test/src/__snapshots__/Auth/Uses the system role user for API checks.json
Due: none

fix: API endpoints for module items, were not migrated to versions...
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: catch another case where client provides invalid JSON and takaro was ugly-erroring
  packages/lib-http/src/middleware/errorHandler.ts
Due: eslint --fix, prettier --write

fix: update snapshot
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, throws validation error.json
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
