Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: switch to jsdelivr instead of unpkg as unpkg is down :(
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write

fix: force a client to re-identify
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

fix: manual module editor cant handle ui schema props
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/ModuleFormManual/validationSchema.ts
Due: eslint --fix, prettier --write

feat: allow filtering module items by their moduleId and versionId
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/__tests__/CommandController.integration.test.ts
  packages/app-api/src/controllers/__tests__/CronJobController.integration.test.ts
  packages/app-api/src/controllers/__tests__/FunctionController.integration.test.ts
  packages/app-api/src/controllers/__tests__/HookController.integration.test.ts
  packages/app-api/src/db/command.ts
  packages/app-api/src/db/cronjob.ts
  packages/app-api/src/db/function.ts
  packages/app-api/src/db/hook.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/test/src/__snapshots__/CommandController/Can search by moduleId.json
  packages/test/src/__snapshots__/CronJobController/Can search by moduleId.json
  packages/test/src/__snapshots__/FunctionController/Can search by moduleId.json
  packages/test/src/__snapshots__/HookController/Can search by moduleId.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: better snapshot reporting
  packages/test/src/snapshots.ts
Due: eslint --fix, prettier --write

fix: e2e tests
  packages/e2e/src/web-main/pages/ModuleBuilderPage.ts
Due: eslint --fix, prettier --write

fix: a circular reference causing errors
  packages/app-api/src/service/User/dto.ts
Due: eslint --fix, prettier --write

fix: ensure names cannot be dupe named
  packages/lib-db/src/migrations/sql/20250315191707-fix-constraint-module-items.ts
Due: eslint --fix, prettier --write

0.0.19
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add support for pg connection strings
  packages/lib-db/src/config.ts
  packages/lib-db/src/knex.ts
Due: eslint --fix, prettier --write

fix: better handling when new wsclient tries to identify and fails
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

chore: better log message
  packages/app-connector/src/lib/websocket.ts
Due: eslint --fix, prettier --write

feat: fill out mock with implementation/placeholders
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

feat: whole bunch of cleanup,fixes and improvement for generic communications
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-connector/src/lib/websocket.ts
  packages/app-mock-gameserver/package.json
  packages/app-mock-gameserver/src/bin.ts
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/app-mock-gameserver/src/main.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/generic/connectorClient.ts
  packages/lib-gameserver/src/gameservers/generic/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-modules/src/dto/gameEvents.ts
  packages/lib-util/src/TakaroDTO.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

wip: more fixes
  docker-compose.yml
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/websocket.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/test/src/integrationTest.ts
  packages/test/src/setups/gameServerWithPlayers.ts
  packages/test/src/setups/modulesSetup.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: long module descriptions cause display issues
  packages/app-api/src/service/Module/dto.ts
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/util/validationShapes.ts
Due: eslint --fix, prettier --write

fix: studio sidebar not showing final item in list
  packages/lib-components/src/components/other/CollapseList/index.tsx
Due: eslint --fix, prettier --write

fix: exporting empty version list exports all
  packages/app-api/src/controllers/Module/modules.ts
Due: eslint --fix, prettier --write

fix: system worker stopping after a task failed
  packages/app-api/src/workers/systemWorker.ts
Due: eslint --fix, prettier --write

feat: include module item descriptions in export
  packages/app-api/src/controllers/Module/modules.ts
  packages/lib-modules/src/BuiltinModule.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/configs/functionConfig.tsx
Due: eslint --fix, prettier --write

fix: connector crash when missing id object
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
Due: eslint --fix, prettier --write

0.0.20
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.0.21
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: improve release script to make sure no commits are left behind
  package.json
Due: none

wip: work on tests
  packages/app-api/src/service/GameServerService.ts
  packages/app-connector/src/controllers/gameserverController.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/__tests__/generic-server.integration.test.ts
  packages/app-connector/src/lib/websocket.ts
  packages/app-mock-gameserver/package.json
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/lib-util/src/errors.ts
  packages/web-main/src/routes/_auth/-module-builder/Editor/monacoCustomTypes.json
  scripts/dev-init.sh
Due: eslint --fix, prettier --write

fix: teleports module picks up public teles as waypoints
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/lib-modules/src/modules/teleports/functions/utils.js
Due: eslint --fix, prettier --write

fix: cpm link
  packages/web-main/src/routes/_auth/_global/-gameservers/connectionInfoFieldsMap.tsx
Due: eslint --fix, prettier --write

0.0.22
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: allow deleting module items when limit is hit
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/middlewares/moduleProtectionMiddleware.ts
Due: eslint --fix, prettier --write

fix: creating a cronjob in a installed module latest version throws an error
  packages/app-api/src/controllers/__tests__/bugRepro.integration.test.ts
  packages/app-api/src/service/CronJobService.ts
Due: eslint --fix, prettier --write

fix: CSMM import tests
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/CSMMImport.integration.test.ts
  packages/app-api/src/controllers/__tests__/data/csmm-export-full.json
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.0.23
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: two way events
  packages/app-connector/src/lib/GameServerManager.ts
  packages/app-connector/src/lib/websocket.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/DataHandler.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
Due: eslint --fix, prettier --write

chore: gen api client
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/migrations/sql/20250112102308-generic-gameserver.ts
  packages/lib-gameserver/src/gameservers/generic/emitter.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: port for ws in test
  docker-compose.test.yml
Due: none

fix: do not start mock server if default tokens are provided
  packages/app-mock-gameserver/src/bin.ts
Due: eslint --fix, prettier --write

fix: add cfg for connecting to ws in test
  docker-compose.test.yml
Due: none

chore: silence logs in CI
  scripts/integration-tests.mjs
Due: none

cleanup
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/ws-gameserver/gameserver.ts
  packages/test/src/setups/shopSetup.ts
Due: eslint --fix, prettier --write

refactor: move bans, item and steam syncs to system worker
  packages/app-api/src/main.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/ItemsSyncWorker.ts
  packages/app-api/src/workers/bansSyncWorker.ts
  packages/app-api/src/workers/steamSyncWorker.ts
  packages/app-api/src/workers/systemWorker.ts
  packages/lib-queues/src/QueueService.ts
  packages/lib-queues/src/config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
