Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

chore: manual version alignment
  package.json
  packages/web-docs/package.json
Due: none

0.0.3
  package-lock.json
  package.json
Due: none

0.0.3
  package-lock.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package-lock.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: fixes for publishing
  .github/workflows/publish-libs.yml
  package.json
Due: none

chore: change release script
  package.json
Due: none

0.0.4
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

commit docs version
  packages/web-docs/package-lock.json
Due: none

feat: add ability to set external references for domains
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240814133931-domain-ext-ref.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add ability to set external references for domains (#1097)
  packages/app-api/src/db/domain.ts
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240814133931-domain-ext-ref.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: remove hydra health checks during tests
  scripts/integration-tests.mjs
Due: none

fix: misc fixes to tests to help in CI
  packages/app-api/src/controllers/__tests__/ShopOrder.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/workers/playerSyncWorker.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

chore: more details for mock server connection errors
  packages/lib-gameserver/src/gameservers/mock/index.ts
Due: eslint --fix, prettier --write

chore: fix some commandService tests
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

fix: some tests wrt player linking
  packages/app-api/src/controllers/__tests__/PlayerLink.integration.test.ts
Due: eslint --fix, prettier --write

fix: some test snapshots
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, throws validation error.json
Due: eslint --fix, prettier --write

chore: increase CI timeout so we can get logs
  .github/workflows/docker.yml
Due: none

chore: temp disable e2e tests
  .github/workflows/docker.yml
Due: none

fix another snapshot
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/test/src/__snapshots__/PlayerController/Expired roles get deleted.json
Due: eslint --fix, prettier --write

fix: run integration tests with docker compose v2
  scripts/integration-tests.mjs
Due: none

fix: proper import of compose lib
  scripts/integration-tests.mjs
Due: none

fix: a test with discord hook
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, happy path.json
  packages/test/src/__snapshots__/Module Assignments/discordChannelId is required when hook event-type is discord-message, throws validation error.json
Due: eslint --fix, prettier --write

fix: correct a logline
  scripts/integration-tests.mjs
Due: none

chore: some more clean up logic when deleting a mock server
  packages/lib-gameserver/src/gameservers/mock/emitter.ts
Due: eslint --fix, prettier --write

fix: need to include prom stack during tests
  docker-compose.test.yml
Due: none

fix: lots of module tests
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
  packages/lib-modules/src/__tests__/economyUtils.integration.test.ts
  packages/lib-modules/src/__tests__/geoblock.integration.test.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/roleExpiry.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCost.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/test/src/setups/modulesSetup.ts
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write

fix: admin auth tests
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/middlewares/__tests__/adminAuth.unit.test.ts
  packages/app-api/src/middlewares/adminAuth.ts
  packages/app-api/src/service/AuthService.ts
  packages/lib-http/src/main.ts
Due: eslint --fix, prettier --write

fix: sdtd event detection tests
  packages/lib-gameserver/src/gameservers/7d2d/__tests__/7d2dEventDetection.unit.test.ts
Due: eslint --fix, prettier --write

fix: types in lib-apiclient
  packages/lib-apiclient/src/__tests__/main.integration.test.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: chat message sorting for tests
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write

fix server connection when new servers get added
  packages/app-connector/src/lib/GameServerManager.ts
Due: eslint --fix, prettier --write

fix: geoban module tests
  packages/lib-modules/src/__tests__/geoblock.integration.test.ts
  packages/lib-modules/src/modules/geoBlock/hooks/IPDetected.js
Due: eslint --fix, prettier --write

fix: gimme tests
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
Due: eslint --fix, prettier --write

chore: run CI on ubicloud again
  .github/workflows/docker.yml
Due: none

chore: add some ws addons to help with socket performance
  package-lock.json
  package.json
Due: none

chore: increase default concurrency of queues
  packages/lib-queues/src/config.ts
Due: eslint --fix, prettier --write

debug: queue state during tests
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

chore: increase test timeout
  .github/workflows/docker.yml
Due: none

clean queues during tests
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: how queues get cleaned between tests
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: stuck tests
  packages/lib-queues/src/QueueService.ts
  packages/test/src/integrationTest.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write
