Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: also explain 'normal' console logs
  packages/app-vmm/src/service/workers/executeLocal.ts
Due: eslint --fix, prettier --write

feat: expose logs from inside module (#509)
  packages/app-vmm/src/lib/vmClient.ts
  packages/app-vmm/src/service/vmm/index.ts
  packages/app-vmm/src/service/workers/executeFunction.ts
  packages/app-vmm/src/service/workers/executeLocal.ts
  packages/lib-aws/src/executeLambda.ts
  packages/lib-function-helpers/src/getTakaro.ts
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

deps: remove ts-loader
  package-lock.json
  package.json
Due: none

Feat: add renderer for table toolbar
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/web-main/src/pages/Users.tsx
Due: eslint --fix, prettier --write

Feat: add renderer for table toolbar (#518)
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/style.ts
  packages/web-main/src/pages/Users.tsx
Due: eslint --fix, prettier --write

Fix: types with filtering + Fix: issue with columns not showing when no rows
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/hooks/useTableActions.ts
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

Feat: add empty state to table
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/other/Empty/index.tsx
Due: eslint --fix, prettier --write

Feat: add list item when multiple form errors
  packages/lib-components/src/components/feedback/FormError/index.tsx
Due: eslint --fix, prettier --write

Fix: validation invite user
  packages/web-main/src/pages/Users.tsx
Due: eslint --fix, prettier --write

Feat: bunch of table improvements (#523)
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/components/other/Empty/index.tsx
  packages/lib-components/src/hooks/useTableActions.ts
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

Fix: required on input fields triggers builtin html validation, which we don't want
  packages/lib-components/src/components/inputs/CodeField/index.tsx
  packages/lib-components/src/components/inputs/EditableField/index.tsx
  packages/lib-components/src/components/inputs/TagField/Generic.tsx
  packages/lib-components/src/components/inputs/TextAreaField/Generic.tsx
  packages/lib-components/src/components/inputs/TextField/Generic.tsx
Due: eslint --fix, prettier --write

Feat: add list item when multiple form errors (#524)
  packages/lib-components/src/components/feedback/FormError/index.tsx
  packages/web-main/src/pages/Users.tsx
Due: eslint --fix, prettier --write

styles: improve tab style + add extra story
  packages/lib-components/src/components/navigation/Tabs/Content.tsx
  packages/lib-components/src/components/navigation/Tabs/Tabs.stories.tsx
  packages/lib-components/src/components/navigation/Tabs/Trigger.tsx
Due: eslint --fix, prettier --write

Fix: required on input fields triggers builtin html validation, which we don't want (#525)
  packages/lib-components/src/components/inputs/CodeField/index.tsx
  packages/lib-components/src/components/inputs/EditableField/index.tsx
  packages/lib-components/src/components/inputs/TagField/Generic.tsx
  packages/lib-components/src/components/inputs/TextAreaField/Generic.tsx
  packages/lib-components/src/components/inputs/TextField/Generic.tsx
Due: eslint --fix, prettier --write

styles: improve tab style + add extra story (#526)
  packages/lib-components/src/components/navigation/Tabs/Content.tsx
  packages/lib-components/src/components/navigation/Tabs/Tabs.stories.tsx
  packages/lib-components/src/components/navigation/Tabs/Trigger.tsx
Due: eslint --fix, prettier --write

Feat: first version of datepicker
  package-lock.json
  packages/lib-components/package.json
  packages/lib-components/src/components/inputs/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
Due: eslint --fix, prettier --write

docs: add some more info around Variables
  packages/web-docs/pages/_meta.json
  packages/web-docs/pages/advanced/_meta.json
  packages/web-docs/pages/advanced/modules.json
  packages/web-docs/pages/advanced/modules.md
  packages/web-docs/pages/advanced/variables.mdx
Due: none

docs: add some more info around Variables (#528)
  packages/web-docs/pages/_meta.json
  packages/web-docs/pages/advanced/_meta.json
  packages/web-docs/pages/advanced/modules.json
  packages/web-docs/pages/advanced/modules.md
  packages/web-docs/pages/advanced/variables.mdx
Due: none

wip: advanced datepicker :)
  packages/lib-components/src/components/feedback/Popover/usePopover.tsx
  packages/lib-components/src/components/inputs/DatePicker/Calendar/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/Calendar/style.ts
  packages/lib-components/src/components/inputs/DatePicker/Context.tsx
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/QuickSelect/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
  packages/lib-components/src/components/navigation/index.ts
Due: eslint --fix, prettier --write

Feat: add arrow to popover
  packages/lib-components/src/components/feedback/Popover/PopoverContent.tsx
  packages/lib-components/src/components/feedback/Popover/usePopover.tsx
Due: eslint --fix, prettier --write

wip: datepicker
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
Due: eslint --fix, prettier --write

wip: datepicker
  packages/lib-components/src/components/feedback/Popover/PopoverContent.tsx
  packages/lib-components/src/components/feedback/Popover/usePopover.tsx
  packages/lib-components/src/components/inputs/DatePicker/Calendar/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/Calendar/style.ts
  packages/lib-components/src/components/inputs/DatePicker/Context.tsx
  packages/lib-components/src/components/inputs/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/QuickSelect/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/TimePicker/TimePicker.stories.tsx
  packages/lib-components/src/components/inputs/DatePicker/TimePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
Due: eslint --fix, prettier --write

fix: variables page not showing related entities
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/variables.spec.ts
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/queries/variables/queries.tsx
Due: eslint --fix, prettier --write

fix: variables page not showing related entities (#538)
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/variables.spec.ts
  packages/web-main/src/pages/Variables.tsx
  packages/web-main/src/queries/variables/queries.tsx
Due: eslint --fix, prettier --write

fix: command not active after creating in already-installed module
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

fix: an issue where cronjobs werent active after creation
  packages/app-api/src/service/CronJobService.ts
Due: eslint --fix, prettier --write

docs: link to packages api ref docs
  packages/web-docs/pages/development/_meta.json
Due: none

docs: change api docs name
  typedoc.json
Due: none

fix: some issues after a nasty merge
  packages/app-api/src/service/RoleService.ts
  packages/lib-apiclient/src/generated/.openapi-generator/VERSION
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/common.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: command not active after creating in already-installed module (#539)
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

fix: roles page after merge
  packages/web-main/src/components/roles/RoleCard/index.tsx
Due: eslint --fix, prettier --write

feat: show roles on player table
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/queries/roles/queries.tsx
Due: eslint --fix, prettier --write

docs: link to packages api ref docs (#540)
  packages/web-docs/pages/development/_meta.json
  typedoc.json
Due: none

Fix: remove default padding
  packages/lib-components/src/components/feedback/Popover/PopoverContent.tsx
Due: eslint --fix, prettier --write

Fix: active day of end date
  packages/lib-components/src/components/inputs/DatePicker/Calendar/index.tsx
Due: eslint --fix, prettier --write

Fix: view trigger when more than 2 tabs
  packages/lib-components/src/components/navigation/Tabs/Trigger.tsx
Due: eslint --fix, prettier --write

chore: improved a bunch of padding logic
  packages/lib-components/src/components/inputs/DatePicker/QuickSelect/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
Due: eslint --fix, prettier --write

Feat: editable absolute field + chore: move absolute and relative to sep components
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/Absolute.tsx
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/Relative.tsx
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/index.tsx
  packages/lib-components/src/components/inputs/TextField/style.ts
Due: eslint --fix, prettier --write

Fix: update onChange
  packages/lib-components/src/components/inputs/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/DatePicker/DateSelector/Absolute.tsx
  packages/lib-components/src/components/inputs/DatePicker/index.tsx
  packages/lib-components/src/components/inputs/DatePicker/style.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
