Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

feat: add currency field + base api changes (#709)
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/main.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-db/src/migrations/sql/20231123150854-economy-base.ts
  packages/test/src/__snapshots__/PlayerOnGameserverController/Rejects negative currency.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: add economy setting
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/SettingsController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/controllers/__tests__/SettingsController.integration.test.ts
  packages/app-api/src/db/settings.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20231123171611-economy-settings.ts
  packages/test/src/__snapshots__/PlayerOnGameserverController/Bad request when economy is not enabled.json
  packages/test/src/__snapshots__/SettingsController/Rejects numbers as input.json
  packages/web-main/src/pages/settings/GlobalGameServerSettings.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: update snapshots for existing settings tests
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
Due: none

fix: tighten up validation for setting a setting
  packages/app-api/src/controllers/SettingsController.ts
Due: eslint --fix, prettier --write

Fix: bunch of tests
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/UsersPage.ts
  packages/e2e/src/web-main/pages/index.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/users.spec.ts
  packages/e2e/src/web-main/views/variables.spec.ts
Due: eslint --fix, prettier --write

Fix: don't capitalize placeholder by default
  packages/lib-components/src/components/inputs/TextField/style.ts
Due: eslint --fix, prettier --write

Fix: double json stringify
  packages/web-main/src/pages/CreateUpdateGameServer/GameServerCreate.tsx
  packages/web-main/src/pages/ModuleDefinitions/EditModule.tsx
  packages/web-main/src/pages/ModuleDefinitions/ModuleForm.tsx
  packages/web-main/src/pages/Users.tsx
Due: eslint --fix, prettier --write

spacing?
  packages/lib-components/src/components/inputs/JsonSchemaForm/generator/index.tsx
Due: eslint --fix, prettier --write

feat: transact between players
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/settings.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: some issues causing e2e to fail
  packages/app-api/src/db/settings.ts
  packages/web-main/src/pages/settings/GlobalGameServerSettings.tsx
Due: eslint --fix, prettier --write

feat: add basic loading state to tables
  packages/lib-components/src/components/data/Table/index.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

feat: add economy setting (#711)
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/SettingsController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/controllers/__tests__/SettingsController.integration.test.ts
  packages/app-api/src/db/settings.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20231123171611-economy-settings.ts
  packages/test/src/__snapshots__/PlayerOnGameserverController/Bad request when economy is not enabled.json
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Rejects numbers as input.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
  packages/web-main/src/pages/settings/GlobalGameServerSettings.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: speed up CI, smarter retries
  .github/workflows/docker.yml
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

chore: run only chrome in PR, run both browsers on main
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

chore: speed up CI, smarter retries (#713)
  .github/workflows/docker.yml
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

fix: depend on rootClient instead of creating new client
  packages/e2e/src/web-main/fixtures/index.ts
Due: eslint --fix, prettier --write

Feat: custom datefilter + easy access past and future allowed date props
  packages/lib-components/src/components/inputs/Date/DatePicker/Controlled.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/DatePicker.stories.tsx
  packages/lib-components/src/components/inputs/Date/DatePicker/Generic.tsx
  packages/lib-components/src/components/inputs/Date/subcomponents/Calendar/index.tsx
  packages/lib-components/src/components/inputs/Date/subcomponents/Calendar/style.ts
Due: eslint --fix, prettier --write

chore: regenerate apiclient
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: transact between players (#712)
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: retry node tests on failure in CI
  .mocharc.js
Due: eslint --fix, prettier --write

Fix: broken tests because of icon + ci: limited test failure count
  packages/e2e/playwright.config.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/testIds.ts
  packages/e2e/src/web-main/views/settings.spec.ts
  packages/web-main/src/components/Navbar/index.tsx
Due: eslint --fix, prettier --write

Feat: economy module with initial 2 commands
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/lib-modules/src/__tests__/economy.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/economy/commands/balance.js
  packages/lib-modules/src/modules/economy/commands/pay.js
  packages/lib-modules/src/modules/economy/commands/topmoney.js
  packages/lib-modules/src/modules/economy/index.ts
Due: eslint --fix, prettier --write

feat: aliases for commands
  packages/app-api/src/db/command.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/lib-db/src/migrations/sql/20231124140441-json-module-assignments.ts
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
Due: eslint --fix, prettier --write

fix: eslint/prettier issue
  packages/app-api/src/db/command.ts
Due: eslint --fix, prettier --write

feat: add support for player arg type
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/lib/__tests__/commandParser.unit.test.ts
  packages/app-api/src/lib/commandParser.ts
  packages/app-api/src/lib/tryResolvePlayer.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
  packages/lib-queues/src/dataDefinitions.ts
  packages/web-main/src/components/modules/Editor/configs/commandConfig.tsx
Due: eslint --fix, prettier --write

docs: create basic economy docs page
  packages/web-docs/pages/_meta.json
  packages/web-docs/pages/economy.md
Due: none

fix: issue with POG system roles
  packages/app-api/src/service/PlayerOnGameserverService.ts
Due: eslint --fix, prettier --write

fix: web-docs dep
  package-lock.json
  packages/web-docs/package.json
Due: none

wip: daily login reward module
  packages/lib-modules/src/__tests__/dailyLoginReward.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/dailyLoginReward/hooks/dailyRewardChecker.js
  packages/lib-modules/src/modules/dailyLoginReward/index.ts
Due: eslint --fix, prettier --write

feat: add system config for command cost
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/__tests__/PlayerOnGameserverController.integration.test.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/executors/executeLocal.ts
  packages/app-api/src/lib/systemConfig.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-function-helpers/src/TakaroUserError.ts
  packages/lib-function-helpers/src/main.ts
  packages/lib-modules/src/__tests__/systemConfigCost.integration.test.ts
  packages/lib-modules/src/modules/gimme/commands/gimme.js
  packages/lib-modules/src/modules/playerOnboarding/commands/starterkit.js
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/utils/commands/help.js
  packages/test/src/test/waitForEvents.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: update snapshots
  packages/test/src/__snapshots__/GameServerController/Get list of installed modules.json
  packages/test/src/__snapshots__/Module Assignments/Install a built-in module.json
  packages/test/src/__snapshots__/Module Assignments/Update installation config.json
Due: none

docs: command arguments
  packages/web-docs/pages/advanced/modules.md
Due: none

chore: some more test coverage for player arg type
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
Due: eslint --fix, prettier --write

feat: enum for event types
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/db/event.ts
  packages/app-api/src/executors/executeFunction.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/UserService.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
  packages/web-main/src/queries/events/queries.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: live events
  packages/app-api/src/controllers/EventController.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: filter validation
  packages/lib-components/src/components/data/Table/subcomponents/Filter/field.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/style.ts
  packages/lib-components/src/components/inputs/Select/Generic/index.tsx
  packages/web-main/src/pages/Variables.tsx
Due: eslint --fix, prettier --write

fix: import
  packages/lib-components/src/components/data/Table/subcomponents/Filter/field.tsx
Due: eslint --fix, prettier --write

fix(filter): fields not showing when no columns
  packages/lib-components/src/components/data/Table/subcomponents/Filter/field.tsx
  packages/lib-components/src/components/data/Table/subcomponents/Filter/index.tsx
  packages/web-main/src/pages/Players.tsx
  packages/web-main/src/pages/Users.tsx
Due: eslint --fix, prettier --write
