Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

feat: add player-created event
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: tests should following LOGGING_LEVEL config
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

chore: add timestamp to json logging
  packages/lib-util/src/logger.ts
Due: eslint --fix, prettier --write

chore: use player created event in test setup
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write

chore: more fine grained control over test log levels
  .github/workflows/docker.yml
  packages/lib-util/src/config.ts
  packages/lib-util/src/logger.ts
  packages/test/src/test/integrationConfig.ts
  scripts/integration-tests.mjs
Due: eslint --fix, prettier --write

chore: big refactor in how player data gets resolved/synced
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/middlewares/onlyIfEconomyEnabled.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/workers/csmmImportWorker.ts
  packages/app-api/src/workers/eventWorker.ts
  packages/app-api/src/workers/playerSyncWorker.ts
Due: eslint --fix, prettier --write

chore: refactor modules test setup
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
  packages/lib-modules/src/__tests__/commandArgs.integration.test.ts
  packages/lib-modules/src/__tests__/economyUtils.integration.test.ts
  packages/lib-modules/src/__tests__/geoblock.integration.test.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/lottery.integration.test.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/roleExpiry.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/systemConfigCost.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/waypoints.integration.test.ts
  packages/test/src/main.ts
  packages/test/src/setups/modulesSetup.ts
Due: eslint --fix, prettier --write

chore: log tests error if it occurs
  scripts/integration-tests.mjs
Due: none

fix: undefined var
  scripts/integration-tests.mjs
Due: none

Feat: add route for /
  packages/web-main/src/components/routes/PermissionsGuard.tsx
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/__root.tsx
  packages/web-main/src/routes/index.tsx
Due: eslint --fix, prettier --write

Chore: add readonly option to codefield
  packages/lib-components/src/components/inputs/CodeField/index.tsx
Due: eslint --fix, prettier --write

Fix: a few broken links
  packages/web-main/src/components/cards/ModuleDefinitionCard/index.tsx
  packages/web-main/src/routes/_auth/players.tsx
Due: eslint --fix, prettier --write

wip: tanstack router
  packages/lib-components/src/components/feedback/ErrorPage/index.tsx
  packages/web-main/src/App.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.stories.tsx
  packages/web-main/src/components/JsonSchemaForm/widgets/ItemWidget.tsx
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/components/Navbar/GameServerSelectNav.tsx
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/components/Navbar/index.tsx
  packages/web-main/src/components/cards/GameServerCard/index.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/hooks/useDocumentTitle.ts
  packages/web-main/src/hooks/useSelectedGameServerContext.ts
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-InstallModuleForm.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-cards/ChatMessages/index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-cards/OnlinePlayers.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.console.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.overview.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
  packages/web-main/src/routes/_auth/gameservers.create.import.tsx
  packages/web-main/src/routes/_auth/gameservers.create.tsx
  packages/web-main/src/routes/_auth/player.$playerId/-PlayerInventoryTable.tsx
  packages/web-main/src/routes/_auth/player.$playerId/events.tsx
Due: eslint --fix, prettier --write

ci: test copy-bara
  .github/workflows/copy.bara.sky
  .github/workflows/sync.yml
Due: none

chore: ignore .github
  .github/workflows/copy.bara.sky
  .github/workflows/sync.yml
Due: none

Chore: use takaro ci instead of takaro team
  .github/workflows/copy.bara.sky
Due: none

chore: test change for copy-bara
  packages/lib-modules/README.md
Due: none

ci: test copy-bara sync workflow
  .github/workflows/copy.bara.sky
  .github/workflows/sync.yml
Due: none

ci: woops
  .github/workflows/sync.yml
Due: none

fix: cred
  .github/workflows/sync.yml
Due: none

fix: cred 2
  .github/workflows/sync.yml
Due: none

fix: use https
  .github/workflows/copy.bara.sky
Due: none

docs: fix incorrect punctuation :)
  packages/lib-modules/README.md
Due: none

ci: only run sync on main
  .github/workflows/sync.yml
Due: none

ci: setup copybara (#990)
  .github/workflows/copy.bara.sky
  .github/workflows/sync.yml
Due: none

fix: some eventworker tests
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
Due: eslint --fix, prettier --write

chore: hide this error again, otherwise the logs are printed double (once from compose logs and once from this line)
  scripts/integration-tests.mjs
Due: none

fix: a eventworker test
  packages/app-api/src/service/EventService.ts
Due: eslint --fix, prettier --write

fix: an issue with gameServer test setup
  packages/test/src/setups/gameServerWithPlayers.ts
Due: eslint --fix, prettier --write

feat: add domain state property
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/app-api/src/db/domain.ts
  packages/app-api/src/middlewares/domainStateMiddleware.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-connector/src/lib/GameServerManager.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240216120143-domain-state.ts
  packages/test/src/__snapshots__/DomainController/Get by ID.json
  packages/test/src/__snapshots__/DomainController/Setting domain state to disabled, blocks any following requests.json
  packages/test/src/__snapshots__/DomainController/Update by ID.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

wip: bunch of improvements
  packages/app-api/src/controllers/EventController.ts
  packages/lib-components/src/components/data/InfiniteScroll/InfiniteScroll.stories.tsx
  packages/lib-components/src/components/data/InfiniteScroll/index.tsx
  packages/lib-components/src/components/inputs/Date/DateRangePicker/DateSelector/index.tsx
  packages/lib-components/src/components/inputs/Date/DateRangePicker/index.tsx
  packages/web-main/README.md
  packages/web-main/src/components/Navbar/GameServerNav.tsx
  packages/web-main/src/components/Navbar/GlobalGameServerSelect.tsx
  packages/web-main/src/components/events/TreeFilter/Branch.tsx
  packages/web-main/src/components/events/TreeFilter/Node.tsx
  packages/web-main/src/components/events/shouldIncludeEvent.ts
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
  packages/web-main/src/queries/events/queries.tsx
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/queryClient.ts
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.create.index.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/settings.tsx
Due: eslint --fix, prettier --write

prettier tsx files
  package.json
  packages/lib-components/src/components/actions/DropdownButton/DropdownButton.stories.tsx
  packages/lib-components/src/components/actions/ToggleButton/ToggleButton.stories.tsx
  packages/lib-components/src/components/data/Drawer/Drawer.stories.tsx
  packages/lib-components/src/components/data/Drawer/index.tsx
  packages/lib-components/src/components/feedback/Loaders/Loaders.stories.tsx
  packages/lib-components/src/components/feedback/Loaders/Loading.tsx
  packages/lib-components/src/components/feedback/NetworkDetector/index.tsx
  packages/lib-components/src/components/feedback/NotificationBanner/NotificationBanner.stories.tsx
  packages/lib-components/src/components/feedback/NotificationBanner/NotificationBanner.test.tsx
  packages/lib-components/src/components/feedback/Popover/PopoverContext.tsx
  packages/lib-components/src/components/feedback/Popover/index.tsx
  packages/lib-components/src/components/feedback/ProgressBar/ProgressBar.stories.tsx
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
  packages/lib-components/src/components/feedback/Skeleton/index.tsx
  packages/lib-components/src/components/feedback/Tooltip/index.tsx
  packages/lib-components/src/components/feedback/snacks/CookieConsent/index.tsx
  packages/lib-components/src/components/feedback/snacks/NetworkDetector/index.tsx
  packages/lib-components/src/components/inputs/CodeField/CodeField.stories.tsx
  packages/lib-components/src/components/inputs/Slider/Generic.tsx
  packages/lib-components/src/components/inputs/Slider/handle.tsx
  packages/lib-components/src/components/navigation/Steppers/SlimStepper/index.tsx
  packages/lib-components/src/components/navigation/Steppers/Stepper/Stepper.stories.tsx
  packages/lib-components/src/components/navigation/Steppers/Stepper/index.tsx
  packages/lib-components/src/components/navigation/Steppers/context.tsx
  packages/lib-components/src/components/other/Empty/Empty.stories.tsx
  packages/lib-components/src/helpers/getSnackbarProvider.tsx
  packages/lib-components/src/styled/Snackbar.tsx
  packages/web-main/src/routeTree.gen.ts
Due: eslint --fix, prettier --write

feat: allow specifying domain state when creating
  packages/app-api/src/service/DomainService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: attach rawBody to requests
  packages/lib-http/src/app.ts
Due: eslint --fix, prettier --write

fix: don't apply domain state checks in userController
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/__tests__/DomainController.integration.test.ts
  packages/app-api/src/service/AuthService.ts
Due: eslint --fix, prettier --write

feat: return user object after inviting one
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
