Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

docker: remove depracted pgadmin volume
  docker-compose.yml
Due: none

fix(teleport): broken tplist
  packages/lib-modules/src/modules/teleports/commands/deletetp.js
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/lib-modules/src/modules/teleports/commands/tplist.js
Due: eslint --fix, prettier --write

style: set default font size at html level
  packages/lib-components/src/styled/GlobalStyle.ts
Due: eslint --fix, prettier --write

style(studio): center header copy icon
  packages/web-main/src/components/modules/Editor/index.tsx
  packages/web-main/src/components/studio/Header.tsx
  packages/web-main/src/pages/studio/index.tsx
Due: eslint --fix, prettier --write

fix: extract mod from data
  packages/lib-modules/src/modules/teleports/commands/setprivate.js
Due: eslint --fix, prettier --write

Fix: search not case sensitive
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write

Fix: add option that no options cannot be deselected
  packages/lib-components/src/components/actions/ToggleButton/ToggleButtonGroup.tsx
Due: eslint --fix, prettier --write

Fix: transition starting from top left of screen
  packages/lib-components/src/components/actions/Dropdown/DropdownMenu.tsx
Due: eslint --fix, prettier --write

fix: issue where resizing line is not aligned between rows and header
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
Due: eslint --fix, prettier --write

Feat: column filtering
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/index.tsx
  packages/lib-components/src/hooks/useTableActions.ts
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write

Fix: issue with visibleColumnDropdown closing when clicked on checkbox
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuItem.tsx
  packages/lib-components/src/components/inputs/CheckBox/style.ts
Due: eslint --fix, prettier --write

Fix: add ability to add tooltips to dropdown trigger item
  packages/lib-components/src/components/actions/Dropdown/DropdownTrigger.tsx
  packages/lib-components/src/components/feedback/Tooltip/TooltipTrigger.tsx
Due: eslint --fix, prettier --write

Feat: add global search for fields that do not have column_search active
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/index.tsx
Due: eslint --fix, prettier --write

feat: add story for tooltip in dropdown
  packages/lib-components/src/components/actions/Dropdown/Dropdown.stories.tsx
  packages/lib-components/src/components/actions/Dropdown/DropdownTrigger.tsx
Due: eslint --fix, prettier --write

Feat: add arrow to tooltip
  packages/lib-components/src/components/feedback/Tooltip/Tooltip.stories.tsx
  packages/lib-components/src/components/feedback/Tooltip/TooltipContent.tsx
  packages/lib-components/src/components/feedback/Tooltip/useTooltip.tsx
Due: eslint --fix, prettier --write

feat: add debounce
  packages/lib-components/src/components/data/Table/subcomponents/FilterAndSearchField/index.tsx
Due: eslint --fix, prettier --write

Feat: add hover drop + chore: move style into sep file
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/style.ts
Due: eslint --fix, prettier --write

Fix: remove unnecessary margin
  packages/lib-components/src/components/actions/Dropdown/DropdownMenuItem.tsx
Due: eslint --fix, prettier --write

Fix: hide column settings on display columns
  packages/lib-components/src/components/data/Table/index.tsx
  packages/lib-components/src/components/data/Table/subcomponents/ColumnHeader/index.tsx
Due: eslint --fix, prettier --write

chore: improve design of players table
  packages/web-main/src/pages/Players.tsx
Due: eslint --fix, prettier --write

more role stuff
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/__tests__/ModuleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/playerOnGameserver.ts
  packages/app-api/src/db/role.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/PlayerOnGameserverService.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/UserService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/lib-queues/src/dataDefinitions.ts
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when creating a module.json
  packages/test/src/__snapshots__/ModuleController/Allows passing an array of permissions when updating a module.json
  packages/test/src/__snapshots__/ModuleController/Updating permissions keeps IDs static of already-existing permissions.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

basic checkPermission in modules
  packages/app-api/src/db/module.ts
  packages/app-vmm/src/service/workers/executeLocal.ts
  packages/lib-function-helpers/src/checkPermission.ts
  packages/lib-function-helpers/src/main.ts
  packages/lib-modules/src/modules/teleports/commands/teleport.js
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: refactor teleport tests into subfolder
  packages/lib-modules/package.json
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
Due: eslint --fix, prettier --write

fix: take ROOT permission into account
  packages/lib-function-helpers/src/checkPermission.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: implement the check for creating public teleports
  packages/lib-modules/src/modules/teleports/commands/setpublic.js
Due: eslint --fix, prettier --write

refactor: move event awaiter to setupdata
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
Due: eslint --fix, prettier --write

refactor: trigger commands via player ID
  packages/app-api/src/service/CommandService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/__tests__/gimme.integration.test.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/onboarding.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/listtp.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/publicteleports.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/teleport.integration.test.ts
  packages/lib-modules/src/__tests__/teleports/tpManagement.integration.test.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: a CORS config issue when working with Bull dashboard
  docker-compose.yml
Due: none

test: add some more tests for role-specific functionality
  packages/app-api/src/db/playerOnGameserver.ts
  packages/lib-modules/src/__tests__/modulePermission.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/settp.js
Due: eslint --fix, prettier --write

fix: hide domain from permission output
  packages/app-api/src/service/RoleService.ts
Due: eslint --fix, prettier --write

fix: generate snapshot for a role test
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/test/src/__snapshots__/RoleController/Update permissions with empty array.json
Due: eslint --fix, prettier --write

chore: clean up some DTO/data stuff
  packages/app-api/src/service/ModuleService.ts
  packages/app-api/src/service/RoleService.ts
Due: eslint --fix, prettier --write

feat: create a set of default roles on domain creation
  packages/app-api/src/service/DomainService.ts
Due: eslint --fix, prettier --write

docs: some changes to the roles docs
  packages/web-docs/assets/roles-and-permissions.excalidraw
  packages/web-docs/assets/roles-and-permissions.png
  packages/web-docs/pages/roles-and-permissions.md
Due: none

chore: run prettier
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
