Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/lib-function-helpers/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ],
  "packages/lib-apiclient/**/*": [
    "npx ts-node scripts/getMonacoCustomTypes.ts",
    "git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json"
  ]
}

Fix: disable playwright firefox
  packages/e2e/playwright.config.ts
Due: eslint --fix, prettier --write

Fix: account recovery flow
  containers/ory/kratos/kratos.yml
  packages/e2e/src/web-main/auth.spec.ts
  packages/web-main/src/OryThemeOverrides.ts
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

Feat: show module name as tab title
  packages/web-main/src/routes/_auth/module-builder.$moduleId.tsx
Due: eslint --fix, prettier --write

styles: improve design of collapsible
  packages/lib-components/src/components/other/Collapsible/CollapsibleContent.tsx
  packages/lib-components/src/components/other/Collapsible/CollapsibleTrigger.tsx
Due: eslint --fix, prettier --write

Feat: improve visualization of system config
  packages/web-main/src/components/JsonSchemaForm/templates/ObjectFieldTemplate.tsx
  packages/web-main/src/components/JsonSchemaForm/templates/TitleFieldTemplate.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/dashboard.statistics.tsx
Due: eslint --fix, prettier --write

Update economy.md
  packages/web-docs/docs/economy.md
Due: none

Refactor: clean up ory pages
  packages/web-main/src/routes/_single-page.tsx
  packages/web-main/src/routes/_single-page/account.profile.tsx
  packages/web-main/src/routes/_single-page/account.recovery.tsx
  packages/web-main/src/routes/_single-page/account.verification.tsx
Due: eslint --fix, prettier --write

Refactor: extract moduleinstall actions
  packages/web-main/src/components/cards/ModuleInstallCard/ModuleInstallActions.tsx
  packages/web-main/src/components/cards/ModuleInstallCard/index.tsx
Due: eslint --fix, prettier --write

wip: view
  packages/web-main/src/components/ViewSelector.tsx
  packages/web-main/src/queries/gameserver.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/modules/modulesCardView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/modules/modulesTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/ShopView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/-components/shop/shopOrderTableView.tsx
  packages/web-main/src/routes/_auth/gameserver.$gameServerId/modules.tsx
Due: eslint --fix, prettier --write

Feat: <Plan/>
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/lib-components/src/components/other/index.ts
  packages/lib-components/src/components/visual/Divider/index.tsx
Due: eslint --fix, prettier --write

wip: billing page
  packages/web-main/src/routes/_auth/_global/settings.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/index.tsx
Due: eslint --fix, prettier --write

refactor: split User service into logic and dto
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/service/AuthService.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/DomainService.ts
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/Shop/index.ts
  packages/app-api/src/service/User/dto.ts
  packages/app-api/src/service/User/index.ts
  packages/app-api/src/workers/kpiWorker.ts
Due: eslint --fix, prettier --write

feat: implement getRoleMembers searches for users and players
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/controllers/CronJobController.ts
  packages/app-api/src/controllers/DiscordController.ts
  packages/app-api/src/controllers/DomainController.ts
  packages/app-api/src/controllers/EventController.ts
  packages/app-api/src/controllers/FunctionController.ts
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/HookController.ts
  packages/app-api/src/controllers/ItemController.ts
  packages/app-api/src/controllers/ModuleController.ts
  packages/app-api/src/controllers/PlayerController.ts
  packages/app-api/src/controllers/PlayerOnGameserverController.ts
  packages/app-api/src/controllers/Rolecontroller.ts
  packages/app-api/src/controllers/Shop/Listing.ts
  packages/app-api/src/controllers/Shop/Order.ts
  packages/app-api/src/controllers/UserController.ts
  packages/app-api/src/controllers/VariableController.ts
  packages/app-api/src/controllers/__tests__/PlayerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/RoleController.integration.test.ts
  packages/app-api/src/controllers/__tests__/UserController.integration.test.ts
  packages/app-api/src/controllers/shared.ts
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/app-api/src/db/variable.ts
  packages/app-api/src/service/PlayerService.ts
  packages/app-api/src/service/RoleService.ts
  packages/app-api/src/service/User/index.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix lockfile
  package-lock.json
Due: none

fix: how repeatable jobs are identified in Redis
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
Due: eslint --fix, prettier --write

fix: only populate model columns when necessary
  packages/app-api/src/db/player.ts
  packages/app-api/src/db/user.ts
  packages/lib-db/src/knex.ts
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write

fix: remove another option where legacyMode got enabled
  packages/app-api/src/executors/executeFunction.ts
Due: eslint --fix, prettier --write

fix: tests in lib-db
  packages/lib-db/src/__tests__/queryBuilder.integration.test.ts
  packages/lib-db/src/queryBuilder.ts
Due: eslint --fix, prettier --write

feat: commands are case insensitive
  packages/app-api/src/db/command.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/lib-modules/src/__tests__/aliases.integration.test.ts
Due: eslint --fix, prettier --write

chore: remove some AI slop comments
  packages/app-api/src/db/command.ts
Due: eslint --fix, prettier --write

feat: add new setting for developer mode
  packages/app-api/src/service/SettingsService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/web-main/src/routes/_auth/_global/settings/gameservers.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: add playerId to event data on hook execution
  packages/app-api/src/executors/executeFunction.ts
Due: eslint --fix, prettier --write

feat: add player name to event details
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
Due: eslint --fix, prettier --write

chore: fix snapshots
  packages/test/src/__snapshots__/SettingsController/Can get all settings.json
  packages/test/src/__snapshots__/SettingsController/Get a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Requesting game server settings merges with global settings.json
  packages/test/src/__snapshots__/SettingsController/Set a value with invalid key.json
  packages/test/src/__snapshots__/SettingsController/Setting for gameserver multiple times overwrites properly.json
Due: none

fix: migrate system config properly when renaming functions
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/HookService.ts
  packages/lib-modules/src/__tests__/bugRepros.integration.test.ts
Due: eslint --fix, prettier --write

Feat: <Usage/> + <UsageCard/>
  packages/lib-components/src/components/other/Usage/Usage.stories.tsx
  packages/lib-components/src/components/other/Usage/Usage.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.stories.tsx
  packages/lib-components/src/components/other/Usage/UsageCard.tsx
  packages/lib-components/src/components/other/index.ts
Due: eslint --fix, prettier --write

Chore: add size property to progressBar + style changes
  packages/lib-components/src/components/feedback/ProgressBar/ProgressBar.stories.tsx
  packages/lib-components/src/components/feedback/ProgressBar/index.tsx
Due: eslint --fix, prettier --write

Chore: remove deprecated <LinkCard/>
  packages/lib-components/src/components/data/LinkCard/index.tsx
  packages/lib-components/src/components/data/index.ts
Due: eslint --fix, prettier --write

styles: decrease icon size of <QuestionTooltip/>
  packages/lib-components/src/components/feedback/QuestionTooltip/index.tsx
Due: eslint --fix, prettier --write

wip: plan and billing page
  packages/lib-components/src/components/other/Plan/Plan.stories.tsx
  packages/lib-components/src/components/other/Plan/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/index.tsx
  packages/web-main/src/routes/_auth/_global/settings/billing/plan.tsx
Due: eslint --fix, prettier --write

Fix: module install test
  packages/e2e/src/web-main/views/modules.spec.ts
Due: eslint --fix, prettier --write

fix: local execution with axios dependency
  package-lock.json
  packages/app-api/src/executors/executeLocal.ts
Due: eslint --fix, prettier --write

feat: serverMessages module cleanly rotates through messages now instead of sending a random one
  packages/lib-function-helpers/src/main.ts
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
  packages/lib-modules/src/modules/serverMessages/cronJobs/Automated message.js
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: also test that we loop back to the first message
  packages/lib-modules/src/__tests__/serverMessages.integration.test.ts
Due: eslint --fix, prettier --write

feat: implement shutdown action for gameservers
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

feat: timed shutdown module
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-modules/src/main.ts
  packages/lib-modules/src/modules/timedShutdown/cronJobs/Shutdown.js
  packages/lib-modules/src/modules/timedShutdown/cronJobs/warning.js
  packages/lib-modules/src/modules/timedShutdown/index.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: an issue with re-adding bull repeatable jobs
  packages/app-api/src/service/CronJobService.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/lib-queues/src/TakaroQueue.ts
Due: eslint --fix, prettier --write

fix: linter
  packages/app-api/src/controllers/GameServerController.ts
Due: eslint --fix, prettier --write

fix: dependency weirdness with underlying openapi packages
  package-lock.json
  package.json
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/generated/base.ts
  packages/lib-apiclient/src/generated/common.ts
  packages/lib-apiclient/src/generated/configuration.ts
  packages/lib-apiclient/src/generated/index.ts
  packages/lib-http/package.json
  packages/lib-http/src/controllers/meta.ts
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

0.0.11
  package-lock.json
  package.json
  packages/app-api/package.json
  packages/app-connector/package.json
  packages/app-mock-gameserver/package.json
  packages/e2e/package.json
  packages/lib-apiclient/package.json
  packages/lib-auth/package.json
  packages/lib-aws/package.json
  packages/lib-components/package.json
  packages/lib-config/package.json
  packages/lib-db/package.json
  packages/lib-email/package.json
  packages/lib-function-helpers/package.json
  packages/lib-gameserver/package.json
  packages/lib-http/package.json
  packages/lib-modules/package.json
  packages/lib-queues/package.json
  packages/lib-util/package.json
  packages/test/package.json
  packages/web-docs/package.json
  packages/web-main/package.json
Due: npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
