Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: try ubicloud-standard-16
  .github/workflows/docker.yml
Due: none

Fix: replace history
  packages/web-main/src/routes/account.profile.tsx
Due: eslint --fix, prettier --write

Fix: validation of gameserver create and update
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/web-main/src/queries/gameservers/queries.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/CreateUpdateForm.tsx
  packages/web-main/src/routes/_auth/_global/-gameservers/validationSchema.ts
  packages/web-main/src/routes/_auth/_global/-modules/ModuleForm/validationSchema.ts
  packages/web-main/src/routes/_auth/_global/gameservers.create.index.tsx
  packages/web-main/src/routes/_auth/_global/gameservers.update.$gameServerId.tsx
Due: eslint --fix, prettier --write

Fix: redirect
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

e2e: fix incorrect redirect links
  packages/e2e/src/web-main/auth.spec.ts
Due: eslint --fix, prettier --write

Fix: unit tests with tanstack router
  packages/lib-components/src/components/feedback/ErrorPage/index.tsx
  packages/lib-components/src/test/testUtils.tsx
  packages/web-main/src/test-utils.tsx
Due: eslint --fix, prettier --write

get rid of discouraged networkidles
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/smoke.spec.ts
Due: eslint --fix, prettier --write

get rid of discouraged networkidles
  packages/e2e/src/web-main/helpers.ts
Due: eslint --fix, prettier --write

chore: debug with ssh
  .github/workflows/docker.yml
Due: none

ci: try with new postgres config
  containers/postgres-test-cfg/test.sh
  docker-compose.test.yml
Due: none

chore: add another ssh key
  .github/workflows/docker.yml
Due: none

disable logging
  .github/workflows/docker.yml
Due: none

chore: put back timeout and run on lower-specced machine
  .github/workflows/docker.yml
Due: none

ci: try by cleaning up gs connections properly
  packages/app-api/src/service/GameServerService.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
Due: eslint --fix, prettier --write

ci: re-enable logs
  .github/workflows/docker.yml
Due: none

fix: a docker network issue ?
  docker-compose.observability.yml
Due: none

fix: typing issue
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
Due: eslint --fix, prettier --write

chore: remove gameserver label
  packages/web-main/src/components/selects/GameServerSelect/index.tsx
Due: eslint --fix, prettier --write

wip(filter)
  packages/lib-components/src/components/actions/Filter/Filter.stories.tsx
  packages/lib-components/src/components/actions/Filter/field.tsx
  packages/lib-components/src/components/actions/Filter/index.tsx
  packages/lib-components/src/components/actions/Filter/style.ts
Due: eslint --fix, prettier --write

fix(filter): validation
  packages/lib-components/src/components/actions/Filter/field.tsx
  packages/lib-components/src/components/actions/Filter/index.tsx
  packages/lib-components/src/components/actions/Filter/operator.tsx
Due: eslint --fix, prettier --write

feat: export new Filter
  packages/lib-components/src/components/actions/index.ts
Due: eslint --fix, prettier --write

fix(filter): validation
  packages/lib-components/src/components/actions/Filter/index.tsx
Due: eslint --fix, prettier --write

fix: a problem with api client typings
  packages/web-main/src/pages/studio/Editor/monacoCustomTypes.json
  scripts/getMonacoCustomTypes.ts
Due: eslint --fix, prettier --write

e2e: temporarily disable copy module test
  packages/e2e/src/web-main/views/studio.spec.ts
Due: eslint --fix, prettier --write

Fix: studio components are moved, so updated monaco types generation path
  packages/web-main/src/routes/-studio/Editor/monacoCustomTypes.json
  scripts/getMonacoCustomTypes.ts
Due: eslint --fix, prettier --write

Fix: timing issue in logout?
  packages/web-main/src/hooks/useHasPermission.tsx
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/_auth/_global/events.tsx
  packages/web-main/src/routes/_auth/_global/players.tsx
  packages/web-main/src/routes/_auth/logout.tsx
Due: eslint --fix, prettier --write

Fix: players override by generator?
  packages/e2e/src/web-main/smoke.spec.ts
  packages/web-main/src/routes/_auth/_global/players.tsx
Due: eslint --fix, prettier --write

Fix: use apiclient permissions
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/smoke.spec.ts
Due: eslint --fix, prettier --write

e2e: redirect to / instead of dashboard on login
  packages/e2e/src/web-main/smoke.spec.ts
  packages/web-main/src/routeTree.gen.ts
  packages/web-main/src/routes/_auth/_global/index.tsx
  packages/web-main/src/routes/index.tsx
  packages/web-main/src/routes/login.tsx
Due: eslint --fix, prettier --write

e2e: temporarily disable permission tests
  packages/e2e/src/web-main/smoke.spec.ts
Due: eslint --fix, prettier --write

fix: made some improvements to auth
  packages/e2e/src/web-main/pages/PlayerProfile.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/web-main/src/hooks/useAuth.tsx
  packages/web-main/src/router.tsx
  packages/web-main/src/routes/_auth.tsx
  packages/web-main/src/routes/_auth/_global/index.tsx
  packages/web-main/src/routes/login.tsx
  packages/web-main/src/routes/studio.$moduleId.tsx
Due: eslint --fix, prettier --write

chore: get rid of old jest config
  jest.config.js
  packages/lib-components/jest.config.js
Due: eslint --fix, prettier --write

Fix: missing awaits
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/settings.spec.ts
  packages/e2e/src/web-main/views/users.spec.ts
  packages/e2e/src/web-main/views/variables.spec.ts
Due: eslint --fix, prettier --write

Fix: only redirect to /forbidden when user has no permissions
  packages/web-main/src/hooks/useHasPermission.tsx
  packages/web-main/src/routes/_auth/_global/index.tsx
Due: eslint --fix, prettier --write

chore: get rid of old number method
  .eslintrc
Due: none

Fix: forgot a few jest.config paths
  containers/takaro/dev.Dockerfile
  packages/lib-components/tsconfig.json
  tsconfig.react.json
Due: none

feat: add module related events
  package-lock.json
  packages/app-api/src/service/EventService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/ModuleService.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-db/src/migrations/sql/20240229141340-looser-fks-events.ts
  packages/lib-modules/src/dto/takaroEvents.ts
  packages/web-main/src/components/events/EventFeed/EventItem.tsx
  packages/web-main/src/pages/events/index.tsx
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

e2e: wip esm
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/src/web-main/auth.spec.ts
  packages/e2e/src/web-main/fixtures/index.ts
  packages/e2e/src/web-main/helpers.ts
  packages/e2e/src/web-main/pages/GameServersPage.ts
  packages/e2e/src/web-main/pages/ModuleDefinitionsPage.ts
  packages/e2e/src/web-main/pages/PlayerProfile.ts
  packages/e2e/src/web-main/pages/StudioPage.ts
  packages/e2e/src/web-main/smoke.spec.ts
  packages/e2e/src/web-main/views/gameservers.spec.ts
  packages/e2e/src/web-main/views/modules.spec.ts
  packages/e2e/src/web-main/views/studio.spec.ts
  packages/e2e/tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
