Repository gettakaro/takaro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

fix: dev-data script
  scripts/dev-data.mjs
Due: none

chore: clean up dev-data logging output
  packages/lib-apiclient/src/lib/baseClient.ts
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
  scripts/dev-data.mjs
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

feat: make mock server outputs a bit prettier
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
Due: eslint --fix, prettier --write

feat: get basic tests running, starting with ping command
  packages/app-api/src/controllers/CommandController.ts
  packages/app-api/src/service/CommandService.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-apiclient/src/lib/client.ts
  packages/lib-gameserver/src/gameservers/7d2d/index.ts
  packages/lib-gameserver/src/gameservers/mock/index.ts
  packages/lib-gameserver/src/gameservers/rust/index.ts
  packages/lib-gameserver/src/interfaces/GameServer.ts
  packages/lib-modules/package.json
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/test/src/test/integrationConfig.ts
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: some basic tests for help command
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/modules/utils/commands/help.js
Due: eslint --fix, prettier --write

chore: add mock gameserver to test docker compose
  docker-compose.test.yml
Due: none

chore: move socket.io client to root level pkg
  package-lock.json
  package.json
  packages/web-main/package.json
Due: none

chore: add more tests for the different paths in help command
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/modules/utils/commands/help.js
Due: eslint --fix, prettier --write

fix: some tests in commandService
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
Due: eslint --fix, prettier --write

fix: set MOCK_GAMESERVER_HOST for tests
  docker-compose.test.yml
  scripts/integration-tests.mjs
Due: none

chore: also log mock server container after tests
  scripts/integration-tests.mjs
Due: none

chore: bump test timeout
  .mocharc.js
Due: eslint --fix, prettier --write

feat: add persistance via Redis for mock server
  packages/app-mock-gameserver/src/config.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/main.ts
Due: eslint --fix, prettier --write

chore: reset timeout to original value
  .mocharc.js
Due: eslint --fix, prettier --write

feat: userConfig and systemConfig now default to empty objects and become an optional API parameter
  packages/app-api/src/controllers/GameServerController.ts
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/service/GameServerService.ts
  packages/app-api/src/service/__tests__/CommandService.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/lib-apiclient/src/generated/api.ts
  packages/lib-modules/src/__tests__/help.integration.test.ts
  packages/lib-modules/src/__tests__/ping.integration.test.ts
  packages/web-main/src/components/modules/Editor/monacoCustomTypes.json
Due: eslint --fix, prettier --write, npx ts-node scripts/getMonacoCustomTypes.ts, git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json

chore: remove unused param from dev-data script
  scripts/dev-data.mjs
Due: none

chore: move socket.io dependency to root pkg
  package-lock.json
  package.json
  packages/app-api/package.json
Due: none

chore: add tests for teleport module
  packages/app-api/src/service/CommandService.ts
  packages/app-mock-gameserver/src/lib/gameserver/index.ts
  packages/app-mock-gameserver/src/lib/socket/socketTypes.ts
  packages/lib-modules/src/__tests__/setupData.integration.test.ts
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
  packages/lib-modules/src/modules/teleports/commands/settp.js
  packages/lib-modules/src/modules/teleports/commands/teleport.js
Due: eslint --fix, prettier --write

chore: remove unused config from mock game server
  packages/app-mock-gameserver/src/config.ts
Due: eslint --fix, prettier --write

chore: tests for deletetp and tplist
  packages/lib-modules/src/__tests__/teleports.integration.test.ts
Due: eslint --fix, prettier --write

feat: add a health check to integration tests, allowing for fast failing
  scripts/integration-tests.mjs
Due: none

ci: add REDIS_HOST to mockserver config
  docker-compose.test.yml
Due: none

Fix: style snacks
  packages/lib-components/src/components/feedback/snacks/Default/index.tsx
  packages/web-main/src/paths.ts
  packages/web-main/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Add: better fitting styles for radio
  packages/lib-components/src/components/feedback/Tooltip/Tooltip.stories.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/index.tsx
  packages/lib-components/src/components/inputs/RadioGroup/Radio/style.ts
Due: eslint --fix, prettier --write

Fix: interface that should be exported not being exported
  packages/lib-components/src/components/dialogs/Dialog/DialogBody.tsx
Due: eslint --fix, prettier --write

Add: color for disabled state to theme
  packages/lib-components/src/styled/theme.ts
Due: eslint --fix, prettier --write

ci: add kratos and hydra to test output logs
  scripts/integration-tests.mjs
Due: none

chore: add a log msg when mock server receives a new connection
  packages/app-mock-gameserver/src/lib/socket/index.ts
Due: eslint --fix, prettier --write

deps: update vite
  package-lock.json
  packages/web-main/package.json
Due: none

deps: update vite (#202)
  package-lock.json
  packages/web-main/package.json
Due: none

chore: prettier output from integration test setup errors
  packages/test/src/integrationTest.ts
Due: eslint --fix, prettier --write

fix: ensure testReachability for mock client always properly reports errors
  packages/lib-gameserver/src/gameservers/mock/index.ts
Due: eslint --fix, prettier --write

fix: enforce that only reachable gameservers can be added
  packages/app-api/src/service/GameServerService.ts
Due: eslint --fix, prettier --write

fix: a port conflict in observability stack
  docker-compose.observability.yml
Due: none

chore: make tracing configurable via env file
  .env.example
  docker-compose.yml
Due: none

fix: pass correct mock server in all tests
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleAssignments.integration.test.ts
  packages/app-api/src/controllers/__tests__/ModuleConfig.integration.test.ts
  packages/app-api/src/controllers/__tests__/SettingsController.integration.test.ts
  packages/app-api/src/service/__tests__/CronJobService.integration.test.ts
  packages/app-api/src/service/__tests__/HookService.integration.test.ts
  packages/app-api/src/workers/__tests__/eventWorker.integration.test.ts
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
  packages/test/src/test/integrationConfig.ts
Due: eslint --fix, prettier --write

fix: adjust how integration tests connect to mock server
  scripts/integration-tests.mjs
Due: none

fix: ignore connectionInfo in gameserver tests
  packages/app-api/src/controllers/__tests__/GameServerController.integration.test.ts
  packages/test/src/__snapshots__/GameServerController/Create.json
  packages/test/src/__snapshots__/GameServerController/Get by ID.json
Due: eslint --fix, prettier --write

chore: revert connection info change
  scripts/integration-tests.mjs
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{js,ts,tsx}
  npx ts-node scripts/getMonacoCustomTypes.ts: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
  git add packages/web-main/src/components/modules/Editor/monacoCustomTypes.json: (any of: packages/lib-function-helpers/**/*) or (any of: packages/lib-apiclient/**/*)
